<template>
    <div class="container-fluid container-title">
        <h3>My Work Week</h3>
    </div>
    <hr />
    <div class="container-fluid">
    <div class="table-responsive">
            <div class="row pt-2 mt-0 pb-2 w-100" style="flex-wrap: nowrap;flex:auto;">
                <div class="col-md-2 col-sm-12">
                    <div class="form-group input-group">
                        <label class="has-float-label">
                            <select v-model="search.company" class="form-control search w-100" @change="searchFilter()">
                                <option value="-1">All</option>
                                <option v-for="(company,index) in filters.company_drop_down" :key="index" :value="company.id">{{ company.company_name }}</option>
                            </select>
                        <span>Company</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="form-group input-group">
                        <label class="has-float-label">
                            <select v-model="search.customer" class="form-control search w-100" @change="searchFilter()">
                                <option value="-1">All</option>
                                <option v-for="(customer,index) in filters.customer_drop_down" :key="index" :value="customer.id">{{ customer.customer_name }}</option>
                            </select>
                        <span>Customer</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="form-group input-group">
                        <label class="has-float-label">
                            <select v-model="search.project" class="form-control search w-100" @change="searchFilter()">
                                <option value="-1">All</option>
                                <option v-for="(project,index) in filters.project_drop_down" :key="index" :value="project.id">{{ project.name }}</option>
                            </select>
                        <span>Project</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12" v-if="role('admin') || role('admin_manager') || role('manager')">
                    <div class="form-group input-group">
                        <label class="has-float-label">
                            <select v-model="search.team" class="form-control search w-100" @change="searchFilter()">
                                <option value="-1">All</option>
                                <option v-for="(team,index) in filters.team_drop_down" :key="index" :value="team.id">{{ team.team_name }}</option>
                            </select>
                        <span>Team</span>
                    </label>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12" v-if="role('admin') || role('admin_manager') || role('manager')">
                    <div class="form-group input-group">
                        <label class="has-float-label">
                            <select v-model="search.employee" class="form-control search w-100" @change="searchFilter()">
                                <option value="0" disabled selected class="text-hide">All</option>
                                <option value="-1">All</option>
                                <option v-for="(employee,index) in filters.employee_drop_down" :key="index" :value="employee.id">{{ employee.full_name }}</option>
                            </select>
                        <span>Resource</span>
                    </label>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="form-group input-group">
                        <label class="has-float-label">
                            <select v-model="search.is_billable" class="form-control search w-100" @change="searchFilter()">
                                <option value="-1">All</option>
                                <option v-for="(yn,index) in [{id:0,value:'No'},{id:1,value:'Yes'}]" :key="index" :value="yn.id">{{ yn.value }}</option>
                            </select>
                        <span>Billable</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12" v-if="(!role('admin') || !role('admin_manager') || !role('manager')) && (role('contractor') || role('consultant') || role('vendor'))">
                    <div class="form-group input-group">
                        <label class="has-float-label">
                            <select v-model="search.weekfrom" class="form-control search w-100" @change="searchFilter()">
                                <option value="-1">All</option>
                                <option v-for="(wf,index) in filters.week_from_drop_down" :key="index" :value="wf.year_week">{{ wf.year_week }}</option>
                            </select>
                        <span>Week From</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12" v-if="(!role('admin') || !role('admin_manager') || !role('manager')) && (role('contractor') || role('consultant') || role('vendor'))">
                    <div class="form-group input-group">
                        <label class="has-float-label">
                            <select v-model="search.weekto" class="form-control search w-100" @change="searchFilter()">
                                <option value="-1">All</option>
                                <option v-for="(wt,index) in filters.week_to_drop_down" :key="index" :value="wt.year_week">{{ wt.year_week }}</option>
                            </select>
                        <span>Week To</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row pt-2 mt-0 pb-2 w-100" style="flex-wrap: nowrap;flex:auto;" v-if="(role('admin') || role('admin_manager') || role('manager')) && (!role('contractor') || !role('consultant') || !role('vendor'))">
                <div class="col-md-3 col-sm-12">
                    <div class="form-group input-group">
                        <label class="has-float-label">
                            <select v-model="search.weekfrom" class="form-control search w-100" @change="searchFilter()">
                                <option value="-1">All</option>
                                <option v-for="(wf,index) in filters.week_from_drop_down" :key="index" :value="wf.year_week">{{ wf.year_week }}</option>
                            </select>
                        <span>Week From</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="form-group input-group">
                        <label class="has-float-label">
                            <select v-model="search.weekto" class="form-control search w-100" @change="searchFilter()">
                                <option value="-1">All</option>
                                <option v-for="(wt,index) in filters.week_to_drop_down" :key="index" :value="wt.year_week">{{ wt.year_week }}</option>
                            </select>
                        <span>Week To</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-2">
                    <div class="form-group input-group">
                        <label class="has-float-label">
                            <select v-model="search.cust_inv_status" class="form-control search w-100" @change="searchFilter()">
                                <option value="-1">All</option>
                                <option v-for="(is,index) in filters.is_drop_down" :key="index" :value="is.id">{{ is.description }}</option>
                            </select>
                        <span>Customer Invoice Status</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-2">
                    <div class="form-group input-group">
                        <label class="has-float-label">
                            <select v-model="search.vend_inv_status" class="form-control search w-100" @change="searchFilter()">
                                <option value="-1">All</option>
                                <option v-for="(is,index) in filters.vis_drop_down" :key="index" :value="is.id">{{ is.description }}</option>
                            </select>
                        <span>Vendor Invoice Status</span>
                        </label>
                    </div>
                </div>
            </div>
        <hr />
            <ul class="nav nav-tabs pt-2">
                <li class="">
                    <a href="#summary" class="active" data-toggle="tab">Summary</a>
                </li>
                <li class="">
                    <a href="#avptasks" class="" data-toggle="tab">Actual vs Planned Tasks</a>
                </li>
                <li class="">
                    <a href="#timesheets" class="" data-toggle="tab">Timesheets</a>
                </li>
                <li class="">
                    <a href="#tasks" class="" data-toggle="tab">Tasks</a>
                </li>
                <li class="">
                    <a href="#assignments" class="" data-toggle="tab">Assignments</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="summary">
                    <div class="row pt-3">
                        <div class="col-md-4 col-sm-12">        
                            <UtilizationOverview v-model:search="search" /> 
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <TaskOverview v-model:search="search" v-on:update="(n) => reloadTasksTab = n" />                
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <AssignmentOverview v-model:search="search" />                
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <LeaveOverview v-model:search="search" />                
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <ExpensesOverview v-model:search="search" />                
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <TimesheetsOverview v-model:search="search" />                
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <AnniversaryOverview v-model:search="search" />                
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <AssessmentOverview />                
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <RecordsOverview />                
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="avptasks">
                    <ActualVSPlannedTasksComponent v-model:search="search" />
                </div>
                <div class="tab-pane fade" id="timesheets">
                    <Timesheet v-model:search="search" />
                </div>
                <div class="tab-pane fade" id="tasks">
                    <Task v-model:search="search" :reloadtasks="reloadTasksTab" v-on:update="(n) => reloadTasksTab = n" />
                </div>
                <div class="tab-pane fade" id="assignments">
                    <Assignment v-model:search="search" />
                </div>
            </div>
    </div>
    </div>
</template>

<script setup>
import axios from 'axios';
import role from '../../../js/permissions';
import UtilizationOverview from './overview/UtilizationOverviewComponent.vue';
import TaskOverview from './overview/TaskOverviewComponent.vue';
import AssignmentOverview from './overview/AssignmentOverviewComponent.vue';
import LeaveOverview from './overview/LeaveOverviewComponent.vue';
import ExpensesOverview from './overview/ExpensesOverviewComponent.vue';
import TimesheetsOverview from './overview/TimesheetsOverviewComponent.vue';
import AnniversaryOverview from './overview/AnniversaryOverviewComponent.vue';
import AssessmentOverview from './overview/AssessmentOverviewComponent.vue';
import RecordsOverview from './overview/RecordsOverviewComponent.vue';
import ActualVSPlannedTasksComponent from './plannedtasks/ActualVSPlannedTasksComponent.vue';
import Timesheet from './timesheet/TimesheetComponent.vue';
import Task from './task/TaskComponent.vue';
import Assignment from './assignment/AssignmentComponent.vue';

</script>

<script>

export default{
    data() {
        return {
            reloadTasksTab:false,
            update:false,
            filters:[],
            search:{
                company:'-1',
                customer:'-1',
                project:'-1',
                team:'-1',
                employee:'0',
                weekfrom:'-1',
                weekto:'-1',
                cust_inv_status:'-1',
                vend_inv_status:'-1',
                is_billable:'-1'
            },

        }
    },
    methods: {
        getFilters(){
            axios.get('/my-work-week/getfilters').then(response => {
                this.filters = response.data
            }).catch(function (err) {
                console.log(err)
            })
        },
        searchFilter(){
            axios.post('/my-work-week/searchfilters',this.search).then(response => {
                this.filters = response.data
            }).catch(function (err) {
                console.log(err)
            })
        }
    },
    created(){
        this.getFilters()
    }
}

</script>
<style>
.card{
    cursor:default !important;
}

.btn-xs{
    padding: 0.15rem 0.35rem;
    font-size: .5rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

</style>