<template>
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>
      <li v-if="canBeFavorited" class="hover-text nav-item" style="cursor: pointer; margin-left: 10px; margin-right: 20px;margin-top:9px;" data-toggle="tooltip" data-placement="right" :title="favoriteTooltip">
        <a id="favoriteBtn mt-1" @click="toggleFavorite">
          <i :class="canBeFavorited && isFavorited ? 'fas fa-star fa-lg' : 'far fa-star fa-lg'" style="color: #EDC80C;"></i>
        </a>
      </li>
    <li class="nav-item">
      <div class="dropdown">
        <button class="btn btn-info btn-sm mt-1">Favourites</button>
        <div class="dropdown-content">
          <a v-for="favorite in favorites" :key="favorite.id" :href="`${domainUrl}${favorite.url}`">
            <span v-html="favorite.icon" class="icon"></span>
            <span class="title">{{ favorite.title }}</span>
          </a>
        </div>
      </div>
    </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
      <li class="nav-item" v-if="user_onboarding">
        <a class="btn btn-sm btn-danger mt-1" :href="route('welcome')">Welcome</a>
      </li>
      <li class="nav-item" v-if="user_onboarding">
        <a class="nav-link hover-text" :href="route('timesheet.index')"><i class="fas fa-clock"></i><span class="tooltip-text bottom">Timesheets</span></a>
      </li>
      <li class="nav-item" v-if="user_onboarding">
        <a class="nav-link hover-text" :href="'/kanban/0?project_id=0&on_kanban=1'"><i class="fab fa-trello"></i><span class="tooltip-text bottom">Kanban</span></a>
      </li>
      <li class="nav-item" v-if="!isFullScreen">
        <a class="nav-link hover-text" @click="toggleFullScreen()"><i class="fa fa-expand"></i><span class="tooltip-text bottom">Expand</span></a>
      </li>
      <li class="nav-item" v-else>
        <a class="nav-link hover-text" @click="toggleFullScreen()"><i class="fa fa-compress"></i><span class="tooltip-text bottom">Collapse</span></a>
      </li>
      <li class="nav-item">
      <a :href="'https://support.consulteaze.com?name='+user.first_name+' '+user.last_name+'&email='+user.email+'&url='+url" target="_blank" class="nav-link hover-text">
              <i class="nav-icon fas fa-question-circle"></i><span class="tooltip-text bottom">Log a Support Ticket</span>
            </a>
      </li>
      <!-- Notifications Dropdown Menu -->

            <Notifications :black-user="userId" :is-menu-open="false"></Notifications>

      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <img :src="userAvatar" class="blackboard-avatar blackboard-avatar-navbar-img"/>
        </a>
        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
          <a :href="route('profile',userId)" class="dropdown-item">
            <i class="fa fa-user mr-2"></i> User profile
          </a>
          <a :href="route('settings')" class="dropdown-item">
            <i class="fa fa-cog mr-2"></i> Settings
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" @click="logout" role="button">Logout</a>

        </div>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"><i
            class="fa fa-th-large"></i></a>
      </li>-->
    </ul>
  <!-- /.navbar -->
</template>
<style scoped>
.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  visibility: hidden;
  transition: visibility 0.2s;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1100;
  width: 100px;
  color: white;
  font-size: 12px;
  background-color: #000000;
border-radius: 6px;
  margin-top:9px;
  padding: 5px 0px;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background-color: #000000;
  padding: 5px;
  z-index: 1101;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

li:hover .tooltip {
  visibility: visible !important;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 250px;
  overflow-y: auto;
}
.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.dropdown-content a .icon {
  margin-right: 15px;
  min-width: 45px;
  text-align: center;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

#top {
  top: -40px;
  left: -50%;
}

#top::before {
  top: 80%;
  left: 45%;
}

.bottom {
  top: 25px;
  left: -50%;
}

.bottom::before {
  top: -5%;
  left: 45%;
}

#left {
  top: -8px;
  right: 120%;
}

#left::before {
  top: 35%;
  left: 94%;
}

#right {
  top: -8px;
  left: 120%;
}

#right::before {
  top: 35%;
  left: -2%;
}

.hover-text {
  position: relative;
  display: inline-block;
  /* margin: 40px; */
  font-family: Arial;
  text-align: center;
}
</style>
<script setup>
    import { ref, computed, onMounted } from 'vue';
    import axios from 'axios';
    import route from '../../js/routes';
    import userDetails from '../../js/userDetails';
    import Notifications from '../components/Notification.vue'

    // Refs and reactive states
    const isFavorited = ref(false);
    const canBeFavorited = ref(false);
    const pageId = ref(null);
    const favorites = ref([]);
    const currentUrl = ref(window.location.pathname);
    // Watcher for pageId to fetch favorite status
    const fetchFavoriteStatus = async (newPageId) => {
        if (newPageId) {
            try {
                const response = await axios.get(`/favorite-status/${newPageId}`);
                isFavorited.value = response.data.isFavorited;
            } catch (error) {
                // console.error('Failed to fetch favorite status for page ID:', newPageId, error);
            }
        }
    };

    const checkFavoritablePages = async () => {
        try {
            const response = await axios.get(`/favoritable-pages`);
            const currentPath = currentUrl.value;
            const matchedPage = response.data.pages.find(page => currentPath === page.url);
            if (matchedPage) {
                pageId.value = matchedPage.id;
                canBeFavorited.value = true;
            } else {
                // console.error('No matching page found for current URL:', currentPath);
                canBeFavorited.value = false;
            }
            fetchFavoriteStatus(pageId.value);
        } catch (error) {
            // console.error('Error fetching favoritable pages:', error);
        }
    };
    const favoriteTooltip = computed(() => {
        return isFavorited.value ? 'Unfavorite' : 'Favorite';
    });
    const toggleFavorite = async () => {
        if (!canBeFavorited.value) return;
        try {
            const response = await axios.post(`/favorites/toggle`, { page_id: pageId.value });
            isFavorited.value = response.data.favorited;
            favorites.value = response.data.favorites;
            // window.location.reload();
        } catch (error) {
            // console.error('Error toggling favorite:', error);
        }
    };

    
    const fetchFavoritedPages = async () => {
            try {
                const response = await axios.get('/favorited-pages');
                favorites.value = response.data.favorites;
            } catch (error) {
                // console.error('Error fetching favorited pages:', error);
            }
        };
    // const user = 
    onMounted(() => {
        checkFavoritablePages();
        fetchFavoritedPages();
    });
</script>
<script>
  export default{
    props: {
      userId:{
          type:Number,
          default:0
      },
      userAvatar:{
          type:String,
          default:''
      }
    },
    data(){
      return {
        domainUrl: '',
        isFullScreen:false,
        user: window.Laravel.userDetails,
        url:'',
        user_onboarding: window.Laravel.jsPermissions[0].name != 'user_onboarding'
      }
    },
    methods: {
      toggleApi () {
        this.$fullscreen.toggle()
      },
      logout(){
        axios.post('/logout',{_token: document.querySelector('meta[name="csrf-token"]').content}).then(response => {
                window.location.replace('/login');
            }).catch(function (err) {
                console.log(err)
            })
      },
      toggleFullScreen() {
          let el = document.body; // Make the body go full screen.
                
            var isInFullScreen = (document.fullScreenElement && document.fullScreenElement !== null) ||  (document.mozFullScreen || document.webkitIsFullScreen);

            if (isInFullScreen) {
                this.cancelFullScreen();
              this.isFullScreen  = false
            } else {
                this.requestFullScreen();
              this.isFullScreen  = true
            }
            return false;
        },
        cancelFullScreen() {
            var el = document;
            var requestMethod = el.cancelFullScreen||el.webkitCancelFullScreen||el.mozCancelFullScreen||el.exitFullscreen||el.webkitExitFullscreen;
            if (requestMethod) { // cancel full screen.
                requestMethod.call(el);
            } else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
                var wscript = new ActiveXObject("WScript.Shell");
                if (wscript !== null) {
                    wscript.SendKeys("{F11}");
                }
            }
        },
      requestFullScreen() {
                let el = document.body; // Make the body go full screen.
        // Supports most browsers and their versions.
        var requestMethod = el.requestFullScreen || el.webkitRequestFullScreen || el.mozRequestFullScreen || el.msRequestFullscreen;

        if (requestMethod) { // Native full screen.
            requestMethod.call(el);
        } else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
            var wscript = new ActiveXObject("WScript.Shell");
            if (wscript !== null) {
                wscript.SendKeys("{F11}");
            }
        }
        return false
      },
        async fetchFavoritedPages() {
            try {
                const response = await axios.get('/favorited-pages');
                this.favorites = response.data.favorites;
            } catch (error) {
                // console.error('Error fetching favorited pages:', error);
            }
        }
    },
        created: function(){
            var currentUrl = window.location.href;
            this.url = `${currentUrl}`
            const urlObject = new URL(currentUrl);
            this.domainUrl = `${urlObject.protocol}//${urlObject.hostname}`;
        }
  }
</script>