<template>
    <div>
        <div v-if="loader" style="min-height:150px;width:100%;height:100%;position: relative;">
        <div class="clock"></div>
        </div> 
    <div v-else class="table-responsive pt-4">
        <table class="table">
            <thead>
                <tr class="bg-dark">
                    <th>Resource</th>
                    <th>Customer</th>
                    <th>Project</th>
                    <th>Epic</th>
                    <th>Feature</th>
                    <th>User Story</th>
                    <th>Task</th>
                    <th>Status</th>
                    <th nowrap>Task #</th>
                    <th>Billable</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Planned Hrs</th>
                    <th>Actual Hrs</th>
                    <th>Outstanding</th>
                    <th class="last">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(task,index) in tasks" :key="index" :class="task.actual > task.planned ? 'bg-danger' : ''">
                    <td>{{ task.resource }}</td>
                    <td>{{ task.customer }}</td>
                    <td>{{ task.project }}</td>
                    <td>{{ task.epic }}</td>
                    <td>{{ task.feature }}</td>
                    <td>{{ task.user_story }}</td>
                    <td>{{ task.task }}</td>
                    <td>{{ task.status }}</td>
                    <td></td>
                    <td class="text-center">{{ (task.is == 1 ? 'Yes' : 'No') }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.end_date }}</td>
                    <td class="text-center">{{  task.planned }}</td>
                    <td class="text-center">{{ task.actual }}</td>
                    <td class="text-center">{{ (task.planned - task.actual).toFixed(2) }}</td>
                    <td>
                        <div class="d-flex">
                        <a href="javascript:void(0)" class="btn btn-info mr-1 toolt" @click="viewTask(task)"><i class="fas fa-eye"></i><span class="tooltiptext">View Task</span></a>
                        <a :href="'/timesheet/create?resource='+task.employee_id+'&project='+task.project_id" class="btn btn-primary mr-1 toolt"><i class="far fa-clock"></i><span class="tooltiptext">Add Timesheet</span></a>
                        </div>
                    </td>
                </tr>
                <tr v-if="!tasks.length">
                    <td colspan="17">
                        <div class="col-md-12 alert alert-success">
                            No Tasks were found for this week or the selected period.
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button id="modalBtn" data-toggle="modal" data-target="#add_task_modal" style="display: none;" data-backdrop="static" data-keyboard="false">Toggle Modal</button>
    <!-- Modal -->
    <div class="modal fade" id="add_task_modal" tabindex="-1" role="dialog" aria-labelledby="add_task_modal_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div style="min-width: 1200px;height:93vh" class="modal-content">
                <div class="modal-header" style="height: 3.5rem;">
                    <h5 class="modal-title" id="add_task_modal_label" style="width: 100%;">
                        Task #{{task.id}}<br/>
                    </h5>
                    <button id="closeModalBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="height: calc(100vh - 3.5rem); overflow: auto;">
                    <table class="table table-sm table-borderless">
                        <tr>
                            <td>
                                <div class="form-group input-group mb-0">
                                    <label class="has-float-label mb-0">
                                        <input style="font-size: 17px;" type="text" v-model="task.description" class="form-control form-control-sm col-md-12 mb-0" />
                                        <span>Description</span>
                                    </label>
                                </div>
                            </td>
                            <td class="last">
                                <button class="btn btn-default bg-transparent no-border" v-on:click="setEmote(1)" style="border-radius: 50%; margin-right:1%;" name="emote_frown" id="emote_frown"><i class="fa fa-frown fa-lg" style="color: red;"></i></button>
                                <button class="btn btn-default bg-transparent no-border" v-on:click="setEmote(2)" style="border-radius: 50%; margin-right:1%;" name="emote_exclamation" id="emote_exclamation"><i class="fa fa-exclamation fa-lg" style="color: orange;"></i></button>
                                <button class="btn btn-default bg-transparent no-border" v-on:click="setEmote(3)" style="border-radius: 50%; margin-right:1%;" name="emote_smile" id="emote_smile"><i class="fa fa-smile fa-lg" style="color: green;"></i></button>
                                <button class="btn btn-default bg-transparent no-border" v-on:click="setEmote(4)" style="border-radius: 50%; margin-right:1%;" name="emote_test" id="emote_test"><i class="fa fa-user-check fa-lg" style="color: purple;"></i></button>
                                <button class="btn btn-default bg-transparent no-border" v-on:click="setEmote(5)" style="border-radius: 50%; margin-right:1%;" name="emote_deploy" id="emote_deploy"><i class="fa fa-upload fa-lg" style="color: blue;"></i></button>
                                <button class="btn btn-default bg-transparent no-border" v-on:click="setEmote(0)" style="border-radius: 50%; margin-right:1%;" name="emote_none" id="emote_none"><i class="fa fa-times fa-lg"></i></button>
                            </td>
                            <td class="last pl-4">
                                <button ref="copy-task" v-on:click="copyTask(task.id)" class="btn btn-sm btn-dark mr-2"> <i class="fa fa-copy"></i> Copy Task</button>
                                        <button v-if="isSending" class="btn btn-sm btn-success" disabled><i class="fa fa-spinner"></i> Saving ...</button>
                                        <button v-if="!isSending" @click="updateTask()" class="btn btn-sm btn-success">Save & Close</button>
                            </td>
                        </tr>
                    </table>
                    
                    <table class="table table-sm table-borderless">
                        <tr>
                            <td style="width: 25%">
                                <div class="form-group input-group mb-0">
                                    <label class="has-float-label mb-0">
                                        <select v-model="task.employee_id" @change="reassign"  class="form-control col-md-12">
                                            <option v-for="(assigned_user, index) in users" :value="assigned_user.id" :key="index">{{assigned_user.full_name}}</option>
                                        </select>
                                        <span>Assigned User</span>
                                    </label>
                                </div>
                            </td>
                            <td style="width: 25%">&nbsp;&nbsp; <a v-on:click="commentsFocus" style="cursor: pointer;"><i class="fa fa-comment"></i> {{Object(messages).length != null ? Object(messages).length : 0}} comments</a></td>
                            <td style="width: 50%"></td>
                        </tr>
                    </table>
                    <div class="mb-3 pb-0" style="background-color: #F8F8F8; padding: 15px; border-radius: 7px;">
                        <table class="table table-sm table-borderless mb-0">
                            <tr>
                                <td class="col-md-4">
                                <div class="form-group input-group">
                                    <label class="has-float-label mb-0">
                                        <select v-model="task.project_id" @change="changeProject($event)" class="form-control col-md-12" disabled>
                                            <option v-for="(project, index) in projects_drop_down" :value="project.id" :key="index">{{project.name}}</option>
                                        </select>
                                        <span style="background-color: rgb(248, 248, 248);">Project</span>
                                    </label>
                                </div>
                                </td>
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label mb-0">
                                        <select v-model="task.customer_id" class="form-control col-md-12" disabled>
                                            <option selected :value="0">-</option>
                                            <option v-for="(customer, index) in customers_drop_down" :value="customer.id" :key="index">{{customer.customer_name}}</option>
                                        </select>
                                        <span style="background-color: rgb(248, 248, 248);">Customer</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label mb-0">
                                            <select v-model="task.sprint_id" class="form-control col-md-12" @change="selectSprint($event)">
                                                <option selected :value="0">-</option>
                                                <option v-for="(sprint, index) in sprints_drop_down" :value="sprint.id" :key="index" >{{sprint.name}}</option>
                                            </select>
                                            <span style="background-color: rgb(248, 248, 248);">Sprint</span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label mb-0">
                                            <select v-model="task.user_story_id" class="form-control col-md-12">
                                                <option selected :value="0">-</option>
                                                <option v-for="(user_story, index) in user_story_drop_down" :value="user_story.id" :key="index">{{user_story.name}}</option>
                                            </select>
                                            <span style="background-color: rgb(248, 248, 248);">User Story</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label mb-0">
                                            <select v-model="task.dependency" class="form-control col-md-12">
                                                <option selected :value="0">-</option>
                                                <option v-for="(dependency_task, index) in tasks_drop_down" :value="dependency_task.id" :key="index">{{dependency_task.description}}</option>
                                            </select>
                                            <span style="background-color: rgb(248, 248, 248);">Dependancy</span>
                                        </label>
                                    </div>
                                </td>
                                
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label mb-0">
                                            <select v-model="task.status" class="form-control col-md-12">
                                                <option v-for="(status, index) in statuses_drop_down" :key="index" :value="status.id">{{status.description}}</option>
                                            </select>
                                            <span style="background-color: rgb(248, 248, 248);">Status</span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label mb-0">
                                            <select v-model="task.task_delivery_type_id" class="form-control col-md-12">
                                                <option v-for="(task_delivery_type, index) in task_delivery_type_drop_down" :key="index" :value="task_delivery_type.id">{{task_delivery_type.name}}</option>
                                            </select>
                                            <span style="background-color: rgb(248, 248, 248);">Delivery Type</span>
                                        </label>
                                    </div>
                                </td>
                                
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label mb-0">
                                            <select v-model="task.task_permission_id" class="form-control col-md-12">
                                                <option v-for="(permission, index) in permissions_drop_down" :key="index" :value="permission.id">{{permission.name}}</option>
                                            </select>
                                            <span style="background-color: rgb(248, 248, 248);">Permission</span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="min-height:50%">
                    <ul class="nav nav-tabs">
                        <li class="">
                            <a href="#details" class="active" data-toggle="tab">Details</a>
                        </li>
                        <li class="">
                            <a href="#timesheets2" class="" data-toggle="tab">Timesheets</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                                <div class="tab-pane fade show active" id="details">
                                    <hr style="margin-top:-1px;"/>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <table class="table table-sm table-borderless">
                                                <thead>
                                                <tr class="planning-btn" v-on:click="noteFlag = !noteFlag">
                                                    <th style="border-bottom: 1px solid grey !important;">
                                                        Description <i v-if="noteFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!noteFlag" class="float-right fa fa-chevron-up"></i>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="noteFlag">
                                                <tr>
                                                    <td>
                                                        <!-- <textarea v-model="task.note_1" rows="5" cols="50" class="form-control form-control-sm col-md-12"></textarea> -->
                                                      <quill-editor
                                                          :toolbar="quillToolbar"
                                                          content-type="html"
                                                          theme="snow"
                                                          v-model:content="task.note_1"
                                                      ></quill-editor>
                                                        <div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-sm table-borderless">
                                                <thead>
                                                <tr class="planning-btn" v-on:click="discussionFlag = !discussionFlag">
                                                    <th style="border-bottom: 1px solid grey !important;">
                                                        Discussion<i v-if="discussionFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!discussionFlag" class="float-right fa fa-chevron-up"></i>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="discussionFlag">
                                                <tr>
                                                    <td id="message_td">
                                                        <!--<textarea v-model="message" rows="5" cols="50"  class="form-control form-control-sm col-md-12"></textarea>-->
                                                      <quill-editor
                                                          :toolbar="quillToolbar"
                                                          theme="snow"
                                                          content-type="html"
                                                          v-model:content="message"
                                                      ></quill-editor>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right">
                                                        <button v-if="!sendingMessage" style="margin-bottom: 5px; margin-top: 5px; color: #ffffff;" v-on:click="addMessage()" class="btn btn-sm btn-warning">Save Note</button>
                                                        <button v-if="sendingMessage" style="margin-bottom: 5px; margin-top: 5px; color: #ffffff;" class="btn btn-sm btn-warning" disabled><i class="fa fa-spinner"></i> Save Note</button>
                                                    </td>
                                                </tr>
                                                <tr v-for="(message, index) in messages" :key="index">
                                                    <td>
                                                        <table class="table table-sm table-borderless" v-if="message.user">
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="row col-md-12 p-2" style="background-color: rgba(108,117,125,.25); border-radius: 7px;">
                                                                    <div class="col-md-1"><span class="chat-initials" :title="message.user.first_name + ' ' + message.user.last_name"><img :src="uiAvatars(message.user)" class="chat-initials" alt=""></span></div>
                                                                    <div class="col-md-11 p-0" v-html="message.note"></div>
                                                                    <div class="col-md-12 text-right"><small>{{ formatDate(message.created_at) }}</small></div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <!--<textarea rows="3" cols="50"  class="form-control form-control-sm col-md-12" disabled>{{message.note}}</textarea>-->
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-3">
                                            <table class="table table-sm table-borderless">
                                                <thead>
                                                <tr class="planning-btn" v-on:click="planningFlag = !planningFlag">
                                                    <th style="border-bottom: 1px solid grey !important;">
                                                        Planning <i v-if="planningFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!planningFlag" class="float-right fa fa-chevron-up"></i>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="planningFlag">
                                                <tr>
                                                    <td>
                                                        <div class="form-group input-group mt-3">
                                                            <label class="has-float-label">
                                                                <!-- <input type="date" v-model="task.start_date" class="form-control datepicker col-md-12" /> -->
                                                                <Datepicker v-model="task.start_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" />
                                                                <span>Start Date</span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr><td>
                                                        <div class="form-group input-group">
                                                            <label class="has-float-label">
                                                                <!-- <input type="date" v-model="task.end_date" class="form-control form-control-sm datepicker col-md-12 datepicker" /> -->
                                                                <Datepicker v-model="task.end_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" />
                                                                <span>End Date</span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr><td>
                                                        <div class="form-group input-group">
                                                            <label class="has-float-label">
                                                                <select v-model="task.billable" class="form-control col-md-12">
                                                                    <option v-for="(yes_no, index) in yes_no_drop_down" :value="yes_no.id" :key="index">{{yes_no.name}}</option>
                                                                </select>
                                                                <span>Billable</span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr><td>
                                                        <div class="form-group input-group">
                                                            <label class="has-float-label">
                                                                <select v-model="task.on_kanban" class="form-control col-md-12">
                                                                <option v-for="(yes_no, index) in yes_no_drop_down" :value="yes_no.id" :key="index">{{yes_no.name}}</option>
                                                                </select>
                                                                <span>Display on Kanban</span>
                                                            </label>
                                                        </div>
                                                  </td>
                                                </tr>
                                                <tr><td>
                                                        <div class="form-group input-group">
                                                            <label class="has-float-label">
                                                                <input type="number" v-model="task.hours_planned" class="form-control col-md-12" />
                                                                <span>Hours Planned</span>
                                                            </label>
                                                        </div>
                                                </td></tr>
                                                <tr><td>
                                                        <div class="form-group input-group">
                                                            <label class="has-float-label">
                                                                <input type="number" v-model="task.weight" class="form-control form-control-sm col-md-12" />
                                                                <span>Weight</span>
                                                            </label>
                                                        </div>
                                                </td></tr>
                                                <tr><td>
                                                        <div class="form-group input-group">
                                                            <label class="has-float-label">
                                                                <input type="number" v-model="task.remaining_time" class="form-control form-control-sm col-md-12" />
                                                                <span>Remaining</span>
                                                            </label>
                                                        </div>
                                                </td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- Milestone -->
                                        <div class="col-md-3">
                                            <table class="table table-sm table-borderless">
                                                <thead>
                                                <tr class="planning-btn" v-on:click="documentFlag = !documentFlag">
                                                    <th colspan="2" style="border-bottom: 1px solid grey !important;">
                                                        Attachments <i v-if="documentFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!documentFlag" class="float-right fa fa-chevron-up"></i>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="documentFlag">
                                                <tr>
                                                    <td colspan="2">
                                                        <div>
                                                            <label><button @click="clickFile()" style="color: #ffffff;" class="btn btn-sm btn-warning"><i class="fa fa-plus"></i> Add File</button></label>
                                                            <input style="display: none;" id="file" type="file" @change="onFileChange" class="form-control form-control-sm col-md-12" value=""/>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr v-for="(document,index) in documents" :key="index">
                                                    <td><a :href="'/files/tasks/'+document.file" target="_blank">{{document.name}}</a></td><td class="text-right"><a v-on:click="deleteDocument(document.id)"><i style="color: red;" class="fa fa-trash" title="Delete attachment"></i></a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-sm table-borderless">
                                                <thead>
                                                <tr class="planning-btn">
                                                    <th colspan="2" style="border-bottom: 1px solid grey !important;">
                                                        Definition of Ready
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="text" v-model="task.readyDefinition" class="form-control">
                                                        </td>
                                                        <td class="last">
                                                        <label><button style="color: #ffffff;margin-top:3px;" :disabled="task.readyDefinition == ''" class="btn btn-sm btn-warning" @click="addTaskReady()"><i class="fa fa-plus"></i> Add Definition</button></label>
                                                    </td>
                                                </tr>
                                                <tr v-for="(ready,index) in task.definition_of_ready" :key="index">
                                                    <td><input type="checkbox" :checked="ready.value == 1" @click="checkNewReady($event,index)" />  {{ ready.name }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-sm table-borderless">
                                                <thead>
                                                <tr class="planning-btn">
                                                    <th colspan="2" style="border-bottom: 1px solid grey !important;">
                                                        Definition of Done
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="text" v-model="task.doneDefinition" class="form-control">
                                                        </td>
                                                        <td class="last">
                                                        <label><button style="color: #ffffff;margin-top:3px;" :disabled="task.doneDefinition == ''" class="btn btn-sm btn-warning" @click="addTaskDone()"><i class="fa fa-plus"></i> Add Definition</button></label>
                                                    </td>
                                                </tr>
                                                <tr v-for="(done,index) in task.definition_of_done" :key="index">
                                                    <td colspan="2"><input type="checkbox" :checked="done.value == 1" @click="checkNewDone($event,index)" />  {{ done.name }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="timesheets2">
                                    <hr/>

                                    <table class="table table-sm table-striped table-hover"  v-if="task.status != 5">
                                        <tbody>
                                        <tr>
                                            <th style="width: 20%;">Select Year Week</th>
                                            <td>
                                                <select v-on:change="weekChange" v-model="selected_year_week" class="form-control form-control-sm col-md-12">
                                                    <option v-for="(year_week, index) in year_week_drop_down" :key="index" :value="year_week.id">{{year_week.name.name}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table v-if="isSplitWeek" class="table table-sm table-striped table-hover">
                                        <tbody>
                                        <tr>
                                            <th style="color: red;">Please note that this is split week and a timesheet for the remainder of the week should be created if not already created.</th>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table class="table table-sm table-condensed table-bordered"  v-if="task.status != 5">
                                        <thead>
                                        <tr style="background-color: #F8F8F8;">
                                            <th>Client Allocation</th><th>Mon {{week_days.mon}}</th><th>Tue {{week_days.tue}}</th><th>Wed {{week_days.wed}}</th><th>Thu {{week_days.thu}}</th><th>Fri {{week_days.fri}}</th><th>Sat {{week_days.sat}}</th><th>Sun {{week_days.sun}}</th><th>Cust Bill</th><th>Vendor Bill</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Hours</td>
                                            <td class="col-md-1">
                                                <!-- <Datepicker v-model="search.start_date" time-picker auto-apply :close-on-auto-apply="true" hide-input-icon :enable-time-picker="true" input-class-name="dp-custom-input2" /> -->
                                                <select v-model="timesheet.mon_hour" class="form-control form-control-sm col-md-12" :disabled="isMonHour">
                                                    <option v-for="(hour,index) in hours_drop_down" :key="index" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.tue_hour" class="form-control form-control-sm col-md-12" :disabled="isTueHour">
                                                    <option v-for="(hour,index) in hours_drop_down" :key="index" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.wed_hour" class="form-control form-control-sm col-md-12" :disabled="isWedHour">
                                                    <option v-for="(hour,index) in hours_drop_down" :key="index" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.thu_hour" class="form-control form-control-sm col-md-12" :disabled="isThuHour">
                                                    <option v-for="(hour,index) in hours_drop_down" :key="index" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.fri_hour" class="form-control form-control-sm col-md-12" :disabled="isFriHour">
                                                    <option v-for="(hour,index) in hours_drop_down" :key="index" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.sat_hour" class="form-control form-control-sm col-md-12" :disabled="isSatHour">
                                                    <option v-for="(hour,index) in hours_drop_down" :key="index" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td><select v-model="timesheet.sun_hour" class="form-control form-control-sm col-md-12" :disabled="isSunHour">
                                                <option v-for="(hour,index) in hours_drop_down" :key="index" :value="hour">{{hour}}</option>
                                            </select></td>
                                            <!-- <td rowspan="2">
                                                <input type="number" v-model="timesheet.mileage" class="form-control form-control-sm col-md-12" />
                                            </td> -->
                                            <td rowspan="2">
                                                <select v-model="timesheet.billable" class="form-control form-control-sm col-md-12">
                                                    <option v-for="(yes_no, index) in yes_no_drop_down" :key="index" :value="yes_no.id">{{yes_no.name}}</option>
                                                </select>
                                            </td>
                                            <td rowspan="2">
                                                <select v-model="timesheet.billable" class="form-control form-control-sm col-md-12">
                                                    <option v-for="(yes_no, index) in yes_no_drop_down" :key="index" :value="yes_no.id">{{yes_no.name}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Minutes</td>
                                            <td>
                                                <select v-model="timesheet.mon_minute" class="form-control form-control-sm col-md-12" :disabled="isMonMin">
                                                    <option v-for="(hour,index) in minutes_drop_down" :key="index" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.tue_minute" class="form-control form-control-sm col-md-12" :disabled="isTueMin">
                                                    <option v-for="(hour,index) in minutes_drop_down" :key="index" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.wed_minute" class="form-control form-control-sm col-md-12" :disabled="isWedMin">
                                                    <option v-for="(hour,index) in minutes_drop_down" :key="index" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.thu_minute" class="form-control form-control-sm col-md-12" :disabled="isThuMin">
                                                    <option v-for="(hour,index) in minutes_drop_down" :key="index" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.fri_minute" class="form-control form-control-sm col-md-12" :disabled="isFriMin">
                                                    <option v-for="(hour,index) in minutes_drop_down" :key="index" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.sat_minute" class="form-control form-control-sm col-md-12" :disabled="isSatMin">
                                                    <option v-for="(hour,index) in minutes_drop_down" :key="index" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.sun_minute" class="form-control form-control-sm col-md-12" :disabled="isSunMin">
                                                    <option v-for="(hour,index) in minutes_drop_down" :key="index" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-sm table-borderless" v-if="task.status != 5">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <button class="btn btn-sm btn-warning" style="color: #ffffff;" @click="addTimeLine()" :disabled="enableSaveTimeline">Save Timeline</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table class="table table-sm table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th colspan="11">Task Timesheet</th>
                                        </tr>
                                        <tr style="background-color: rgb(248, 248, 248);">
                                            <th>Timesheet ID</th><th>Week</th><th>Bill</th><th>Travel</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th><th>Total</th><td>&nbsp;</td>
                                        </tr>
                                        </thead>
                                        <tbody id="timelines">
                                        <tr v-for="(timeline,index) in timelines" :key="index">
                                            <td>{{timeline.timesheet_id}}</td><td>{{timeline.from_to}}</td><td>{{timeline.billable == 1 ? 'Yes' : 'No'}}</td><td>{{timeline.mileage}}</td><td>{{timeline.mon}}</td><td>{{timeline.tue}}</td><td>{{timeline.wed}}</td><td>{{timeline.thu}}</td><td>{{timeline.fri}}</td><td>{{timeline.sat}}</td><td>{{timeline.sun}}</td><td>{{timeline.total}}</td>
                                            <td class="text-right">
                                                <a style="cursor: pointer;" v-on:click="deleteTimeline(timeline.id)" title="Delete timeline"><i class="fa fa-trash" style="color: red;"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th colspan="11">
                                                TOTAL
                                            </th>
                                            <th colspan="2">
                                                {{timelines_total}}
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
import axios from 'axios';
import { ref } from 'vue';
import Datepicker from '@vuepic/vue-datepicker';
import { quillToolbarOptions } from "@/utils/quill";
import {QuillEditor} from "@vueup/vue-quill";
import role from '../../../permissions';

export default{
    components: {
        QuillEditor,Datepicker
    },
    props:{
        search:{
            type:Object,
            default:{}
        },
        reloadtasks:{
            type:Boolean,
            default:false
        },
    },
    emits:['update'],
    data() {
        return {
            quillToolbar: quillToolbarOptions(),
            loader:false,
            tasks:{},
            filterValues: this.search,
            searchParams: {},
            isSending: false,
            task: {
                readyDefinition:[],
                doneDefinition:[]
            },
            messages: [],
            documents: [],
            timelines: [],
            timelines_total: null,
            users_drop_down: [],
            projects_drop_down: [],
            company_drop_down: [],
            customers_drop_down: [],
            sprints_drop_down: [],
            user_story_drop_down: [],
            statuses_drop_down: [],
            tasks_drop_down: [],
            task_delivery_type_drop_down: [],
            permissions_drop_down: [],
            yes_no_drop_down: [],
            week_days: {
                mon: '',
                tue: '',
                wed: '',
                thu: '',
                fri: '',
                sat: '',
                sun: ''
            },
            isSplitWeek: false,
            isMonHour: false,
            isTueHour: false,
            isWedHour: false,
            isThuHour: false,
            isFriHour: false,
            isSatHour: false,
            isSunHour: false,
            isMonMin: false,
            isTueMin: false,
            isWedMin: false,
            isThuMin: false,
            isFriMin: false,
            isSatMin: false,
            isSunMin: false,
            selected_year_week: null,
            year_week_drop_down: [],
            hours_drop_down: [],
            minutes_drop_down: [],
            users:[],
            timesheet: {
                mileage: 0,
                billable: 0,
                mon_hour: 0,
                mon_minute: 0,
                tue_hour: 0,
                tue_minute: 0,
                wed_hour: 0,
                wed_minute: 0,
                thu_hour: 0,
                thu_minute: 0,
                fri_hour: 0,
                fri_minute: 0,
                sat_hour: 0,
                sat_minute: 0,
                sun_hour: 0,
                sun_minute: 0
            },
            noteFlag: true,
            autoCompleteUser: {
                text: '',
                value: ''
            },
            discussionFlag: true,
            message: '',
            new_file:null,
            sendingMessage: false,
            planningFlag: true,
            documentFlag: true,
        }
    },
    methods: {
        getTasks(){
            let parameters = this.search
            this.loader = true
            axios.get('/my-work-week/get-tasks',{params:parameters}).then(response => {
                this.tasks = response.data
                this.$emit('update',false)
            this.loader = false
            }).catch(function (err) {
                console.log(err)
            this.loader = false
            })
        },
        viewTask(task) {
            this.isSending = false;
            this.task.note_1 = '&nbsp;'
            axios.get('/api/task/'+task.id, {})
                .then(response => {
                    this.task = response.data;
                    // this.task.task_permission_id = response.data.task_permission_id.toString()
                    this.task.definition_of_ready = (response.data.definition_of_ready ? JSON.parse(response.data.definition_of_ready) : [])
                    this.task.definition_of_done = (response.data.definition_of_done ? JSON.parse(response.data.definition_of_done) : [])
                    this.getDocuments(this.task);
                    // this.getTimelines(task_id);
                    // this.getDropdowns(this.task.project_id)
                    document.getElementById("modalBtn").click();
                });

            // this.getMessages(task.id);
        },
        getDocuments(task){
            let endpoints = [
            '/kanban/dropdowns/'+task.project_id,
            '/api/task/getdocuments/'+task.id,
            '/api/task/getmessages/'+task.id
            ]
            Promise.all(endpoints.map((endpoint) => axios.get(endpoint))).then(
                axios.spread(({data:task_dropdowns}, {data: task_documents}, {data:task_messages}) => {
                    // console.log({ task_dropdowns, task_documents, task_messages });
                    
                    let dropdowns = task_dropdowns
                    this.users = JSON.parse(JSON.stringify(dropdowns.users_drop_down))
                    this.users_drop_down = JSON.parse(JSON.stringify(dropdowns.users_drop_down))
                    this.projects_drop_down = JSON.parse(JSON.stringify(dropdowns.projects_drop_down))
                    this.customers_drop_down = JSON.parse(JSON.stringify(dropdowns.customers_drop_down))
                    this.sprints_drop_down = JSON.parse(JSON.stringify(dropdowns.sprints_drop_down))
                    this.user_story_drop_down = JSON.parse(JSON.stringify(dropdowns.user_story_drop_down))
                    this.tasks_drop_down = JSON.parse(JSON.stringify(dropdowns.tasks_drop_down))
                    this.statuses_drop_down = JSON.parse(JSON.stringify(dropdowns.statuses_drop_down))
                    this.task_delivery_type_drop_down = JSON.parse(JSON.stringify(dropdowns.task_delivery_type_drop_down))
                    this.permissions_drop_down = JSON.parse(JSON.stringify(dropdowns.permissions_drop_down))
                    this.yes_no_drop_down = JSON.parse(JSON.stringify(dropdowns.yes_no_drop_down))
                    this.year_week_drop_down = JSON.parse(JSON.stringify(dropdowns.year_week_drop_down))
                    this.hours_drop_down = JSON.parse(JSON.stringify(dropdowns.hours_drop_down))
                    this.minutes_drop_down = JSON.parse(JSON.stringify(dropdowns.minutes_drop_down))
                    if (this.year_week_drop_down.length > 0){
                      this.selected_year_week = this.year_week_drop_down[0].id;
                    }

                    this.documents = task_documents

                    this.messages = task_messages

                })
            );

        },
        addTimeLine(){
            if(this.task.customer_id > 0){
                // Continue
            } else {
                alert('Alert please first save customer');
                return 0;
            }

            if(this.task.project_id > 0){
                // Continue
            } else {
                alert('Alert please first save project');
                return 0;
            }

            if(this.task.employee_id > 0){
                // Continue
            } else {
                alert('Alert please first save consultant');
                return 0;
            }

            console.log('selected_year_week', this.selected_year_week);

            let request = {
                task: this.task,
                year_week: this.selected_year_week,
                timesheet: this.timesheet,
                user_id: this.user_id
            };

            axios.post('/api/task/addtimesheettimeline', {
                request
            })
                .then(response => {
                    if (response.data.message){
                        alert(response.data.message)
                    }
                    this.getTimelines();
                    this.timesheet.billable = 0;
                    this.timesheet.mileage = 0;
                    this.timesheet.mon_hour = 0;
                    this.timesheet.mon_minute = 0;
                    this.timesheet.tue_hour = 0;
                    this.timesheet.tue_minute = 0;
                    this.timesheet.wed_hour = 0;
                    this.timesheet.wed_minute = 0;
                    this.timesheet.thu_hour = 0;
                    this.timesheet.thu_minute = 0;
                    this.timesheet.fri_hour = 0;
                    this.timesheet.fri_minute = 0;
                    this.timesheet.sat_hour = 0;
                    this.timesheet.sat_minute = 0;
                    this.timesheet.sun_hour = 0;
                    this.timesheet.sun_minute = 0;
                    alert('Timeline successfully saved');
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        getTimelines(){
            axios.get('/api/task/gettimesheettimelines/'+this.task.id, {})
                .then(response => {
                    this.timelines = JSON.parse(JSON.stringify(response.data.timeline_minutes));
                    this.timelines_total = JSON.parse(JSON.stringify(response.data.total));
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        deleteTimeline(timeline_id){
            const confirmFlag = confirm('Are you sure you want to delete the timeline?')

            if(!confirmFlag){
                return false;
            }

            axios.post('/api/task/deletetimeline/'+timeline_id, {})
                .then(response => {
                    this.getTimelines(this.task.id);
                    alert('Timeline deleted successfully.')
                });
        },
        addTimeLine(){
            if(this.task.customer_id > 0){
                // Continue
            } else {
                alert('Alert please first save customer');
                return 0;
            }

            if(this.task.project_id > 0){
                // Continue
            } else {
                alert('Alert please first save project');
                return 0;
            }

            if(this.task.employee_id > 0){
                // Continue
            } else {
                alert('Alert please first save consultant');
                return 0;
            }

            console.log('selected_year_week', this.selected_year_week);

            let request = {
                task: this.task,
                year_week: this.selected_year_week,
                timesheet: this.timesheet,
                user_id: this.user_id
            };

            axios.post('/api/task/addtimesheettimeline', {
                request
            })
                .then(response => {
                    if (response.data.message){
                        alert(response.data.message)
                    }
                    this.getTimelines();
                    this.timesheet.billable = 0;
                    this.timesheet.mileage = 0;
                    this.timesheet.mon_hour = 0;
                    this.timesheet.mon_minute = 0;
                    this.timesheet.tue_hour = 0;
                    this.timesheet.tue_minute = 0;
                    this.timesheet.wed_hour = 0;
                    this.timesheet.wed_minute = 0;
                    this.timesheet.thu_hour = 0;
                    this.timesheet.thu_minute = 0;
                    this.timesheet.fri_hour = 0;
                    this.timesheet.fri_minute = 0;
                    this.timesheet.sat_hour = 0;
                    this.timesheet.sat_minute = 0;
                    this.timesheet.sun_hour = 0;
                    this.timesheet.sun_minute = 0;
                    alert('Timeline successfully saved');
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        getTimelines(){
            axios.get('/api/task/gettimesheettimelines/'+this.task.id, {})
                .then(response => {
                    this.timelines = JSON.parse(JSON.stringify(response.data.timeline_minutes));
                    this.timelines_total = JSON.parse(JSON.stringify(response.data.total));
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        deleteTimeline(timeline_id){
            const confirmFlag = confirm('Are you sure you want to delete the timeline?')

            if(!confirmFlag){
                return false;
            }

            axios.post('/api/task/deletetimeline/'+timeline_id, {})
                .then(response => {
                    this.getTimelines(this.task.id);
                    alert('Timeline deleted successfully.')
                });
        },
        clickFile(){
            document.getElementById("file").click();
        },
        onFileChange(e){
            this.file = e.target.files[0];
            e.preventDefault();
            const config = {
                headers: { 'content-type': 'multipart/form-data' }
            }

            let formData = new FormData();
            formData.append('file', this.file);
            formData.append('user_id', this.task.employee_id);

            axios.post('/api/task/uploadfile/'+this.task.id, formData, config)
                .then(response => {
                    this.getDocuments(this.task);
                    this.file = null;
                    document.getElementById('file').value= null;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        updateTask() {
            this.isSending = true;
            console.log('New task', this.task);
            let request = this.task;
            axios.post('/api/task/updatetask/'+this.task.id, {
                request
            })
                .then(response => {
                    // this.getCards();
                    for(let v in this.kanbanTasks){
                            // console.log(response.data.task[0])
                            for(let i in this.kanbanTasks[v].tasks){
                                if(this.kanbanTasks[v].tasks[i].id == response.data.task[0].id){
                                    this.kanbanTasks[v].tasks[i] = response.data.task[0]
                                }
                            }
                    }
                    this.isSending = false;
                    document.getElementById("closeModalBtn").click();
                this.getTasks()
                }).catch(error => {
                console.log(error)
                alert('An error occured, could not save the task.');
                this.isSending = false;
            });
        },
        copyTask(task_id){
            let copy_button = this.$refs["copy-task"];
            copy_button.disabled = true;
            copy_button.innerHTML = "Copying...";

            axios.post(`/task/copy/${task_id}`)
            .then(response => {
                this.task = response.data.task;
                // console.log(this.task)
                copy_button.disabled = false;
                copy_button.innerHTML = `<i class="fa fa-copy"></i> Copy Task`;
                this.isSending = false;
                document.getElementById("closeModalBtn").click();
                this.getTasks()
            })
            .catch(error => {
                // console.log(error.response.data);
            })
        },
    },
    computed: {
        enableSaveTimeline: function() {
            let canSave = true;

            if (this.timesheet.mon_hour > 0)
                canSave = false;
            if (this.timesheet.mon_minute > 0)
                canSave = false;
            if (this.timesheet.tue_hour > 0)
                canSave = false;
            if (this.timesheet.tue_minute > 0)
                canSave = false;
            if (this.timesheet.wed_hour > 0)
                canSave = false;
            if (this.timesheet.wed_minute > 0)
                canSave = false;
            if (this.timesheet.thu_hour > 0)
                canSave = false;
            if (this.timesheet.thu_minute > 0)
                canSave = false;
            if (this.timesheet.fri_hour > 0)
                canSave = false;
            if (this.timesheet.fri_minute > 0)
                canSave = false;
            if (this.timesheet.sat_hour > 0)
                canSave = false;
            if (this.timesheet.sat_minute > 0)
                canSave = false;
            if (this.timesheet.sun_hour > 0)
                canSave = false;
            if (this.timesheet.sun_minute > 0)
                canSave = false;

            return canSave;
        }
    },
    watch: {
        search: {
            immediate: true,
            deep: true,
            handler(newValue, oldValue) {
                    this.getTasks()
            }
        },
        reloadtasks: {
            immediate: true,
            deep: true,
            handler(newValue, oldValue) {
            console.log('ww2',newValue)
                // console.log('ddd')
                if(newValue == true){
                    this.getTasks()
                }
            }
        }
        },
    created(){
    }
}

</script>