<template>
    <div class="card bg-dark px-3 py-3" style="width:19%;margin-right:1%;">
        New Deals<br />
        {{ val }}
    </div>
  </template>
  
  <script>
  export default {
      props: {
          value: {
              type: Number,
              default: 0
          }
      },
      data(){
        return {
            val: 0
        }
      },
      watch: { 
        value: function(newVal, oldVal) { // watch it
          this.val = newVal
        }
      }
  }
  </script>