<template>
    <div class="card bg-dark px-3 py-3" style="width:20%;">
        Total potential value<br />
        {{ format(val) }}
    </div>
  </template>
  
  <script>
  export default {
      props: {
          value: {
              type: Number,
              default: 0
          }
      },
      data(){
        return {
            val: 0
        }
      },
      watch: { 
        value: function(newVal, oldVal) { // watch it
          this.val = newVal
        }
      },
    methods:{
        format(num){
           return String(num).replace(/(?<!\..*)(\d)(?=(?:\d{3})+(?:\.|$))/g, '$1,')
        },
      }
  }
  </script>