<template>
    <div>
        <div v-if="loader" style="min-height:150px;width:100%;height:100%;position: relative;">
        <div class="clock"></div>
        </div> 
    <div v-else class="table-responsive pt-4">
        <table class="table">
            <thead>
                <tr class="bg-dark">
                    <th>Resource</th>
                    <th>Customer</th>
                    <th>Project</th>
                    <th>Function</th>
                    <th>Billable</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Planned Hrs</th>
                    <th>Actual Hrs</th>
                    <th>Outstanding</th>
                    <th class="last">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(assignment,index) in assignments" :key="index">
                    <td>{{ assignment.resource }}</td>
                    <td>{{ assignment.customer }}</td>
                    <td>{{ assignment.project }}</td>
                    <td>{{ assignment.function }}</td>
                    <td class="text-center">{{ (assignment.is == 1 ? 'Yes' : 'No') }}</td>
                    <td>{{ assignment.status }}</td>
                    <td>{{ assignment.start_date }}</td>
                    <td>{{ assignment.end_date }}</td>
                    <td class="text-center">{{ assignment.planned }}</td>
                    <td class="text-center">{{ (assignment.actual ? parseFloat(assignment.actual).toFixed(2) : '0') }}</td>
                    <td class="text-center">{{ (assignment.planned - assignment.actual).toFixed(2) }}</td>
                    <td>
                        <div class="d-flex">
                        <a :href="'/project/'+assignment.project_id" class="btn btn-primary mr-1 toolt"><i class="fas fa-eye"></i><span class="tooltiptext">View Project</span></a>
                        <a :href="'/assignment/'+assignment.id" class="btn btn-info mr-1 toolt"><i class="fas fa-eye"></i><span class="tooltiptext">View Assignment</span></a>
                        <a :href="'/timesheet/create?resource='+assignment.employee_id+'&project='+assignment.project_id" class="btn btn-primary mr-1 toolt"><i class="far fa-clock"></i><span class="tooltiptext">Add Timesheet</span></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</template>

<script setup>
import axios from 'axios';
import role from '../../../permissions';

</script>

<script>

export default{
    props:{
        search:{
            type:Object,
            default:{}
        }
    },
    data() {
        return {
            assignments:{},
            filterValues: this.search,
            searchParams: {},
            loader:false
        }
    },
    methods: {
        getAssignment(){
            let parameters = this.search
            this.loader = true
            axios.get('/my-work-week/get-assignment',{params:parameters}).then(response => {
                this.assignments = response.data
            this.loader = false
            }).catch(function (err) {
                console.log(err)
            this.loader = false
            })
        },
    },
    watch: {
        search: {
            immediate: true,
            deep: true,
            handler(newValue, oldValue) {
                    this.getAssignment()
            }
        }
        },
    created(){
    }
}

</script>