#v_wbs{
    display: none;
}
.content-wrapper a {
    color:#357ca5 !important
}
.content-wrapper th a {
    color:#FFF !important;
}
a.btn{
    color:#FFF !important;
}

a.btn-default{
    color:#000000 !important;
}

h3 {
display: inline-block;
    width:fit-content;
}
.container-title{
    margin-top:10px;
}
.content-wrapper{
    background: #FFFFFF !important;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav > li {
    position: relative;
    display: block;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 5px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}
.nav > li.disabled > a {
    color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #fff;
    border-color: #337ab7;
}
.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.nav > li > a > img {
    max-width: none;
}

.nav-tabs {
    border-bottom: 1px solid transparent !important;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    color:#bbb;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
    border-color: transparent;
    border-bottom:3px solid #ccc;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border-bottom: 3px solid #343a40;

}
.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.nav-tabs.nav-justified > li {
    float: none;
}
.nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
    .table-responsive{
        /*overflow-x: hidden !important;*/
        overflow-x: inherit !important;
    }
}

.blackboard-avatar{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}

/*.main-footer{
    position:fixed;
    bottom: 0;
    width: 100%;
}*/

.table{
    border-collapse: collapse;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

input[type="file"]{
border:transparent !important;
}
.blackboard-avatar-navbar-img{
    height: 32px;
    width: 32px;
}
img.company-avatar-profile{
    max-height:150px;
    max-width: 250px;
    /*max-width:200px;*/
}

.inv-img-wrapper{
    min-width: 200px;
    max-height: 150px;
}

.img-wrapper{
    width: 200px;
}
.inv-img-wrapper img,.img-wrapper img{
    max-width: 100%;
    max-height: 100%;
    display:block;margin:0 auto;
}

.nav-sidebar>.nav-item .nav-icon{
    font-size:1rem !important;
}

.nav-sidebar .nav-item>.nav-link{
    font-size:0.95rem;
}

.sidebar .header{
    color:#c2c7d0 !important;
    border-bottom: 1px solid #4f5962;
    border-top: 1px solid #4f5962;
    padding:5px 10px;
    font-size:14px;
}

/*.main-footer{
    display:none;
}*/

.input-pad{
    margin-top:.3rem;
}

.pagination{

}

.pagination>li{
    display:inline;
}

.pagination>li:first-child{
    border-left:1px solid;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination>li>a,.pagination>li>span{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #212529;
    text-decoration: none;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
}

.pagination li.active span{
    background-color: #212529;
    color:#FFFFFF;
}

div.ui-datepicker, .ui-datepicker input{font-size:75%;}

.blackboard-avatar-profile{
    width:200px;
    height:200px;
}

.nav-sidebar>.nav-item .nav-treeview .nav-icon{
    font-size:0.5rem !important;
}

.blackboard-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    overflow: hidden;
}
.blackboard-scrollbar::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
    overflow: hidden;
}

.blackboard-scrollbar::-webkit-scrollbar-thumb {
    background-color: #555;
    border: 2px solid #555555;
}


.input-group-addon{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    border-radius: 0;
    border: 1px solid #ced4da;
    white-space: nowrap;
    vertical-align: middle;
}


/*chosen-select*/
.chosen-container-single .chosen-single {
    height: 30px !important;
    border-radius: 3px !important;
    border: 1px solid #CCCCCC !important;
}
.chosen-container-single .chosen-single span {
    padding-top: 2px !important;
}
.chosen-container-single .chosen-single div b {
    margin-top: 2px !important;
}

.chosen-container-active .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
    border-color: #ccc !important;
    border-color: rgba(82, 168, 236, .8) !important;
    outline: 0 !important;
    outline: thin dotted \9 !important;
    -moz-box-shadow: 0 0 8px rgba(82, 168, 236, .6) !important;
    box-shadow: 0 0 8px rgba(82, 168, 236, .6) !important;
}

.fc-content{
    padding:3px;
}

.fc-title{
    padding:5px;
    color:#FFFFFF;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active{
    background-color: #777777;
}

#favourites{
    z-index: 200;
    left: 50%;
    top: -2px;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    padding-top: 48px;
    margin-top: -49px;
    cursor: pointer;
}
#favourites-wrapper{
    position: absolute;
    display: none;
    z-index: 201;
    left: 50%;
    top: -2px;
    transform: translateX(-50%);
}
@media print {
    .col-printable-12 {
        width: 100%!important;
    }
    .col-printable-4 {
        width: 33.33333333333333%;
    }
}

@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables tbody th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    /*#no-more-tables tr { border: 1px solid #ccc; }*/

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables .no-more-table-buttons td {

        padding-left: 0px;

    }

    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }

    .main-footer{
        text-align: center;
    }

    .main-footer div{
        width: 100%;
    }

    .required { /* Chrome, Firefox, Opera, Safari 10.1+ */
        border-left:2px solid red;
        /*background: #fff3cd;*/
        opacity: 1; /* Firefox */
    }
}