<template>
    <div>
        <div v-if="loader" style="min-height:150px;width:100%;height:100%;position: relative;">
        <div class="clock"></div>
        </div>
    <div v-else class="table-responsive pt-4">
        <table class="table">
            <thead>
                <tr class="bg-dark">
                    <th>Resource</th>
                    <th>Customer</th>
                    <th>Project</th>
                    <th>Task</th>
                    <th>Cust Bill</th>
                    <th>Vend Bill</th>
                    <th>Delivery Type</th>
                    <th>Timesheet #</th>
                    <th>Status</th>
                    <th class="text-center">Monday</th>
                    <th class="text-center">Tuesday</th>
                    <th class="text-center">Wednesday</th>
                    <th class="text-center">Thursday</th>
                    <th class="text-center">Friday</th>
                    <th class="text-center">Saturday</th>
                    <th class="text-center">Sunday</th>
                    <th class="last">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(timesheet,index) in timesheets" :key="index">
                    <td>{{ timesheet.resource }}</td>
                    <td>{{ timesheet.customer }}</td>
                    <td>{{ timesheet.project }}</td>
                    <td>{{ timesheet.task }}</td>
                    <td>{{ (timesheet.is == 1 ? 'Yes' : 'No') }}</td>
                    <td>{{ (timesheet.vis == 1 ? 'Yes' : 'No') }}</td>
                    <td>{{ timesheet.delivery_type }}</td>
                    <td>{{ timesheet.id }}</td>
                    <td><a href="javascript:void(0)" class="btn btn-xs btn-warning toolt" v-if="timesheet.status == 1"><i class="fas fa-lock"></i><span class="tooltiptext">Timesheet Locked</span></a></td>
                    <td class="text-center">{{ minutesToTime(timesheet.mon) }}</td>
                    <td class="text-center">{{ minutesToTime(timesheet.tue) }}</td>
                    <td class="text-center">{{ minutesToTime(timesheet.wed) }}</td>
                    <td class="text-center">{{ minutesToTime(timesheet.thu) }}</td>
                    <td class="text-center">{{ minutesToTime(timesheet.fri) }}</td>
                    <td class="text-center">{{ minutesToTime(timesheet.sat) }}</td>
                    <td class="text-center">{{ minutesToTime(timesheet.sun) }}</td>
                    <td><a :href="'/timesheet/show/'+timesheet.id" class="btn btn-primary mr-1 toolt" v-if="timesheet.status != 1"><i class="fas fa-eye"></i><span class="tooltiptext">View Timesheet</span></a></td>
                </tr>
                <tr v-if="!timesheets.length">
                    <td colspan="17">
                        <div class="col-md-12 alert alert-success">
                            No Timesheets were found for this week or the selected period.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th class="texxt-right">Total</th>
                    <th class="text-center">{{ minutesToTime(totals.mon) }}</th>
                    <th class="text-center">{{ minutesToTime(totals.tue) }}</th>
                    <th class="text-center">{{ minutesToTime(totals.wed) }}</th>
                    <th class="text-center">{{ minutesToTime(totals.thu) }}</th>
                    <th class="text-center">{{ minutesToTime(totals.fri) }}</th>
                    <th class="text-center">{{ minutesToTime(totals.sat) }}</th>
                    <th class="text-center">{{ minutesToTime(totals.sun) }}</th>
                    <th></th>
                </tr>
            </tbody>
        </table>
    </div>
    </div>

</template>

<script setup>
import { defineComponent } from "vue";
import axios from 'axios';
import role from '../../../permissions';

</script>

<script>

export default{
    props:{
        search:{
            type:Object,
            default:{}
        }

    },
    data() {
        return {
            timesheets:[],
            totals:{
                mon:0,
                tue:0,
                wed:0,
                thu:0,
                fri:0,
                sat:0,
                sun:0,
            },
            loader:false
        }
    },
    methods: {
        getTimesheets(){
            let parameters = this.search
            this.loader = true
            axios.get('/my-work-week/get-timesheets',{params:parameters}).then(response => {
                this.timesheets = response.data
                this.totals = {
                mon:0,
                tue:0,
                wed:0,
                thu:0,
                fri:0,
                sat:0,
                sun:0,
                }
                for(let v in this.timesheets){
                    this.totals.mon = this.totals.mon + this.timesheets[v].mon
                    this.totals.tue = this.totals.tue + this.timesheets[v].tue
                    this.totals.wed = this.totals.wed + this.timesheets[v].wed
                    this.totals.thu = this.totals.thu + this.timesheets[v].thu
                    this.totals.fri = this.totals.fri + this.timesheets[v].fri
                    this.totals.sat = this.totals.sat + this.timesheets[v].sat
                    this.totals.sun = this.totals.sun + this.timesheets[v].sun

                }
                    this.$emit('update:reloadtasks',false)
                    this.loader = false
            }).catch(function (err) {
                console.log(err)
                    this.$emit('update:reloadtasks',false)
                    this.loader = false
            })
        },
        minutesToTime(minutes){
            var hours = Math.trunc(minutes/60);
            var minutes = minutes % 60;
            var hour_str = hours < 10 ? '0'+hours : hours;
            var minutes_str = minutes < 10 ? '0'+minutes : minutes;
            return hour_str+':'+minutes_str;
        }
    },
    watch: {
        search: {
            immediate: true,
            deep: true,
            handler(newValue, oldValue) {
                    this.getTimesheets()
            }
        },
        },
    created(){
    }
}

</script>