<template>
        <form :action="`/printbillingcycle/${this.billing_period_id}/${this.template_id}`" class="from mb-3 col-md-12">
            
            <div class="col-md-12 row mb-3">
                <div class="col-md-4">
                            <select v-model="billing_period_id" @change="getTimesheets" class="form-control">
                                <option value="0" selected disabled>Select Billing Period</option>
                                <option v-for="(period,index) in billing_period_dropdown" :value="period.id" :key="index">{{period.name}}</option>
                            </select>
                </div>
                <div class="col-md-4" v-if="!custom_template">
                        <select v-model="template_id" class="form-control">
                            <option value="0" selected disabled>Select Template</option>
                            <option value="1">Grid Template</option>
                            <option value="2">Horizontal Template</option>
                            <option value="3">Vertical Template</option>
                            <option value="4">Monthly Template</option>
                            <option value="5">Arbour Monthly Template</option>
                            <option value="6">Arbour Monthly Green Template</option>
                        </select>
                </div>
                <div v-else class="col-md-4">
                    <select name="custom_template_id" v-model="custom_template_id" class="form-control">
                        <option value="0" disabled>Select Custom Template</option>
                        <option v-for="(template, index) in custom_template_dropdown" :value="index" :key="index">{{template}}</option>
                    </select>
                </div>
                <div class="col-md-4 row">
                    <div class="form-check col-md-5 mt-2">
                        <input type="checkbox" class="form-check-input ml-1"  id="custom-template" :checked="custom_template" @change="changeCustomTemplate">
                        <label class="form-check-label ml-3 pl-2" for="custom-template">Use Custom Template</label>
                    </div>
                    <input type="hidden" name="project_id" :value="projectId">
                    <input type="hidden" name="employee_id" :value="employeeId">
                    <div class="col-md-7 text-right">
                        <button type="submit" formtarget="_blank" class="btn bg-dark" ><i class="fas fa-print"></i> Print</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <table class="table table-bordered table-sm" v-if="timesheets.length">
                    <thead class="bg-dark">
                        <tr>
                            <th>#</th>
                            <th>Customer Name</th>
                            <th>Resource</th>
                            <th>Project</th>
                            <th>Year Week</th>
                            <th>Billable</th>
                            <th>Non Billable</th>
                            <th class="text-right">Expenses</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(timesheet,index) in timesheets" :key="index">
                            <td><input type="checkbox" checked name="timesheets_id[]" :value="timesheet.id"> {{timesheet.id}}</td>
                            <td>{{timesheet.customer}}</td>
                            <td>{{timesheet.resource}}</td>
                            <td>{{timesheet.project}}</td>
                            <td>{{timesheet.year_week}}</td>
                            <td>{{timesheet.billable}}</td>
                            <td>{{timesheet.non_billable}}</td>
                            <td class="text-right">{{timesheet.claim}}</td>
                        </tr>
                        <tr>
                            <th colspan="5" class="text-right">Total:</th>
                            <th>{{ makeTime(total_bill) }}</th>
                            <th>{{ makeTime(total_non_bill) }}</th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
</template>

<script>
export default {
    name: "CombinedTimesheetsComponent",
    props: {
        billingCycleId:{
            type: Number,
            default: 0
        }, 
        billingPeriodId:{
            type: Number
        }, 
        employeeId:{
            type: Number
        }, 
        projectId:{
            type: Number
        }, 
        templateId:{
            type: Number
        }, 
        customTemplate:{
            type: Number
        }, 
    },
    data: function (){
        return {
            billing_cycle: {},
            billing_period_dropdown: [],
            billing_period_id: this.billingPeriodId,
            template_id: String(this.templateId) ?? '1',
            timesheets: [],
            timesheet_id: [],
            total_bill: 0,
            total_non_bill: 0,
            custom_template: (this.customTemplate >= 1 ? true : false),
            custom_template_id: this.customTemplate,
            custom_template_dropdown: {}
        }
    },
    mounted() {
        this.getBillingCycle();
        this.getTimesheets();

            this.getCustomTemplate();
    },
    methods: {
        getBillingCycle(){
            axios.get('/billing/timeline/'+this.billingCycleId)
                .then(response =>{
                    this.billing_period_dropdown = response.data.map((period, index)=>{
                        return {
                            id: period.id,
                            name: period.period_name.includes(period.year)
                                ?period.period_name
                                :period.period_name+" - "+period.year
                        }
                    });
                })
                .catch(err => console.log(err))
        },
        getTimesheets(){
            axios.get('/billing_timesheets?billing_period_id='+this.billing_period_id+
                '&template_id='+this.template_id+
                '&employee_id='+this.employeeId+
                '&project_id='+this.projectId
            ).then(response => {
            this.total_bill = 0
            this.total_non_bill = 0
                this.timesheets = response.data;
                for(let v in this.timesheets){
                    this.total_bill = this.total_bill + this.timesheets[v].bill_tot
                    this.total_non_bill = this.total_non_bill + this.timesheets[v].non_bill_tot
                }
            }).catch(err => console.log(err.response));
        },
        makeTime(total_minutes){

            let hours = Math.floor(total_minutes/60);
            let minutes = total_minutes%60;

            hours = (hours < 10) ? '0'+hours:hours;
            minutes = (minutes < 10) ? '0'+minutes:minutes;

            return hours+':'+minutes;
        },
        getCustomTemplate(){
            // this.custom_template = !this.custom_template;
            // if(this.customTemplate >= 1){
            //     this.customTemplate = 0
            // } else {
            //     this.customTemplate = 1
            // }
            axios.get('/templatestyles/customstyles')
                .then(response => {
                  this.custom_template_dropdown = response.data
                })
                .catch(err => console.log(err.response));
        },
        changeCustomTemplate(){
            this.custom_template = !this.custom_template;
            if(this.custom_template){
                this.custom_template_id = 0
            } else {
                this.custom_template_id = null
            }
        }
    }
}
</script>

<style scoped>

</style>