<template>
    <div class="modal fade" tabindex="-1" role="dialog" :class="show ? 'show' : ''" :style="show ? 'display:flex;height:100vh;width:100vw;justify-items:center;align-items:center;' : 'display:none;'" aria-labelledby="add_prospect_modal_label" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:500px;">
            <div class="modal-content" style="width:500px;">
                <div class="modal-header" style="height: 3.5rem;">
                    <h5 class="modal-title" id="add_prospects_modal_label" style="width: 50%;">
                        <span>New Contact</span><br/>
                    </h5>
                    <button id="closeModalBtn" type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
              <div class="modal-body">
                    <table class="table table-borderless text-left w-100">
                        <tr>
                            <th class="last pr-4">First Name:</th>
                            <td>
                                <input type="text" id="cafirst_name" v-model="contact.first_name" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th class="last pr-4">Last Name:</th>
                            <td>
                                <input type="text" id="calast_name" v-model="contact.last_name" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th class="last pr-4">Email:</th>
                            <td>
                                <input type="text" id="caemail" v-model="contact.email" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th class="last pr-4">Contact Number:</th>
                            <td>
                                <input type="text" id="cacontact" v-model="contact.contact_number" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th class="last pr-4">Birthday:</th>
                            <td>
                                <Datepicker v-model="contact.birthday" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center"></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <button class="btn btn-success" @click="saveContact()">Save</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
    </div>
</template>

<script>
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';

export default {
    components: {
        Datepicker
    },
    props: {
        contactModal:{
            type:Boolean,
            default:true
        },
    },
    emits :{
          addContact: null,
          toggleContact:null
        },
    watch:{
        contactModal:function(newV,old){
            this.show = newV
        }
    },
    data(){
        return {
            contact:{
                first_name:'',
                last_name:'',
                email:'',
                contact_number:'',
                birthday:''
            },
            show:false
        }
    },
    methods:{
        saveContact(){
            let err = 0

            if (this.contact.first_name.length > 1) {
                document.getElementById('cafirst_name').classList.remove("is-invalid");
            }
            if ((this.contact.first_name.length == 0)) {
                document.getElementById('cafirst_name').classList.add("is-invalid");
                err++
            }

            if (this.contact.last_name.length > 1) {
                document.getElementById('calast_name').classList.remove("is-invalid");
            }
            if ((this.contact.last_name.length == 0)) {
                document.getElementById('calast_name').classList.add("is-invalid");
                err++
            }

            let value = document.getElementById('caemail').value
            let validRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            if (value) {
                if (value.match(validRegex)) {
                    document.getElementById('caemail').classList.remove("is-invalid");
                } else {
                    document.getElementById('caemail').classList.add('is-invalid')
                    err++
                }
            }

            if (this.contact.contact_number.length > 1) {
                document.getElementById('cacontact').classList.remove("is-invalid");
            }
            if ((this.contact.contact_number.length == 0)) {
                document.getElementById('cacontact').classList.add("is-invalid");
                err++
            }

            if(err == 0){
                axios.post('/api/prospects/add-contact',this.contact).then(response => {
                this.$emit('add-contact',{'contacts':response.data.contacts,'selected':response.data.selected_id})
                }).catch(function (err) {
                    console.log(err)
                })  .finally(()=>{ 
                    this.contact = {
                        first_name:'',
                        last_name:'',
                        email:'',
                        contact_number:'',
                        birthday:''
                    }
                })
            }
        },
        closeModal(){
            this.contact = {
                first_name:'',
                last_name:'',
                email:'',
                contact_number:'',
                birthday:''
            }
            this.$emit('toggle-contact')
        }
    }
}
</script>