<template>
    <div class="modal fade" tabindex="-1" role="dialog" :class="show ? 'show' : ''" :style="show ? 'display:flex;height:100vh;width:100vw;justify-items:center;align-items:center;' : 'display:none;'" aria-labelledby="add_prospect_modal_label" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:500px;">
            <div class="modal-content" style="width:500px;">
                <div class="modal-header" style="height: 3.5rem;">
                    <h5 class="modal-title" id="add_prospects_modal_label" style="width: 50%;">
                        <span>New Solution</span><br/>
                    </h5>
                    <button id="closeModalBtn" type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
              <div class="modal-body">
                    <table class="table table-borderless text-left w-100">
                        <tr>
                            <th class="last pr-4">Description:</th>
                            <td>
                                <input type="text" id="sdesc" v-model="solution.description" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center"></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <button class="btn btn-success" @click="saveContact()">Save</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
    </div>
</template>

<script>
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';

export default {
    components: {
        Datepicker
    },
    props: {
        solutionModal:{
            type:Boolean,
            default:true
        },
    },
    emits :{
          addSolution: null,
          toggleSolution:null
        },
    watch:{
        solutionModal:function(newV,old){
            this.show = newV
        }
    },
    data(){
        return {
            solution:{
                description:''
            },
            show:false
        }
    },
    methods:{
        saveContact(){
            let err = 0

            if (this.solution.description.length > 1) {
                document.getElementById('sdesc').classList.remove("is-invalid");
            }
            if ((this.solution.description.length == 0)) {
                document.getElementById('sdesc').classList.add("is-invalid");
                err++
            }

            if(err == 0){
                axios.post('/api/prospects/add-solution',this.solution).then(response => {
                this.$emit('add-solution',{'systems':response.data.systems,'selected':response.data.selected_id})
                }).catch(function (err) {
                    console.log(err)
                })  .finally(()=>{ 
                    this.solution = {
                        description:''
                    }
                })
            }
        },
        closeModal(){
            this.solution = {
                description:''
            }
            this.$emit('toggle-solution')
        }
    }
}
</script>