<template>

    <div class="row pt-2 pb-1">
        <div class="col-md-2 col-sm-12" style="max-width:14.2%;">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <select class="form-control search w-100" v-model="search.account_manager_id" @change="filterResults()" :style="searchloader ? 'cursor-events:none' : ''">
                        <option value="">All</option>
                        <option v-for="(account,value,index) in accountManager" :key="index" :value="value" >{{account}}</option>
                    </select>
                    <span>Account Manager</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12" style="max-width:14.2%;">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <select class="form-control search w-100" v-model="search.customer_id" @change="filterResults()" :style="searchloader ? 'cursor-events:none' : ''">
                        <option value="">All</option>
                        <option v-for="(customer,index) in customers" :key="index" :value="customer.id">{{ customer.customer_name }}</option>
                    </select>
                    <span>Customer</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12" style="max-width:14.2%;">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <select class="form-control search w-100" v-model="search.solution_id"  @change="filterResults()" :style="searchloader ? 'cursor-events:none' : ''">
                        <option value="">All</option>
                        <option v-for="(customer,index) in systems" :key="index" :value="customer.description">{{ customer.description }}</option>
                    </select>
                  <span>Solution</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12" style="max-width:14.2%;">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <Datepicker v-model="search.start_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" @update:model-value="filterResults()" />
                    <span>Start Date</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12" style="max-width:14.2%;">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <!-- {{Form::select('team', $team_drop_down, old('team'), ['class'=>' form-control search', 'style'=>'width: 100%;'])}} -->
                    <Datepicker v-model="search.end_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" @update:model-value="filterResults()" />
                    <span>End Date</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12" style="max-width:14.2%;">
            <div class="form-group input-group">
                    <label class="has-float-label">
                        <input v-model="search.prospect_id" @keyup.enter="filterResults()" type="text" class="form-control search w-100" :style="searchloader ? 'cursor-events:none' : ''" />
                        <span>ID</span>
                    </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12" style="max-width:14.2%;">
            <a href="javascript:void(0)" class="btn btn-info  w-100" @click="clearFilter()">Clear Filters</a>
        </div>
    </div>
    <div v-if="kanbanLoader" class="row w-100" style="overflow-x: scroll;overflow-y: auto; flex-wrap: nowrap;">
        <div v-for="(board,value,index) in prospectStatus" :key="index" class="col-md-2 task-board" :id="value">
            <p class="board-heading">{{board}} <span style="font-weight:normal;float:right;">(0)</span></p>
            </div>
    </div>
    <div v-else class="row w-100" style="overflow-x: scroll;overflow-y: auto; flex-wrap: nowrap;">
        <div v-for="(board,value,index) in kanbanTasks" :key="index" class="col-md-2 task-board" :id="value">
            <p class="board-heading">{{board.description}} <span style="font-weight:normal;float:right;">({{ board.total_count }})</span></p>
                <draggable :list="board.prospects" group="prospects" itemKey="id" style="min-height: 6rem;" @change="finish">
                <template #item="{element}">
                    <div :class="'card card_'+element.id+' text-error ui-sortable-handle pt-2 pl-2 pr-2'" :id="element.id">
                        <div class="p-0 m-0">
                            <table class="table table-sm table-borderless p-0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a style='cursor:pointer !important;'>
                                              <div class="d-flex justify-content-between">
                                                <a @click="viewProspect1(element)"><span class="flex-1"><b>{{element.id}}</b> {{element.prospect_name}}</span></a>
                                              </div>

                                            </a>
                                        </td>
                                        <td style="text-align: right;">
                                            <i v-if="element.emote_id == 1" class="fas fa-frown" style="color:red;font-size: 1.5rem;"></i>
                                            <i v-if="element.emote_id == 2" class="fas fa-exclamation" style="color:orange;font-size: 1.5rem;"></i>
                                            <i v-if="element.emote_id == 3" class="fas fa-smile" style="color:green;font-size: 1.5rem;"></i>
                                            <i v-if="element.emote_id == 4" class="fas fa-user-check" style="color:purple;font-size: 1.5rem;"></i>
                                            <i v-if="element.emote_id == 5" class="fas fa-upload" style="color:blue;font-size: 1.5rem;"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row" :class="'pb-2'" style="font-size: 0.8rem;padding:0 7px;">
                            <div class="col-md-12 d-flex" v-if="element.account_manager_id > 0">
                                <span class="chat-initials" :title="element.account_manager.first_name + ' ' + element.account_manager.last_name"><img style="margin-top:-3px;" :src="uiAvatars(element.account_manager)" class="chat-initials mr-2"></span>
                                <span>{{element.account_manager.first_name != null ? element.account_manager.first_name : ''}} {{element.account_manager.last_name != null ? element.account_manager.last_name : ''}}</span>
                            </div>
                        </div>
                        <div class="row" :class="'pb-2'" style="font-size: 0.8rem;padding:0 7px;">
                            <div class="col-md-6 d-flex">
                                <strong>{{ format(element.value) }}</strong>
                            </div>
                            <div class="col-md-6 text-right">
                                <span class="badge badge-pill badge-primary ml-2 float-right toolt" style="margin-top:-2px;min-width:1.5rem;line-height:1rem;">{{ element.chance }} %</span>
                            </div>
                        </div>
                        <div class="row" :class="'pb-2'" style="font-size: 0.8rem;padding:0 7px;">
                            <div class="col-md-12 d-flex">
                                <i class="fa fa-calendar pr-1" style="margin-top:2px;" aria-hidden="true"></i>{{ element.decision_date }}
                            </div>
                        </div>
                    </div>
                </template>
                </draggable>
            <p class="d-flex justify-content-between">
                <button @click="addProspect(board.id)" class="btn btn-outline-success">Add Prospect</button>
                <button v-if="board.load_more" @click="loadBoard(board.id, board.page)" class="btn btn-sm btn-outline-dark">Load More</button>
            </p>
        </div>
    </div>
</template>
<script>
import draggable from 'vuedraggable';
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';

export default{
    components: {
        Datepicker,draggable
    },
    props: {
        prospectStatus:{
            type:Object,
            default:{}
        },
        accountManager:{
            type:Object,
            default:{}
        },
        customers:{
            type:Object,
            default:{}
        },
        systems:{
            type:Object,
            default:{}
        },
        newProspect:{
            type:Boolean,
            default:false
        },
        kanbanLoader:{
            type:Boolean,
            default:false
        },
        kanbanData:{
            type:Object,
            default:{}
        }
    },
    watch:{
        kanbanData:function(newV,old){
            this.kanbanTasks = newV
        }
    },
    emits :{
          viewProspect: null,
          toggleProspectcol: null,
          getKanban: null,
        },
    data() {
        return {
            search: {
                account_manager_id:'',
                customer_id:'',
                solution_id:'',
                start_date:'',
                end_date:'',
                prospect_id:'',
                status_id:''
            },
            searchloader:false,
            kanbanTasks:{},
            params:{}
        }
    },
    methods:{
        clearFilter(){
            this.search= {
                account_manager_id:'',
                customer_id:'',
                solution_id:'',
                start_date:'',
                end_date:'',
                prospect_id:'',
                status_id:''
            }
            
            this.$emit('get-kanban',this.search)
        },
        finish(evt){
            
            let item = evt.added || evt.moved;

            if (!item) return;

            let card = document.getElementById(item.element.id);

            let status = card.closest('.task-board').getAttribute('id');

            axios.post('/api/prospects/move/'+item.element.id, {status:status})
                .then(response => {
                    item.element.status_id = status
                })
                .catch(error => {
                    alert('An error occured, could not save the task.');
                });
        },
        uiAvatars(account_manager){
            return 'https://ui-avatars.com/api/?name='+account_manager.first_name+'+'+account_manager.last_name+'&background=random&format=svg&bold=true';
        },
        addProspect(val){
            this.$emit('toggle-Prospectcol',val);
        },
        format(num){
           return String(num).replace(/(?<!\..*)(\d)(?=(?:\d{3})+(?:\.|$))/g, '$1,')
        },
        viewProspect1(payload){
            // console.log(payload)
            this.$emit('view-prospect',payload);
        },
        filterResults(){
            this.$emit('get-kanban',this.search)
        },
        loadBoard(status_id, page, project_id){
            axios.get('/prospects/loadmore/'+status_id+""+this.params, {
                params: {
                    page
                }
            }).then(response => {
                let loaded = response.data.kanban
                console.log(loaded)
                this.kanbanTasks.map(board => {
                    if(loaded.id === board.id){
                        board.load_more = loaded.load_more;
                        board.page = loaded.page;
                        board.prospects = [...board.prospects, ...loaded.prospects]
                    }
                })
            }).catch(function (err) {
                console.log(err)
            })
        },
        setQueryStringValues(){
            const searchURL = new URL(window.location);
            searchURL.searchParams.set('account_manager_id', this.search.account_manager_id);
            searchURL.searchParams.set('solution_id', this.search.solution_id);
            searchURL.searchParams.set('customer_id', this.search.customer_id);
            searchURL.searchParams.set('status_id', this.search.status_id);
            searchURL.searchParams.set('prospect_id', this.search.prospect_id);
            searchURL.searchParams.set('start_date', (this.search.start_date != '' ? this.formatDate(this.search.start_date) : ''));
            searchURL.searchParams.set('end_date', (this.search.end_date != '' ? this.formatDate(this.search.end_date) : ''));

            window.history.pushState({}, '', searchURL);
            
            this.params = window.location.search;
        }
    },
    mounted(){
        this.setQueryStringValues()
        this.filterResults()
        
    }
}

</script>