<template>
    <div class="modal fade show" id="add_task_modal" tabindex="-1" role="dialog" style="display:block" aria-labelledby="add_task_modal_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div style="min-width: 1200px;height:93vh" class="modal-content">
                <div class="modal-header" style="height: 3.5rem;">
                    <h5 class="modal-title" id="add_task_modal_label" style="width: 100%;">
                        <span v-if="prospect.id > 0">Prospect # {{ prospect.id }}</span>
                        <span v-else>New Prospect</span><br/>
                    </h5>
                    <button id="closeModalBtn" type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
              <div class="modal-body" style="height: calc(100vh - 3.5rem); overflow: auto;">
                    <table class="table table-sm table-borderless">
                        <tr>
                            <td>
                                <div class="form-group input-group mb-0">
                                    <label class="has-float-label mb-0">
                                        <input style="font-size: 17px;" id="pname" v-model="prospect.prospect_name" type="text" class="form-control form-control-sm col-md-12 mb-0" />
                                        <span>Prospect</span>
                                    </label>
                                </div>
                            </td>
                            <td class="last">
                                <button class="btn btn-default bg-transparent no-border" v-on:click="setEmote(1)" style="border-radius: 50%; margin-right:1%;" name="emote_frown" id="emote_frown"><i class="fa fa-frown fa-lg" style="color: red;"></i></button>
                                <button class="btn btn-default bg-transparent no-border" v-on:click="setEmote(2)" style="border-radius: 50%; margin-right:1%;" name="emote_exclamation" id="emote_exclamation"><i class="fa fa-exclamation fa-lg" style="color: orange;"></i></button>
                                <button class="btn btn-default bg-transparent no-border" v-on:click="setEmote(3)" style="border-radius: 50%; margin-right:1%;" name="emote_smile" id="emote_smile"><i class="fa fa-smile fa-lg" style="color: green;"></i></button>
                                <button class="btn btn-default bg-transparent no-border" v-on:click="setEmote(4)" style="border-radius: 50%; margin-right:1%;" name="emote_test" id="emote_test"><i class="fa fa-user-check fa-lg" style="color: purple;"></i></button>
                                <button class="btn btn-default bg-transparent no-border" v-on:click="setEmote(5)" style="border-radius: 50%; margin-right:1%;" name="emote_deploy" id="emote_deploy"><i class="fa fa-upload fa-lg" style="color: blue;"></i></button>
                                <button class="btn btn-default bg-transparent no-border" v-on:click="setEmote(0)" style="border-radius: 50%; margin-right:1%;" name="emote_none" id="emote_none"><i class="fa fa-times fa-lg"></i></button>
                            </td>
                            <td class="last pl-4">
                                <button ref="copy-task" class="btn btn-sm btn-dark mr-2" @click="copyProspect()"> <i class="fa fa-copy"></i> Copy Prospect</button>
                                <button v-if="isSending" class="btn btn-sm btn-success" disabled><i class="fa fa-spinner"></i> Saving ...</button>
                                        <button v-else class="btn btn-sm btn-success" @click="saveProspect()">Save & Close</button>
                            </td>
                        </tr>
                    </table>
                    
                    <table class="table table-sm table-borderless">
                        <tr>
                            <td style="width:50%">
                                <div class="d-flex">
                                <div class="form-group input-group mb-0 col-md-9">
                                    <label class="has-float-label mb-0">
                                        <select v-model="prospect.account_manager_id" class="form-control">
                                            <option value="">Select</option>
                                            <option v-for="(am,id,index) in accountManager" :key="index" :value="id">{{ am }}</option>
                                        </select>
                                        <span>Account Manager</span>
                                    </label>
                                </div>
                                <!-- <a v-on:click="commentsFocus" style="cursor: pointer;line-height:2rem;"><i class="fa fa-comment"></i> {{Object(messages).length != null ? Object(messages).length : 0}} comments</a> -->
                                </div>
                            </td>
                            <td style="width: 50%">
                            </td>
                        </tr>
                    </table>
                    <div class="mb-3 pb-0" style="background-color: #F8F8F8; padding: 15px; border-radius: 7px;">
                        <table class="table table-sm table-borderless mb-0">
                            <tr>
                                <td class="col-md-4">
                                    <div class="d-flex">
                                    <div class="form-group input-group col-md-10 p-0">
                                        <label class="has-float-label mb-0">
                                        <select v-model="prospect.solution" class="form-control">
                                            <option value="">Select</option>
                                            <option v-for="(system,index) in solutiondd" :key="index" :value="system.description">{{ system.description }}</option>
                                        </select>
                                        <!-- <input type="text" v-model="prospect.solution" class="form-control form-control-sm col-md-12"> -->
                                        <span style="background-color: rgb(248, 248, 248);">Solution</span>
                                    </label>
                                    </div>
                                    <div class="form-group input-group col-md-2 pr-0">
                                    <button class="btn btn-warning w-100" @click="toggleSolution()">Add</button>
                                    </div></div>
                                </td>
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label mb-0">
                                            <select v-model="prospect.customer_id" class="form-control">
                                                <option value="">Select</option>
                                                <option v-for="(customer,index) in customers" :key="index" :value="customer.id">{{ customer.customer_name }}</option>
                                            </select>
                                        <span style="background-color: rgb(248, 248, 248);">Customer</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label mb-0">
                                        <input type="number" v-model="prospect.value" class="form-control form-control-sm col-md-12" />
                                            <span style="background-color: rgb(248, 248, 248);">Value</span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label mb-0">
                                        <input type="text" v-model="prospect.partners" class="form-control form-control-sm col-md-12" />
                                            <span style="background-color: rgb(248, 248, 248);">Partners</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="col-md-4">
                                    <div class="d-flex">
                                    <div class="form-group input-group col-md-10 p-0">
                                        <label class="has-float-label mb-0">
                                        <select v-model="prospect.contact" class="form-control">
                                            <option value="">Select</option>
                                            <option v-for="(contact,index) in contactdd" :key="index" :value="contact.first_name + ' ' + contact.last_name">{{ contact.first_name }} {{ contact.last_name }}</option>
                                        </select>
                                            <span style="background-color: rgb(248, 248, 248);">Contact</span>
                                        </label>
                                    </div>
                                    <div class="form-group input-group col-md-2 pr-0">
                                    <button class="btn btn-warning w-100" @click="toggleContact()">Add</button>
                                    </div></div>
                                </td>
                                
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label mb-0">
                                        <input type="number" v-model="prospect.chance" class="form-control form-control-sm col-md-12" />
                                            <span style="background-color: rgb(248, 248, 248);">Chance %</span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="col-md-8">
                                    <div class="form-group input-group">
                                        <label class="has-float-label mb-0">
                                            <input type="text" v-model="prospect.scope" class="form-control form-control-sm col-md-12" />
                                            <span style="background-color: rgb(248, 248, 248);">Scope</span>
                                        </label>
                                    </div>
                                </td>
                                
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label mb-0">
                                            <select v-model="prospect.status_id" id="pstatus" class="form-control">
                                                <option value=''>Select</option>
                                                <option v-for="(board,value,index) in prospectStatus" :key="index" :value="value">{{ board }}</option>
                                            </select>
                                            <span style="background-color: rgb(248, 248, 248);">Status</span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="min-height:50%">
                    <ul class="nav nav-tabs">
                        <li class="">
                            <a href="#details" class="active" data-toggle="tab">Details</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                                <div class="tab-pane fade show active" id="details">
                                    <hr style="margin-top:-1px;"/>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <table class="table table-sm table-borderless">
                                                <thead>
                                                <tr class="planning-btn" v-on:click="noteFlag = !noteFlag">
                                                    <th style="border-bottom: 1px solid grey !important;">
                                                        Description <i v-if="noteFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!noteFlag" class="float-right fa fa-chevron-up"></i>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="noteFlag">
                                                <tr>
                                                    <td>
                                                        <!-- <textarea v-model="task.note_1" rows="5" cols="50" class="form-control form-control-sm col-md-12"></textarea> -->
                                                        <quill-editor
                                                            :toolbar="quillToolbar"
                                                            theme="snow"
                                                            content-type="html"
                                                            v-model:content="prospect.note"
                                                        ></quill-editor>
                                                        <div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-sm table-borderless" v-if="prospect.id > 0">
                                                <thead>
                                                <tr class="planning-btn" v-on:click="discussionFlag = !discussionFlag">
                                                    <th style="border-bottom: 1px solid grey !important;">
                                                        Discussion<i v-if="discussionFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!discussionFlag" class="float-right fa fa-chevron-up"></i>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="discussionFlag">
                                                <tr>
                                                    <td id="message_td">
                                                        <!--<textarea v-model="message" rows="5" cols="50"  class="form-control form-control-sm col-md-12"></textarea>-->
                                                      <quill-editor
                                                          :toolbar="quillToolbar"
                                                          theme="snow"
                                                          content-type="html"
                                                          v-model:content="message"
                                                      ></quill-editor>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right">
                                                        <button v-if="!sendingMessage" style="margin-bottom: 5px; margin-top: 5px; color: #ffffff;" v-on:click="addMessage()" class="btn btn-sm btn-warning">Save Note</button>
                                                        <button v-if="sendingMessage" style="margin-bottom: 5px; margin-top: 5px; color: #ffffff;" class="btn btn-sm btn-warning" disabled><i class="fa fa-spinner"></i> Save Note</button>
                                                    </td>
                                                </tr>
                                                <tr v-for="(message, index) in prospect.discussion" :key="index">
                                                    <td>
                                                        <table class="table table-sm table-borderless" v-if="message.user">
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="row col-md-12 p-2" style="background-color: rgba(108,117,125,.25); border-radius: 7px;">
                                                                    <div class="col-md-1"><span class="chat-initials" :title="message.user.first_name + ' ' + message.user.last_name"><img :src="uiAvatars(message.user)" class="chat-initials" alt=""></span></div>
                                                                    <div class="col-md-11 p-0" v-html="message.note"></div>
                                                                    <div class="col-md-12 text-right"><small>{{ formatDate(message.created_at) }}</small></div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <!--<textarea rows="3" cols="50"  class="form-control form-control-sm col-md-12" disabled>{{message.note}}</textarea>-->
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-3">
                                            <table class="table table-sm table-borderless">
                                                <thead>
                                                <tr class="planning-btn" v-on:click="planningFlag = !planningFlag">
                                                    <th style="border-bottom: 1px solid grey !important;" colspan="2">
                                                        Planning <i v-if="planningFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!planningFlag" class="float-right fa fa-chevron-up"></i>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="planningFlag">
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="form-group input-group mt-3">
                                                            <label class="has-float-label">
                                                                <!-- <input type="date" v-model="task.start_date" class="form-control datepicker col-md-12" /> -->
                                                                <Datepicker v-model="prospect.decision_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" />
                                                                <span>Decision Date</span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="form-group input-group">
                                                            <label class="has-float-label">
                                                                <!-- <input type="date" v-model="task.start_date" class="form-control datepicker col-md-12" /> -->
                                                                <Datepicker v-model="prospect.est_start_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" />
                                                                <span>Start Date</span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr><td>
                                                        <div class="form-group input-group">
                                                            <label class="has-float-label">
                                                                <!-- <input type="date" v-model="task.end_date" class="form-control form-control-sm datepicker col-md-12 datepicker" /> -->
                                                                <Datepicker v-model="prospect.converted_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input is-invalid" />
                                                                <span>Date Converted</span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group input-group">
                                                            <label class="has-float-label">
                                                                <!-- <input type="date" v-model="task.end_date" class="form-control form-control-sm datepicker col-md-12 datepicker" /> -->
                                                                <Datepicker v-model="prospect.created_at" :disabled="prospect.id == ''" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" />
                                                                <span>Date Created</span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr><td>
                                                        <div class="form-group input-group">
                                                            <label class="has-float-label">
                                                                <input type="number" v-model="prospect.hours" class="form-control col-md-12" />
                                                                <span>Hours</span>
                                                            </label>
                                                        </div>
                                                </td>
                                                <td>
                                                        <div class="form-group input-group">
                                                            <label class="has-float-label">
                                                                <Datepicker v-model="prospect.updated_at" disabled format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" />
                                                                <span>Date Updated</span>
                                                            </label>
                                                        </div>
                                                </td></tr>
                                                <tr><td colspan="2">
                                                        <div class="form-group input-group">
                                                            <label class="has-float-label">
                                                                <input type="text" v-model="prospect.resources" class="form-control form-control-sm col-md-12" />
                                                                <span>Resources</span>
                                                            </label>
                                                        </div>
                                                </td></tr>
                                                <tr><td colspan="2">
                                                        <div class="form-group input-group">
                                                            <label class="has-float-label">
                                                                <input type="number" v-model="prospect.duration" class="form-control col-md-12" />
                                                                <span>Duration (Months)</span>
                                                            </label>
                                                        </div>
                                                </td></tr>
                                                <tr><td colspan="2">
                                                        <div class="form-group input-group">
                                                            <label class="has-float-label">
                                                                <input type="number" v-model="prospect.margin" class="form-control col-md-12" />
                                                                <span>Margin %</span>
                                                            </label>
                                                        </div>
                                                </td></tr>
                                                <tr><td colspan="2">
                                                        <div class="form-group input-group">
                                                            <label class="has-float-label">
                                                                <select v-model="prospect.industry_id" class="form-control col-md-12">
                                                                    <option value="">Select</option>
                                                                    <option v-for="(industry,index) in industries" :key="index" :value="industry.id">{{ industry.description }}</option>
                                                                </select>
                                                                <span>Industry</span>
                                                            </label>
                                                        </div>
                                                </td></tr>
                                                <tr><td colspan="2">
                                                        <div class="form-group input-group">
                                                            <label class="has-float-label">
                                                                <select v-model="prospect.lead_from" class="form-control col-md-12">
                                                                    <option value="">Select</option>
                                                                    <option v-for="(lead,index) in leads" :key="index" :value="lead.id">{{ lead.name }}</option>
                                                                </select>
                                                                <span>Lead From</span>
                                                            </label>
                                                        </div>
                                                </td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- Milestone -->
                                        <div class="col-md-3">
                                            <table class="table table-sm table-borderless">
                                                <thead>
                                                <tr class="planning-btn" v-on:click="documentFlag = !documentFlag">
                                                    <th colspan="2" style="border-bottom: 1px solid grey !important;">
                                                        Attachments <i v-if="documentFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!documentFlag" class="float-right fa fa-chevron-up"></i>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="documentFlag">
                                                <tr>
                                                    <td colspan="2" v-if="prospect.id > 0">
                                                        <div>
                                                            <label><button @click="clickFile()" style="color: #ffffff;" class="btn btn-sm btn-warning"><i class="fa fa-plus"></i> Add File</button></label>
                                                            <input style="display: none;" id="file" type="file" @change="onFileChange" class="form-control form-control-sm col-md-12" value=""/>
                                                        </div>
                                                    </td>
                                                    <td colspan="2" v-else>
                                                        <label><button @click="clickFile2()" style="color: #ffffff;" class="btn btn-sm btn-warning" :class="new_file != null ? 'disabled' : ''"><i class="fa fa-plus"></i> Add File</button></label>
                                                        <input id="new_file" type="file" @change="onFileChangeNew"  class="form-control form-control-sm col-md-12 d-none" value=""/>
                                                    </td>
                                                </tr>
                                                <tr v-for="(document,index) in documents" :key="index">
                                                    <td><a :href="'/files/tasks/'+document.file" target="_blank">{{document.name}}</a></td><td class="text-right"><a v-on:click="deleteDocument(document.id,index)"><i style="color: red;" class="fa fa-trash" title="Delete attachment"></i></a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <add-contact :contact-modal="contactModal" @toggle-contact="toggleContact" @add-contact="addContact"></add-contact>
        <add-solution :solution-modal="solutionModal" @toggle-solution="toggleSolution" @add-solution="addSolution"></add-solution>
</template>
<script>
import AddContact from '../kanban/AddContact.vue'
import AddSolution from '../kanban/AddSolution.vue'
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import { quillToolbarOptions } from "@/utils/quill";
import {QuillEditor} from "@vueup/vue-quill";

export default{
    components: {
        Datepicker,QuillEditor,AddContact,AddSolution
    },
    props: {
        prospect:{
            type:Object,
            default:{}
        },
        kanbanSearch:{
            type:Object,
            default:{}
        },
        prospectStatus:{
            type:Object,
            default:{}
        },
        accountManager:{
            type:Object,
            default:{}
        },
        newProspect:{
            type:Boolean,
            default:false
        },
        customers:{
            type:Array,
            default:[]
        },
        contacts:{
            type:Array,
            default:[]
        },
        systems:{
            type:Array,
            default:[]
        },
        leads:{
            type:Array,
            default:[]
        },
        industries:{
            type:Array,
            default:[]
        }
    },
    emits :{
          getKanban: null,
        },
    data() {
        return {
            quillToolbar: quillToolbarOptions(),
            isSending:false,
            contactdd:this.contacts,
            solutiondd:this.systems,
            noteFlag:true,
            contactModal:false,
            solutionModal:false,
            discussionFlag:true,
            planningFlag:true,
            documentFlag:true,
            documents:[],
            message:'',
            sendingMessage:false,
            messages:this.prospect.discussion,
            new_file:null
        }
    },
    methods:{
        setEmote(emote_id){
            axios.post('/prospects/setemote/'+this.prospect.id, {
                emote_id: emote_id
            })
                .then(response => {
                    this.$emit('get-Kanbane',this.kanbanSearch);
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        closeModal(){
            this.$emit('toggle-Prospect');
        },
        today(){
            let date = new Date();
            let day, month;
            day = date.getDate() < 10 ? '0'+date.getDate():date.getDate();
            month = (date.getMonth() + 1) < 10 ? '0'+(date.getMonth()+1) : (date.getMonth()+1);

            return date.getFullYear()+'-'+month+'-'+day;
        },
        saveProspect(){
            let err = 0

            if (this.prospect.prospect_name.length > 1) {
                document.getElementById('pname').classList.remove("is-invalid");
            }
            if ((this.prospect.prospect_name.length == 0)) {
                document.getElementById('pname').classList.add("is-invalid");
                err++
            }

            if (this.prospect.status_id.length > 1) {
                document.getElementById('pstatus').classList.remove("is-invalid");
            }
            if ((this.prospect.status_id.length == 0)) {
                document.getElementById('pstatus').classList.add("is-invalid");
                err++
            }

            if(err == 0){
                this.isSending = true
                if(this.prospect.id > 0){
                    axios.post('/prospects/'+ this.prospect.id +'/update',this.prospect).then(response => {
                        // this.prospect = response.data.prospect 
                    this.isSending = false
                        this.$emit('get-Kanban',this.kanbanSearch);
                    }).catch(function (err) {
                        console.log(err)
                    this.isSending = false
                    })
                } else {
                    
                    const config = {
                        headers: { 'content-type': 'multipart/form-data' }
                    }

                    let formData = new FormData();
                    formData.append('account_manager_id', this.prospect.account_manager_id??'');
                    formData.append('chance', this.prospect.chance??'');
                    formData.append('contact', this.prospect.contact??'');
                    formData.append('converted_date', this.prospect.converted_date??'');
                    formData.append('created_at', this.prospect.created_at??'');
                    formData.append('customer_id', this.prospect.customer_id??'');
                    formData.append('decision_date', this.prospect.decision_date??'');
                    formData.append('duration', this.prospect.duration??'');
                    formData.append('est_start_date', this.prospect.est_start_date??'');
                    formData.append('hours', this.prospect.hours??'');
                    formData.append('industry_id', this.prospect.industry_id??'');
                    formData.append('lead_from', this.prospect.lead_from??'');
                    formData.append('margin', this.prospect.margin??'');
                    formData.append('note', this.prospect.note??'');
                    formData.append('partners', this.prospect.partners??'');
                    formData.append('prospect_name', this.prospect.prospect_name??'');
                    formData.append('resources', this.prospect.resources??'');
                    formData.append('scope', this.prospect.scope??'');
                    formData.append('solution', this.prospect.solution??'');
                    formData.append('status_id', this.prospect.status_id??'');
                    formData.append('updated_at', this.prospect.updated_at??'');
                    formData.append('value', this.prospect.value??'');
                    formData.append('new_file', this.new_file??null);

                    axios.post('/prospects',formData,config).then(response => {
                        // this.prospect = response.data.prospect 
                    this.isSending = false
                    this.new_file = null
                        this.$emit('get-Kanban',this.kanbanSearch);
                    }).catch(function (err) {
                        console.log(err)
                    this.isSending = false
                    })
                }
            }
        },
        copyProspect(){
                axios.post('/prospects/'+ this.prospect.id +'/copy',this.prospect).then(response => {
                    // this.prospect = response.data.prospect 
                    this.$emit('get-Kanban',this.kanbanSearch);
                }).catch(function (err) {
                    console.log(err)
                })
        },
        toggleContact(){
            if(this.contactModal){
                this.contactModal = false
            } else {
                this.contactModal = true
            }
        },
        addContact(payload){
            this.contactdd = payload.contacts
            this.prospect.contact = payload.selected
            this.toggleContact()
            
            this.$emit('update-contacts',this.contactdd)
        },
        toggleSolution(){
            if(this.solutionModal){
                this.solutionModal = false
            } else {
                this.solutionModal = true
            }
        },
        addSolution(payload){
            this.solutiondd = payload.systems
            this.prospect.solution = payload.selected
            this.toggleSolution()
            
            this.$emit('update-solutions',this.solutiondd)
        },
        addMessage(){
            let err = 0

            if(this.message.length > 0 && this.message != '<p><br></p>'){
            } else {
                err++
            this.alert("Discussion message cannot be empty.",'','',{confirmButtonText: 'Ok'});
            }

            if(err == 0){
                this.sendingMessage = true;
                axios.post('/api/prospects/message/'+this.prospect.id, {
                    message: this.message
                })
                    .then(response => {
                        this.message = '<p><br></p>';
                        this.getMessages(this.prospect.id);
                        this.sendingMessage = false;
                    })
                    .catch(error => {
                        this.sendingMessage = false;
                    });
                }
        },uiAvatars(account_manager){
            return 'https://ui-avatars.com/api/?name='+account_manager.first_name+'+'+account_manager.last_name+'&background=random&format=svg&bold=true';
        },
        formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

            return [year, month, day].join('-');
        },
        getMessages(prospect_id){
            axios.get('/api/prospects/getmessages/'+prospect_id, {})
                .then(response => {
                    this.prospect.discussion = response.data;
                });
        },
        clickFile(){
            document.getElementById("file").click();
        },
        onFileChange(e){
            this.file = e.target.files[0];
            e.preventDefault();
            const config = {
                headers: { 'content-type': 'multipart/form-data' }
            }

            let formData = new FormData();
            formData.append('file', this.file);
            formData.append('user_id', this.user_id);

            axios.post('/api/prospects/uploadfile/'+this.prospect.id, formData, config)
                .then(response => {
                    this.getDocuments(this.prospect);
                    this.file = null;
                    document.getElementById('file').value= null;
                    toastr.success('<strong>Success!</strong> Document successfully uploaded.');

                    toastr.options.timeOut = 1000;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        clickFile2(){
            document.getElementById("new_file").click();
        },
        onFileChangeNew(e){
            this.new_file = e.target.files[0];
            e.preventDefault();
        },
        getDocuments(prospect){
            let endpoints = [
            '/api/prospects/getdocuments/'+prospect.id,
            ]
            Promise.all(endpoints.map((endpoint) => axios.get(endpoint))).then(
                axios.spread(({data: prospect_documents}) => {
                    
                    this.documents = prospect_documents

                })
            );

        },
        deleteDocument(id,index){
            
            this.confirm("Are you sure you want to delete this file?","Confirmation").then(() => {
                let endpoints = [
                '/api/prospects/deletedocument/'+id,
                ]
                Promise.all(endpoints.map((endpoint) => axios.get(endpoint))).then(
                    axios.spread(({data: prospect_documents}) => {
                        
                        this.documents.splice(index,1)

                    })
                );
            }).catch(function (err) {
                console.log(err)
                })

        }
    },
    mounted(){
        if(this.prospect.id > 0){
            this.getDocuments(this.prospect)
        }
    }
}

</script>