<p style="text-align: center;"><strong>SUPPLIER AGREEMENT</strong></p><p style="text-align: center;"><strong>CONFIRMATION OF TERMS OF CONSULTANCY SERVICES</strong></p><p><br></p>
<table style="width: 95.6355%;">
<tbody><tr>
	<td>Name of Supplier</td>
	<td>{SUPPLIERNAME}</td></tr>
<tr>
	<td>Name of Consultant</td>
	<td>{RESOURCENAME}</td></tr>
<tr>
	<td>Services Rendered</td>
	<td>{SERVICESRENDERED}</td></tr>
<tr>
	<td>Project</td>
	<td>{PROJECTNAME}</td></tr>
<tr>
	<td>Description of Assignment</td>
	<td>{DESCRIPTIONOFASSIGNMENT}</td></tr>
<tr>
	<td>Effective Date</td>
	<td>{EFFECTIVEDATE}</td></tr>
<tr>
	<td>Termination Date</td>
	<td>{TERMINATIONDATE}</td></tr>
<tr>
	<td>Rate per hour(excl.VAT)</td>
	<td>{<span style="color: rgb(33, 37, 41); font-family: " source="" sans="" pro",="" -apple-system,="" blinkmacsystemfont,="" "segoe="" ui",="" roboto,="" "helvetica="" neue",="" arial,="" sans-serif,="" "apple="" color="" emoji",="" ui="" symbol";="" font-size:="" 16px;="" font-style:="" normal;="" font-variant-ligatures:="" font-variant-caps:="" font-weight:="" 400;="" letter-spacing:="" orphans:="" 2;="" text-align:="" left;="" text-indent:="" 0px;="" text-transform:="" none;="" white-space:="" widows:="" word-spacing:="" -webkit-text-stroke-width:="" background-color:="" rgb(255,="" 255,="" 255);="" text-decoration-style:="" initial;="" text-decoration-color:="" display:="" inline="" !important;="" float:="" none;"="">ARATE</span>}</td></tr>
<tr>
	<td>Total Hours</td>
	<td>{TOTALHOURS}</td></tr>
<tr>
	<td>Hours of Work</td>
	<td>{HOURSOFWORK}</td></tr><tr><td>Location</td><td>{LOCATION}</td></tr><tr><td>Travel</td><td>{TRAVEL}</td></tr><tr><td>Accommodation</td><td>{ACCOMODATION}</td></tr><tr><td>Parking</td><td>{PARKING}</td></tr><tr><td>Per Diem</td><td>{PERDIEM}</td></tr><tr><td>Out of Town</td><td>{OUTOFTOWN}</td></tr><tr><td>Data</td><td>{DATA}</td></tr><tr><td>Other</td><td>{OTHER}</td></tr><tr><td>Billing</td><td>{BILLING}</td></tr><tr><td>Payments</td><td>{PAYMENTS}</td></tr></tbody></table><p><br></p><p>{SIGNATURE_INTERNAL}</p><p>{SIGNATURE_SUPPLIER}</p>