<p style="text-align: center;"><strong>RESOURCE CONTRACT</strong></p><p style="text-align: center;"><strong>CONFIRMATION OF TERMS OF CONSULTANCY SERVICES</strong></p><p><br></p>
<table style="width: 100%;">
<tbody>
<tr>
	<td>Name of Consultant</td>
	<td>{RESOURCENAME}</td></tr>
<tr>
	<td>Project</td>
	<td>{PROJECTNAME}</td></tr>
<tr>
	<td>Customer PO</td>
	<td ><br></td></tr>
<tr>
	<td>Customer</td>
	<td>{CUSTOMERNAME}</td></tr>
<tr>
	<td>Description of Assignment</td>
	<td>{SERVICESRENDERED}</td></tr>
<tr>
	<td>Effective Date</td>
	<td>{EFFECTIVEDATE}</td></tr>
<tr>
	<td>Termination Date</td>
	<td>{TERMINATIONDATE}</td></tr>
<tr>
	<td>Total Hours</td>
	<td>{TOTALHOURS}</td></tr>
<tr>
	<td>Hours of Work</td>
	<td>{HOURSOFWORK}</td></tr><tr><td>Location</td><td>{LOCATION}</td></tr><tr><td>Travel</td><td>{TRAVEL}</td></tr><tr><td>Accommodation</td><td>{ACCOMODATION}</td></tr><tr><td>Parking</td><td>{PARKING}</td></tr><tr><td>Per Diem</td><td>{PERDIEM}</td></tr><tr><td>Out of Town</td><td>{OUTOFTOWN}</td></tr><tr><td>Data</td><td>{DATA}</td></tr><tr><td>Other</td><td>{OTHER}</td></tr><tr><td>Billing</td><td>{BILLING}</td></tr><tr><td><br></td><td><br></td></tr></tbody></table><p><br></p><p>{SIGNATURE_INTERNAL}</p><p>{SIGNATURE_SUPPLIER}</p>