<template>
    <div class="container-fluid container-title">
        <h3>Prospects</h3>
        <a href="javascript:void(0)" class="btn btn-dark float-right" @click="toggleProspect('new')"><i class="fa fa-plus"></i> Prospect</a>
    </div>
    <div class="container-fluid">
        <div class="table-responsive">
        <div class="row w-100 p-0 m-0">
            <ul class="nav nav-tabs mt-3">
                <li class="">
                    <a href="#overview" :class="activeTab == 'overview' ? 'active' : ''" @click="changeTab('overview')">Overview</a>
                </li>
                <li class="">
                    <a href="#kanban" :class="activeTab == 'kanban' ? 'active' : ''" @click="changeTab('kanban')">Kanban</a>
                </li>
                <li class="">
                    <a href="#list" :class="activeTab == 'list' ? 'active' : ''" @click="changeTab('list')">List</a>
                </li>
            </ul>
            <div class="tab-content w-100">
                <div class="tab-pane fade show" id="overview" style="height:78vh;overflow:auto;width:100%" :style="activeTab == 'overview' ? 'display:block;' : 'display:none'">
                    <hr style="margin-top:-1px;"/>
                    <overview :totaln="totalCnt" :open="openDeals" :noaction="noActions" :action="actionCnt" :new="newDeals" :prob="probabilityData" :pros="prospectData" :dec="decisionData" :start="startData" :account="accountData"></overview>
                </div>
                <div class="tab-pane fade show" id="kanban" style="height:78vh;overflow:auto;width:100%" :style="activeTab == 'kanban' ? 'display:block;' : 'display:none'">
                    <hr style="margin-top:-1px;"/>
                    <kanban :kanban-loader="kanbanLoader" :kanban-data="kanbanData" :account-manager="account_manager_drop_down" :prospect-status="status_drop_down" 
                    :customers="customer_drop_down" 
                    :systems="system_drop_down" :new-prospect="newProspect" @get-kanban="getKanbanData" @toggle-prospectcol="toggleProspectcol" @view-prospect="viewProspect"></kanban>
                </div>
                <div class="tab-pane fade show" id="list" style="height:78vh;overflow:auto;width:100%" :style="activeTab == 'list' ? 'display:block;' : 'display:none'">
                    <hr style="margin-top:-1px;"/>
                    <div class="row pt-2 pb-1">
                        <div class="col-md-2 col-sm-12">
                            <div class="form-group input-group">
                                <label class="has-float-label">
                                    <select v-model="search.am" class="form-control" @change="filterProspects()">
                                        <option value="">All</option>
                                        <option v-for="(value, name, index) in account_manager_drop_down" :key="index" :value="name">{{ value }}</option>
                                    </select>
                                    <span>Account Manager</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div class="form-group input-group">
                                <label class="has-float-label">
                                    <Datepicker format="yyyy-MM-dd" v-model="search.ds" auto-apply :close-on-auto-apply="true" @update:model-value="filterProspects()" :enable-time-picker="false" input-class-name="dp-custom-input" />
                                    <span>Decision Start Date</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div class="form-group input-group">
                                <label class="has-float-label">
                                    <Datepicker v-model="search.de" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" @update:model-value="filterProspects()" :enable-time-picker="false" input-class-name="dp-custom-input" />
                                    <span>Decision End Date</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div class="form-group input-group">
                                <label class="has-float-label">
                                    <select v-model="search.s" class="form-control" @change="filterProspects()">
                                        <option value="0">All</option>
                                        <option v-for="(value, name, index) in status_drop_down" :key="index" :value="name">{{ value }}</option>
                                    </select>
                                    <span>Prospect Status</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div class="form-group input-group">
                                <label class="has-float-label">
                                    <input type="text" v-model="search.q" class="form-control" @input="filterProspects()" />
                                    <span>Matching</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div class="form-group input-group">
                                <a href="javascript:void(0)" class="btn btn-info w-100" @click="clearFilters()">Clear Filters</a>
                            </div>
                        </div>
                    </div>
                    <div v-if="loader3" style="min-height:45px;width:100%;height:100%;position: relative;">
                    <div class="clock" style="left:55%;margin-top:-30px;"></div>
                    </div> 
                    <div v-else class="row col-md-12 pr-0">
                        <table class="table table-bordered">
                            <tr class="bg-dark">
                                <th>Prospect Name</th>
                                <th>Account Manager</th>
                                <th>Solution</th>
                                <th>Decision Date</th>
                                <th class="text-center">Chance</th>
                                <th class="text-right">Value</th>
                                <th>Status</th>
                                <th class="last">Action</th>
                            </tr>
                            <tr v-for="(pros,index) in prospects" :key="index">
                                <td><a href="javascript:void(0)" @click="viewProspect(pros)">{{ pros.prospect_name }}</a></td>
                                <td>{{ getAccountManagerName(pros.account_manager_id) }}</td>
                                <td>{{ pros.solution }}</td>
                                <td>{{ pros.decision_date }}</td>
                                <td class="text-center" :class="chanceColor(pros.chance)">{{ pros.chance }}</td>
                                <td class="text-right">{{ format(pros.value) }}</td>
                                <td>{{ getStatusName(pros.status_id) }}</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="javascript:void(0)" class="btn btn-success btn-sm ml-1 mr-1 toolt" @click="editProspect(pros)"><i class="fas fa-pencil-alt"></i><span class="tooltiptext">Edit Prospect</span></a>
                                        <a href="javascript:void(0)" class="btn btn-danger btn-sm toolt" @click="deleteProspect(pros.id)"><i class="fas fa-trash"></i><span class="tooltiptext">Delete Prospect</span></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="5" class="text-right">Total</th>
                                <th class="text-right">{{ format(totalval) }}</th>
                                <th colspan="2"></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <prospect-modal v-if="newProspect" 
            :kanban-search="kanbanSearch"
            :prospect-status="status_drop_down" 
            :customers="customer_drop_down" 
            :contacts="contactdd" 
            :systems="systemdd" 
            :leads="lead_drop_down" :industries="industry_drop_down"
            :account-manager="account_manager_drop_down"
            :prospect="prospect" 
            @get-kanban="getKanbanData" 
            @get-kanbane="getKanbanData2" 
            @update-solutions="updateSolutions"
            @update-contacts="updateContacts"
            @toggle-prospect="toggleProspect()"></prospect-modal>
        </div>
        </div>
        </div>

</template>

<script setup>
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
</script>
<script>
import Overview from '../sales/overview/Main.vue'
import Kanban from '../sales/kanban/Board.vue'
import ProspectModal from '../sales/kanban/ProspectModal.vue';


export default {
    components: { Overview, Kanban, ProspectModal },
    props: {
        status_drop_down:{
            type:Object,
            default:{}
        },
        account_manager_drop_down:{
            type:Object,
            default:{}
        },
        system_drop_down:{
            type:Array,
            default:[]
        },
        customer_drop_down:{
            type:Array,
            default:[]
        },
        contact_drop_down:{
            type:Array,
            default:[]
        },
        lead_drop_down:{
            type:Object,
            default:{}
        },
        industry_drop_down:{
            type:Object,
            default:{}
        },
    },
    data() {
    return {
        activeTab:'overview',
        loader:true,
        loader3:true,
        kanbanLoader:true,
        newDeals:0,
        openDeals:0,
        noActions:0,
        actionCnt:0,
        totalCnt:0,
        probabilityData:[],
        prospectData:[],
        decisionData:[],
        startData:[],
        accountData:[],
        kanbanData:[],
        kanbanSearch:[],
        search:{
            am:'',
            s:'',
            ds:'',
            de:'',
            q:''
        },
        prospects:[],
        totalval:0,
        newProspect:false,
        systemdd:this.system_drop_down,
        contactdd:this.contact_drop_down,
        prospect:{
            id:'',
            note:'',
            decision_date:this.today(),
            est_start_date:this.today(),
            converted_date:this.today(),
            created_date:this.today(),
            updated_date:this.today(),
            hours:0,
            resources:'',
            duration:0,
            margin:0,
            industry:'',
            lead_from:'',
            solution:'',
            prospect_name:'',
            account_manager_id:'',
            customer:'',
            value:'',
            partners:'',
            contact:'',
            chance:'',
            scope:'',
            status:''
        }
    }
    },
    methods:{
        format(num){
           return String(num).replace(/(?<!\..*)(\d)(?=(?:\d{3})+(?:\.|$))/g, '$1,')
        },
        updateSolutions(val){
            this.systemdd = val
        },
        updateContacts(val){
            this.contactdd = val
        },
        toggleProspect(val){
            console.log(val)
            if(val != 'new'){
                
            } else {
                this.prospect = {
                    id:'',
                    account_manager_id:'',
                    prospect_name:'',
                    note:'',
                    est_start_date:'',
                    converted_date:'',
                    created_at:this.today(),
                    updated_at:this.today(),
                    decision_date:this.today(),
                    hours:0,
                    resources:'',
                    solution:'',
                    customer_id:'',
                    value:0,
                    partners:'',
                    contact:'',
                    chance:0,
                    scope:'',
                    status_id:1
                }
            }
            if(this.newProspect){
                this.newProspect = false
            } else {
                this.newProspect = true
            }
            this.getOverview()
        },toggleProspectcol(val){
                this.prospect = {
                    id:'',
                    account_manager_id:'',
                    prospect_name:'',
                    note:'',
                    est_start_date:'',
                    converted_date:'',
                    created_at:this.today(),
                    updated_at:this.today(),
                    decision_date:this.today(),
                    hours:0,
                    resources:'',
                    solution:'',
                    customer_id:'',
                    value:0,
                    partners:'',
                    contact:'',
                    chance:0,
                    scope:'',
                    status_id:val
                }
            if(this.newProspect){
                this.newProspect = false
            } else {
                this.newProspect = true
            }
            this.getOverview()
        },
        changeTab(val){
            this.activeTab = val
        },
        getOverview(){
            axios.get('/prospects/overview').then(response => {
                        this.newDeals = response.data.newDeals
                        this.openDeals = response.data.openDeals
                        this.noActions = response.data.noAction
                        this.actionsCnt = response.data.action
                        this.totalCnt = response.data.total
                        this.probabilityData = response.data.probability
                        this.prospectData = response.data.prospect
                        this.decisionData = response.data.decision
                        this.startData = response.data.start
                        this.accountData = response.data.account
                        // this.loader = false
                        // console.log(this.overviewObject)
                    }).catch(function (err) {
                        console.log(err)
                    })
        },
        clearFilters(){
            this.search = {
            am:'',
            s:'',
            ds:'',
            de:'',
            q:''
            }
            this.filterProspects()
        },
        today(){
            let date = new Date();
            let day, month;
            day = date.getDate() < 10 ? '0'+date.getDate():date.getDate();
            month = (date.getMonth() + 1) < 10 ? '0'+(date.getMonth()+1) : (date.getMonth()+1);

            return date.getFullYear()+'-'+month+'-'+day;
        },
        getProspects(){   
            axios.post('/api/prospects').then(response => {
                this.prospects = response.data.prospects
                // console.log(this.prospects)
                this.totalval = 0
                for(let v in this.prospects){
                    this.totalval += this.prospects[v].value
                }
            }).catch(function (err) {
                console.log(err)
            })
            this.loader3 = false
        },
        deleteProspect(val){
            this.confirm("Are you sure you want to delete this record?","Confirmation").then(() => {
                axios.post('/prospects/delete/'+val,{}).then(response => {
                
                // console.log(this.kanban)
                this.getOverview()
                this.getKanbanData()
                this.getProspects()
            }).catch(function (err) {
                console.log(err)
            })
            }).catch(function (err) {
                console.log(err)
                })
        },
        getKanbanData(val){
            this.kanbanLoader = true
            axios.post('/prospects/kanban',val).then(response => {
                this.kanbanSearch = val
                this.kanbanData = response.data.kanban
                // console.log(this.kanban)
                this.getOverview()
                // this.getKanban()
                this.getProspects()
            }).catch(function (err) {
                console.log(err)
            })  .finally(()=>{ 
                this.kanbanLoader = false
                this.newProspect = false
            })
        },
        getKanbanData2(val){
            // this.kanbanLoader = true
            axios.post('/prospects/kanban',val).then(response => {
                this.kanbanSearch = val
                this.kanbanData = response.data.kanban
                // console.log(this.kanban)
                this.getOverview()
                // this.getKanban()
                this.getProspects()
                // console.log(this.kanban)
            }).catch(function (err) {
                console.log(err)
            })  .finally(()=>{ 
                // this.kanbanLoader = false
                // this.newProspect = false
            })
        },
        filterProspects(){   
            this.loader3 = true
            axios.post('/api/prospects',this.search).then(response => {
                this.prospects = response.data.prospects
                
                this.totalval = 0
                for(let v in this.prospects){
                    this.totalval += this.prospects[v].value
                }
            this.loader3 = false
            }).catch(function (err) {
                console.log(err)
            })
        },
        getAccountManagerName(val){
            for(let v in this.account_manager_drop_down){
                if(v == val){
                    return this.account_manager_drop_down[v]
                }
            }
        },
        getStatusName(val){
            for(let v in this.status_drop_down){
                if(v == val){
                    return this.status_drop_down[v]
                }
            }
        },
        editProspect(payload){
            this.prospect = payload
            this.toggleProspect('old')
        },
        viewProspect(payload){
            this.prospect = payload
            this.toggleProspect('old')
        },
        chanceColor(val){
            if(val == 100){
                return 'bg-success'
            }
            if(val >= 75 && val < 100){
                return 'bg-blue'
            }
            if(val >= 50 && val < 75){
                return 'bg-yellow'
            }
            if(val >= 25 && val < 50){
                return 'bg-warning'
            }
            if(val < 25){
                return 'bg-danger'
            }
        }
    },
    mounted(){
        // this.getOverview()
        // this.getKanban()
        // this.getProspects()
        this.activeTab = 'overview'
    }
}

    </script>
    <style scoped>
    .bg-blue{
        background-color: #B4CBF0;
    }
    .bg-yellow{
        background-color: #fdfd96;
    }
    </style>