<template>
    <div class="modal fade show" id="create_task_modal" tabindex="-1" role="dialog" aria-labelledby="create_task_modal_label" aria-hidden="true" :style="modalActive ? 'padding-right: 17px;display: block;' : ''">
        <div class="modal-dialog" role="document">
            <div style="min-width: 1200px;height:93vh" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="create_task_modal_label" style="width: 100%;">
                        New Task <br/>
                    </h5>
                    <button class="close" @click="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body" style="height: calc(100vh - 3.5rem); overflow: auto;">
                    <table class="table table-sm table-borderless">
                        <tr>
                            <td>
                                <div class="form-group input-group mb-0">
                                    <label class="has-float-label mb-0">
                                        <input style="font-size: 17px;" type="text" v-model="new_task.description" class="form-control form-control-sm col-md-12 mb-0" :class="(new_task.description == '' && new_task.project_id != '' ? 'is-invalid' : '')" />
                                        <span>Description</span>
                                    </label>
                                </div>
                            </td>
                            <td class="last">
                                
                            </td>
                            <td class="last pl-4 align-middle">
                                <button v-if="isSending" class="btn btn-sm btn-success" disabled><i class="fa fa-spinner"></i> Saving ...</button>
                                <button v-if="!isSending" @click="saveTask()" class="btn btn-sm btn-success">Save & Close</button>
                            </td>
                        </tr>
                    </table>
                    <table class="table table-sm table-borderless">
                        <tr>
                            <td style="width: 25%">
                                <div class="form-group input-group mb-0">
                                    <label class="has-float-label mb-0">
                                        <select v-model="new_task.employee_id" class="form-control" :class="(new_task.employee_id == '' && new_task.project_id != '' ? 'is-invalid' : '')" :disabled="new_task.project_id == ''">
                                                <option value="">-</option>
                                            <option  v-for="(value,index) in users_drop_down" :key="index" :value="value.id">{{ value.full_name }}</option>
                                        </select>
                                        <span>Consultant</span>
                                    </label>
                                </div>
                            </td>
                            <td style="width: 25%"></td>
                            <td style="width: 50%"></td>
                        </tr>
                    </table>
                    <div class="mb-3 pb-0" style="background-color: #F8F8F8; padding: 15px; border-radius: 7px;">
                        <table class="table table-sm table-borderless mb-0">
                            <tr>
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label">
                                            <select v-model="new_task.project_id" class="form-control" :class="(new_task.project_id == '' ? 'is-invalid' : '')" @change="getCustomer(new_task.project_id)">
                                                <option value="">-</option>
                                                <option  v-for="(value,index) in projects_select" :key="index" :value="value.value">{{ value.text }}</option>
                                            </select>
                                            <span>Project</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label">
                                            <input type="text" v-model="customerValue.text" class="form-control" disabled>
                                            <span>Customer</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label">
                                            <select v-model="new_task.sprint_id" class="form-control" :disabled="new_task.project_id == ''" @change="getGoals(new_task.sprint_id)">
                                                <option value="">-</option>
                                                <option  v-for="(value,index) in sprint_select" :key="index" :value="value.id">{{ value.name }}</option>
                                            </select>
                                            <span>Sprint</span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label">
                                            <select v-model="new_task.user_story_id" class="form-control" :disabled="new_task.project_id == ''" :class="(new_task.user_story_id  == '' && new_task.project_id != '' ? 'is-invalid' : '')" @change="getIfBillable(new_task.user_story_id)">
                                                <option value="">-</option>
                                                <option  v-for="(value,index) in story_select" :key="index" :value="value.id">{{ value.name }}</option>
                                            </select>
                                            <span>User Story</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label">
                                            <select v-model="new_task.dependency" class="form-control" :disabled="new_task.project_id == ''">
                                                <option value="">-</option>
                                                <option  v-for="(value,index) in dependancy_select" :key="index">{{ value.text }}</option>
                                            </select>
                                            <span>Dependancy</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label">
                                            <select v-model="new_task.goal_id" class="form-control" :disabled="new_task.sprint_id == '' || new_task.sprint_id== 0">
                                                <option value="0" selected>-</option>
                                                <option  v-for="(value,index) in goal_drop_down" :key="index" :value="value.id">{{ value.name }}</option>
                                            </select>
                                            <span>Goal</span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                
                                <td class="col-md-4">
                                    <div class="form-group input-group">
                                        <label class="has-float-label">
                                            <select v-model="new_task.status" class="form-control" :class="(new_task.status == '' && new_task.project_id != '' ? 'is-invalid' : '')">
                                                <option value="">-</option>
                                                <option  v-for="(value,index) in statuses_drop_down" :key="index" :value="value.id">{{ value.description }}</option>
                                            </select>
                                            <span>Status</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="col-md-4">
                                </td>
                                <td class="col-md-4">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="min-height:50%">
                    <ul class="nav nav-tabs">
                        <li class="">
                            <a href="#details" :class="selectedTab == 'Details' ? 'active' : ''" data-toggle="tab" @click="changeTab('Details')">Details</a>
                        </li>
                        <li class="">
                            <a href="#timesheets" :class="selectedTab == 'Timesheets' ? 'active' : ''" class="disabled" data-toggle="tab" @click="changeTab('Timesheets')">Timesheets</a>
                        </li>
                        <li class="">
                            <a href="#bug" :class="selectedTab == 'Bug' ? 'active' : ''" data-toggle="tab" @click="changeTab('Bug')">Bug</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="details" :class="selectedTab == 'Details' ? 'show active' : ''">
                            <hr style="margin-top:-1px;"/>
                            <div class="row">
                                <div class="col-md-5">
                                    <table class="table table-sm table-borderless">
                                        <thead>
                                        <tr class="planning-btn">
                                            <th style="border-bottom: 1px solid grey !important;">
                                                Description
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    <quill-editor
                                                        :toolbar="quillToolbar"
                                                        theme="snow"
                                                        content-type="html"
                                                        v-model:content="new_task.note_2"
                                                    ></quill-editor>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-3">
                                    <table class="table table-sm table-borderless">
                                        <thead>
                                        <tr class="planning-btn">
                                            <th style="border-bottom: 1px solid grey !important;">
                                                Planning
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr><td>
                                            <div class="form-group input-group mt-3">
                                                <label class="has-float-label">
                                                    <input type="date" v-model="new_task.start_date" :class="(new_task.start_date == '' && new_task.project_id != '' ? 'is-invalid' : '')" class="form-control form-control-sm col-md-12" />
                                                <span>Start Date</span>
                                                </label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group input-group">
                                                <label class="has-float-label">
                                                    <input type="date" v-model="new_task.end_date" :class="(new_task.end_date == '' && new_task.project_id != '' ? 'is-invalid' : '')" class="form-control form-control-sm col-md-12" />
                                                    <span>End Date</span>
                                                </label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group input-group">
                                                <label class="has-float-label">
                                                    <select v-model="new_task.billable" class="form-control col-md-12">
                                                        <option v-for="(yes_no, index) in yes_no_drop_down" :key="index" :value="yes_no.id">{{yes_no.name}}</option>
                                                    </select>
                                                    <span>Billable</span>
                                                </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td>
                                            <div class="form-group input-group">
                                                <label class="has-float-label">
                                                    <select v-model="new_task.on_kanban" class="form-control col-md-12">
                                                    <option v-for="(yes_no, index) in yes_no_drop_down" :key="index" :value="yes_no.id">{{yes_no.name}}</option>
                                                    </select>
                                                    <span>Display on Kanban</span>
                                                </label>
                                            </div>
                                            </td>
                                        </tr>
                                        <tr><td>
                                            <div class="form-group input-group">
                                                <label class="has-float-label">
                                                    <input type="number" v-model="new_task.hours_planned" class="form-control col-md-12" />
                                                    <span>Hours Planned</span>
                                                </label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group input-group">
                                                <label class="has-float-label">
                                                    <select class="form-control" v-model="new_task.priority">
                                                        <option v-for="(priority,index) in priority_drop_down" :key="index" :value="priority.value">{{ priority.name }}</option>
                                                    </select>
                                                    <span>Priority<font class="pl-1"><i class="far fa-question-circle" data-toggle="tooltip" data-html="true" title="Select a priority level between 0 and 5. 1 is high and 5 is low. 0 is not applicable"></i></font></span>
                                                </label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group input-group">
                                                <label class="has-float-label">
                                                    <input type="number" v-model="new_task.weight" class="form-control col-md-12" />
                                                    <span>Weight</span>
                                                </label>
                                            </div>
                                        </td></tr>
                                        <tr><td>
                                            <div class="form-group input-group">
                                                <label class="has-float-label">
                                                    <input type="number" v-model="new_task.remaining_time" class="form-control col-md-12" />
                                                    <span>Remaining</span>
                                                </label>
                                            </div>
                                        </td></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-4">
                                    <table class="table table-sm table-borderless">
                                        <thead>
                                        <tr class="planning-btn">
                                            <th colspan="2" style="border-bottom: 1px solid grey !important;">
                                                Attachments
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="2">
                                                <label><button @click="clickFile()" style="color: #ffffff;" class="btn btn-sm btn-warning" :class="new_file != null ? 'disabled' : ''"><i class="fa fa-plus"></i> Add File</button></label>
                                                <input id="new_file" type="file" @change="onFileChangeNew"  class="form-control form-control-sm col-md-12 d-none" value=""/>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-sm table-borderless">
                                        <thead>
                                        <tr class="planning-btn">
                                            <th colspan="2" style="border-bottom: 1px solid grey !important;">
                                                Definition of Ready
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="2">
                                                    <div class="input-group" style="display:flex !important">
                                                        <input type="text" v-model="new_task.readyDefinition" class="form-control">
                                                        <div class="input-group-append">
                                                            <button style="color: #ffffff;" :disabled="new_task.readyDefinition && new_task.readyDefinition.length < 3" class="btn btn-warning toolt" @click="addNewReady()"><i class="fa fa-plus"></i><span class="tooltiptext">Add the definition of ready</span></button>
                                                        </div>
                                                    </div>
                                                    </td>
                                        </tr>
                                        <tr v-for="(ready,index) in new_task.ready" :key="index">
                                            <td v-if="ready.canEdit == 0"><input type="checkbox" :checked="ready.value == 1" @click="checkNewReady($event,index)" />  {{ ready.name }}</td>
                                                <td v-if="ready.canEdit == 0" class="last">
                                                <div class="d-flex float-right">
                                                    <a href="javascript:void(0)" class="btn btn-sm"><i class="fas fa-pencil-alt text-success" @click="editNewReady(index)" :disabled="ready.value == 1" :style="ready.value == 1 ? 'disabled' : ''"></i></a>
                                                    <a href="javascript:void(0)" class="btn btn-sm mr-1" @click="removeNewReady(index)"><i class="fas fa-trash text-danger" :disabled="ready.value == 1" :style="ready.value == 1 ? 'disabled' : ''"></i></a>
                                                </div></td>
                                                <td colspan="2" v-if="ready.canEdit == 1">
                                                    <div class="input-group" style="display:flex !important">
                                                        <input type="text" class="form-control" v-model="ready.name">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-dark toolt" type="button" id="button-addon" @click="updateNewReady(index)"><i class="fas fa-save"></i><span class="tooltiptext">Save definition of ready</span></button>
                                                        </div>
                                                    </div>
                                                </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-sm table-borderless">
                                        <thead>
                                        <tr class="planning-btn">
                                            <th colspan="2" style="border-bottom: 1px solid grey !important;">
                                                Definition of Done
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="2">
                                                    <div class="input-group" style="display:flex !important">
                                                        <input type="text" v-model="new_task.doneDefinition" class="form-control">
                                                        <div class="input-group-append">
                                                            <button style="color: #ffffff;" :disabled="new_task.doneDefinition && new_task.doneDefinition.length < 3" class="btn btn-warning toolt" @click="addNewDone()"><i class="fa fa-plus"></i><span class="tooltiptext">Add the definition of done</span></button>
                                                        </div>
                                                    </div>
                                                    </td>
                                        </tr>
                                        <tr v-for="(done,index) in new_task.done" :key="index">
                                            <td v-if="done.canEdit == 0"><input type="checkbox" :checked="done.value == 1" @click="checkNewDone($event,index)" />  {{ done.name }}</td>
                                                <td v-if="done.canEdit == 0" class="last">
                                                <div class="d-flex float-right">
                                                    <a href="javascript:void(0)" class="btn btn-sm"><i class="fas fa-pencil-alt text-success" @click="editNewDone(index)" :disabled="done.value == 1" :style="done.value == 1 ? 'disabled' : ''"></i></a>
                                                    <a href="javascript:void(0)" class="btn btn-sm mr-1" @click="removeNewDone(index)"><i class="fas fa-trash text-danger" :disabled="done.value == 1" :style="done.value == 1 ? 'disabled' : ''"></i></a>
                                                </div></td>
                                                <td colspan="2" v-if="done.canEdit == 1">
                                                    <div class="input-group" style="display:flex !important">
                                                        <input type="text" class="form-control" v-model="done.name">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-dark toolt" type="button" id="button-addon" @click="updateNewDone(index)"><i class="fas fa-save"></i><span class="tooltiptext">Save definition of done</span></button>
                                                        </div>
                                                    </div>
                                                </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="bug" :class="selectedTab == 'Bug' ? 'show active' : ''">
                            <hr style="margin-top:-1px;"/>
                            <div class="row row-cols-4 pt-4">
                                <div class="col">
                                    <div class="form-check form-check-inline pl-3">
                                        <input class="form-check-input" v-model="new_task.is_bug" type="checkbox" @change="taskIsBug()">
                                        <font class="form-check-label font-weight-normal">This task is a bug<font class="pl-1"><sup><i class="far fa-question-circle" data-toggle="tooltip" data-html="true" title="Select to indicate that this ticket is for a bug"></i></sup></font></font>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group input-group">
                                        <label class="has-float-label">
                                            <input class="form-control" v-model="new_task.ref">
                                            <span>Reference Number<font class="pl-1"><i class="far fa-question-circle" data-toggle="tooltip" data-html="true" title="Text reference to ticket number"></i></font></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group input-group">
                                        <label class="has-float-label">
                                            <select class="form-control" v-model="new_task.severity">
                                                <option :value="-1"></option>
                                                <option v-for="(severity,index) in severity_drop_down" :key="index" :value="severity.value">{{ severity.name }}</option>
                                            </select>
                                            <span>Severity<font class="pl-1"><i class="far fa-question-circle" data-toggle="tooltip" data-html="true" title="Select a value between 1 and 5 where 5 is high and 1 is low"></i></font></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group input-group">
                                        <label class="has-float-label">
                                            <select class="form-control" v-model="new_task.priority">
                                                <option v-for="(priority,index) in priority_drop_down" :key="index" :value="priority.value">{{ priority.name }}</option>
                                            </select>
                                            <span>Priority<font class="pl-1"><i class="far fa-question-circle" data-toggle="tooltip" data-html="true" title="Select a priority level between 0 and 5. 1 is high and 5 is low. 0 is not applicable"></i></font></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { quillToolbarOptions } from "@/utils/quill";
import {QuillEditor} from "@vueup/vue-quill";
import Datepicker from '@vuepic/vue-datepicker';

    export default {
        components: {
            QuillEditor,
            Datepicker
        },
        props:['statusId','modalAddTask','selected_project','selected_user_story','search','bugTask'],
        data(){
            return {
                selectedTab: 'Details',
                modalActive: this.modalAddTask,
                projects_select:[],
                users_drop_down:[],
                customer_select:[],
                sprint_select:[],
                story_select:[],
                dependancy_select:[],
                yes_no_drop_down:[],
                goal_drop_down:[],
                statuses_drop_down:[],
                severity_drop_down:[
                    {name:0,value:0},
                    {name:1,value:1},
                    {name:2,value:2},
                    {name:3,value:3},
                    {name:4,value:4},
                    {name:5,value:5}
                ],
                priority_drop_down:[
                    {name:0,value:0},
                    {name:1,value:1},
                    {name:2,value:2},
                    {name:3,value:3},
                    {name:4,value:4},
                    {name:5,value:5}
                ],
                isSending:false,
                quillToolbar: quillToolbarOptions(),
                new_file:null,
                new_task: {
                    description: '',
                    employee_id: 0,
                    project_id: this.selected_project,
                    customer_id: 0,
                    sprint_id: 0,
                    goal_id:0,
                    user_story_id: this.selected_user_story??0,
                    dependency: 0,
                    status: this.statusId > 0 ? this.statusId : 3,
                    note_2: '<p><br></p>',
                    start_date: this.today(),
                    end_date: this.today(),
                    on_kanban: 1,
                    billable: 1,
                    hours_planned: 0,
                    weight: 0,
                    remaining_time: 0,
                    ready:[],
                    done:[],
                    is_bug:this.bugTask,
                    severity:this.bugTask ? 1 : -1,
                    priority:0,
                    ref:''
                },
                customerValue:{
                    value:'',
                    text:''
                }
            }
        },
        methods:{
            closeModal(){
                this.$emit('close-modal')
            },
            taskIsBug(){
                if(this.new_task.is_bug){
                    this.new_task.severity = 1
                } else {
                    this.new_task.severity = -1
                }
            },
            changeTab(val){
                this.selectedTab = val
            },
            today(){
                let date = new Date();
                let day, month;
                day = date.getDate() < 10 ? '0'+date.getDate():date.getDate();
                month = (date.getMonth() + 1) < 10 ? '0'+(date.getMonth()+1) : (date.getMonth()+1);

                return date.getFullYear()+'-'+month+'-'+day;
            },
            searchSelectFormat(data, field){
                return data.map(v => {
                    return {
                    value: v.id,
                    text: v[field]
                    }
                })
            },
            clickFile(){
                document.getElementById("new_file").click();
            },
            selectedProject(projects){
                projects.forEach((project, index) => {
                    if (project.id == this.search.project_id && this.new_task.project_id == 0){
                    this.new_task.project_id = project.id
                    }
                });
            },
            getIfBillable(user_story_id){
                if(user_story_id > 0){
                    axios.get('/kanban/getiftaskbillable/'+user_story_id).then(response => {
                            this.new_task.billable = response.data
                    }).catch(function (err) {
                        console.log(err)
                    })
                }
            },
            getGoals(sprint){
                if(sprint && sprint > 0){
                axios.get('/api/goal/'+sprint, {})
                    .then(response => {
                        this.goal_drop_down = response.data.goals
                        
                        this.new_task.end_date = response.data.sprint.end_date
                        this.new_task.start_date = response.data.sprint.start_date
                        if(this.goal_drop_down[0]){
                            this.new_task.goal_id = this.goal_drop_down[0].id
                            
                        } else {
                            this.new_task.goal_id = 0
                        }
                    });
                }
            },
            getCustomer(project_id){
                if(project_id > 0){
                    this.getAddTaskDropdowns(project_id)
                } else {
                    this.customerValue = {
                        value: '',
                        text: ''
                    }
                }
            },
            getAddTaskDropdowns(project_id){
                axios.get('/kanban/dropdowns/'+project_id)
                    .then(res => {
                        let response = res.data;
                        if(response.customer.id){
                            this.customerValue = {
                                value: response.customer.id,
                                text: response.customer.customer_name
                            }
                            this.new_task.customer_id = response.customer.id;
                        } else {
                            this.customerValue = {
                                value: '',
                                text: ''
                            }
                        }
                        this.users_drop_down = response.users_drop_down;
                        this.projects_select = this.searchSelectFormat(response.projects_drop_down, "name");
                        this.selectedProject(response.projects_drop_down);
                        this.customer_select = this.searchSelectFormat(response.customers_drop_down, "customer_name");
                        this.sprint_select = JSON.parse(JSON.stringify(response.sprints_drop_down));
                        this.story_select = JSON.parse(JSON.stringify(response.user_story_drop_down));
                        this.dependancy_select = this.searchSelectFormat(response.tasks_drop_down, "description");
                        this.yes_no_drop_down = response.yes_no_drop_down;
                        this.statuses_drop_down = JSON.parse(JSON.stringify(response.statuses_drop_down))
                        this.isSending = false;
                        this.new_task.billable = response.is_billable
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
            saveTask() {

                if(this.new_task.description === ""){
                    alert("Please fill in the task description");
                    return false;
                }

                if(this.new_task.employee_id === 0){
                    alert("Please select consultant");
                    return false;
                }

                if(this.new_task.project_id === 0){
                    alert("Please select project");
                    return false;
                }

                if(this.new_task.customer_id === 0){
                    alert("Please select customer");
                    return false;
                }

                if(this.new_task.user_story_id === 0){
                    alert("Please select user story");
                    return false;
                }

                if(this.new_task.status === 0){
                    alert("Please select user status");
                    return false;
                }

                if(this.new_task.start_date === ''){
                    alert("Please select start date");
                    return false;
                }

                if(this.new_task.end_date === ''){
                    alert("Please select end date");
                    return false;
                }

                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                }

                let formData = new FormData();
                formData.append('description', this.new_task.description);
                formData.append('employee_id', this.new_task.employee_id);
                formData.append('project_id', this.new_task.project_id);
                formData.append('customer_id', this.new_task.customer_id);
                if(this.new_task.sprint_id){
                    formData.append('sprint_id', this.new_task.sprint_id);
                } else {
                    formData.append('sprint_id', 0);
                }
                if(this.new_task.goal_id){
                    formData.append('goal_id', this.new_task.goal_id);
                } else {
                    formData.append('goal_id', 0);
                }
                formData.append('user_story_id', this.new_task.user_story_id);
                if(this.new_task.dependency){
                formData.append('dependency', this.new_task.dependency);
                } else {
                    formData.append('dependency', 0);
                }
                formData.append('status', this.new_task.status);
                formData.append('note_2', this.new_task.note_2);
                formData.append('start_date', this.new_task.start_date);
                formData.append('end_date', this.new_task.end_date);
                formData.append('billable', this.new_task.billable);
                formData.append('hours_planned', this.new_task.hours_planned);
                formData.append('weight', this.new_task.weight);
                formData.append('remaining_time', this.new_task.remaining_time);
                formData.append('new_file', this.new_file);
                formData.append('user_id', this.user_id);
                formData.append('selected_tasks', this.selected_tasks);
                formData.append('on_kanban', this.new_task.on_kanban);
                formData.append('ready', JSON.stringify(this.new_task.ready));
                formData.append('done', JSON.stringify(this.new_task.done));
                formData.append('is_bug', this.new_task.is_bug);
                formData.append('ref', this.new_task.ref);
                formData.append('priority', this.new_task.priority);
                formData.append('severity', this.new_task.severity);

                this.isSending = true;

                axios.post('/api/task/savetask', formData, config)
                    .then(response => {
                        this.new_file = null;
                        this.new_task.description = '';
                        this.new_task.employee_id = 0;
                        this.new_task.project_id = 0;
                        this.new_task.customer_id = 0;
                        this.new_task.sprint_id = 0;
                        this.new_task.user_story_id = 0;
                        this.new_task.dependency = 0;
                        this.new_task.status = 0;
                        this.new_task.note_2 = '<p><br></p>';
                        this.new_task.start_date = this.today();
                        this.new_task.end_date = this.today();
                        this.new_task.billable = '';
                        this.new_task.hours_planned = 0;
                        this.new_task.weight = 0;
                        this.new_task.remaining_time = 0;
                        this.new_task.on_kanban = 0;
                        this.new_task.ready = [];
                        this.new_task.readyDefinition = '';
                        this.new_task.done =[];
                        this.new_task.doneDefinition = '';
                        this.new_task.is_bug = false;
                        this.new_task.ref = '';
                        this.new_task.severity = -1;
                        this.new_task.priority = 0;
                        this.isSending = false;
                        toastr.success('<strong>Success!</strong> Task successfully saved.');

                        toastr.options.timeOut = 1000;
                        this.$emit('close-modal',{isSaved:true,task: response.data.task})
                    })
                    .catch(error => {
                        console.log(error);
                        this.isSending = false;
                        this.new_file = null;
                        this.new_task.description = '';
                        this.new_task.employee_id = 0;
                        this.new_task.project_id = 0;
                        this.new_task.customer_id = 0;
                        this.new_task.sprint_id = 0;
                        this.new_task.user_story_id = 0;
                        this.new_task.dependency = 0;
                        this.new_task.status = 0;
                        this.new_task.note_2 = '<p><br></p>';
                        this.new_task.start_date = this.today();
                        this.new_task.end_date = this.today();
                        this.new_task.billable = '';
                        this.new_task.hours_planned = 0;
                        this.new_task.weight = 0;
                        this.new_task.remaining_time = 0;
                        this.new_task.on_kanban = 0;
                        this.new_task.ready = [];
                        this.new_task.readyDefinition = '';
                        this.new_task.done =[];
                        this.new_task.doneDefinition = '';
                        this.new_task.is_bug = false;
                        this.new_task.ref = '';
                        this.new_task.severity = -1;
                        this.new_task.priority = 0;
                        this.isSending = false;
                        
                        toastr.error('<strong>Error!</strong> An error occured, could not save the task.');

                        toastr.options.timeOut = 1000;
                        
                        this.$emit('close-modal')
                    });

            },
            addNewReady(){
                this.new_task.ready.push({'canEdit':0,'name': this.new_task.readyDefinition,'value': 0})
                this.new_task.readyDefinition = ''
            },
            addNewDone(){
                this.new_task.done.push({'canEdit':0,'name': this.new_task.doneDefinition,'value': 0})
                this.new_task.doneDefinition = ''
            },
            editNewDone(index){
                this.new_task.done[index].canEdit = 1
            },
            editNewReady(index){
                this.new_task.ready[index].canEdit = 1
            },
            updateNewReady(index){
                this.new_task.ready[index].canEdit = 0
            },
            updateNewDone(index){
                this.new_task.done[index].canEdit = 0
            },
            removeNewReady(index){
                this.new_task.ready = this.new_task.ready.filter((item, i) => i !== index)
            },
            removeNewDone(index){
                this.new_task.done = this.new_task.done.filter((item, i) => i !== index)
            },
            checkNewReady(event,index){
                this.new_task.ready.map(function(value,key){
                    if(key == index){
                        value.value = (event.target.checked ? 1 : 0)
                    }
                })
            },
            checkNewDone(event,index){
                this.new_task.done.map(function(value,key){
                    if(key == index){
                        value.value = (event.target.checked ? 1 : 0)
                    }
                })
            },
        },
        created(){
            this.getAddTaskDropdowns(this.selected_project)
        }
    }
</script>
<style>

label{
    text-align: left !important;
    width:100%;
}
.vuemodal2{
    background: #ffffff;
    padding: 15px;
    width:35vw;
    border-radius: 7px;
    position: absolute;
}

.multiselect{
    height:38px;
    min-height:38px;
}
</style>