<template>
    <table class="table table-sm table-borderless">
        <thead>
        <tr class="planning-btn" v-on:click="discussionFlag = !discussionFlag">
            <th style="border-bottom: 1px solid grey !important;">
                Discussion<i v-if="discussionFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!discussionFlag" class="float-right fa fa-chevron-up"></i>
            </th>
        </tr>
        </thead>
        <tbody v-if="discussionFlag">
        <tr>
            <td id="message_td">
              <div ref="editor" id="message" ></div>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <button v-if="!sendingMessage" style="margin-bottom: 5px; margin-top: 5px; color: #ffffff;" v-on:click="addMessage()" class="btn btn-sm btn-warning">Save Note</button>
                <button v-if="sendingMessage" style="margin-bottom: 5px; margin-top: 5px; color: #ffffff;" class="btn btn-sm btn-warning" disabled><i class="fa fa-spinner"></i> Save Note</button>
            </td>
        </tr>
        <tr v-for="(message, index) in messages" :key="index">
            <td>
                <table class="table table-sm table-borderless" v-if="message.user">
                    <tbody>
                    <tr>
                        <td>
                            <div class="row col-md-12 p-2" style="background-color: rgba(108,117,125,.25); border-radius: 7px;">
                            <div class="col-md-1"><span class="chat-initials" :title="message.user.first_name + ' ' + message.user.last_name"><img :src="uiAvatars(message.user)" class="chat-initials" alt=""></span></div>
                            <div class="col-md-11 p-0" v-html="message.note"></div>
                            <div class="col-md-12 text-right"><small>{{ formatDate(message.created_at) }}</small></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
      
    </template>
     
    <script>
    import {defineComponent} from 'vue';
    import Quill from "quill";
    import {Mention, MentionBlot} from "quill-mention";
    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import { quillToolbarOptions } from "@/utils/quill";
    
    Quill.register({
  "blots/mention": MentionBlot,
  "modules/mention": Mention,
});

    
    export default defineComponent({
          name: "CreateTemplate",
          props:['task','user_id','users'],
          watch: {
          task: {
              handler(newValue, oldValue) {
                this.getMessages(newValue.id)
              },
              deep: true,
            },
          users: {
              handler(newValue, oldValue) {
                let data = []
                for(let v in newValue){
                  data.push({id:newValue[v].id,value:newValue[v].full_name})
                }
                let mention = this.quill?.getModule('mention');

                // Update the source function
                mention.options.source = function(searchTerm, renderList) {
                  const matches = data.filter(item =>
                      item.value.toLowerCase().includes(searchTerm.toLowerCase())
                  );
                  renderList(matches);
                };
              },
              deep: true,
            },
          },
          mounted() {
            const atValues = this.mentions
            const hashValues = [];
            const quill = new Quill(this.$refs.editor, {
              theme: 'snow',
              modules: {
                toolbar: quillToolbarOptions(),
                mention: {
                  allowedChars: /^[A-Za-z\sÅÄÖåäö]*$/,
                  mentionDenotationChars: ["@", "#"],
                  source: function(searchTerm, renderList, mentionChar) {
                    let values;
                    if (mentionChar === "@") {
                      values = atValues;
                    } else {
                      values = hashValues;
                    }

                    if (searchTerm.length === 0) {
                      renderList(values, searchTerm);
                    } else {
                      const matches = [];
                      for (let i = 0; i < values.length; i++)
                        if (
                            ~values[i].values.toLowerCase().indexOf(searchTerm.toLowerCase())
                        )
                          matches.push(values[i]);
                      renderList(matches, searchTerm);
                    }
                  }
                }
              }
            });

            this.quill = quill
          },
          data(){
            return {
              discussionFlag:true,
              sendingMessage:false,
              message:'',
              messages:[],
              mentions:[],
              quill:null
            }
          },
          methods:{
            uiAvatars(consultant){
                return 'https://ui-avatars.com/api/?name='+consultant.first_name+'+'+consultant.last_name+'&background=random&format=svg&bold=true';
            },
            formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) 
                    month = '0' + month;
                if (day.length < 2) 
                    day = '0' + day;

                return [year, month, day].join('-');
            },
            addMessage(){
                let err = 0

                this.message = document.getElementById("message").getElementsByClassName("ql-editor")[0].innerHTML

                if(this.message.length > 0 && this.message != '<p><br></p>'){
                } else {
                    err++
                this.alert("Discussion message cannot be empty.",'','',{confirmButtonText: 'Ok'});
                }

                if(err == 0){
                this.sendingMessage = true;
                axios.post('/api/task/message/'+this.task.id, {
                    message: this.message,
                    user_id: this.user_id
                })
                    .then(response => {
                        this.message = '<p><br></p>';
                        document.getElementById("message").getElementsByClassName("ql-editor")[0].innerHTML = '<p><br></p>'
                        this.getMessages(this.task.id);
                        this.sendingMessage = false;
                    })
                    .catch(error => {
                        alert('An error occured, could not save the task.');
                        this.sendingMessage = false;
                    });
                }
            },
            getMessages(task_id){
                axios.get('/api/task/getmessages/'+task_id, {})
                    .then(response => {
                        this.messages = response.data;
                    });
            },
            initQuill: function (){
              const atValues = this.mentions;
              const hashValues = [

              ];

              let editor = this.$refs.editor;

              const quill = new Quill(editor, {
                theme: 'snow',
                modules: {
                  toolbar: quillToolbarOptions(),
                  mention: {
                    allowedChars: /^[A-Za-z\sÅÄÖåäö]*$/,
                    mentionDenotationChars: ["[", "#"],
                    source: function(searchTerm, renderList, mentionChar) {
                      let values;

                      if (mentionChar === "[") {
                        values = atValues;
                      } else {
                        values = hashValues;
                      }

                      if (searchTerm.length === 0) {
                        renderList(values, searchTerm);
                      } else {
                        const matches = [];
                        for (let i = 0; i < values.length; i++)
                          if (
                              ~values[i].value.toLowerCase().indexOf(searchTerm.toLowerCase())
                          )
                            matches.push(values[i]);
                        renderList(matches, searchTerm);
                      }
                    }
                  }
                }
              });

              // quill.root.onblur = () => this.form.template_body = quill.root.innerHTML;

              this.quill = quill;
            }
          }
    })
    </script>
