<template>
    <div class="icon-option">
        <span v-html="icon"></span> {{ name }}
    </div>
</template>

<script>
    export default {
        props: {
            icon: String,
            name: String
        }
    }
</script>

<style scoped>
    .icon-option {
        display: flex;
        align-items: center;
    }
    .icon-option span {
        margin-right: 8px;
    }
</style>
  