<template>
    <TaskFilters :show-timeframe="showTimeframe" :show-actuals="showActuals" :show-hours="showHours" :proj-id="project_id" :task-filters="kanban_filters" :user-id="user_id" :permissions="permissions" :view="viewr" />
</template>

<script setup>

import axios from 'axios';
import route from '../../../js/routes';
import TaskFilters from "./TasksComponent.vue";

</script>
<script>

export default {
    name:'KanbanComponent',
    props: {
        kanbanFilters:{
            type:Object,
            default:{}
        },
        projectId:{
            type:Number,
            default:0
        },
        authUser:{
            type:Number,
            default:0
        },
        showTimeframe:{
            type:Number,
            default:0
        },
        showHours:{
            type:Number,
            default:0
        },
        showActuals:{
            type:Number,
            default:0
        },
        permissions:{
            type:Object,
            default:{}
        },
        viewr:{
            type:String,
            default:''
        }
    },
    watch: {
        viewr: {
            deep: true,
            handler(newValue, oldValue) {
                console.log(newValue);
            }
        }
    },
    data() {
        return {
            project_id:this.projectId,
            kanban_filters:this.kanbanFilters,
            user_id:this.authUser
        }
    },
    methods: {
        
    },
    mounted(){
    }
}

</script>