<template>
<div>
    <div class="container-fluid container-title" style="padding:0px !important;">
        <h3>Kanban Board</h3>
        <a href="javascript:void(0)" @click="openAddTask(true)" class="btn btn-danger float-right" style="margin-right: 10px;"><i class="fa fa-bug" aria-hidden="true"></i> Bug</a>
        <a href="javascript:void(0)" @click="openAddTask(false)" class="btn btn-dark float-right" style="margin-right: 10px;"><i class="fa fa-plus"></i> Task</a>
        <a href="" class="btn btn-danger float-right" style="margin-right: 10px;"><i class="fa fa-plus"></i> Risk</a>
        <button onclick="history.back()" class="btn btn-dark float-right mr-2"><i class="fa fa-caret-left"></i> Back</button>
    </div>
    <div class="row col-md-12 m-0 p-0">
        <div class="col-md-8 p-0 m-0">
            <ul class="nav nav-tabs" v-if="selected_project != 0">
                <li class="" v-if="permissions && permissions[6] && permissions[6]['permission'] && (permissions[6]['permission'] == 'View' || permissions[6]['permission'] == 'Create' || permissions[6]['permission'] == 'Update' || permissions[6]['permission'] == 'Full')"><a :href="'/task?project_id='+selected_project">Tasks - List</a></li>
                <li class="active" v-if="permissions && permissions[7] && permissions[7]['permission'] && (permissions[7]['permission'] == 'View' || permissions[7]['permission'] == 'Create' || permissions[7]['permission'] == 'Update' || permissions[7]['permission'] == 'Full')"><a href="">Tasks - Kanban Board</a></li>
                <li class="" v-if="permissions && permissions[8] && permissions[8]['permission'] && (permissions[8]['permission'] == 'View' || permissions[8]['permission'] == 'Create' || permissions[8]['permission'] == 'Update' || permissions[8]['permission'] == 'Full')"><a :href="'/task/treeviewnew/'+selected_project">Tree View</a></li>
                <li class="" v-if="permissions && permissions[11] && permissions[11]['permission'] && (permissions[11]['permission'] == 'View' || permissions[11]['permission'] == 'Create' || permissions[11]['permission'] == 'Update' || permissions[11]['permission'] == 'Full')"><a :href="'/task/gantt/'+selected_project">Gantt</a></li>
                <li class="" v-if="permissions && permissions[9] && permissions[9]['permission'] && (permissions[9]['permission'] == 'View' || permissions[9]['permission'] == 'Create' || permissions[9]['permission'] == 'Update' || permissions[9]['permission'] == 'Full')"><a :href="'/task/sprint/'+selected_project">Sprint</a></li>
                <li class="" v-if="permissions && permissions[10] && permissions[10]['permission'] && (permissions[10]['permission'] == 'View' || permissions[10]['permission'] == 'Create' || permissions[10]['permission'] == 'Update' || permissions[10]['permission'] == 'Full')"><a :href="'/task/risk/'+selected_project">Risks</a></li>
            </ul>
            <ul style="list-style: none;" v-else><li></li></ul>
        </div>
        <div class="col-md-4 text-right p-0 m-0 align-self-center">
            Manage Tasks by:
            <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="user_story" value="user_story" @change="filterResults()" v-model="search.view">
            <label class="form-check-label" for="user_story">User Story</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="consultant" value="consultant" @change="filterResults()" v-model="search.view">
            <label class="form-check-label" for="consultant">Consultant</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="priority" value="priority" @change="filterResults()" v-model="search.view">
            <label class="form-check-label" for="priority">Priority</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="all" value="all" @change="filterResults()" v-model="search.view">
            <label class="form-check-label" for="all">All</label>
            </div>
        </div>
    </div>
    <hr style="margin-top: -1px">
    <div class="row pt-2 pb-1">
        <div class="col-md-2 col-sm-12">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <select class="form-control search w-100" v-model="search.company" @change="filterResults()" :style="searchloader ? 'cursor-events:none' : ''">
                        <option value="">All</option>
                        <option v-for="value in search.company_drop_down" :key="value.id" :value="value.id" >{{value.company_name}}</option>
                    </select>
                    <span>Company</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <select class="form-control search w-100" v-model="search.customer" @change="filterResults()" :style="searchloader ? 'cursor-events:none' : ''">
                        <option value="">All</option>
                        <option v-for="value in search.customers_drop_down" :key="value.id" :value="value.id" >{{value.customer_name}}</option>
                    </select>
                    <span>Customer</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <select class="form-control search w-100" v-model="search.project_id"  @change="filterResults()" :style="searchloader ? 'cursor-events:none' : ''">
                        <option :value="0">All</option>
                        <option v-for="(value) in projects" :key="value.id" :value="value.id" >{{value.name}}</option>
                    </select>
                  <span>Projects</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <select class="form-control search w-100" v-model="search.resource" @change="filterResults()" :style="searchloader ? 'cursor-events:none' : ''">
                        <option value="">All</option>
                        <option v-for="value in search.users" :key="value.id" :value="value.id" >{{value.full_name == '-' ? '&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;' : value.full_name}}</option>
                    </select>
                    <span>Resource</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <!-- {{Form::select('team', $team_drop_down, old('team'), ['class'=>' form-control search', 'style'=>'width: 100%;'])}} -->
                    <select class="form-control search w-100" v-model="search.team" @change="filterResults()" :style="searchloader ? 'cursor-events:none' : ''">
                        <option value="">All</option>
                        <option v-for="value in search.team_drop_down" :key="value.id" :value="value.id" >{{value.team_name}}</option>
                    </select>
                    <span>Team</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <!-- {{Form::select('status', $task_status_drop_down, old('status'), ['class'=>' form-control search', 'style'=>'width: 100%;'])}} -->
                    <select v-model="search.status" class="form-control search w-100" @update:model-value="filterResults()" :style="searchloader ? 'cursor-events:none' : ''">
                        <option value="">All</option>
                        <option v-for="value in search.statuses_drop_down" :key="value.id" :value="value.id" >{{value.description}}</option>
                    </select>
                    <span>Status</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row pt-0 mt-0 pb-2">
        <div class="col-md-2 col-sm-12" style="max-width:14.2%">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <Datepicker v-model="search.start_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" @update:model-value="filterResults()" :style="searchloader ? 'cursor-events:none' : ''" />
                    <span>Start Date</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12" style="max-width:14.2%">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <Datepicker v-model="search.end_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" @update:model-value="filterResults()" :style="searchloader ? 'cursor-events:none' : ''" />
                    <span>End Date</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12" style="max-width:15.5%">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <select v-model="search.sprint" class="form-control search w-100" @update:model-value="filterResults()" :style="searchloader ? 'cursor-events:none' : ''">
                        <option value="">All</option>
                        <option value="-1">Unallocated</option>
                        <option v-for="value in search.sprints_drop_down" :key="value.id" :value="value.id" >{{value.name == '-' ? '&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;' : value.name}}</option>
                    </select>
                    <span>Sprint</span>
                </label>
            </div>
        </div>
            <div class="col-md-2 col-sm-12" style="max-width:10%">
                <div class="form-group input-group">
                        <label class="has-float-label">
                        <select class="form-control search w-100" v-model="search.on_kanban" @update:model-value="filterResults()" :style="searchloader ? 'cursor-events:none' : ''">
                            <option value="-1">All</option>
                            <option v-for="value in search.yes_no_drop_down" :key="value.id" :value="value.id" >{{value.name}}</option>
                        </select>
                        <span>Display On Kanban</span>
                    </label>
                </div>
            </div>
        <div class="col-md-2 col-sm-12" style="max-width:7%">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <select class="form-control search w-100" v-model="search.task_tag" @update:model-value="filterResults()" :style="searchloader ? 'cursor-events:none' : ''">
                        <option value="-1">All</option>
                        <option v-for="value in tasktags" :key="value.id" :value="value.id">
                            <IconOption :icon="value.icon" :name="value.name" />
                        </option>
                    </select>
                    <span>Tag</span>
                </label>
            </div>
        </div>
            <div class="col-md-2 col-sm-12" style="max-width:7%">
                <div class="form-group input-group">
                        <label class="has-float-label">
                        <select class="form-control search w-100" v-model="search.bugs" @update:model-value="filterResults()" :style="searchloader ? 'cursor-events:none' : ''">
                            <option value="-1">All</option>
                            <option v-for="value in search.yes_no_drop_down" :key="value.id" :value="value.id" >{{value.name}}</option>
                        </select>
                        <span>Bugs</span>
                    </label>
                </div>
            </div>
            <div class="col-md-2 col-sm-12" style="max-width:7%">
                <div class="form-group input-group">
                        <label class="has-float-label">
                        <select class="form-control search w-100" v-model="search.priority" @update:model-value="filterResults()" :style="searchloader ? 'cursor-events:none' : ''">
                            <option value="-1">All</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <span>Priority</span>
                    </label>
                </div>
            </div>
        <div class="col-md-2 col-sm-12" style="max-width:11%">
            <div class="form-group input-group">
                    <label class="has-float-label">
                        <input v-model="search.task_id" @keyup.enter="filterResults()" type="text" class="form-control search w-100" :style="searchloader ? 'cursor-events:none' : ''" />
                        <span>ID</span>
                    </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12" style="max-width:14%">
            <a href="javascript:void(0)" class="btn btn-info  w-100" @click="clearFilter()" :style="searchloader ? 'cursor-events:none' : ''">Clear Filters</a>
        </div>
    </div>
    <div>
        <div v-if="loader" style="min-height:45px;width:100%;height:100%;position: relative;">
        <div class="clock" style="left:55%;margin-top:-30px;"></div>
        </div> 
        <div v-else class="w-100" style="overflow-x: scroll; flex-wrap: nowrap;/*height:calc(100vh - 23rem)*/">
            <div v-if="search.view == 'user_story'" style="white-space: nowrap;display: inline-block;width: 100%;">
                <div v-for="userStory in kanbanTasks" :key="userStory.id" :data-user-story-id="userStory.id" class="user-story w-100 pb-3">
                    <a href="javascript:void(0)" @click="viewUserStory(userStory.feature_id,userStory)"><h4>{{ userStory.name }}</h4></a>
                    <div class="" style="overflow-y: scroll;">
                    <div class="task-board d-inline-block" style="vertical-align: top;" :class="task_status_count" v-for="(tasks, stage) in userStory.tasks" :key="stage" :data-stage="stage" :data-user-story-id="userStory.id" :data-status-id="tasks.id">                        
                        <p class="board-heading">{{tasks.description}} <span style="font-weight:normal;float:right;">({{ tasks.total_count }})</span></p>
                        <div :style="'height:'+userStory.height+'px;min-height:20px;max-height:500px;overflow-x: auto;'" :id="userStory.id+'_'+tasks.id">
                        <draggable :list="tasks.tasks"  group="tasks" itemKey="id" @change="handleUserStoryTaskMove">
                            <template #item="{ element }">
                                <div :class="'card card_'+element.id+' text-error ui-sortable-handle pt-2 pl-2 pr-2'" :id="element.id">
                                    <div class="p-0 m-0">
                                        <table class="table table-sm table-borderless p-0 mb-1">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a :style="element.bug_task !== null ? 'color:#dc3545 !important,cursor:pointer !important;' : 'cursor:pointer !important;'" @click="viewTask(element)">
                                                        <div class="d-flex justify-content-between">
                                                            <span class="flex-1" style="white-space:break-spaces;"><b>{{element.id}}</b> {{element.description}}</span>
                                                            <span v-if="!element.goal_id && element.sprint_id" class="bg-danger rounded-circle mt-1 blink" style="width: 15px;height: 15px"></span>
                                                        </div>
                                                        </a>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span 
                                                            v-if="element.emote_id !== null && getTagById(element.emote_id) != null"
                                                            :title="getTagById(element.emote_id).name">
                                                            <span v-html="getTagById(element.emote_id).icon"></span> 
                                                        </span>
                                                        <span v-if="element.bug_task" class="ml-1 text-danger"><i class="fas fa-lg fa-bug"></i></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row pb-1" v-if="element.bug_task !== null && (element.bug_task.ref_number || element.bug_task.severity_level)">
                                        <div class="col-md-12">
                                        <span class="badge badge-secondary mr-2" v-if="element.bug_task.severity_level">Severity Level: {{element.bug_task.severity_level}}</span>
                                        <span class="badge badge-primary" v-if="element.bug_task.ref_number">Reference Number: {{element.bug_task.ref_number}}</span>
                                        </div>
                                    </div>
                                    <div v-if="element.tasknotes.length > 0" class="row pb-2">
                                        <div class="col-md-12">
                                            <span class="badge badge-info"><i class="fa fa-comment"></i> Task has {{ element.tasknotes.length }} Comment{{ element.tasknotes.length > 1 ? 's' : '' }}</span>
                                        </div>
                                    </div>
                                    <div class="row pt-1" :class="showTimeframe || showHours ? 'pb-0' : 'pb-2'" style="font-size: 0.8rem;padding:0 7px;">
                                        <div class="col-md-6 d-flex">
                                            <span class="chat-initials" :title="element.consultant.first_name + ' ' + element.consultant.last_name"><img style="margin-top:-3px;" :src="uiAvatars(element.consultant)" class="chat-initials mr-2"></span>
                                            <span>{{element.consultant.first_name != null ? element.consultant.first_name : ''}} {{element.consultant.last_name != null ? element.consultant.last_name : ''}}</span>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <span><i class="fa fa-briefcase" aria-hidden="true"></i>
                                            {{element.project.ref != null ? element.project.ref:""}}</span>
                                    </div>
                                    </div>
                                    <div class="row pb-2 pt-1" style="font-size: 0.8rem;padding:0 5px;" :class="!showTimeframe && showHours ? 'justify-content-end' : ''" v-if="showTimeframe || showHours">
                                        <div class="col-md-8" v-if="showTimeframe">
                                            <span :class="((new Date(Date.now()-86400000) > new Date(element.end_date)) && element.status < 4 ? 'text-danger font-weight-bold' : ((new Date(Date.now()-86400000) < new Date(element.end_date)) && (new Date(Date.now()-86400000) > new Date(element.start_date) && element.status < 4) ? 'font-weight-bold text-primary' : ''))"><i class="fa fa-calendar pr-1 pl-1" aria-hidden="true"></i>
                                            <span>{{element.start_date}} - {{ element.end_date}}</span></span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="badge badge-pill badge-primary ml-2 float-right toolt" style="margin-top:-2px;min-width:1.5rem;line-height:1rem;" v-if="element.hours_planned > 0 && showHours">{{  element.hours_planned }}<span class="tooltiptext">Planned Hours</span></span>
                                            <span class="badge badge-pill ml-2 float-right toolt" :class="(element.remaining_time < element.hours_planned || element.remaining_time == element.hours_planned ? 'badge-success' : (element.remaining_time > element.hours_planned ? 'badge-danger' : ''))" style="margin-top:-2px;min-width:1.5rem;line-height:1rem;" v-if="element.remaining_time > 0 && showHours">{{  element.remaining_time }}<span class="tooltiptext">Remaining Hours</span></span>
                                            <span class="badge badge-pill ml-2 float-right toolt" :style="task_times[element.id] && task_times[element.id] && element.hours_planned < (parseFloat(task_times[element.id]).toFixed(1) * 1) ? 'margin-top:-2px;min-width:1.5rem;line-height:1rem;background-color:#dc3545;' : 'margin-top:-2px;min-width:1.5rem;line-height:1rem;background-color:#000;color:#FFF;'" :class="task_times[element.id] && task_times[element.id] && element.hours_planned < (parseFloat(task_times[element.id]).toFixed(1) * 1) ? 'badge-danger' : ''" v-if="showActuals">{{  task_times[element.id] && task_times[element.id] ? parseFloat(task_times[element.id]).toFixed(1) * 1 : 0 }}<span class="tooltiptext">Actual Hours</span></span>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </draggable>
                        </div>
                        <p class="d-flex justify-content-between  pt-3">
                            <button class="btn btn-sm btn-outline-success" @click="openAddUserStoryTask(false,userStory)">Add Task</button> 
                            <button class="btn btn-sm btn-outline-dark" v-if="tasks.load_more" @click="loadBoardUserStory(tasks.id, tasks.page, tasks.project_id,userStory.id)">Load More</button>
                        </p>
                    </div>
                    </div>
                </div>
            </div>
            <div v-if="search.view == 'consultant'" style="white-space: nowrap;display: inline-block;width: 100%;">
                <div v-for="consultant in kanbanTasks" :key="consultant.id" :data-consultant-id="consultant.id" class="consultant w-100 pb-3">
                    <h4>{{ consultant.first_name }} {{ consultant.last_name }}</h4>
                    <div class="" style="overflow-y: scroll;">
                    <div class="task-board d-inline-block" style="vertical-align: top;" :class="task_status_count" v-for="(tasks, stage) in consultant.tasks" :key="stage" :data-stage="stage" :data-consultant-id="consultant.id" :data-status-id="tasks.id">                        
                        <p class="board-heading">{{tasks.description}} <span style="font-weight:normal;float:right;">({{ tasks.total_count }})</span></p>
                        <div :style="'height:'+consultant.height+'px;min-height:20px;max-height:500px;overflow-x: auto;'" :id="consultant.id+'_'+tasks.id">
                        <draggable :list="tasks.tasks"  group="tasks" itemKey="id" @change="handleConsultantTaskMove">
                            <template #item="{ element }">
                                <div :class="'card card_'+element.id+' text-error ui-sortable-handle pt-2 pl-2 pr-2'" :id="element.id">
                                    <div class="p-0 m-0">
                                        <table class="table table-sm table-borderless p-0 mb-1">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a :style="element.bug_task !== null ? 'color:#dc3545 !important,cursor:pointer !important;' : 'cursor:pointer !important;'" @click="viewTask(element)">
                                                        <div class="d-flex justify-content-between">
                                                            <span class="flex-1" style="white-space:break-spaces;"><b>{{element.id}}</b> {{element.description}}</span>
                                                            <span v-if="!element.goal_id && element.sprint_id" class="bg-danger rounded-circle mt-1 blink" style="width: 15px;height: 15px"></span>
                                                        </div>
                                                        </a>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span 
                                                            v-if="element.emote_id !== null && getTagById(element.emote_id) != null"
                                                            :title="getTagById(element.emote_id).name">
                                                            <span v-html="getTagById(element.emote_id).icon"></span> 
                                                        </span>
                                                        <span v-if="element.bug_task" class="ml-1 text-danger"><i class="fas fa-lg fa-bug"></i></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row pb-1" v-if="element.bug_task !== null && (element.bug_task.ref_number || element.bug_task.severity_level)">
                                        <div class="col-md-12">
                                        <span class="badge badge-secondary mr-2" v-if="element.bug_task.severity_level">Severity Level: {{element.bug_task.severity_level}}</span>
                                        <span class="badge badge-primary" v-if="element.bug_task.ref_number">Reference Number: {{element.bug_task.ref_number}}</span>
                                        </div>
                                    </div>
                                    <div v-if="element.tasknotes.length > 0" class="row pb-2">
                                        <div class="col-md-12">
                                            <span class="badge badge-info"><i class="fa fa-comment"></i> Task has {{ element.tasknotes.length }} Comment{{ element.tasknotes.length > 1 ? 's' : '' }}</span>
                                        </div>
                                    </div>
                                    <div class="row pt-1" :class="showTimeframe || showHours ? 'pb-0' : 'pb-2'" style="font-size: 0.8rem;padding:0 7px;">
                                        <div class="col-md-6 d-flex">
                                            <span class="chat-initials" :title="element.consultant.first_name + ' ' + element.consultant.last_name"><img style="margin-top:-3px;" :src="uiAvatars(element.consultant)" class="chat-initials mr-2"></span>
                                            <span>{{element.consultant.first_name != null ? element.consultant.first_name : ''}} {{element.consultant.last_name != null ? element.consultant.last_name : ''}}</span>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <span><i class="fa fa-briefcase" aria-hidden="true"></i>
                                            {{element.project.ref != null ? element.project.ref:""}}</span>
                                    </div>
                                    </div>
                                    <div class="row pb-2 pt-1" style="font-size: 0.8rem;padding:0 5px;" :class="!showTimeframe && showHours ? 'justify-content-end' : ''" v-if="showTimeframe || showHours">
                                        <div class="col-md-8" v-if="showTimeframe">
                                            <span :class="((new Date(Date.now()-86400000) > new Date(element.end_date)) && element.status < 4 ? 'text-danger font-weight-bold' : ((new Date(Date.now()-86400000) < new Date(element.end_date)) && (new Date(Date.now()-86400000) > new Date(element.start_date) && element.status < 4) ? 'font-weight-bold text-primary' : ''))"><i class="fa fa-calendar pr-1 pl-1" aria-hidden="true"></i>
                                            <span>{{element.start_date}} - {{ element.end_date}}</span></span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="badge badge-pill badge-primary ml-2 float-right toolt" style="margin-top:-2px;min-width:1.5rem;line-height:1rem;" v-if="element.hours_planned > 0 && showHours">{{  element.hours_planned }}<span class="tooltiptext">Planned Hours</span></span>
                                            <span class="badge badge-pill ml-2 float-right toolt" :class="(element.remaining_time < element.hours_planned || element.remaining_time == element.hours_planned ? 'badge-success' : (element.remaining_time > element.hours_planned ? 'badge-danger' : ''))" style="margin-top:-2px;min-width:1.5rem;line-height:1rem;" v-if="element.remaining_time > 0 && showHours">{{  element.remaining_time }}<span class="tooltiptext">Remaining Hours</span></span>
                                            <span class="badge badge-pill ml-2 float-right toolt" :style="task_times[element.id] && task_times[element.id] && element.hours_planned < (parseFloat(task_times[element.id]).toFixed(1) * 1) ? 'margin-top:-2px;min-width:1.5rem;line-height:1rem;background-color:#dc3545;' : 'margin-top:-2px;min-width:1.5rem;line-height:1rem;background-color:#000;color:#FFF;'" :class="task_times[element.id] && task_times[element.id] && element.hours_planned < (parseFloat(task_times[element.id]).toFixed(1) * 1) ? 'badge-danger' : ''" v-if="showActuals">{{  task_times[element.id] && task_times[element.id] ? parseFloat(task_times[element.id]).toFixed(1) * 1 : 0 }}<span class="tooltiptext">Actual Hours</span></span>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </draggable>
                        </div>
                        <p class="d-flex justify-content-between  pt-3">
                            <button class="btn btn-sm btn-outline-success" @click="openAddConsultantTask(false)">Add Task</button> 
                            <button class="btn btn-sm btn-outline-dark" v-if="tasks.load_more" @click="loadBoardConsultant(tasks.id, tasks.page, tasks.project_id,consultant.id)">Load More</button>
                        </p>
                    </div>
                    </div>
                </div>
            </div>
            <div v-if="search.view == 'priority'" style="white-space: nowrap;display: inline-block;width: 100%;">
                <div v-for="priority in kanbanTasks" :key="priority.id" :data-priority-id="priority.id" class="priority w-100 pb-3">
                    <h4>{{ priority.name }}</h4>
                    <div class="" style="overflow-y: scroll;">
                    <div class="task-board d-inline-block" style="vertical-align: top;" :class="task_status_count" v-for="(tasks, stage) in priority.tasks" :key="stage" :data-stage="stage" :data-priority-id="priority.id" :data-status-id="tasks.id">                        
                        <p class="board-heading">{{tasks.description}} <span style="font-weight:normal;float:right;">({{ tasks.total_count }})</span></p>
                        <div :style="'height:'+priority.height+'px;min-height:20px;max-height:500px;overflow-x: auto;'" :id="priority.id+'_'+tasks.id">
                        <draggable :list="tasks.tasks"  group="tasks" itemKey="id" @change="handlePriorityTaskMove">
                            <template #item="{ element }">
                                <div :class="'card card_'+element.id+' text-error ui-sortable-handle pt-2 pl-2 pr-2'" :id="element.id">
                                    <div class="p-0 m-0">
                                        <table class="table table-sm table-borderless p-0 mb-1">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a :style="element.bug_task !== null ? 'color:#dc3545 !important,cursor:pointer !important;' : 'cursor:pointer !important;'" @click="viewTask(element)">
                                                        <div class="d-flex justify-content-between">
                                                            <span class="flex-1" style="white-space:break-spaces;"><b>{{element.id}}</b> {{element.description}}</span>
                                                            <span v-if="!element.goal_id && element.sprint_id" class="bg-danger rounded-circle mt-1 blink" style="width: 15px;height: 15px"></span>
                                                        </div>
                                                        </a>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span 
                                                            v-if="element.emote_id !== null && getTagById(element.emote_id) != null"
                                                            :title="getTagById(element.emote_id).name">
                                                            <span v-html="getTagById(element.emote_id).icon"></span> 
                                                        </span>
                                                        <span v-if="element.bug_task" class="ml-1 text-danger"><i class="fas fa-lg fa-bug"></i></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row pb-1" v-if="element.bug_task !== null && (element.bug_task.ref_number || element.bug_task.severity_level)">
                                        <div class="col-md-12">
                                        <span class="badge badge-secondary mr-2" v-if="element.bug_task.severity_level">Severity Level: {{element.bug_task.severity_level}}</span>
                                        <span class="badge badge-primary" v-if="element.bug_task.ref_number">Reference Number: {{element.bug_task.ref_number}}</span>
                                        </div>
                                    </div>
                                    <div v-if="element.tasknotes.length > 0" class="row pb-2">
                                        <div class="col-md-12">
                                            <span class="badge badge-info"><i class="fa fa-comment"></i> Task has {{ element.tasknotes.length }} Comment{{ element.tasknotes.length > 1 ? 's' : '' }}</span>
                                        </div>
                                    </div>
                                    <div class="row pt-1" :class="showTimeframe || showHours ? 'pb-0' : 'pb-2'" style="font-size: 0.8rem;padding:0 7px;">
                                        <div class="col-md-6 d-flex">
                                            <span class="chat-initials" :title="element.consultant.first_name + ' ' + element.consultant.last_name"><img style="margin-top:-3px;" :src="uiAvatars(element.consultant)" class="chat-initials mr-2"></span>
                                            <span>{{element.consultant.first_name != null ? element.consultant.first_name : ''}} {{element.consultant.last_name != null ? element.consultant.last_name : ''}}</span>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <span><i class="fa fa-briefcase" aria-hidden="true"></i>
                                            {{element.project.ref != null ? element.project.ref:""}}</span>
                                    </div>
                                    </div>
                                    <div class="row pb-2 pt-1" style="font-size: 0.8rem;padding:0 5px;" :class="!showTimeframe && showHours ? 'justify-content-end' : ''" v-if="showTimeframe || showHours">
                                        <div class="col-md-8" v-if="showTimeframe">
                                            <span :class="((new Date(Date.now()-86400000) > new Date(element.end_date)) && element.status < 4 ? 'text-danger font-weight-bold' : ((new Date(Date.now()-86400000) < new Date(element.end_date)) && (new Date(Date.now()-86400000) > new Date(element.start_date) && element.status < 4) ? 'font-weight-bold text-primary' : ''))"><i class="fa fa-calendar pr-1 pl-1" aria-hidden="true"></i>
                                            <span>{{element.start_date}} - {{ element.end_date}}</span></span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="badge badge-pill badge-primary ml-2 float-right toolt" style="margin-top:-2px;min-width:1.5rem;line-height:1rem;" v-if="element.hours_planned > 0 && showHours">{{  element.hours_planned }}<span class="tooltiptext">Planned Hours</span></span>
                                            <span class="badge badge-pill ml-2 float-right toolt" :class="(element.remaining_time < element.hours_planned || element.remaining_time == element.hours_planned ? 'badge-success' : (element.remaining_time > element.hours_planned ? 'badge-danger' : ''))" style="margin-top:-2px;min-width:1.5rem;line-height:1rem;" v-if="element.remaining_time > 0 && showHours">{{  element.remaining_time }}<span class="tooltiptext">Remaining Hours</span></span>
                                            <span class="badge badge-pill ml-2 float-right toolt" :style="task_times[element.id] && task_times[element.id] && element.hours_planned < (parseFloat(task_times[element.id]).toFixed(1) * 1) ? 'margin-top:-2px;min-width:1.5rem;line-height:1rem;background-color:#dc3545;' : 'margin-top:-2px;min-width:1.5rem;line-height:1rem;background-color:#000;color:#FFF;'" :class="task_times[element.id] && task_times[element.id] && element.hours_planned < (parseFloat(task_times[element.id]).toFixed(1) * 1) ? 'badge-danger' : ''" v-if="showActuals">{{  task_times[element.id] && task_times[element.id] ? parseFloat(task_times[element.id]).toFixed(1) * 1 : 0 }}<span class="tooltiptext">Actual Hours</span></span>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </draggable>
                        </div>
                        <p class="d-flex justify-content-between  pt-3">
                            <button class="btn btn-sm btn-outline-success" @click="openAddPriorityTask(false)">Add Task</button> 
                            <button class="btn btn-sm btn-outline-dark" v-if="tasks.load_more" @click="loadBoardPriority(tasks.id, tasks.page, tasks.project_id,priority.id)">Load More</button>
                        </p>
                    </div>
                    </div>
                </div>
            </div>
            <div v-if="search.view == 'all'" class="row w-100" style="overflow-x: scroll;overflow-y: hidden; flex-wrap: nowrap;">
                <div v-for="(board,index) in kanbanTasks" :key="index" class="task-board" :id="board.id" :class="task_status_count">
                    <p class="board-heading">{{board.description}} <span style="font-weight:normal;float:right;">({{ board.total_count }})</span></p>
                    <draggable :list="board.tasks" group="tasks" itemKey="id" style="min-height: 6rem;" @change="finish">
                        <template #item="{element}">
                            <div :class="'card card_'+element.id+' text-error ui-sortable-handle pt-2 pl-2 pr-2'" :id="element.id">
                                <div class="p-0 m-0">
                                    <table class="table table-sm table-borderless p-0 mb-1">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a :style="element.bug_task !== null ? 'color:#dc3545 !important,cursor:pointer !important;' : 'cursor:pointer !important;'" @click="viewTask(element)">
                                                    <div class="d-flex justify-content-between">
                                                        <span class="flex-1"><b>{{element.id}}</b> {{element.description}}</span>
                                                        <span v-if="!element.goal_id && element.sprint_id" class="bg-danger rounded-circle mt-1 blink" style="width: 15px;height: 15px"></span>
                                                    </div>
                                                    </a>
                                                </td>
                                                <td style="text-align: right;">
                                                    <span 
                                                        v-if="element.emote_id !== null && getTagById(element.emote_id) != null"
                                                        :title="getTagById(element.emote_id).name">
                                                        <span v-html="getTagById(element.emote_id).icon"></span> 
                                                    </span>
                                                    <span v-if="element.bug_task" class="ml-1 text-danger"><i class="fas fa-lg fa-bug"></i></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row pb-1" v-if="element.bug_task !== null && (element.bug_task.ref_number || element.bug_task.severity_level)">
                                    <div class="col-md-12">
                                    <span class="badge badge-secondary mr-2" v-if="element.bug_task.severity_level">Severity Level: {{element.bug_task.severity_level}}</span>
                                    <span class="badge badge-primary" v-if="element.bug_task.ref_number">Reference Number: {{element.bug_task.ref_number}}</span>
                                    </div>
                                </div>
                                <div v-if="element.tasknotes.length > 0" class="row pb-2">
                                    <div class="col-md-12">
                                        <span class="badge badge-info"><i class="fa fa-comment"></i> Task has {{ element.tasknotes.length }} Comment{{ element.tasknotes.length > 1 ? 's' : '' }}</span>
                                    </div>
                                </div>
                                <div class="row pt-1" :class="showTimeframe || showHours ? 'pb-0' : 'pb-2'" style="font-size: 0.8rem;padding:0 7px;">
                                    <div class="col-md-6 d-flex">
                                        <span class="chat-initials" :title="element.consultant.first_name + ' ' + element.consultant.last_name"><img style="margin-top:-3px;" :src="uiAvatars(element.consultant)" class="chat-initials mr-2"></span>
                                        <span>{{element.consultant.first_name != null ? element.consultant.first_name : ''}} {{element.consultant.last_name != null ? element.consultant.last_name : ''}}</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <span><i class="fa fa-briefcase" aria-hidden="true"></i>
                                        {{element.project.ref != null ? element.project.ref:""}}</span>
                                </div>
                                </div>
                                <div class="row pb-2 pt-1" style="font-size: 0.8rem;padding:0 5px;" :class="!showTimeframe && showHours ? 'justify-content-end' : ''" v-if="showTimeframe || showHours">
                                    <div class="col-md-8" v-if="showTimeframe">
                                        <span :class="((new Date(Date.now()-86400000) > new Date(element.end_date)) && element.status < 4 ? 'text-danger font-weight-bold' : ((new Date(Date.now()-86400000) < new Date(element.end_date)) && (new Date(Date.now()-86400000) > new Date(element.start_date) && element.status < 4) ? 'font-weight-bold text-primary' : ''))"><i class="fa fa-calendar pr-1 pl-1" aria-hidden="true"></i>
                                        <span>{{element.start_date}} - {{ element.end_date}}</span></span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="badge badge-pill badge-primary ml-2 float-right toolt" style="margin-top:-2px;min-width:1.5rem;line-height:1rem;" v-if="element.hours_planned > 0 && showHours">{{  element.hours_planned }}<span class="tooltiptext">Planned Hours</span></span>
                                        <span class="badge badge-pill ml-2 float-right toolt" :class="(element.remaining_time < element.hours_planned || element.remaining_time == element.hours_planned ? 'badge-success' : (element.remaining_time > element.hours_planned ? 'badge-danger' : ''))" style="margin-top:-2px;min-width:1.5rem;line-height:1rem;" v-if="element.remaining_time > 0 && showHours">{{  element.remaining_time }}<span class="tooltiptext">Remaining Hours</span></span>
                                        <span class="badge badge-pill ml-2 float-right toolt" :style="task_times[element.id] && task_times[element.id] && element.hours_planned < (parseFloat(task_times[element.id]).toFixed(1) * 1) ? 'margin-top:-2px;min-width:1.5rem;line-height:1rem;background-color:#dc3545;' : 'margin-top:-2px;min-width:1.5rem;line-height:1rem;background-color:#000;color:#FFF;'" :class="task_times[element.id] && task_times[element.id] && element.hours_planned < (parseFloat(task_times[element.id]).toFixed(1) * 1) ? 'badge-danger' : ''" v-if="showActuals">{{  task_times[element.id] && task_times[element.id] ? parseFloat(task_times[element.id]).toFixed(1) * 1 : 0 }}<span class="tooltiptext">Actual Hours</span></span>
                                    </div>
                                </div>
                                
                            </div>
                        </template>
                    </draggable>
                    <p class="d-flex justify-content-between">
                        <button class="btn btn-sm btn-outline-success" @click="openAddTask(false)">Add Task</button> 
                        <button class="btn btn-sm btn-outline-dark" v-if="board.load_more" @click="loadBoard(board.id, board.page, board.project_id)">Load More</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="setup2" v-if="modalEditTask">
        <EditTask :modalEditTask="modalEditTask" :userId="user_id" :selectedTask="task" :selected_project="selected_project" :statusId="selected_status" :search="search" :bugTask="add_task_as_bug" @close-modal="closeEditTask()">
            <div class="modal-content">
                <h1></h1>
            </div>
        </EditTask>
    </div>
    
    <div class="setup2" v-if="modalAddTask">
        <AddTask :modalAddTask="modalAddTask" :selected_project="selected_project" :selected_user_story="selected_user_story" :statusId="selected_status" :search="search" :bugTask="add_task_as_bug" @close-modal="closeAddTask()">
            <div class="modal-content">
                <h1></h1>
            </div>
        </AddTask>
    </div>
    
    <div class="setup2" v-if="modalUserStory">
        <UserStory :modalUserstory="modalUserStory" :userstoryData="user_story" :selected_project="selected_project" :search="search" :viewUserstory="view_user_story" @close-modal="closeUserStory">
            <div class="modal-content">
                <h1></h1>
            </div>
        </UserStory>
    </div>
</div>
</template>

<script>
import { ref } from 'vue';
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import draggable from 'vuedraggable';
import { quillToolbarOptions } from "@/utils/quill";
import {QuillEditor} from "@vueup/vue-quill";
import IconOption from './IconOption.vue';
import AddTask from "./AddTaskComponent.vue";
import EditTask from "./EditTaskComponent.vue";
import UserStory from "./../project/UserStoryModalComponent.vue";

let autoCompleteUsers = [];

export default{
    components: {
      QuillEditor,
        draggable,
        Datepicker,
        IconOption,
        AddTask,
        EditTask,
        UserStory
    },
    props: {
        taskFilters:{
            type:Object,
            default:{}
        },
        permissions:{
            type:Object,
            default:{}
        },
        projId:{
            type:Number,
            default:0
        },
        userId:{
            type:Number,
            default:0
        },
        showTimeframe:{
            type:Number,
            default:0
        },
        showHours:{
            type:Number,
            default:0
        },
        showActuals:{
            type:Number,
            default:0
        },
        view:{
            type:String,
            default:''
        }
    },
    watch: {
        view: {
            // the callback will be called immediately after the start of the observation
            immediate: true, 
            handler (val, oldVal) {
            this.search.view = val
            this.setQueryStringDefaults()
            }
        }
    },
    data() {
        return {
            modalAddTask: false,
            modalEditTask: false,
            modalUserStory: false,
            add_task_as_bug: false,
            task:{},
            user_story:{},
            task_status_count:'col-md-4 d-flex-1',
            selected_project: 0,
            selected_user_story: 0,
            selected_status:0,
            loader:false,
            searchloader:false,
            task_times:this.times,
            projects:[],
            showT:(this.showTimeframe == 1 ? true : false),
            showH:(this.showHours == 1 ? true : false),
            consultant: {
                value: '',
                text: ''
            },
            customerValue: {
                value: '',
                text: '',
            },
            sprintValue: {
                value: '',
                text: '',
            },
            search: {
                project_id:this.projId,
                resource:'',
                company:'',
                customer:'',
                team:'',
                sprint:'',
                status:'',
                task_id:'',
                on_kanban:1,
                start_date:'',
                end_date:'',
                users:[],
                users_drop_down:[],
                company_drop_down:[],
                customers_drop_down:[],
                team_drop_down:[],
                yes_no_drop_down:[],
                sprints_drop_down:[],
                statuses_drop_down:[],
                task_tag:-1,
                bugs:-1,
                priority:-1,
                view:''
            },
            dialogVisible:false,
            kanbanTasks:this.tasks,
            user_id:this.userId,
            projects_select: [],
            dependancy_select: [],
            story_select: [],
            sprint_select: [],
            status_select: [],
            selected_sprint: 0,
            selected_tasks:[],
            autoCompleteUser: {
                text: '',
                value: ''
            },
            quillToolbar: quillToolbarOptions(),
            autoCompleteUsers: [],
            tasktags: [],
        }
    },
    methods: {
        viewUserStory(feature_id,user_story){
            this.modalUserStory = true
            this.user_story = user_story
            this.view_user_story = true
        },
        closeUserStory(feature_id,user_story){
            this.modalUserStory = false
            this.user_story = {}
            this.view_user_story = true
        },
        handleUserStoryTaskMove(evt) {
            let item = evt.added || evt.moved;

                if (!item) return;

                let card = document.getElementById(item.element.id);

                let us = card.closest('.user-story').getAttribute('data-user-story-id');
                
                let status = card.closest('.task-board').getAttribute('data-status-id');
                

                axios.post('/task/updateuserstory/'+item.element.id, {user_story:us,status:status})
                .then(response => {
                    if(response.data.error){
                        toastr.error('<strong>Error!</strong> '+response.data.message);

                        toastr.options.timeOut = 1000;
                    } else {
                        toastr.success('<strong>Success!</strong> '+response.data.message);

                        toastr.options.timeOut = 1000;
                    }
                })
                .catch(error => {
                    alert('An error occured, could not save the task.');
                }).finally(()=>{
                    this.getCards()
                });
                
        },
        handleConsultantTaskMove(evt) {
            let item = evt.added || evt.moved;

                if (!item) return;

                let card = document.getElementById(item.element.id);

                let employee_id = card.closest('.consultant').getAttribute('data-consultant-id');
                
                let status = card.closest('.task-board').getAttribute('data-status-id');                

                axios.post('/task/updateconsultant/'+item.element.id, {employee_id:employee_id,status:status})
                .then(response => {
                    if(response.data.error){
                        toastr.error('<strong>Error!</strong> '+response.data.message);

                        toastr.options.timeOut = 1000;
                    } else {
                        toastr.success('<strong>Success!</strong> '+response.data.message);

                        toastr.options.timeOut = 1000;
                    }
                })
                .catch(error => {
                    alert('An error occured, could not save the task.');
                }).finally(()=>{
                    this.getCards()
                });
                
        },
        handlePriorityTaskMove(evt) {
            let item = evt.added || evt.moved;

                if (!item) return;

                let card = document.getElementById(item.element.id);

                let priority = card.closest('.priority').getAttribute('data-priority-id');
                
                let status = card.closest('.task-board').getAttribute('data-status-id');                

                axios.post('/task/updatepriority/'+item.element.id, {priority:priority,status:status})
                .then(response => {
                    if(response.data.error){
                        toastr.error('<strong>Error!</strong> '+response.data.message);

                        toastr.options.timeOut = 1000;
                    } else {
                        toastr.success('<strong>Success!</strong> '+response.data.message);

                        toastr.options.timeOut = 1000;
                    }
                })
                .catch(error => {
                    alert('An error occured, could not save the task.');
                }).finally(()=>{
                    this.getCards()
                });
                
        },
        openAddPriorityTask(val){
            this.selected_project = user_story.project_id
            this.add_task_as_bug = val
            this.modalAddTask = true
        },
        openAddConsultantTask(val){
            this.selected_project = user_story.project_id
            this.add_task_as_bug = val
            this.modalAddTask = true
        },
        openAddUserStoryTask(val,user_story){
            this.selected_project = user_story.project_id
            this.selected_user_story = user_story.id
            this.add_task_as_bug = val
            this.modalAddTask = true
        },
        openAddTask(val){
            this.add_task_as_bug = val
            this.modalAddTask = true
        },
        closeAddTask(){
            if(this.search.project_id > 0){
                this.selected_project = this.search.project_id
            }
            this.selected_user_story = 0
            this.modalAddTask = false
            this.getCards();
        },
        closeEditTask(){
            this.modalEditTask = false
            this.getCards();
        },
        loadBoard(status_id, page, project_id){
            axios.get('/kanban/loadmore/'+project_id+'/'+status_id+"?"+this.params, {
                params: {
                    page
                }
            }).then(response => {
                let loaded = response.data.kanban
                this.kanbanTasks.map(board => {
                    if(loaded.id === board.id){
                        board.load_more = loaded.load_more;
                        board.page = loaded.page;
                        board.tasks = [...board.tasks, ...loaded.tasks]
                    }
                })
            }).catch(function (err) {
                console.log(err)
            })
        },
        loadBoardUserStory(status_id, page, project_id, user_story_id){
            axios.get('/kanban/loadmoreuserstory/' + project_id + '/'+user_story_id + '/' + status_id + "?"+this.params, {
                params: {
                    page
                }
            }).then(response => {
                let loaded = response.data.kanban
                this.kanbanTasks.map(board => {
                    if(loaded.user_story_id === board.id){
                        board.tasks.map(task => {
                            if(loaded.id === task.id){
                                let lastItem = task.tasks[task.tasks.length - 1]
                                task.load_more = loaded.load_more;
                                task.page = loaded.page;
                                task.tasks = [...task.tasks, ...loaded.tasks]
                                var topPos = document.getElementById(lastItem.id).offsetTop;
                                document.getElementById(lastItem.user_story_id+'_'+lastItem.status).scrollTop = topPos-10;
                            }
                        })
                        
                    }
                })
            }).catch(function (err) {
                console.log(err)
            })
        },
        loadBoardConsultant(status_id, page, project_id, consultant_id){
            console.log(status_id+' '+page+' '+project_id+' '+consultant_id)
            axios.get('/kanban/loadmoreconsultant/' + project_id + '/'+consultant_id + '/' + status_id + "?"+this.params, {
                params: {
                    page
                }
            }).then(response => {
                let loaded = response.data.kanban
                this.kanbanTasks.map(board => {
                    if(loaded.consultant_id === board.id){
                        board.tasks.map(task => {
                            if(loaded.id === task.id){
                                let lastItem = task.tasks[task.tasks.length - 1]
                                task.load_more = loaded.load_more;
                                task.page = loaded.page;
                                task.tasks = [...task.tasks, ...loaded.tasks]
                                var topPos = document.getElementById(lastItem.id).offsetTop;
                                document.getElementById(lastItem.employee_id+'_'+lastItem.status).scrollTop = topPos-10;
                            }
                        })
                        
                    }
                })
            }).catch(function (err) {
                console.log(err)
            })
        },
        loadBoardPriority(status_id, page, project_id, priority_id){
            axios.get('/kanban/loadmorepriority/' + project_id + '/'+priority_id + '/' + status_id + "?"+this.params, {
                params: {
                    page
                }
            }).then(response => {
                let loaded = response.data.kanban
                this.kanbanTasks.map(board => {
                    if(loaded.priority_id === board.id){
                        board.tasks.map(task => {
                            if(loaded.id === task.id){
                                let lastItem = task.tasks[task.tasks.length - 1]
                                task.load_more = loaded.load_more;
                                task.page = loaded.page;
                                task.tasks = [...task.tasks, ...loaded.tasks]
                                var topPos = document.getElementById(lastItem.id).offsetTop;
                                document.getElementById(task.priority_id+'_'+lastItem.status).scrollTop = topPos-10;
                            }
                        })
                        
                    }
                })
            }).catch(function (err) {
                console.log(err)
            })
        },
        uiAvatars(consultant){
            return 'https://ui-avatars.com/api/?name='+consultant.first_name+'+'+consultant.last_name+'&background=random&format=svg&bold=true';
        },
        viewTask(task) {
            this.task = task
            this.modalEditTask = true
        },
        getFilterDropdowns(val){
            const project_id = val
            this.setQueryStringValues()
            this.loader = true
            this.searchloader = true
            let endpoints = [
                '/kanban/dropdowns/0'+this.params,
                '/getkanban/'+window.location.pathname.split('/').pop()+''+this.params
            ]
            Promise.all(endpoints.map((endpoint) => axios.get(endpoint))).then(
                axios.spread(({data:filter_dropdowns}, {data: kanbantasks}) => {        
                    let dropdowns = filter_dropdowns
                    
                    let assignment1 = []
                    let assignment2 = []

                    for(let v in dropdowns.users_drop_down){
                        if(dropdowns.users_drop_down[v].assignment_cnt == 1){
                            assignment1.push({"full_name":dropdowns.users_drop_down[v].full_name,"id":dropdowns.users_drop_down[v].id})
                        }
                    }


                    for(let v in dropdowns.users_drop_down){
                        if(dropdowns.users_drop_down[v].assignment_cnt == 0){
                            assignment2.push({"full_name":dropdowns.users_drop_down[v].full_name,"id":dropdowns.users_drop_down[v].id})
                        }
                    }
                    if(assignment2.length > 0){
                        assignment1.push({"full_name":'-',"id":'-1'})
                    }

                    let sprint1 = []
                    let sprint2 = []

                    for(let s in dropdowns.sprints_drop_down){
                        if(dropdowns.sprints_drop_down[s].status_id == 1){
                            sprint1.push({"name":dropdowns.sprints_drop_down[s].name,"id":dropdowns.sprints_drop_down[s].id})
                        }
                    }

                    for(let s in dropdowns.sprints_drop_down){
                        if(dropdowns.sprints_drop_down[s].status_id != 1){
                            sprint2.push({"name":dropdowns.sprints_drop_down[s].name,"id":dropdowns.sprints_drop_down[s].id})
                        }
                    }
                    if(sprint2.length > 0){
                        sprint1.push({"name":'-',"id":''})
                    }

                    this.search.users = assignment1.concat(assignment2)
                    this.search.sprints_drop_down = sprint1.concat(sprint2)
                    // this.search.sprints_drop_down = JSON.parse(JSON.stringify(dropdowns.sprints_drop_down))
                    this.search.users_drop_down = JSON.parse(JSON.stringify(dropdowns.users_drop_down))
                    this.projects = JSON.parse(JSON.stringify(dropdowns.projects_drop_down))
                    this.projects_drop_down = JSON.parse(JSON.stringify(dropdowns.projects_drop_down))
                    this.search.company_drop_down = JSON.parse(JSON.stringify(dropdowns.company_drop_down))
                    this.search.customers_drop_down = JSON.parse(JSON.stringify(dropdowns.customers_drop_down))
                    this.search.team_drop_down = JSON.parse(JSON.stringify(dropdowns.team_drop_down))
                    this.user_story_drop_down = JSON.parse(JSON.stringify(dropdowns.user_story_drop_down))
                    this.tasks_drop_down = JSON.parse(JSON.stringify(dropdowns.tasks_drop_down))
                    this.search.statuses_drop_down = JSON.parse(JSON.stringify(dropdowns.statuses_drop_down))
                    this.task_delivery_type_drop_down = JSON.parse(JSON.stringify(dropdowns.task_delivery_type_drop_down))
                    this.permissions_drop_down = JSON.parse(JSON.stringify(dropdowns.permissions_drop_down))
                    this.search.yes_no_drop_down = JSON.parse(JSON.stringify(dropdowns.yes_no_drop_down))
                    this.year_week_drop_down = JSON.parse(JSON.stringify(dropdowns.year_week_drop_down))
                    this.hours_drop_down = JSON.parse(JSON.stringify(dropdowns.hours_drop_down))
                    this.minutes_drop_down = JSON.parse(JSON.stringify(dropdowns.minutes_drop_down))
                    if (this.year_week_drop_down.length > 0){
                      this.selected_year_week = this.year_week_drop_down[0].year_week;
                    }

                    this.selectedProject(dropdowns.projects_drop_down)
                    
                    this.kanbanTasks = kanbantasks.kanban
                    if(this.kanbanTasks.length > 3 && this.search.view == 'all'){
                        this.task_status_count = 'col-md-3'
                    }
                    
                    if(this.kanbanTasks[0] && this.kanbanTasks[0].tasks.length > 3 && (this.search.view == 'user_story' || this.search.view == 'consultant' || this.search.view == 'priority')){
                        this.task_status_count = 'col-md-3'
                        for(let v in this.kanbanTasks){
                                this.kanbanTasks[v].height = 1
                            for(let t in this.kanbanTasks[v].tasks){
                                this.kanbanTasks[v].tasks[t].total_count = this.kanbanTasks[v].tasks[t].tasks.length
                                if(this.kanbanTasks[v].tasks[t].tasks && (this.kanbanTasks[v].tasks[t].tasks.length > this.kanbanTasks[v].height)){
                                    this.kanbanTasks[v].height = this.kanbanTasks[v].tasks[t].tasks.length
                                }
                            }
                            this.kanbanTasks[v].height = this.kanbanTasks[v].height * 150
                        }
                    }
                    this.task_times = kanbantasks.times
                    
                    this.search.users.forEach((user, index) => {
                        this.autoCompleteUser.text = user.full_name.toLowerCase();
                        this.autoCompleteUser.value = '@'+user.full_name;
                        autoCompleteUsers.push(JSON.parse(JSON.stringify(this.autoCompleteUser)));
                    });
                    
                    this.loader = false
                    this.searchloader = false
                })
                
            ).catch(err => {
                    console.log(err)
                    this.loader = false
                    this.searchloader = false
            })
        },
        getDropdowns(val){
            const project_id = val
            this.searchloader = true
              axios.get('/kanban/dropdowns/'+project_id+''+this.params)
                .then(res => {
                    let dropdowns = res.data

                    this.projects = JSON.parse(JSON.stringify(dropdowns.projects_drop_down))
                    this.projects_drop_down = JSON.parse(JSON.stringify(dropdowns.projects_drop_down))
                    this.company_drop_down = JSON.parse(JSON.stringify(dropdowns.company_drop_down))
                    this.customers_drop_down = JSON.parse(JSON.stringify(dropdowns.customers_drop_down))
                    this.sprints_drop_down = JSON.parse(JSON.stringify(dropdowns.sprints_drop_down))
                    this.search.company_drop_down = JSON.parse(JSON.stringify(dropdowns.company_drop_down))
                    this.search.customers_drop_down = JSON.parse(JSON.stringify(dropdowns.customers_drop_down))
                    this.search.sprints_drop_down = JSON.parse(JSON.stringify(dropdowns.sprints_drop_down))
                    this.user_story_drop_down = JSON.parse(JSON.stringify(dropdowns.user_story_drop_down))
                    this.tasks_drop_down = JSON.parse(JSON.stringify(dropdowns.tasks_drop_down))
                    this.search.statuses_drop_down = JSON.parse(JSON.stringify(dropdowns.statuses_drop_down))
                    this.statuses_drop_down = JSON.parse(JSON.stringify(dropdowns.statuses_drop_down))
                    this.task_delivery_type_drop_down = JSON.parse(JSON.stringify(dropdowns.task_delivery_type_drop_down))
                    this.permissions_drop_down = JSON.parse(JSON.stringify(dropdowns.permissions_drop_down))
                    this.search.yes_no_drop_down = JSON.parse(JSON.stringify(dropdowns.yes_no_drop_down))
                    this.yes_no_drop_down = JSON.parse(JSON.stringify(dropdowns.yes_no_drop_down))
                    this.year_week_drop_down = JSON.parse(JSON.stringify(dropdowns.year_week_drop_down))
                    this.hours_drop_down = JSON.parse(JSON.stringify(dropdowns.hours_drop_down))
                    this.minutes_drop_down = JSON.parse(JSON.stringify(dropdowns.minutes_drop_down))
                    this.new_task.billable = dropdowns.is_billable;
                    this.task.billable = dropdowns.is_billable;
                    if (this.year_week_drop_down.length > 0){
                    this.selected_year_week = this.year_week_drop_down[0].year_week;
                    }

                    this.selectedProject(dropdowns.projects_drop_down)

                    this.searchloader = false
                })
                .catch(err => {
                    console.log(err)
                    this.searchloader = false
            })
        },
        getCards(){
            axios.get('/getkanban/'+window.location.pathname.split('/').pop()+""+this.params)
                .then(res => {
                    this.kanbanTasks = res.data.kanban;
                    this.task_times = res.data.times;
                    
                    this.modalAddTask = false
                if(this.kanbanTasks[0] && this.kanbanTasks[0].tasks.length > 3 && (this.search.view == 'user_story' || this.search.view == 'consultant' || this.search.view == 'priority')){
                        this.task_status_count = 'col-md-3'
                        for(let v in this.kanbanTasks){
                                this.kanbanTasks[v].height = 1
                            for(let t in this.kanbanTasks[v].tasks){
                                this.kanbanTasks[v].tasks[t].total_count = this.kanbanTasks[v].tasks[t].tasks.length
                                if(this.kanbanTasks[v].tasks[t].tasks && (this.kanbanTasks[v].tasks[t].tasks.length > this.kanbanTasks[v].height)){
                                    this.kanbanTasks[v].height = this.kanbanTasks[v].tasks[t].tasks.length
                                }
                            }
                            this.kanbanTasks[v].height = this.kanbanTasks[v].height * 150
                        }
                    }
                })
                .catch(err => {
                    console.log(err)
                })
        },
        getCustomer(project_id){
            if(project_id > 0){
                axios.get('/kanban/project/'+project_id)
                    .then(response => {
                        this.customerValue = {
                        value: response.data.id,
                        text: response.data.customer_name
                        }
                        this.new_task.customer_id = response.data.id;
                        this.getDropdowns(project_id)
                        this.getAddTaskDropdowns(project_id)
                    }).catch(error => {
                    console.log(error)
                })
            } else {
                this.customerValue = {
                    value: '',
                    text: ''
                }
            }
        },
        filterResults(){
            this.setQueryStringValues()
            this.getFilterDropdowns(this.search.project_id != '' ? this.search.project_id : this.projId)
            this.getCards()
        },
        setQueryStringDefaults(){
            let queryString = window.location.search;
            let urlParams = new URLSearchParams(queryString);
            
            if( urlParams.has('project_id') ){
                this.search.project_id = urlParams.get('project_id');
            }

            if( urlParams.has('on_kanban') ){
                this.search.on_kanban = urlParams.get('on_kanban');
            }
            
            if( urlParams.has('bugs') ){
                this.search.bugs = urlParams.get('bugs');
            }
            
            if( urlParams.has('priority') ){
                this.search.priority = urlParams.get('priority');
            }

            if( urlParams.has('resource') ){
                this.search.resource = urlParams.get('resource');
            }

            if( urlParams.has('team') ){
                this.search.team = urlParams.get('team');
            }

            if( urlParams.has('company') ){
                this.search.company = urlParams.get('company');
            }
            
            if( urlParams.has('customer') ){
                this.search.customer = urlParams.get('customer');
            }
            
            if( urlParams.has('start_date') ){
                this.search.start_date = urlParams.get('start_date');
            }
            
            if( urlParams.has('end_date') ){
                this.search.end_date = urlParams.get('end_date');
            }
            
            if( urlParams.has('sprint') ){
                this.search.sprint = urlParams.get('sprint');
            }
            
            if( urlParams.has('status') ){
                this.search.status = urlParams.get('status');
            }

            if( urlParams.has('task_id') ){
                this.search.task_id = urlParams.get('task_id');
            }

            if( urlParams.has('task_tag') ){
                this.search.task_tag = urlParams.get('task_tag');
            }

            if( urlParams.has('view') ){
                this.search.view = urlParams.get('view');
            }
        },
        setQueryStringValues(){
            const searchURL = new URL(window.location);
            searchURL.searchParams.set('project_id', this.search.project_id);
            searchURL.searchParams.set('on_kanban', this.search.on_kanban);
            searchURL.searchParams.set('bugs', this.search.bugs);
            searchURL.searchParams.set('priority', this.search.priority);
            searchURL.searchParams.set('resource', this.search.resource);
            searchURL.searchParams.set('team', this.search.team);
            searchURL.searchParams.set('company', this.search.company);
            searchURL.searchParams.set('customer', this.search.customer);
            searchURL.searchParams.set('sprint', this.search.sprint);
            searchURL.searchParams.set('status', this.search.status);
            searchURL.searchParams.set('task_id', this.search.task_id);
            searchURL.searchParams.set('start_date', (this.search.start_date != '' ? this.formatDate(this.search.start_date) : ''));
            searchURL.searchParams.set('end_date', (this.search.end_date != '' ? this.formatDate(this.search.end_date) : ''));
            searchURL.searchParams.set('task_tag', this.search.task_tag);
            searchURL.searchParams.set('view', this.search.view);

            window.history.pushState({}, '', searchURL);
            
            this.params = window.location.search;
        },
        formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

            return [year, month, day].join('-');
        },
        today(){
            let date = new Date();
            let day, month;
            day = date.getDate() < 10 ? '0'+date.getDate():date.getDate();
            month = (date.getMonth() + 1) < 10 ? '0'+(date.getMonth()+1) : (date.getMonth()+1);

            return date.getFullYear()+'-'+month+'-'+day;
        },
        searchSelectFormat(data, field){
          return data.map(v => {
            return {
              value: v.id,
              text: v[field]
            }
          })
        },
        selectedProject(projects){
          projects.forEach((project, index) => {
            if (project.id == this.search.project_id && this.selected_project == 0){
              this.selected_project = project.id
            }
          });
        },
        clearFilter(){
            this.search = {
                project_id:0,
                resource:'',
                company:'',
                customer:'',
                team:'',
                status:'',
                sprint:'',
                on_kanban:1,
                start_date:'',
                end_date:'',
                task_id:'',
                users:[],
                users_drop_down:[],
                company_drop_down:[],
                customers_drop_down:[],
                team_drop_down:[],
                yes_no_drop_down:[],
                sprints_drop_down:[],
                statuses_drop_down:[],
                task_tag:-1,
                bugs:-1,
                priority:-1,
                view:this.search.view
            }
            this.setQueryStringValues()
            this.params = window.location.search;
            this.getFilterDropdowns(window.location.pathname.split('/').pop())
            this.getCustomer(0)
        },
        finish(evt){
            
            let item = evt.added || evt.moved;

            if (!item) return;

            let card = document.getElementById(item.element.id);

            let status = card.closest('.task-board').getAttribute('id');

            axios.post('/task/move/'+item.element.id, {status:status})
                .then(response => {
                    item.element.status = status
                })
                .catch(error => {
                    alert('An error occured, could not save the task.');
                });
        },
        openDropdown() {
        this.isOpen = true;
        },
        closeDropdown() {
            setTimeout(() => {
                this.isOpen = false;
            }, 200);
        },
        selectTag(tag, event) {
            event.stopPropagation();
            this.task.emote_id = '';
                if (tag.id == 0) {
                    this.task.emote_id = -1; 
                    this.isOpen = false; 
                } else {
                    this.task.emote_id = tag.id; 
                    this.isOpen = false; 
                }
        },
        getTaskTags(){
            axios.get('/task_tags', {
            }).then(response => {
                this.tasktags = response.data
            }).catch(function (err) {
                console.log(err)
            })
        },
        getTagById(id) {
            return this.tasktags.find(tag => tag.id == id) ?? null;
        }
    },
    created(){
        this.getTaskTags()
        this.params = window.location.search;
        this.getFilterDropdowns(window.location.pathname.split('/').pop())
        if(this.search.project_id > 0){
            this.selected_project = this.search.project_id
        }
    }
}

</script>
<style>
.nav-tabs a.active {
    color: #555;
    cursor: default;
    background-color: #fff;
    border-bottom: 3px solid #343a40;
}

.dp-custom-input{
    padding-left: 2rem !important;
}

.modal.show .modal-dialog {
max-width: 90%;
}

.fullscreen-position{
    left: -295px!important;
    top: -30px!important;
    padding: 40px 100px!important;
    background-color: rgba(0,0,0, .7)!important;
    height: 100vh!important;
}
.modal{
    z-index: 1150;
}

.chat-initials {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
}

table{
    border-collapse: separate;
    border-spacing: 1px !important; /* Apply cell spacing */
}

table th, table td{
    padding: 4px !important; /* Apply cell padding */
}

.modal-dialog {
    width: 100%;
    /* height: 100%; */
    /* margin-left: 280px; */
    /*margin: 0;
    padding: 0;*/
}

.modal-content {
    height: auto;
    min-height: 90%;
    /* min-width: 90% !important;
    width: 1200px !important; */
    border-radius: 0;
}

.board-heading {
    font-weight: bold !important;
    margin: 10px;
}

.add-card {
    margin: 10px;
}

.add-card-link{
    cursor: pointer;
}

.d-flex-1{
    flex:1;
}

.task-board {
    background-color: #E2E4E6;
    display:flex;
  flex-direction:column;
  margin:0 10px 0;
    border-radius: 5px;
    height: 100%;
    padding:0rem 0.5rem 0.25rem;
}

.card{
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

.task-type {
    text-align: right;
    color: #0e90d2;
    font-size: 12px;
    font-weight: bold;
}

.sortable {
    margin: 0;
    padding: 2px;
    border-radius: 5px;
}

.sortable li {
    margin: 3px 3px 3px 3px;
    padding: 0.5em;
}

.ui-draggable, .ui-droppable {
    background-position: top;
}

.planning-btn {
    cursor: pointer;
}

.planning-btn:hover {
    cursor: pointer;
    color: #0d88c1;
}

.tox .tox-collection__item-checkmark, .tox .tox-collection__item-icon {
    align-items: center;
    display: flex;
    height: 24px;
    justify-content: left !important;
    width: 260px !important;
}

.tox .tox-collection--grid .tox-collection__group {
    display: block !important;
    flex-wrap: wrap;
    max-height: 208px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}
table>tbody>tr>td>div>p>img{
    width: 100%!important;
    height: auto!important;
}
.ui.selection.dropdown .menu>.item {
    padding: .5rem 1.14285714rem!important;
}
.blink {
  animation: blink 10s ease-out infinite;
}

@keyframes blink {
  10%, 40% {opacity: 0;}
  30%, 80% {opacity: 1;}

}


input:focus, .focused {
    outline-color: transparent !important;
    border: 1px solid transparent !important;
    outline: none !important;
    z-index:100 !important;
}
</style>