<template>
    <div style="overflow-y: auto;">
        <div v-if="loader" style="min-height:150px;width:100%;height:100%;position: relative;">
        <div class="clock"></div>
        </div>
    <div v-else class="table-responsive pt-4">
        <div v-if="(search.employee != 0 && search.employee != '-1') || manager == 0">
        <table class="table">
            <thead>
                <tr class="bg-dark">
                    <th colspan="4"></th>
                    <th colspan="3">Hours</th>
                    <th colspan="13" class="text-right">Actual Hours</th>
                    <th colspan="13">Average Planned Hours</th>
                </tr>
                <tr class="bg-dark">
                    <th>Resource</th>
                    <th>Customer</th>
                    <th>Project</th>
                    <th>Task</th>
                    <th>Planned</th>
                    <th>Actual</th>
                    <th>Remaining</th>
                    <th class="text-center toolt pl-2 pr-2" v-for="(td,index) in tds" :key="index" :style="td.key == 0 ? 'border-right:1px solid #777' : ''"><span class="tooltiptext">{{td.tooltip}}</span>{{ td.date }}</th>
                    <th class="text-center toolt pl-2 pr-2" v-for="(fd,index) in fds" :key="index"><span class="tooltiptext">{{fd.tooltip}}</span>{{ fd.date }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(a,index) in avp" :key="index">
                    <td style="vertical-align: middle;">{{ a.resource }}</td>
                    <td style="vertical-align: middle;">{{  a.customer_name }}</td>
                    <td style="vertical-align: middle;">{{ a.project_name }}</td>
                    <td style="vertical-align: middle;">{{ a.task }}</td>
                    <td class="text-center" style="vertical-align: middle;">{{ a.hours_planned }}</td>
                    <td class="text-center" style="vertical-align: middle;">{{ a.actual_hours }}</td>
                    <td class="text-center" style="vertical-align: middle;">{{ a.remaining_hours }}</td>
                    <td class="text-center toolt" style="vertical-align: middle;" width="30px" v-for="(td,index) in tds" :key="index" :style="td.key == 'A0' ? 'border-right:1px solid #777' : ''" :class="td.is_weekend ? 'bg-secondary' : ''"><span class="tooltiptext">{{td.tooltip}}</span>{{ (a[td.key] > 0 ? parseFloat(a[td.key]).toFixed(1) : '0.0') }}</td>
                    <td class="text-center toolt" style="vertical-align: middle;" width="30px" v-for="(fd,index) in fds" :key="index" :class="fd.is_weekend ? 'bg-secondary' : ''"><span class="tooltiptext">{{fd.tooltip}}</span>{{ (a[fd.key] > 0 ? parseFloat(a[fd.key]).toFixed(1) : '0.0') }}</td>
                </tr>
                
                <tr v-if="search.employee_id != 0 && search.employee_id != '-1'">
                    <td></td>
                    <td></td>
                    <!-- <td></td>
                    <td></td> -->
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <th class="text-right">Total</th>
                    <td class="text-center toolt" style="vertical-align: middle;" width="30px" v-for="(td,index) in tds" :key="index" :style="td.key == 'A0' ? 'border-right:1px solid #777' : ''" :class="td.is_weekend ? 'bg-secondary' : !totals[td.key] || parseFloat(totals[td.key]) == 0.0000 ? '' : parseFloat(totals[td.key]).toFixed(1) > 8.0 ? 'bg-warning' : parseFloat(totals[td.key]).toFixed(1) < 8.0 ? 'bg-danger' : parseFloat(totals[td.key]).toFixed(1) == 8.0 ? 'bg-success' : ''"><span class="tooltiptext">{{td.tooltip}}</span>{{ (parseFloat(totals[td.key]) > 0 ? parseFloat(totals[td.key]).toFixed(1) : '') }}</td>
                    <td class="text-center toolt" style="vertical-align: middle;" width="30px" v-for="(fd,index) in fds" :key="index" :class="fd.is_weekend ? 'bg-secondary' : !totals[fd.key] || parseFloat(totals[fd.key]) == 0.0000 ? '' : (totals[fd.key] > 8 ? 'bg-warning' : totals[fd.key] < 6 ? 'bg-danger' : totals[fd.key] <= 8 && totals[fd.key] >= 6 ? 'bg-success' : '')"><span class="tooltiptext">{{fd.tooltip}}</span>{{ (totals[fd.key] > 0 ? parseFloat(totals[fd.key]).toFixed(1) : '') }}</td>
                </tr>
            </tbody>
        </table>
        </div>
        <div v-else>
        <table class="table">
            <thead>
                <tr class="bg-dark">
                    <th colspan="3">Hours</th>
                    <th colspan="13" class="text-right">Actual Hours</th>
                    <th colspan="13">Average Planned Hours</th>
                </tr>
                <tr class="bg-dark">
                    <th>Resource</th>
                    <th>Actual</th>
                    <th>Remaining</th>
                    <th class="text-center toolt pl-2 pr-2" v-for="(td,index) in tds" :key="index" :style="td.key == 'A0' ? 'border-right:1px solid #777' : ''"><span class="tooltiptext">{{td.tooltip}}</span>{{ td.date }}</th>
                    <th class="text-center toolt pl-2 pr-2" v-for="(fd,index) in fds" :key="index"><span class="tooltiptext">{{fd.tooltip}}</span>{{ fd.date }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(a,index) in avp" :key="index">
                    <td style="vertical-align: middle;">{{ a.resource }}</td>
                    <td class="text-center" style="vertical-align: middle;">{{ (a.actual_hours / 1).toFixed(1) }}</td>
                    <td class="text-center" style="vertical-align: middle;">{{ (a.remaining_hours / 1).toFixed(1) }}</td>
                    <td class="text-center toolt" style="vertical-align: middle;" width="30px" v-for="(td,index) in tds" :style="td.key == 'A0' ? 'border-right:1px solid #777' : ''" :key="index" :class="td.is_weekend ? 'bg-secondary' : !a[td.key] || parseFloat(a[td.key]) == 0.0000 ? '' : parseFloat(a[td.key]).toFixed(1) > 8.0 ? 'bg-warning' : parseFloat(a[td.key]).toFixed(1) < 8.0 ? 'bg-danger' : parseFloat(a[td.key]).toFixed(1) == 8.0 ? 'bg-success' : ''"><span class="tooltiptext">{{td.tooltip}}</span>{{ (parseFloat(a[td.key]) > 0 ? parseFloat(a[td.key]).toFixed(1) : '') }}</td>
                    <td class="text-center toolt" style="vertical-align: middle;" width="30px" v-for="(fd,index) in fds" :key="index" :class="fd.is_weekend ? 'bg-secondary' : !a[fd.key] || parseFloat(a[fd.key]) == 0.0000 ? '' : (a[fd.key] > 8 ? 'bg-warning' : a[fd.key] < 6 ? 'bg-danger' : a[fd.key] <= 8 && a[fd.key] >= 6 ? 'bg-success' : '')"><span class="tooltiptext">{{fd.tooltip}}</span>{{ (a[fd.key] > 0 ? parseFloat(a[fd.key]).toFixed(1) : '') }}</td>
                </tr>
                
                <tr v-if="search.employee_id != 0 && search.employee_id != '-1'">
                    <td></td>
                    <td></td>
                    <th class="text-right">Total</th>
                    <th class="text-center toolt" width="15px" v-for="(td,index) in tds" :class="td.is_weekend ? 'bg-secondary' : ''" :style="td.key == 'A0' ? 'border-right:1px solid #777' : ''" :key="index"><span class="tooltiptext">{{td.tooltip}}</span>{{ (totals[td.key] ? (totals[td.key] / 1).toFixed(1) : 0) }}</th>
                    <th class="text-center toolt" width="15px" v-for="(fd,index) in fds" :key="index" :class="fd.is_weekend ? 'bg-secondary' : ''"><span class="tooltiptext">{{fd.tooltip}}</span>{{ (totals[fd.key] ? (totals[fd.key]).toFixed(1) : 0) }}</th>                
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    </div>
</template>

<script setup>
import axios from 'axios';
import role from '../../../permissions';

</script>

<script>

export default{
    props:{
        search:{
            type:Object,
            default:{}
        }
    },
    data() {
        return {
            avp:[],
            tds:[],
            fds:[],
            totals:[],
            loader:false,
            manager:0
        }
    },
    methods: {
        getAvsP(){
            this.loader = true
            let parameters = this.search
            axios.get('/my-work-week/get-actual-vs-planned',{params:parameters}).then(response => {
                let avps = response.data.data
                this.avp = []
                this.tds = response.data.td
                this.fds = response.data.fd
                this.manager = response.data.manager

                let tot = []
                for(let v in this.tds){
                    tot[this.tds[v].key] = 0
                }

                for(let v in this.fds){
                    tot[this.fds[v].key] = 0
                }

                    let m = []
                if(response.data.manager == 1){
                    for(let v in avps){
                        let data = []
                        data['resource']= avps[v].consultant_first_name+' '+avps[v].consultant_last_name
                        data['actual_hours']= avps[v].actual_hours ?? 0
                        data['remaining_hours'] = avps[v].remaining_hours ?? 0
                        data['A0'] = avps[v].A0 ?? 0
                        data['A1'] = avps[v].A1 ?? 0
                        data['A2'] = avps[v].A2 ?? 0
                        data['A3'] = avps[v].A3 ?? 0
                        data['A4'] = avps[v].A4 ?? 0
                        data['A5'] = avps[v].A5 ?? 0
                        data['A6'] = avps[v].A6 ?? 0
                        data['A7'] = avps[v].A7 ?? 0
                        data['A8'] = avps[v].A8 ?? 0
                        data['A9'] = avps[v].A9 ?? 0
                        data['A10'] = avps[v].A10 ?? 0
                        data['A11'] = avps[v].A11 ?? 0
                        data['A12'] = avps[v].A12 ?? 0
                        data['P0'] = avps[v].P0 ?? 0
                        data['P1'] = avps[v].P1 ?? 0
                        data['P2'] = avps[v].P2 ?? 0
                        data['P3'] = avps[v].P3 ?? 0
                        data['P4'] = avps[v].P4 ?? 0
                        data['P5'] = avps[v].P5 ?? 0
                        data['P6'] = avps[v].P6 ?? 0
                        data['P7'] = avps[v].P7 ?? 0
                        data['P8'] = avps[v].P8 ?? 0
                        data['P9'] = avps[v].P9 ?? 0
                        data['P10'] = avps[v].P10 ?? 0
                        data['P11'] = avps[v].P11 ?? 0
                        data['P12'] = avps[v].P12 ?? 0
                        // })
                        if(!m[avps[v].consultant_first_name+' '+avps[v].consultant_last_name]){
                            m[avps[v].consultant_first_name+' '+avps[v].consultant_last_name] = data
                        } else {
                            if(data['actual_hours']){
                                m[avps[v].consultant_first_name+' '+avps[v].consultant_last_name]['actual_hours'] = parseFloat(m[avps[v].consultant_first_name+' '+avps[v].consultant_last_name]['actual_hours']) + parseFloat(data['actual_hours'])
                            }
                            if(data['remaining_hours']){
                                m[avps[v].consultant_first_name+' '+avps[v].consultant_last_name]['remaining_hours'] = parseFloat(m[avps[v].consultant_first_name+' '+avps[v].consultant_last_name]['remaining_hours']) + parseFloat(data['remaining_hours'])
                            }
                            for(let a in this.tds){
                                if(data[this.tds[a].key]){
                                    m[avps[v].consultant_first_name+' '+avps[v].consultant_last_name][this.tds[a].key] = parseFloat(m[avps[v].consultant_first_name+' '+avps[v].consultant_last_name][this.tds[a].key]) + parseFloat(data[this.tds[a].key])
                                    
                                    // tot[this.tds[a].key] = parseFloat(tot[this.tds[a].key]) + parseFloat(data[this.tds[a].key])
                                    // if(this.tds[a].key == 'A12'){
                                    // console.log(tot[this.tds[a].key])
                                    // }
                                }
                            }

                            for(let p in this.fds){
                                if(data[this.fds[p].key]){
                                    m[avps[v].consultant_first_name+' '+avps[v].consultant_last_name][this.fds[p].key] = parseFloat(m[avps[v].consultant_first_name+' '+avps[v].consultant_last_name][this.fds[p].key]) + parseFloat(data[this.fds[p].key])
                                    // tot[this.fds[p].key] = parseFloat(tot[this.fds[p].key]) + parseFloat(data[this.fds[p].key])
                                }
                            }
                        }                   

                    }
                    
                    for(let v in m){
                            for(let a in this.tds){
                                    tot[this.tds[a].key] = parseFloat(tot[this.tds[a].key]) + parseFloat(m[v][this.tds[a].key])
                            }

                            for(let p in this.fds){
                                    tot[this.fds[p].key] = parseFloat(tot[this.fds[p].key]) + parseFloat(m[v][this.fds[p].key])
                            }
                        this.avp.push(m[v])
                    }
                 } else {
                        for(let v in avps){
                        let data = []
                        data['resource'] = avps[v].consultant_first_name+' '+avps[v].consultant_last_name
                        data['customer_name'] = avps[v].customer_name
                        data['project_name'] = avps[v].project_name
                        data['task'] = avps[v].task
                        data['hours_planned']= avps[v].hours_planned ?? 0
                        data['actual_hours']= avps[v].actual_hours ?? 0
                        data['remaining_hours'] = avps[v].remaining_hours ?? 0
                        data['A0'] = avps[v].A0
                        data['A1'] = avps[v].A1
                        data['A2'] = avps[v].A2
                        data['A3'] = avps[v].A3
                        data['A4'] = avps[v].A4
                        data['A5'] = avps[v].A5
                        data['A6'] = avps[v].A6
                        data['A7'] = avps[v].A7
                        data['A8'] = avps[v].A8
                        data['A9'] = avps[v].A9
                        data['A10'] = avps[v].A10
                        data['A11'] = avps[v].A11
                        data['A12'] = avps[v].A12
                        data['P0'] = avps[v].P0
                        data['P1'] = avps[v].P1
                        data['P2'] = avps[v].P2
                        data['P3'] = avps[v].P3
                        data['P4'] = avps[v].P4
                        data['P5'] = avps[v].P5
                        data['P6'] = avps[v].P6
                        data['P7'] = avps[v].P7
                        data['P8'] = avps[v].P8
                        data['P9'] = avps[v].P9
                        data['P10'] = avps[v].P10
                        data['P11'] = avps[v].P11
                        data['P12'] = avps[v].P12
                        // })

                        for(let a in this.tds){
                            if(data[this.tds[a].key]){
                                tot[this.tds[a].key] = parseFloat(tot[this.tds[a].key]) + parseFloat(data[this.tds[a].key])
                            }
                        }

                        for(let p in this.fds){
                            if(data[this.fds[p].key]){
                                tot[this.fds[p].key] = parseFloat(tot[this.fds[p].key]) + parseFloat(data[this.fds[p].key])
                            }
                        }
                    

                        this.avp.push(data)
                    }
                }
                
                this.totals = tot
                this.loader = false
            }).catch(function (err) {
                console.log(err)
                this.loader = false
            })
        }
    },
    watch: {
        search: {
            immediate: true,
            deep: true,
            handler(newValue, oldValue) {
                    this.getAvsP()
            }
        }
        },
    created(){
    }
}

</script>