<template>
    <div>
        <div class="row" style="overflow-x: scroll; flex-wrap: nowrap;">
            <div v-for="card in this.cards" class="col-lg-2 task-board">
                <p class="board-heading">{{card.status.name}}</p>
                <ul :id="'ul_list_'+card.status.id" :board-id="card.status.id" class="sortable connectedSortable">
                    <li :action-id="action.id" v-for="action in card.actions" :class="'card card_'+action.id+' ui-sortable-handle'">
                        
                        <table class="table table-sm table-borderless">
                                <body>
                                <tr>
                                    <td style="width: 90%">
                                        <a v-on:click="viewAction(action.id)">
                                            <b>{{action.id}}</b> {{action.subject}}
                                        </a>
                                    </td>
                                    <td>
                                        <i v-if="action.emote_id == 1" class="fas fa-frown fa-2x" style="color:red;"></i>
                                        <i v-if="action.emote_id == 2" class="fas fa-exclamation fa-2x" style="color:orange;"></i>
                                        <i v-if="action.emote_id == 3" class="fas fa-smile fa-2x" style="color:green;"></i>
                                        <i v-if="action.emote_id == 4" class="fas fa-user-check fa-2x" style="color:purple;"></i>
                                        <i v-if="action.emote_id == 5" class="fas fa-upload fa-2x" style="color:blue;"></i>
                                    </td>
                                    </tr>
                                </body>
                            </table>
                        <p>{{action.assigned_user.first_name != null ? action.assigned_user.first_name : ''}} {{action.assigned_user.last_name != null ? action.assigned_user.last_name : ''}}</p>
                    </li>
                </ul>
                <P class="add-card">
                    <a class="add-card-link" v-on:click="addAction(action_status.id)">Add Action ...</a>
                </P>
            </div>
        </div>

        <button id="modalBtn" data-toggle="modal" data-target="#add_action_modal" style="display: none;">Toggle Modal</button>
        <!-- Modal -->
        <div class="modal fade" id="add_action_modal" tabindex="-1" role="dialog" aria-labelledby="add_action_modal_label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div style="width: 900px" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="add_task_modal_label" style="width: 100%;">
                            Action {{action.id}} <br/>
                            <table class="table table-sm table-borderless" style="margin-bottom: 0px !important;">
                                <tr>
                                    <td style="width: 20px;">{{action.id}}</td><td><input style="font-size: 17px;" type="text" v-model="action.subject" class="form-control form-control-sm col-md-12" /></td>
                                </tr>
                            </table>
                        </h5>
                        <button id="closeModalBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-sm table-borderless">
                            <tr>
                                <td style="width: 25%">
                                    <select v-model="action.assigned_user_id" class="form-control form-control-sm col-md-12">
                                        <option>Assigned User</option>
                                        <option v-for="(assigned_user, index) in this.users" :value="assigned_user.id">{{assigned_user.full_name}}</option>
                                    </select>
                                </td>
                                <td style="width: 25%"><i class="fa fa-comment"></i> {{Object(this.messages).length != null ? Object(this.messages).length : 0}} comments</td>
                                <td style="width: 25%"> 
                                    <button class="btn btn-default" v-on:click="setEmote(1)" style="border-radius: 50%; margin-right:1%;" name="emote_frown" id="emote_frown"><i class="fa fa-frown fa-lg" style="color: red;"></i></button>
                                    <button class="btn btn-default" v-on:click="setEmote(2)" style="border-radius: 50%; margin-right:1%;" name="emote_exclamation" id="emote_exclamation"><i class="fa fa-exclamation fa-lg" style="color: orange;"></i></button>
                                    <button class="btn btn-default" v-on:click="setEmote(3)" style="border-radius: 50%; margin-right:1%;" name="emote_smile" id="emote_smile"><i class="fa fa-smile fa-lg" style="color: green;"></i></button>
                                    <button class="btn btn-default" v-on:click="setEmote(4)" style="border-radius: 50%; margin-right:1%;" name="emote_test" id="emote_test"><i class="fa fa-user-check fa-lg" style="color: purple;"></i></button>
                                    <button class="btn btn-default" v-on:click="setEmote(5)" style="border-radius: 50%; margin-right:1%;" name="emote_deploy" id="emote_deploy"><i class="fa fa-upload fa-lg" style="color: blue;"></i></button>
                                    <button class="btn btn-default" v-on:click="setEmote(0)" style="border-radius: 50%; margin-right:1%;" name="emote_none" id="emote_none"><i class="fa fa-times fa-lg"></i></button>
                                </td>
                                <td style="width: 25%" class="text-right">
                                    <button v-if="this.isSending" v-on:click="updateAction()" class="btn btn-sm btn-success" disabled><i class="fa fa-spinner"></i> Sending ...</button>
                                    <button v-if="!this.isSending" v-on:click="updateAction()" class="btn btn-sm btn-success">Save & Close</button>
                                </td>
                            </tr>
                        </table>
                        <div style="background-color: #F8F8F8; padding: 15px; border-radius: 4px;">
                            <table class="table table-sm table-borderless">
                            <tr>
                                <th style="width: 10%;">Description</th>
                                <td style="width: 23%;">
                                    <input type="text" v-model="action.description" class="form-control form-control-sm col-md-12" />
                                </td>
                                <th style="width: 10%;">Board</th>
                                <td style="width: 23%;">
                                    <select v-model="action.board_id" class="form-control form-control-sm col-md-12">
                                        <option v-for="(board, index) in this.boards_drop_down" :value="board.id">{{board.name}}</option>
                                    </select>
                                </td>
                                <th style="width: 10%;">Sprint</th>
                                <td style="width: 23%;">
                                    <select v-model="action.sprint_id" class="form-control form-control-sm col-md-12">
                                        <option v-for="(sprint, index) in this.sprints_drop_down" :value="sprint.id">{{sprint.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th style="width: 10%;">Status</th>
                                <td style="width: 23%;">
                                    <select v-model="this.action.status_id" class="form-control form-control-sm col-md-12">
                                        <option v-for="(team, index) in this.statuses_drop_down" :value="team.id">{{team.name}}</option>
                                    </select>
                                </td>
                                <th style="width: 10%;">Team</th>
                                <td style="width: 23%;">
                                    <select v-model="action.team_id" class="form-control form-control-sm col-md-12">
                                        <option v-for="(status, index) in this.teams_drop_down" :value="status.id">{{status.team_name}}</option>
                                    </select>
                                </td>
                                <th style="width: 10%;">Vendor</th>
                                <td style="width: 24%;">
                                    <select v-model="action.vendor_id" class="form-control form-control-sm col-md-12">
                                        <option v-for="(vendor, index) in this.vendors_drop_down" :value="vendor.id">{{vendor.vendor_name}}</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-5">
                                <table class="table table-sm table-borderless">
                                    <thead>
                                        <tr>
                                            <th style="border-bottom: 1px solid grey !important;">Detail</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <textarea v-model="action.detail" rows="5" cols="50" class="form-control form-control-sm col-md-12"></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Discussion</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <textarea v-model="message" rows="5" cols="50"  class="form-control form-control-sm col-md-12"></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                <button style="margin-bottom: 5px; margin-top: 5px;" v-on:click="addMessage()" class="btn btn-sm btn-default">Save Note</button>
                                            </td>
                                        </tr>
                                        <tr v-for="message in messages">
                                            <td>
                                                <textarea rows="3" cols="50"  class="form-control form-control-sm col-md-12" disabled>{{message.note}}</textarea>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-sm table-borderless">
                                    <thead>
                                    <tr><th style="border-bottom: 1px solid grey !important;">Documents</th></tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                          <td>
                                              <!--<input type="text" v-model="action.priority_id" class="form-control form-control-sm col-md-12" />-->
                                            <input id="file" type="file" v-on:change="documentUpload" class="form-control form-control-sm col-md-12 " value="Add File"/>
                                          </td>
                                      </tr>
                                    </tbody>
                                </table>
                                <table class="table table-sm table-borderless" id="documents_table">
                                    <tbody v-for="doc in documents">
                                        <tr>
                                            <td>
                                                <!-- <a v-on:click="downloadDocument(doc.id)" href="/files/actions/" + $doc.file>{{doc.name}}</a> -->
                                                <a :href="'/files/actions/' +doc.file" download>{{doc.name}}  </a>
                                                <!-- <a href="#">{{doc.name}}</a> -->
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-default float-right" v-on:click="deleteDocument(doc.id)"><i class="fas fa-trash" style="color: red;"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-3">
                                <table class="table table-sm table-borderless">
                                    <thead>
                                        <tr><th style="border-bottom: 1px solid grey !important;">Planning</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr><td>Priority</td></tr>
                                        <tr><td><input type="text" v-model="action.priority_id" class="form-control form-control-sm col-md-12" /></td></tr>
                                        <tr><td>Accepted Date</td></tr>
                                        <tr><td><input type="date" v-model="action.acceptance_date" class="form-control form-control-sm col-md-12 datepicker" /></td></tr>
                                        <tr><td>Due Date</td></tr>
                                        <tr><td><input type="text" v-model="action.due_date" class="form-control form-control-sm datepicker col-md-12" /></td></tr>
                                        <tr><td>Completed Date</td></tr>
                                        <tr><td><input type="text" v-model="action.completed_date" class="form-control form-control-sm col-md-12 datepicker" /></td></tr>
                                        <tr><td>Reject Reason</td></tr>
                                        <select v-model="action.rejection_reason_id" class="form-control form-control-sm col-md-12">
                                            <option v-for="(reason, index) in this.rejection_reason_drop_down" :value="reason.id">{{reason.name}}</option>
                                        </select>
                                        <tr><td>Reject Timestamp</td></tr>
                                        <tr><td><input type="text" v-model="action.reject_timestamp" class="form-control form-control-sm col-md-12 datepicker" /></td></tr>
                                        <tr><td>Estimate Effort</td></tr>
                                        <tr><td><input type="text" v-model="action.estimated_effort" class="form-control form-control-sm col-md-12" /></td></tr>
                                        <tr><td>Actual Hours</td></tr>
                                        <tr><td><input type="text" v-model="action.actual_hours" class="form-control form-control-sm col-md-12" /></td></tr>
                                        <tr><td>Dependency</td></tr>
                                        <select v-model="action.dependency_id" class="form-control form-control-sm col-md-12">
                                            <option v-for="(action, index) in this.actions_drop_down" :value="action.id">{{action.subject}}</option>
                                        </select>
                                        <tr><td>Link</td></tr>
                                        <tr><td><input type="text" v-model="action.link" class="form-control form-control-sm col-md-12" /></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-sm table-borderless">
                                    <thead>
                                        <tr><th style="border-bottom: 1px solid grey !important;">Related Objects</th></tr>
                                        </thead>
                                        <tbody>
                                        <tr><td>Related Users</td></tr>
                                        <tr>
                                            <td>
                                                <select v-model="this.related_users_array" class="form-control form-control-sm col-md-12 chosen-select" multiple>
                                                    <option v-for="(related_user, index) in this.users" :value="related_user.id">{{related_user.full_name}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr><td>Related Project</td></tr>
                                        <tr>
                                            <td>
                                                <select v-model="action.related_project_id" class="form-control form-control-sm col-md-12">
                                                    <option v-for="(project, index) in this.projects_drop_down" :value="project.id">{{project.name}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr><td>Related Task</td></tr>
                                        <tr>
                                            <td>
                                                <select v-model="action.related_task_id" class="form-control form-control-sm col-md-12">
                                                    <option v-for="(task, index) in this.tasks_drop_down" :value="task.id">{{task.description}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr><td>Related Customer</td></tr>
                                        <tr>
                                            <td>
                                                <select v-model="action.related_customer_id" class="form-control form-control-sm col-md-12">
                                                    <option v-for="(customer, index) in this.customers_drop_down" :value="customer.id">{{customer.customer_name}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr><td>Related Job Spec</td></tr>
                                        <tr>
                                            <td>
                                                <select v-model="action.related_job_spec_id" class="form-control form-control-sm col-md-12">
                                                    <option v-for="(job_spec, index) in this.job_specs_drop_down" :value="job_spec.id">{{job_spec.reference_number}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr><td>Related Customer Invoice</td></tr>
                                        <tr>
                                            <td>
                                                <select v-model="action.related_customer_invoice_id" class="form-control form-control-sm col-md-12">
                                                    <option v-for="(related_customer_invoice, index) in this.customer_invoices_drop_down" :value="related_customer_invoice.id">{{related_customer_invoice.inv_ref}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr><td>Related Vendor Invoice</td></tr>
                                        <tr>
                                            <td>
                                                <select v-model="action.related_vendor_invoice_id" class="form-control form-control-sm col-md-12">
                                                    <option v-for="(related_vendor_invoice, index) in this.vendor_invoices_drop_down" :value="related_vendor_invoice.id">{{related_vendor_invoice.vendor_invoice_ref}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr><td>Related Prospect</td></tr>
                                        <tr>
                                            <td>
                                                <select v-model="action.prospect_id" class="form-control form-control-sm col-md-12">
                                                    <option v-for="(prospect, index) in this.prospect_drop_down" :value="prospect.id">{{prospect.prospect_name}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-sm table-borderless">
                                    <thead>
                                    <tr><th style="border-bottom: 1px solid grey !important;">Notifications</th></tr>
                                    </thead>
                                    <tbody>
                                    <tr><td>Send Notification Assigned?</td></tr>
                                    <tr>
                                        <td>
                                            <select v-model="action.send_notification_assigned" class="form-control form-control-sm col-md-12">
                                                <option :value="1">Yes</option>
                                                <option :value="0">No</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr><td>Send notification created?</td></tr>
                                    <tr>
                                        <td>
                                            <select v-model="action.send_notification_created" class="form-control form-control-sm col-md-12">
                                                <option :value="1">Yes</option>
                                                <option :value="0">No</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr><td>Send Notification related?</td></tr>
                                    <tr>
                                        <td>
                                            <select v-model="action.send_notification_related" class="form-control form-control-sm col-md-12">
                                                <option :value="1">Yes</option>
                                                <option :value="0">No</option>
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "ActionEditComponent",
        mounted() {
            this.serverURL = window.location.origin;
            this.vueParameters = JSON.parse(this.parameters);
            // this.actions = JSON.parse(JSON.stringify(this.vueParameters.actions));
            this.cards = JSON.parse(JSON.stringify(this.vueParameters.cards));
            this.users = JSON.parse(JSON.stringify(this.vueParameters.users_drop_down));
            this.boards_drop_down = JSON.parse(JSON.stringify(this.vueParameters.boards_drop_down));
            this.sprints_drop_down = JSON.parse(JSON.stringify(this.vueParameters.sprints_drop_down));
            this.teams_drop_down = JSON.parse(JSON.stringify(this.vueParameters.teams_drop_down));
            this.statuses_drop_down = JSON.parse(JSON.stringify(this.vueParameters.statuses_drop_down));
            console.log('this.statuses_drop_down', this.statuses_drop_down);
            this.vendors_drop_down = JSON.parse(JSON.stringify(this.vueParameters.vendors_drop_down));
            this.actions_drop_down = JSON.parse(JSON.stringify(this.vueParameters.actions_drop_down));
            this.projects_drop_down = JSON.parse(JSON.stringify(this.vueParameters.projects_drop_down));
            this.tasks_drop_down = JSON.parse(JSON.stringify(this.vueParameters.tasks_drop_down));
            this.customers_drop_down = JSON.parse(JSON.stringify(this.vueParameters.customers_drop_down));
            this.prospect_drop_down = JSON.parse(JSON.stringify(this.vueParameters.prospect_drop_down));

            this.vendor_invoices_drop_down = JSON.parse(JSON.stringify(this.vueParameters.vendor_invoices_drop_down));
            this.customer_invoices_drop_down = JSON.parse(JSON.stringify(this.vueParameters.customer_invoices_drop_down));
            this.job_specs_drop_down = JSON.parse(JSON.stringify(this.vueParameters.job_specs_drop_down));
            this.rejection_reason_drop_down = JSON.parse(JSON.stringify(this.vueParameters.rejection_reason_drop_down));
            console.log(this.vueParameters);
        },
        data: function () {
            return {
                isSending: false,
                vueParameters: null,
                boards_drop_down: null,
                sprints_drop_down: null,
                teams_drop_down: null,
                statuses_drop_down: null,
                vendors_drop_down: null,
                actions_drop_down: null,
                projects_drop_down: null,
                tasks_drop_down: null,
                customers_drop_down: null,
                prospect_drop_down: null,
                related_users_array: [],
                vendor_invoices_drop_down: null,
                customer_invoices_drop_down: null,
                job_specs_drop_down: null,
                rejection_reason_drop_down: null,
                users: null,
                cards: [],
                action: {
                    id: ''
                },
                messages: [],
                message: '',
                actions: [],
                action_statuses: null,
                subject: null,
                documents: []
            }
        },
        props: [
            'parameters'
        ],
        methods: {
            addAction(action_status_id) {
                axios.get(this.serverURL+'/api/invoice/items/'+this.invoice_id+'/'+this.invoice_type_id, {})
                .then(response => {
                    this.items = response.data;
                    console.log(this.items);
                });
            },
            updateAction() {
                this.isSending = true;
                console.log('New Action', this.action);
                let request = this.action;
                axios.post(this.serverURL+'/api/action/updateaction/'+this.action.id, {
                    request
                })
                .then(response => {
                    this.getAction(this.action.id);
                    this.getCards();
                    console.log(response.data);
                    this.isSending = false;
                    document.getElementById("closeModalBtn").click();
                });
            },
            viewAction(action_id) {
                console.log('ActionID', action_id);
                axios.get(this.serverURL+'/api/action/'+action_id, {})
                .then(response => {
                    this.action = response.data;
                    let tmp_related_users_array = JSON.parse(JSON.stringify(this.action.related_users_array));
                    this.related_users_array = JSON.parse(JSON.stringify(tmp_related_users_array));
                    /*tmp_related_users_array.forEach((value, index) => {
                       console.log(value, index);
                        this.related_users_array[index] = value;
                    });*/
                    console.log('this.related_users_array', this.related_users_array);
                    console.log('this.related_users_array', JSON.parse(JSON.stringify(this.related_users_array)));
                    console.log('this.action', this.action);
                    this.getDocuments(this.action.id);
                    document.getElementById("modalBtn").click();
                });

                this.messages = this.getMessages(action_id);
            },
            addMessage(){
                axios.post(this.serverURL+'/api/action/message/'+this.action.id, {
                    message: this.message
                })
                .then(response => {
                    this.message = '';
                    this.messages = this.getMessages(this.action.id);
                });
            },
            getMessages(action_id){
                axios.get(this.serverURL+'/api/action/getmessages/'+action_id, {})
                .then(response => {
                    this.messages = response.data;
                    console.log('this.messages', this.messages);
                });
            },
            getAction(action_id){
                axios.get(this.serverURL+'/api/action/'+action_id, {})
                .then(response => {
                    this.action = response.data;
                });
            },
            getCards(){
                axios.get(this.serverURL+'/api/cards', {})
                .then(response => {
                    this.cards = JSON.parse(JSON.stringify(response.data));
                });
            },
            setEmote(emote_id){
                axios.post(window.location.origin+'/action/setemote/'+this.action.id, {
                    emote_id: emote_id
                })
                .then(response => {
                    alert('Emote set successfully')
                    this.getCards();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            documentUpload(e){
                console.log(e.target.files[0]);
                this.file = e.target.files[0];

                e.preventDefault();

                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                }

                let formData = new FormData();
                formData.append('file', this.file);
                // formData.append('user_id', this.user_id);

                axios.post('/action/uploaddocument/'+this.action.id, formData, config)
                .then(response => {
                    console.log(response);
                    this.getDocuments(this.action.id);
                    this.file = null;
                    document.getElementById('file').value= null;
                    alert('File uploaded successfully');
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            getDocuments(action_id){
                axios.get(this.serverURL+'/action/getdocuments/'+action_id, {})
                .then(response => {

                    this.documents = JSON.parse(JSON.stringify(response.data));
                    // console.log('this.documents', this.documents);
                    console.log(this.documents);
                    var count = 0;
                    var table = document.getElementById("documents_table");
                    this.documents.forEach(document => {
                        documents[count] = document
                        count = count + 1;
                    });
                });
            },
            deleteDocument(document_id){
                const confirmFlag = confirm('Are you sure you want to delete this document?')

                if(!confirmFlag){
                    return false;
                }

                axios.post(this.serverURL+'/action/deletedocument/'+document_id, {})
                .then(response => {
                    this.getDocuments(this.action.id);
                    alert('Document deleted successfully.')
                });
            },
            downloadDocument(document_id){
                axios.post(this.serverURL+'/action/downloaddocument/'+document_id, {})
                .then(response => {
                    this.getDocuments(this.action.id);
                    alert('Document downloaded successfully.')
                });
            },
        }
    }
</script>

<style>
    /*input, textarea, select{
        outline: none !important;
    }

    input, select {
        ouline: none !important; border: none !important;
    }

    input:hover {
        ouline: none !important; border: 1px solid !important;
    }

    select:hover {
        ouline: none !important; border: 1px solid !important;
    }

    .form-control-sm {
        padding: 0px !important;
    }

    option {
        font-weight: normal;
        display: block;
        white-space: pre;
        min-height: 0em;
        padding: 0px 0px 0px;
    }*/

    table{
        border-collapse: separate;
        border-spacing: 1px !important; /* Apply cell spacing */
    }
    table, th, td{
        /*border: 1px solid #666;*/
    }
    table th, table td{
        padding:  4px !important; /* Apply cell padding */
    }

</style>