<template>
    <div class="w-100">
        <table class="table table-sm w-100">
            <thead class="bg-dark">
                <tr>
                    <th>Year</th>
                    <th>Period Name</th>
                    <th>Period Number</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th class="last">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="is_editing">
                    <td><input type="text" v-model="year" class="form-control form-control-sm" :class="v_errors.year?'is-invalid':''"></td>
                    <td><input type="text" v-model="period_name" class="form-control form-control-sm" :class="v_errors.period_name?'is-invalid':''"></td>
                    <td><input type="text" v-model="period_number" class="form-control form-control-sm" :class="v_errors.period_name?'is-invalid':''"></td>
                    <td><datepicker v-model="start_date" format="yyyy-MM-dd"></datepicker><!--<input type="date" v-model="start_date" class="form-control form-control-sm" :class="v_errors.start_date?'is-invalid':''">--></td>
                    <td><datepicker v-model="end_date" format="yyyy-MM-dd"></datepicker><!--<input type="date" v-model="end_date" class="form-control form-control-sm" :class="v_errors.end_date?'is-invalid':''">--></td>
                    <td class="last">
                        <button class="btn btn-sm btn-dark" @click="update">{{ save_button }}</button>
                        <button class="btn btn-sm btn-danger" @click="()=>{is_editing = !is_editing; getPeriods()}"><i class="fas fa-window-close"></i></button>
                    </td>
                </tr>
                <tr v-for="(period, index) in billing_periods" :key="index" :ref="'row_'+period.id">
                    <td>{{period.year}}</td>
                    <td>{{period.period_name}}</td>
                    <td>{{period.period_number}}</td>
                    <td>{{period.start_date}}</td>
                    <td>{{period.end_date}}</td>
                    <td class="last">
                        <button v-if="can_update == 1" class="btn btn-sm btn-success mr-2" @click="edit(period, index)" :ref="'edit_'+period.id">Edit</button>
                        <button v-if="can_update == 1" class="btn btn-sm btn-danger" @click="destroy(period.id)" :ref="'delete_'+period.id">{{delete_button}}</button>
                    </td>
                </tr>
                <tr v-if="is_adding">
                    <td><input type="text" v-model="year" class="form-control form-control-sm" :class="v_errors.year?'is-invalid':''"></td>
                    <td><input type="text" v-model="period_name" class="form-control form-control-sm" :class="v_errors.period_name?'is-invalid':''"></td>
                    <td><input type="text" v-model="period_number" class="form-control form-control-sm" :class="v_errors.period_name?'is-invalid':''"></td>
                    <td><datepicker v-model="start_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false"></datepicker></td>
                    <td><datepicker v-model="end_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false"></datepicker></td>
                    <td>
                        <button class="btn btn-sm btn-dark" @click="createBillingPeriod">{{ save_button }}</button>
                        <button class="btn btn-sm btn-danger" @click="()=>{is_adding = !is_adding; getPeriods()}"><i class="fas fa-window-close"></i></button>
                    </td>
                </tr>
                <tr v-if="!is_adding">
                    <td colspan="5"></td>
                    <td><button v-if="can_create == 1" class="btn btn-sm btn-dark" @click="isAdding">Add Period</button></td>
                 </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';

export default {
    name: "BillingPeriodComponent",
    mounted() {
        this.billing_periods = this.billingPeriods;
    },
    props: [
        'billingPeriods',
        'billingCycleId',
        'editPage',
        'can_create',
        'can_update'
    ],
    components: {
        Datepicker
    },
    data: function (){
        return {
            billing_periods: [],
            is_adding: false,
            year: "",
            period_name: "",
            period_number: 0,
            start_date: "",
            period_id: 0,
            end_date: "",
            save_button: "Save Period",
            billing_cycle_id: 0,
            v_errors:{
                year: false,
                period_name: false,
                period_number: false,
                start_date: false,
                end_date: false,
            },
            delete_button: "Delete",
            is_editing: false

        }
    },
    methods: {
        isAdding(){
            if (this.is_editing){
                alert("You can't add new period while you're still editing another 1");
                return false;
            }
            this.is_adding = !this.is_adding;
            this.save_button = "Save Period";
            this.is_editing = false;
            axios.get('/period/create?bill_cycle='+this.billingCycleId)
                .then(response => {
                    let data = response.data;
                    this.year = data.year;
                    this.period_number = data.period_number;
                    this.start_date = data.start_date;
                    this.end_date = data.end_date;
                })
                .catch(err => console.log(err));
        },
        createBillingPeriod(){
            this.save_button = "Saving...";
            axios.post('/period', this.postData())
                .then(response =>{
                    console.log(response)
                    this.resetError("Save Period");
                    this.getPeriods();
                    this.is_adding = !this.is_adding;
                    this.period_name = "";
                })
                .catch(err => {
                    alert(err.response.data.error)
                    console.log(err.response);
                    //this.checkErrors(err, "Save Period");
                });
        },
        edit(period, index){
            if (this.is_adding){
                alert("You can't editing period while you're still adding another 1");
                return false;
            }

            if (this.is_editing){
                alert("Please finish editing the period you're editing.");
                return false;
            }

            this.save_button = "Update Period"

            if(index === 0){
                this.billing_periods.shift();
            }else{
                this.billing_periods.splice(1, index);
            }

            this.is_editing = true;
            this.year = period.year;
            this.period_name = period.period_name;
            this.period_number = period.period_number;
            this.start_date = period.start_date;
            this.end_date = period.end_date;
            this.period_id = period.id;
        },
        update(){
            this.save_button = "Updating..."
            axios.patch('/period/'+this.period_id, this.postData()).then(response => {
                this.resetError("Update Period");
                this.getPeriods();
                this.is_editing = !this.is_editing;
                this.period_name = "";
            }).catch(err =>{
                this.checkErrors(err, "Update Period");

            });
        },
        destroy(period_id){
            this.$refs["delete_"+period_id][0].innerText = "Deleting...";
            axios.delete('/period/'+period_id).then(response =>{
                this.getPeriods();
                this.$refs["delete_"+period_id][0].innerText = "Delete"
            }).catch(err => {
                alert("something went wrong");
                console.log(err);
                this.$refs["delete_"+period_id][0].innerText = "Delete";
            });
        },
        getPeriods(){
            axios.get('/period?bill_id='+this.billingCycleId).then(response => {
                this.billing_periods = response.data;
            }).catch(err =>{
                alert("something went wrong");
                console.log(err.response);
            })
        },
        checkErrors(err, button_text){
            //console.log(err.response.data);
            let errors = err.response.data.errors;
            if (err.response.data.hasOwnProperty('errors')){
                if (errors.billing_cycle_id){
                    errors.billing_cycle_id.forEach((v, i) => alert(v));
                }

                if (errors.year){
                    this.v_errors.year = true;
                    errors.year.forEach((v, i) => alert(v));
                }

                if (errors.period_name){
                    this.v_errors.period_name = true;
                    errors.period_name.forEach((v, i) => alert(v));
                }

                if (errors.period_number){
                    this.v_errors.period_number = true;
                    errors.period_number.forEach((v, i) => alert(v));
                }

                if (errors.start_date){
                    this.v_errors.start_date = true;
                    errors.start_date.forEach((v, i) => alert(v));
                }

                if (errors.end_date){
                    this.v_errors.end_date = true;
                    errors.end_date.forEach((v, i) => alert(v));
                }
            }else {
                alert(err.response.data.error)
            }

            this.save_button = button_text;
        },
        resetError(button_text){
            this.save_button = button_text;
            this.v_errors.year = false;
            this.v_errors.period_name = false;
            this.v_errors.period_number = false;
            this.v_errors.start_date = false;
            this.v_errors.end_date = false;
        },
        postData(){
            const data = {
                billing_cycle_id: this.billingCycleId,
                year: this.year,
                period_name: this.period_name,
                period_number: this.period_number,
                start_date: this.start_date,
                end_date: this.end_date
            };
            return data;
        },
        cancel(){
            this.is_editing = false;
            this.is_adding = false;
            this.getPeriods();
        }
    }

}
</script>
