<template>
    <div>
        
    <div class="container-fluid container-title">
        <h3>Add Timesheet</h3>
        <div class="btn-toolbar float-right">
        <button onclick="history.back()" class="btn btn-dark float-right" style="margin-top: -7px;"><i class="fa fa-caret-left"></i> Back</button>
        <a href="javascript:void(0)"  @click="storeTimesheet()" class="btn btn-primary ml-1" style="margin-top: -7px;">Save</a>
        </div>
    </div>
    <div class="container-fluid">
        <hr />
    <div class="table-responsive">
        <div class="loader-wrapper" v-if="loader">
            <div class="loader"></div>
        </div>
        <table class="table table-bordered table-sm" v-if="!loader">
            <thead class="btn-dark">
                <tr>
                    <th colspan="6">Create a new weekly timesheet</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Select a Resource <small class="text-muted d-none d-sm-inline">(required)</small><span class="text-danger d-inline d-sm-none">*</span></th>
                    <td>
                        <select v-model="employee_id" class="form-control form-control-sm" @change="() => {getPreviousTimesheet(); checkTimesheet(project_id, employee_id, year_week)}">
                            <option value="0" disabled>Select Resource</option>
                            <option v-for="(employee, index) in employees_dropdown" :value="employee.id" :key="index">{{employee.name}}</option>
                        </select>
                    </td>
                    <th>Project: <small class="text-muted d-none d-sm-inline">(required)</small><span class="text-danger d-inline d-sm-none">*</span></th>
                    <td>
                        <select v-model="project_id" class="form-control form-control-sm" @change="() => {getYearWeeks(), checkTimesheet(project_id, employee_id, year_week)}">
                            <option value="0" disabled>Select Project</option>
                            <option v-for="(project, index) in sortedProjects" :value="project.id" :key="index">{{project.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Select a Week: <small class="text-muted d-none d-sm-inline">(required)</small><span class="text-danger d-inline d-sm-none">*</span></th>
                    <td>
                        <select v-model="year_week" class="form-control form-control-sm chosen-select" @change="checkTimesheet(project_id, employee_id, year_week)">
                            <option value="0" disabled>Select a week</option>
                            <option v-for="(week,index) in weeks" :value="week.year_week" :key="index">{{week.date}}</option>
                        </select>
                    </td>
                    <th></th>
                    <td></td>

                </tr>
            </tbody>
        </table>
        <div v-if="!loader">
            <div v-if="timesheet_for_this_week.length">
                <div v-for="(timesheet,index) in timesheet_for_this_week" :key="index" class="alert alert-info">
                        Week {{timesheet.year_week}} already has a timesheet for project {{timesheet.project}} for {{timesheet.time}} hours.
                        <a :href="'/timesheet/show/'+timesheet.id" class="btn btn-sm btn-dark text-decoration-none">Edit</a> existing timesheet or create an addition/new timesheet.
                </div>
            </div>
        </div>
        <hr v-if="!loader">
        <table class="table table-striped table-sm" v-if="previous_timesheets.length && !loader">
            <thead class="bg-dark">
                <tr>
                    <th>Year Week</th>
                    <th>Assignment</th>
                    <th class="text-center">Week Hours</th>
                </tr>
            </thead>
            <tbody>
            <tr v-for="(timesheet,index) in previous_timesheets" :key="index">
                <td>{{timesheet.year_week}}</td>
                <td>{{timesheet.assignment}}</td>
                <td class="text-center" :class="tdColor(timesheet.minutes)">{{timeFormat(timesheet.minutes)}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
</template>

<script>
export default {
    name: "CreateTimesheet",
    mounted() {
        this.sortEmployees();
        this.employees_dropdown = this.sortedEmployees;
        this.employee_id = this.creatorId;
        this.old_employee_id = this.creatorId;
        this.new_project_id = this.projectId;
        this.getPreviousTimesheet();
        console.log(this.project_id)
    },
    props: [
        'employees',
        'creatorId',
        'projectId'
    ],
    data() {
        return {
            employee_id: 0,
            year_week: '0',
            customer_id: 0,
            project_id: 0,
            employees_dropdown: {},
            customers_dropdown: {},
            projects_dropdown: {},
            previous_timesheets: [],
            weeks: {},
            loader: true,
            period: 0,
            timesheet_for_this_week: [],
            new_project_id: 0,
            old_employee_id: 0,
            sortedEmployees: [],
            sortedProjects: [],
        }
    },
    methods: {
        sortEmployees(){
            const employees = this.employees

            const arrayEmployees = Object.entries(employees).map((arr) => ({
            id: arr[0],
            name: arr[1],
            }));

            let sortedEmployees = arrayEmployees;
		
            sortedEmployees = sortedEmployees.sort((a,b) => {
                let fa = (a.name != null ? a.name.toLowerCase() : ''), fb = (b.name != null ? b.name.toLowerCase() : '');
                if (fa < fb) {
                    return -1
                }
                if (fa > fb) {
                    return 1
                }
                return 0
            })

            this.sortedEmployees = sortedEmployees.flat();
            console.log(this.sortedEmployees);
        },
        getPreviousTimesheet(){
            if(this.employee_id == this.old_employee_id){
                this.project_id = this.new_project_id
            } else {
                this.project_id = 0
            }
            this.getProjects();
            axios.get('/previous_timesheet/'+this.employee_id)
                .then(response =>{
                    this.loader = false;
                    this.previous_timesheets = response.data;
                })
                .catch(function (error) {
                    console.log(error.response.data);
                });
        },
        timeFormat(minutes){
            let hours = Math.floor(minutes/60);
            let t_minutes = minutes%60;

            if (hours >= 40){
                this.prev_timesheet_color = "bg-success";
            } else
            if (hours >= 20){
                this.prev_timesheet_color = "bg-warning";
            }
            else{
                this.prev_timesheet_color = "bg-danger";
            }

            hours = (hours < 10)?'0'+hours:hours;
            t_minutes = (t_minutes < 10)?'0'+t_minutes:t_minutes;
            return hours+':'+t_minutes;
        },
        tdColor(minutes){
            let hours = Math.floor(minutes/60);
            let color;

            if (hours >= 40){
                color = "bg-success";
            } else
            if (hours >= 20){
                color = "bg-warning";
            }
            else{
                color = "bg-danger";
            }

            return color;
        },
        getYearWeeks(){
            axios.get('/year_weeks/'+this.project_id)
                .then(response => {
                    this.weeks = response.data;
                    this.year_week = this.weeks[0].year_week;
                    this.period = this.weeks[0].period;
                    this.checkTimesheet(this.project_id, this.employee_id, this.year_week)
                })
                .catch(err => console.log(err));
        },
        getProjects(){
            axios.get('/getclientprojects/'+this.employee_id)
                .then(response => {
                    this.projects_dropdown = {};
                    response.data.projects.forEach((v, i) =>{
                        this.projects_dropdown[v.id] = v.name;
                    })

                    this.projects_dropdown = JSON.parse(JSON.stringify(this.projects_dropdown));
                    if(this.project_id == 0){
                        this.project_id = response.data.active_projects;
                    }
                    this.getYearWeeks();

                    const arrayProjects = Object.entries(this.projects_dropdown).map((arr) => ({
                    id: arr[0],
                    name: arr[1],
                    }));

                    let sortedProjects = arrayProjects;
                
                    sortedProjects = sortedProjects.sort((a,b) => {
                        let fa = a.name.toLowerCase(), fb = b.name.toLowerCase();
                        if (fa < fb) {
                            return -1
                        }
                        if (fa > fb) {
                            return 1
                        }
                        return 0
                    })

                    this.sortedProjects = sortedProjects.flat();

                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        storeTimesheet(){
            // document.getElementById('save').innerText = "Saving...";
            axios.post('/timesheet', {
                employee_id: this.employee_id,
                client_id: this.customer_id,
                project_id: this.project_id,
                year_week: String.bind(null, this.year_week) ()
            })
                .then(response => {
                    window.location.href = "/timesheet/show/"+response.data.timesheet_id;
                })
                .catch(function (error) {
                    alert("Something went wrong");
                    document.getElementById('save').innerText = "Save";
                    console.log(error.response);
                });
        },
        sortObj(obj) {
            return Object.keys(obj).sort().reduce(function (result, key) {
                result[key] = obj[key];
                return result;
            }, {});
        },
        checkTimesheet(project, employee, year_week){
            axios.get('/timesheet/checktimesheet?project='+project+'&employee='+employee+'&year_week='+year_week)
                .then(response => {
                    this.timesheet_for_this_week = response.data.timesheet;
                    //console.log(response.data)
                })
                .catch(err => console.log(err))
        },
    }
}
</script>

<style scoped>
.loader-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background: #ffffff;
}
.loader {
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid #343a40; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
</style>