<template>
    <div>
        <table class="table table-bordered table-sm mt-3">
            <thead>
                <tr>
                    <th class="btn-dark">Line</th><th class="btn-dark">Description</th><th class="btn-dark text-right last px-3 text-center" style="width: 150px;">Qty</th><th class="btn-dark text-right">Excl. Price</th><th class="btn-dark text-right">Discount Amount</th><th class="btn-dark text-right">VAT Code</th><th class="btn-dark text-right">VAT%</th><th class="btn-dark text-right">Total</th><th class="btn-dark text-right" v-if="status_id != 2 && status_id != 3">Action</th>
                </tr>
            </thead>
            <tbody class="item-body">
                <tr v-for="(item, index) in items" :key="item.id">
                    <td style="line-height:2rem">{{index + 1}}</td>
                    <td style="line-height:2rem" v-if="item.canEdit == 0">{{item.description}}</td>
                    <td v-else><input v-model="item.description" class="form-control" type="text" /></td>
                    <td style="line-height:2rem" v-if="item.canEdit == 0" class="text-center">{{item.quantity}}</td>
                    <td v-else><input v-model="item.quantity" @keyup="numberFormat" @change="getLineTotalEdit(index)" @input="getLineTotalEdit(index)" class="form-control text-right" type="number" /></td>
                    <td style="line-height:2rem" v-if="item.canEdit == 0" class="text-right">{{convertToFixed(item.price_excl)}}</td>
                    <td v-else><input v-model="item.price_excl" @keyup="numberFormat" @change="getLineTotalEdit(index)" @input="getLineTotalEdit(index)" class="form-control text-right" type="text" /></td>
                    <td style="line-height:2rem" v-if="item.canEdit == 0" class="text-right">{{convertToFixed(item.discount_amount)}}</td>
                    <td v-else><input v-model="item.discount_amount" @keyup="numberFormat" @change="getLineTotalEdit(index)" @input="getLineTotalEdit(index)" class="form-control text-right" type="text" /></td>
                    <td style="line-height:2rem" v-if="item.canEdit == 0" class="text-right">{{item.vat_code}}</td>
                    <td v-else>
                        <select v-model="item.vat_code" class="form-control" @change="setVatEdit(item.vat_code,index)">
                            <option v-for="(vat_rate,index) in vatrates" :key="index" :value="vat_rate.vat_code">{{ vat_rate.description }}</option>
                        </select>
                    </td>
                    <td style="line-height:2rem" v-if="item.canEdit == 0" class="text-right">{{parseFloat(item.vat_percentage).toFixed(2)}}</td>
                    <td style="line-height:2rem" v-else><input v-model="item.vat_percentage" @keyup="numberFormat" @change="getLineTotalEdit(index)" @input="getLineTotalEdit(index)" class="form-control text-right" type="text" /></td>
                    <td v-if="item.canEdit == 0" class="text-right">{{convertToFixed(item.total)}}</td>
                    <td v-else><input v-model="item.total" class="form-control text-right" type="text" readonly/></td>
                    <td class="text-left last" v-if="status_id != 2 && status_id != 3">
                        <div class="d-flex">
                        <a href="javascript:void(0)" v-if="item.canEdit == 0" @click="editItem(item)" class="btn btn-success"><i class="fa fa-pencil-alt"></i></a>
                        <a href="javascript:void(0)" v-if="item.canEdit == 0" @click="removeItem(item.id)" class="btn btn-danger ml-1"><i class="fa fa-trash"></i></a>
                        <a class="btn btn-primary toolt" v-if="item.canEdit == 1" @click="updateItem(item)"><i class="fas fa-save"></i>
                            <span class="tooltiptext">Add Invoice Line</span></a>
                        </div>
                    </td>
                </tr>
                <tr v-if="status_id != 2 && status_id != 3">
                    <td>&nbsp;</td>
                    <td>
                        <input v-model="description" class="form-control" type="text" :disabled="isInEdit" />
                    </td>
                    <td style="text-align: right;">
                        <input v-model="quantity" @keyup="numberFormat" @change="getLineTotal()" class="form-control text-right" type="number" :disabled="isInEdit" />
                    </td>
                    <td style="text-align: right;">
                        <input v-model="price_excl" @keyup="numberFormat" @change="getLineTotal()" class="form-control text-right" type="text" :disabled="isInEdit" />
                    </td>
                    <td class="text-right">
                        <input v-model="discount_amount" @keyup="numberFormat" @change="getLineTotal()" class="form-control text-right" type="text" :disabled="isInEdit" />
                    </td>
                    <td class="text-right">
                        <select v-model="vat_code" class="form-control" @change="setVat(vat_code)" :disabled="isInEdit">
                            <option v-for="(vat_rate,index) in vatrates" :key="index" :value="vat_rate.vat_code">{{ vat_rate.description }}</option>
                        </select>
                    </td>
                    <td class="text-right">
                        <input v-model="vat_percentage" @keyup="numberFormat" @change="getLineTotal()" class="form-control text-right" type="text" :disabled="isInEdit" />
                    </td>
                    <td class="text-right">
                        <input v-model="total" @keyup="numberFormat" class="form-control text-right" type="text" readonly/>
                    </td>
                    <td class="text-left">
                        <a class="btn btn-primary toolt" :disabled="isInEdit" :class="isInEdit ? 'disabled' : ''" @click="addNewItem"><i class="fas fa-save"></i>
                            <span class="tooltiptext">Add Invoice Line</span></a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">&nbsp;</td>
                    <th>Total Excl. VAT</th>
                    <td class="text-right">{{convertToFixed(this.excludingVatTotal)}}</td>
                    <td v-if="status_id != 2 && status_id != 3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="6">&nbsp;</td>
                    <th>VAT</th>
                    <td class="text-right">{{convertToFixed(this.vatTotal)}}</td>
                    <td v-if="status_id != 2 && status_id != 3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="6">&nbsp;</td>
                    <th>Total</th>
                    <td class="text-right">{{convertToFixed(this.invoiceTotal)}}</td>
                    <td v-if="status_id != 2 && status_id != 3">&nbsp;</td>
                </tr>
                <tr v-if="this.invoiceTotal != 0">
                    <td colspan="9" class="action-buttons text-center">
                        <input type="hidden" v-if="recurring" name="recurring" :value="recurring">
                        <!--<button type="submit" class="btn btn-sm btn-dark"> Generate Invoice</button>-->
                        <button type="submit" class="btn btn-dark my-2">{{recurring ? 'Schedule' : 'Generate Invoice'}}  </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    export default {
        name: "InvoiceItemComponent",
        mounted() {
            // this.serverURL = window.location.protocol + '//' + window.location.hostname;
            this.serverURL = window.location.origin;

            axios.get(this.serverURL+'/api/invoice/items/'+this.invoice_id+'/'+this.invoice_type_id, {})
            .then(response => {
                this.items = response.data;
                // console.log(this.items);

                this.getTotal();
            });
            this.setVat(this.defaultVat)
            // console.log(this.status_id)
        },
        data: function () {
            return {
                serverURL: null,
                items: null,
                description: null,
                quantity: 1,
                price_excl: 0.00,
                vat_code: this.defaultVat,
                vat_percentage: 0,
                discount_amount: 0.00,
                total: 0.00,
                excludingVatTotal: 0.00,
                vatTotal: 0.00,
                invoiceTotal: 0.00,
                vatrates:this.vatRates,
                isInEdit:false,
                status:this.status_id
            }
        },
        props: [
            'invoice_id',
            'invoice_type_id',
            'vatRates',
            'defaultVat',
            'status_id',
            'recurring'
        ],
        methods: {
            setVat(val){
                axios.post('/getVatRate',{vat_code:val}).then(response => {
                this.vat_percentage = response.data.vat.vat_rate 
                this.getLineTotal()               
                }).catch(function (err) {
                    console.log(err)
                })
            },
            setVatEdit(val,index){
                axios.post('/getVatRate',{vat_code:val}).then(response => {
                this.items[index].vat_percentage = response.data.vat.vat_rate 
                this.getLineTotalEdit(index)
                this.getTotal()               
                }).catch(function (err) {
                    console.log(err)
                })
            },
            editItem(val){
                val.canEdit = 1;
                this.isInEdit = true
            },
            addNewItem() {

                if(this.description == null || this.description.trim() == ''){
                    alert("The description field is required.");
                    return false;
                }

                if(this.price_excl === 0){
                    alert("The price excl field is required.");
                    return false;
                }

                if(this.total === 0){
                    alert("The total field is required.");
                    return false;
                }

                const new_product = this.addNewProductFlag === true ? 1 : 0;

                axios.post(this.serverURL+'/api/invoice/item/create', {
                    'description': this.description,
                    'quantity': this.quantity,
                    'price_excl': this.price_excl,
                    'vat_code': this.vat_code,
                    'vat_percentage': this.vat_percentage,
                    'discount_amount': this.discount_amount,
                    'total': this.total,
                    'invoice_id': this.invoice_id,
                    'invoice_type_id': this.invoice_type_id
                })
                .then(response => {
                    this.items = response.data;

                    this.description = '';
                    this.quantity = 1;
                    this.price_excl = 0.00;
                    this.discount_amount = 0.00;
                    this.total = 0.00;

                    this.getTotal();
                });
            },
            removeItem(id){
                let confirmFlag = confirm('Are you sure you want to remove this item?');

                if(confirmFlag){
                    axios.post(this.serverURL+'/api/invoice/item/remove/'+id, {})
                    .then(response => {
                      window.location.reload();
                        /*this.items = response.data.items;
                        this.getTotal();*/
                        // alert(response.data.message);
                    });
                }
            },
            updateItem(item){
                    axios.post(this.serverURL+'/api/invoice/item/update/'+item.id, item)
                    .then(response => {
                        this.items = response.data;
                        this.getTotal();
                        // alert(response.data.message);
                this.isInEdit = false
                    });
            },
            getTotal(){
                this.excludingVatTotal = 0.00;
                this.vatTotal = 0.00;
                this.invoiceTotal = 0.00;
                for(let item of this.items){
                    this.excludingVatTotal += (parseInt(item.price_excl) * item.quantity)-item.discount_amount;
                    this.vatTotal += (parseInt(item.vat_percentage) / 100) * ((parseInt(item.price_excl) * item.quantity)-item.discount_amount);
                }
                this.invoiceTotal = parseFloat(this.excludingVatTotal + this.vatTotal);
            },
            getLineTotal(){
                this.total = ((parseFloat(this.price_excl) * this.quantity)-this.discount_amount)+(((parseInt(this.price_excl)*this.quantity)-this.discount_amount)*(parseInt(this.vat_percentage) / 100))
                // this.total = parseFloat(this.quantity) * (parseFloat(this.price_excl) + (parseFloat(this.price_excl) * (parseFloat(this.vat_percentage) / 100))) - parseFloat(this.discount_amount);
                // console.log(this.total)
            },
            getLineTotalEdit(index){
                this.items[index].total = ((parseFloat(this.items[index].price_excl) * this.items[index].quantity)-this.items[index].discount_amount)+(((parseInt(this.items[index].price_excl)*this.items[index].quantity)-this.items[index].discount_amount)*(parseInt(this.items[index].vat_percentage) / 100))
                // this.total = parseFloat(this.quantity) * (parseFloat(this.price_excl) + (parseFloat(this.price_excl) * (parseFloat(this.vat_percentage) / 100))) - parseFloat(this.discount_amount);
                // console.log(this.total)
                this.getTotal()
            },
            numberFormat ($event) {
                let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
                if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
                    $event.preventDefault();
                }
            },
            convertToFixed(x){
              let fixedX = Number.parseFloat(x).toFixed(2);
              const pattern = /(-?\d+)(\d{3})/;
              while (pattern.test(fixedX))
                fixedX = fixedX.replace(pattern, "$1,$2");
              return fixedX;
            }
        }
    }
</script>
<style scoped>
    .form-control {
        border-radius: 4px;
        min-height: 40px;
    }

    .action-buttons {
        padding: 15px;
    }
</style>
