<template>
    <table class="table table-sm table-striped">
        <thead>
            <tr class="bg-dark">
                <th colspan="7">Expenses</th>
            </tr>
            <tr class="bg-dark">
                <th>Claim Date</th>
                <th>Description</th>
                <th>Account/Account Element</th>
                <th>Bill</th>
                <th>Claim</th>
                <th>Amount</th>
                <th class="last">Reject/Approve</th>
            </tr>
        </thead>
        <tbody id="response-expense">
            <tr v-for="expense in expensesList">
                <td>{{expense.date}}</td>
                <td>{{expense.description}}</td>
                <td>{{expense.account?expense.account.description:null}}{{expense.account_element?'/'+expense.account_element.description:null}}</td>
                <td>{{expense.is_billable?'Yes':'No'}}</td>
                <td>{{expense.claim?'Yes':'No'}}</td>
                <td>{{expense.amount}}</td>
                <td v-if="expense.is_approved == null" class="text-right">
                    <div class="d-flex float-right">
                    <button class="btn btn-sm btn-success" @click="approve(expense.id)"><i class="fas fa-thumbs-up"></i></button>
                    <button class="btn btn-sm btn-danger ml-1" @click="decline(expense.id)"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                </td>
                <td v-else-if="expense.is_approved == 1" class="text-right">
                    <span class="badge badge-success">Approved</span>
                </td>
                <td v-else class="text-right">
                    <span class="badge badge-danger">Declined</span>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
export default {
    name: "InvoiceExpenses",
    props: ['expenses'],
    data(){
        return {
            expensesList: this.expenses
        }
    },
    methods: {
        approve(expense_id){
            axios.get('/timesheet/expense/'+expense_id+'?from=expenses')
                .then(response => {
                    let expense = response.data;
                    this.expensesList.forEach((exp, ind) =>{
                        if (exp.id === expense.id)
                            this.expensesList.splice(ind, 1, expense)
                    })
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
        },
        decline(expense_id){
            axios.get('/invoice/expense/'+expense_id+'?from=expenses')
                .then(response => {
                    let expense = response.data;
                    this.expensesList.forEach((exp, ind) =>{
                        if (exp.id === expense.id)
                            this.expensesList.splice(ind, 1, expense)
                    })
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                });
        }
    }
}
</script>

<style scoped>

</style>