<template>
    <table class="table table-bordered table-sm mt-3">
        <thead>
            <tr>
                <th colspan="4" class="btn-dark" style="line-height:2rem">
                    Generating Invoice<input type="hidden" id="canEditInv" :value="canEdit ? '1' :'0'" />
                    <a href="javascript:void(0)" v-if="!canEdit && newinvoice != '1'" @click="InvEdit()" class="btn btn-sm btn-success float-right"><i class="fas fa-pencil-alt"></i></a>
                    <a href="javascript:void(0)" v-if="canEdit && newinvoice != '1'" class="btn btn-sm btn-primary float-right" @click="saveInv()"><i class="fas fa-save"></i></a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="this.invoicetypeid == 1">
                <th style="width: 25%;">Customer: <span style="cursor: pointer" data-toggle="tooltip" data-placement="right" title="Customer"><i class="far fa-question-circle"></i></span></th>
                <td style="width: 25%;">
                    <select :disabled="!canEdit && newinvoice != '1'" id="customer_id" name="customer_id" :class="[this.errorsBag.customer_id.length ? 'form-control chosen-select is-invalid' : 'form-control chosen-select']" v-model="model.customer_id" @change="defaultEmails">
                        <option value="0">Please select...</option>
                        <option v-for="(customer, index) in parameters.customers" v-bind:value="customer.id" :key="index">{{customer.customer_name}}</option>
                    </select>
                    <div v-for="(error, error_index) in this.errorsBag.customer_id" class="invalid-feedback" :key="error_index">
                        {{error}}
                    </div>
                </td>
                <th style="width: 25%;">Company:</th>
                <td style="width: 25%;">
                    <select :disabled="!canEdit && newinvoice != '1'" id="company_id" name="company_id" :class="[this.errorsBag.company_id.length ? 'form-control chosen-select is-invalid' : 'form-control chosen-select']" v-model="model.company_id">
                        <option value="0">Please select...</option>
                        <option v-for="(company, index) in parameters.companies" v-bind:value="company.id" :key="index">{{company.company_name}}</option>
                    </select>
                    <div v-for="(error, error_index) in this.errorsBag.company_id" class="invalid-feedback" :key="error_index">
                        {{error}}
                    </div>
                </td>
            </tr>
            <tr v-if="this.invoicetypeid == 2">
                <th style="width: 25%;">Vendor: <span style="cursor: pointer" data-toggle="tooltip" data-placement="right" title="Customer"><i class="far fa-question-circle"></i></span></th>
                <td style="width: 25%;">
                    <select :disabled="!canEdit && newinvoice != '1'" id="customer_id" name="customer_id" :class="[this.errorsBag.customer_id.length ? 'form-control chosen-select is-invalid' : 'form-control chosen-select']" v-model="model.customer_id" @change="defaultEmails">
                        <option value="0">Please select...</option>
                        <option v-for="(vendor, index) in parameters.vendors" v-bind:value="vendor.id" :key="index">{{vendor.vendor_name}}</option>
                    </select>
                    <div v-for="(error, error_index) in this.errorsBag.customer_id" class="invalid-feedback" :key="error_index">
                        {{error}}
                    </div>
                </td>
                <th style="width: 25%;">Company:</th>
                <td style="width: 25%;">
                    <select :disabled="!canEdit && newinvoice != '1'" id="company_id" name="company_id" :class="[this.errorsBag.company_id.length ? 'form-control chosen-select is-invalid' : 'form-control chosen-select']" v-model="model.company_id">
                        <option value="0">Please select...</option>
                        <option v-for="(company, index) in parameters.companies" v-bind:value="company.id" :key="index">{{company.company_name}}</option>
                    </select>
                    <div v-for="(error, error_index) in this.errorsBag.company_id" :key="error_index" class="invalid-feedback">
                        {{error}}
                    </div>
                </td>
            </tr>
            <tr>
                <th>Project:</th>
                <td>
                    <select :disabled="!canEdit && newinvoice != '1'" id="project_id" name="project_id" :class="{'is-invalid': errorsBag.project_id.length}" class="form-control chosen-select" v-model="model.project_id" @change="getResources()">
                        <option value="">Please select...</option>
                        <option v-for="(project) in parameters.projects" v-bind:value="project.id" :key="project.id">{{project.name}}</option>
                    </select>

                  <div v-for="(error, error_index) in this.errorsBag.project_id" :key="error_index" class="invalid-feedback">
                    {{error}}
                  </div>
                </td>
                <th>Resource</th>
                <td>
                    <input :disabled="!canEdit && newinvoice != '1'" type="text" v-if="!model.project_id" v-model="model.full_name" name="full_name" :class="{'is-invalid': errorsBag.full_name.length}" class="form-control">
                    <select :disabled="!canEdit && newinvoice != '1'" v-if="model.project_id" v-model="model.resource_id" id="resource_id" name="resource_id" :class="{'is-invalid': errorsBag.resource_id.length}" class="form-control">
                        <option value="">Please select...</option>
                        <option v-for="(resource, index) in parameters.resources" v-bind:value="resource.id" :key="index">{{resource.first_name}} {{resource.last_name}}</option>
                    </select>
                  <div v-for="(error, error_index) in this.errorsBag.full_name" :key="error_index" class="invalid-feedback">
                    {{error}}
                  </div>
                  <div v-for="(error, error_index) in this.errorsBag.resource_id" :key="error_index" class="invalid-feedback">
                    {{error}}
                  </div>
                </td>
            </tr>

            <tr v-if="!recurring">
                <th>Financial AR Invoice No: <span style="cursor: pointer" data-toggle="tooltip" data-placement="right" title="Accounts receivable invoice number from company's Financial system"><i class="far fa-question-circle"></i></span></th>
                <td>
                    <input :disabled="!canEdit && newinvoice != '1'" v-model="model.inv_ref" placeholder="Invoice Reference" name="inv_ref" type="text" :class="{'is-invalid': errorsBag.inv_ref.length}" class="form-control">
                    <div v-for="(error, error_index) in this.errorsBag.resource_id" :key="error_index" class="invalid-feedback">
                      {{error}}
                    </div>
                </td>
                <th>Invoice Date:</th>
                <td>
                    <!--<input :disabled="!canEdit && newinvoice != '1'" v-model="parameters.invoice_date" placeholder="Payment Due Date" name="invoice_date" type="text" :class="{'is-invalid': errorsBag.invoice_date.length}" class="form-control datepicker" id="invoice_date">-->
                  <div>
                    <Datepicker :disabled="!canEdit && newinvoice != '1'" v-model="model.invoice_date" name="invoice_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" :state="!this.errorsBag.invoice_date.length" input-class-name="dp-custom-input" />
                  </div>
                    <div v-for="(error, error_index) in this.errorsBag.invoice_date" :key="error_index" class="invalid-feedback">
                      {{error}}
                    </div>
                </td>
            </tr>
            <tr v-if="!recurring">
                <th v-if="this.invoicetypeid == 1">Customer Reference: <span style="cursor: pointer" data-toggle="tooltip" data-placement="right" title="Reference received from customer E.g. Order number or project reference"><i class="far fa-question-circle"></i></span></th>
                <th v-else>Vendor Reference: <span style="cursor: pointer" data-toggle="tooltip" data-placement="right" title="Reference received from vendor E.g. Order number or project reference"><i class="far fa-question-circle"></i></span></th>
                <td>
                    <input :disabled="!canEdit && newinvoice != '1'" v-model="model.cust_inv_ref" placeholder="Customer Reference" name="cust_inv_ref" type="text" :class="{'is-invalid': errorsBag.cust_inv_ref.length}" class="form-control">
                    <div v-for="(error, error_index) in this.errorsBag.cust_inv_ref" :key="error_index" class="invalid-feedback">
                      {{error}}
                    </div>
                </td>
                <th>Payment Due Date:</th>
                <td>
                    <!--<input :disabled="!canEdit && newinvoice != '1'" v-model="parameters.due_date" placeholder="Due Date" name="due_date" type="text" :class="{'is-invalid': errorsBag.due_date.length}" class="form-control datepicker">-->
                  <div>
                    <Datepicker :disabled="!canEdit && newinvoice != '1'" v-model="model.due_date" name="due_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" :state="!this.errorsBag.due_date.length" input-class-name="dp-custom-input" />
                  </div>
                    <div v-for="(error, error_index) in this.errorsBag.due_date" :key="error_index" class="invalid-feedback">
                      {{error}}
                    </div>
                </td>
            </tr>
            <tr v-if="recurring">
              <th>First invoice date: <span style="cursor: pointer" data-toggle="tooltip" data-placement="right" title="The first invoice will be created immediately if the first invoice date is today or earlier."><i class="far fa-question-circle"></i></span></th>
              <td>
                <!--<input v-model="model.first_invoice_date" name="first_invoice_date" placeholder="First Invoice Date" type="text" class="form-control form-control-sm datepicker"></td> -->
                <div>
                  <Datepicker :disabled="!canEdit && newinvoice != '1'" v-model="model.first_invoice_date" name="first_invoice_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" :state="!this.errorsBag.first_invoice_date.length" input-class-name="dp-custom-input" />
                </div>
                <div v-for="(error, error_index) in this.errorsBag.first_invoice_date" :key="error_index" class="invalid-feedback">
                  {{error}}
                </div>
              </td>
              <th>Due days from invoice date <small class="text-muted">(default terms)</small></th>
              <td>
                <input :disabled="!canEdit && newinvoice != '1'" type="text" v-model="model.due_days_from_invoice_date" name="due_days_from_invoice_date" placeholder="Due Days from invoice date" :class="{'is-invalid': errorsBag.due_days_from_invoice_date.length}" class="form-control" />
                <div v-for="(error, error_index) in this.errorsBag.due_days_from_invoice_date" :key="error_index" class="invalid-feedback">
                  {{error}}
                </div>
              </td>
            </tr>
            <tr v-if="recurring">
              <th>Frequency: <span style="cursor: pointer" data-toggle="tooltip" data-placement="right" title="The frequency that the invoice will be created e.g. Daily or monthly"><i class="far fa-question-circle"></i></span></th>
              <td>
                <select :disabled="!canEdit && newinvoice != '1'" v-model="model.frequency" name="frequency" :class="{'is-invalid': errorsBag.frequency.length}" class="form-control">
                  <option value="" selected>Please select...</option>
                  <option v-for="frequency in frequencies" v-bind:value="frequency.id" :key="frequency.id">{{frequency.name}}</option>
                </select>
                <div v-for="(error, error_index) in this.errorsBag.frequency" :key="error_index" class="invalid-feedback">
                  {{error}}
                </div>
              </td>
              <th>Interval: <span style="cursor: pointer" data-toggle="tooltip" data-placement="right" title="The interval works with the Frequency. The default interval is 1. If the Frequency is Weekly and the interval is 2. It means that the invoice will be generated every second week."><i class="far fa-question-circle"></i></span></th>
              <td>
                <input :disabled="!canEdit && newinvoice != '1'" type="text" v-model="model.interval" name="interval" placeholder="Interval" class="form-control" :class="{'is-invalid': this.errorsBag.interval.length}" />
                <div v-for="(error, error_index) in this.errorsBag.interval" :key="error_index" class="invalid-feedback">
                  {{error}}
                </div>
              </td>
            </tr>
            <tr v-if="recurring">
              <th>Occurrences <small class="text-muted">(optional)</small>: <span style="cursor: pointer" data-toggle="tooltip" data-placement="right" title="The number of times that the invoice needs to be generated. This might be impacted by the expiry date. "><i class="far fa-question-circle"></i></span></th>
              <td>
                <input :disabled="!canEdit && newinvoice != '1'" type="text" v-model="model.occurrences" name="occurrences" placeholder="Occurrences" :class="{'is-invalid': this.errorsBag.occurrences.length}" class="form-control">
                <div v-for="(error, error_index) in this.errorsBag.occurrences" :key="error_index" class="invalid-feedback">
                  {{error}}
                </div>
              </td>
              <th>Expiry date: <span style="cursor: pointer" data-toggle="tooltip" data-placement="right" title="The invoice will be generated up to the expiry date, unless the occurrences threshold was reached."><i class="far fa-question-circle"></i></span></th>
              <td>
                <!--<input type="text" v-model="model.expiry_date" name="expiry_date" placeholder="Expiry Date" class="form-control form-control-sm">-->
                <Datepicker :disabled="!canEdit && newinvoice != '1'" :state="!errorsBag.expiry_date.length" v-model="model.expiry_date" name="expiry_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" />
                <div v-for="(error, error_index) in this.errorsBag.expiry_date" :key="error_index" class="invalid-feedback">
                  {{error}}
                </div>
              </td>
            </tr>
            <tr v-if="recurring && !newinvoice">
              <th>Generated Invoices:</th>
              <td style="padding-left: .75rem!important;">{{old.history_count}}</td>
              <th>Remaining Invoices:</th>
              <td style="padding-left: .75rem!important;">{{old.remaining_invoices}}</td>
            </tr>
            <tr>
                <th>Invoice Notes: <span style="cursor: pointer" data-toggle="tooltip" data-placement="right" title="Note to be displayed on invoice footer"><i class="far fa-question-circle"></i></span></th>
                <td>
                    <input :disabled="!canEdit && newinvoice != '1'" v-model="model.invoice_notes" placeholder="Invoice Notes" name="invoice_notes" type="text" :class="{'is-invalid': this.errorsBag.invoice_notes.length}" class="form-control">
                    <div v-for="(error, error_index) in this.errorsBag.invoice_notes" :key="error_index" class="invalid-feedback">
                      {{error}}
                    </div>
                </td>
                <th>Currency:</th>
                <td>
                  <select :disabled="!canEdit && newinvoice != '1'" id="currency" name="currency" :class="{'is-invalid': this.errorsBag.currency.length}" class="form-control chosen-select" v-model="model.currency">
                    <option value="0">Please select...</option>
                    <option v-for="(currency, index) in currencies" v-bind:value="index" :key="index">{{index}} - {{currency}}</option>
                  </select>
                  <div v-for="(error, error_index) in this.errorsBag.currency" :key="error_index" class="invalid-feedback">
                    {{error}}
                  </div>
                </td>
            </tr>
            <tr>
              <th></th>
              <td></td>
              <th>Conversion Rate:</th>
              <td><strong>{{model.conversion_rate}}</strong></td>
            </tr>
            <tr v-if="recurring" class="bg-light">
              <th>Email subject:</th>
              <td><input :disabled="!canEdit && newinvoice != '1'" type="text" v-model="model.email_subject" name="email_subject" class="form-control"></td>
              <th>Email invoice to:</th>
              <td>
                <input :disabled="!canEdit && newinvoice != '1'" :class="model.emails.length > 0 ? 'mb-1' : ''" type="text" v-model="email" class="form-control" @blur="addMoreEmails" @keyup.enter="addMoreEmails">
                <input type="hidden" v-model="model.emails" name="emails[]">
                <input v-if="recurring" type="hidden" name="is_recurring" value="1"/>
                <span v-if="model.emails.length" class="badge badge-info w-100 text-left pl-2"  style="line-height: 2rem;" v-for="(email, index) in model.emails" :key="index">{{email}} <a href="javascript:void(0)" class="float-right text-danger" @click="removeEmail(index)" :disabled="!canEdit && newinvoice != '1'" :class="!canEdit && newinvoice != '1' ? 'disabled' : ''"><i class="fas fa-times"></i></a></span>
              </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    import Datepicker from '@vuepic/vue-datepicker';
    import '@vuepic/vue-datepicker/dist/main.css';
    export default {
        name: "InvoiceHeaderComponent",
        components: {Datepicker},
        created(){
          this.errorBag();
          this.handleValidation();
        },
        mounted() {
            // this.serverURL = window.location.protocol + '//' + window.location.hostname;
            this.serverURL = window.location.origin;

            this.invoiceParameter();

            // Set laravel old values, if form was submitted before
            if(typeof(this.old.customer_id) !== 'undefined'){
                this.model = this.old;
            }

          if (this.recurring){
            this.getFrequencies();
            this.model["is_recurring"] = 1;
          }
        },
        props: [
          'old',
          'errors',
          'invoicetypeid',
          'currencies',
          'recurring',
          'newinvoice',
          'currency'
        ],
        data: function () {
            return {
                serverURL: null,
                errorsBag: {},
                model: {
                    company_id: 0,
                    customer_id: 0,
                    project_id: "",
                    resource_id: "",
                    invoice_date: new Date().toISOString().slice(0,10),
                    due_date: new Date(new Date().setMonth(new Date().getMonth() + 1)).toISOString().slice(0,10),
                    currency: this.currency ? this.currency : "ZAR",
                    first_invoice_date: new Date().toISOString().slice(0,10),
                    due_days_from_invoice_date: 30,
                    frequency: 3,
                    interval: 1,
                    occurrences: null,
                    expiry_date: this.defaultExpiryDate(),
                    email_subject: null,
                    emails: [],
                    full_name: null,
                    inv_ref:'',
                    invoice_notes: null,
                    cust_inv_ref: null,
                    is_recurring: this.recurring
                },
                parameters: {
                    companies: [],
                    customers: [],
                    projects: [],
                },
                frequencies:[],
                email: null,
                canEdit:false
            }
        },
        methods: {
            saveInv(){
                if(this.invoicetypeid == 1){
                    axios.patch('/nontimesheetinvoice/update/'+this.old.id, 
                        this.model
                    ).then(response => {
                        window.location.reload();
                        toastr.success('<strong>Success!</strong> Invoice header successfully saved.');

                        toastr.options.timeOut = 1000;

                        this.canEdit =  false
                    })

                } else {

                    axios.patch('/nontimesheetinvoice/update/'+this.old.id+'/vendor', 
                        this.model
                    ).then(response => {
                        window.location.reload();
                        toastr.success('<strong>Success!</strong> Invoice header successfully saved.');

                        toastr.options.timeOut = 1000;

                        this.canEdit =  false
                    });
                }

            },
            InvEdit(){
                this.canEdit = true
            },
            getResources(){
                axios.get(this.serverURL+'/api/invoice/resource', {
                    params: {
                        'project_id': this.model.project_id
                    }
                })
                .then(response => {
                    this.parameters.resources = response.data;
                });
            },
            async invoiceParameter(){
              axios.get(this.serverURL+'/api/invoice/parameters', {
                project_id: this.model.project_id
              })
                  .then(response => {
                    this.parameters = response.data;
                    this.model.company_id = this.parameters.company_id
                  }).finally(() => {
                        if (this.old.customer_id){
                            this.customerProjects();
                        }
                        

                        if (this.old.project_id){
                        this.getResources();
                        }
                  });
            },
            getFrequencies(){
              fetch("/api/frequency")
                  .then(response => response.json())
                  .then(res => this.frequencies = res.data)
                .catch(error => console.log(error));
            },
            defaultExpiryDate(){
              let date = new Date()
              date.setFullYear(date.getFullYear() + 1)
              return date.toISOString().slice(0,10)
            },
            errorBag(){
              for (const field in this.model) {
                this.errorsBag[field] = [];
              }
            },
            handleValidation() {
              const errors = this.errors;
              for (let [key, value] of Object.entries(this.errorsBag)) {
                if (errors.hasOwnProperty(key)) {
                  this.errorsBag[key] = errors[key];
                }
              }
            },
            defaultEmails(){
              if (this.recurring){
                fetch("/api/emails/"+this.model.customer_id)
                    .then(response => response.json())
                    .then(data => this.model.emails = data)
              }
              
              this.customerProjects();
            },
            addMoreEmails(){
              if(!this.validateEmail(this.email) && this.email.length){
                alert("You entered an invalid email address")
                return;
              }
              this.model.emails.push(this.email)
              this.model.emails = [... new Set(this.model.emails)]
              this.email = "";
            },
            validateEmail(email) {
              return String(email)
                  .toLowerCase()
                  .match(
                      /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                  );
            },
            removeEmail(index){
                this.model.emails.splice(index, 1)
            },
            async customerProjects(){
              let response = await fetch("/api/customer-projects/"+this.model.customer_id);
                  let data = await response.json()
                  this.parameters.projects = data.data;
            }
        }
    }
</script>

<style>

    .action-buttons {
        padding: 15px;
    }

    .dp__main > .dp__input_wrap > .dp-custom-input,.dp__main > .dp__input_wrap > .dp__input{
        padding: .25rem .5rem !important;
        font-size: .875rem !important;
        line-height: 1.5 !important;
    }

</style>
