<template>
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" @click="toggleShowMenu()">
            <i style="color: red;" class="fas fa-bell" v-if="hasUnread"></i>
            <i id="notificatins-icon" class="fa fa-bell" v-else></i>
            <span class="badge badge-warning navbar-badge">{{ counter }}</span>
        </a>
        <div style="display: block;
    position: absolute;
    z-index: 900;
    right: 0;
    min-width: 280px;
    background: #fff;
    top: 3rem;" v-if="showMenu">
            <ul class="list-group" style="list-style: none;margin:0px;padding:0px;">
                <li class="list-group-item" v-for="notification in notifications" :key="notification.id"><a v-on:click="MarkAsRead(notification)" style="cursor: pointer;">{{ notification.name }}</a></li>
                <li class="list-group-item" style="padding:0px;"><a href="#" v-on:click="goto_route()" class="dropdown-item dropdown-footer"><small>View All</small></a></li>
            </ul>
        </div>
    </li>
</template>

<script>
    export default{
        props: {
            blackUser: {
                default: ''
            },
            isMenuOpen:{
                default:false
            }
        },
        watch:{
            isMenuOpen(val){
                this.showMenu = val
            }
        },
        data() {
            return {
                hasUnread: false,
                counter: '',
                notifications: [],
                showMenu: false
            }
        },
        methods: {
            toggleShowMenu: function(){
                this.showMenu = !this.showMenu
                if(this.showMenu){
                    this.clearNotifications()
                }
            },
            goto_route: function () {
                var route = "/notifications";
                location.href = route;
            },
            clearNotifications: function () {
                this.hasUnread = false;
                axios.post('/api/markallnotifications').then(response => {
                });
            },
            MarkAsRead: function(notification){
                var data = {
                    id: notification.id
                };

                axios.post('/api/readnotifications',data).then(response => {
                    window.location.href = notification.link;
                });
            },
        },
        created(){
            axios.post('/api/getnotifications')
                .then(response => {
                    // console.log(response.data)
                    this.notifications = response.data.notifications;
                    if(response.data.count > 0) {
                        this.hasUnread = true;
                    } else {
                        this.hasUnread = false;
                    }
                        this.counter = response.data.count;

                });
        }
    }
    
</script>
