<script>
import {defineComponent} from 'vue'
import FormErrors from "@/components/Equipment/FormErrors.vue";
import Datepicker from "@vuepic/vue-datepicker";

export default defineComponent({
  name: "ProFormaInvoice",
  components: {
    FormErrors, Datepicker
  },
  props: ['consultants', 'errors', 'old', 'customers', 'isCustomer'],
  created() {
    this.populateErrorsBag();
    this.handleValidation();
    this.handleOld()
  },
  data(){
    return {
      form: {
        consultant: '',
        customer: '',
        project: '',
        period: '',
        date_from: '',
        date_to: '',
        invoice_number: 'XXXXXX',
        invoice_message: '',
        currency: 0,
        vat_rate_id: ''
      },
      errorsBag: {},
      projectsDropdown: [],
      yearMonths: [],
      vatDropdown: []
    }
  },
  methods: {
    getProjects: function(){

      this.getVat();
      const param = this.isCustomer ? this.form.customer : this.form.consultant;
      const is_customer = this.isCustomer ? 1 : 0;

      fetch(`/api/proformaprojects/${param}?is_customer=${is_customer}`)
          .then(res => {
            if (res.status === 200) {
              return res.json()
            }
            alert("Something went wrong")
          }).then(data => this.projectsDropdown = data)
          .catch(error => console.error(error));
    },
    getPeriods: function(){
      fetch(`/api/proformaperiods?consultant=${this.form.consultant}&project=${this.form.project}`)
          .then( (res) => {
            if (res.status === 200) {
              return res.json()
            }
            alert("Something went wrong")
      }).then(data => this.yearMonths = data)
      .catch(error => console.error(error));
    },
    getVat: function (){
      const url = this.isCustomer ? '/api/customervat': `/api/proformavat/${this.form.consultant}`
      fetch(url)
          .then(res => {
            if (res.status === 200) {
              return res.json()
            }
            alert("Something went wrong")
          }).then(data => {
            this.form.vat_rate_id = data.vat_rate_id;
            this.vatDropdown = data.vat_rate_dropdown;
      }).catch(error => console.error(error));
    },
    populateErrorsBag: function (){
      for (const field in this.form) {
        this.errorsBag[field] = [];
      }
    },
    handleValidation: function () {
      for (let [key, value] of Object.entries(this.errorsBag)) {
        if (this.errors.hasOwnProperty(key)) {
          this.errorsBag[key] = this.errors[key];
        }
      }
    },
    handleOld: function (){
      for (let [key, value] of Object.entries(this.form)) {
        if (this.old.hasOwnProperty(key)) {
          this.form[key] = this.old[key];
        }
      }
      if (this.form.consultant.length > 0)
      {
        this.getProjects()
        if (this.form.project.length > 0)
        {
          this.getPeriods()
        }
      }
    },
    failedValidations: function (field) {
      if (this.errorsBag[field].length){
        return 'failed-validation control-sm';
      }
      return 'control-sm';
    }
  }
})
</script>

<template>
  <table class="table table-bordered table-sm mt-3">
    <thead>
    <tr>
      <th colspan="4" class="btn-dark">{{isCustomer?'Customer':'Vendor'}} Information</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>{{isCustomer?'Customer':'Consultant'}}: <small class="text-muted d-none d-sm-inline">(required)</small><span class="text-danger d-inline d-sm-none">*</span></th>
      <td>
        <select v-if="!isCustomer" name="consultant" v-model="form.consultant" class="form-control form-control-sm" :class="{'is-invalid': errorsBag.consultant.length}" @change="getProjects">
          <option value="" disabled>Select Consultant</option>
          <option v-for="(consultant, index) in consultants" :key="index" :value="index">{{consultant}}</option>
        </select>
        <FormErrors v-if="errorsBag.consultant.length && !isCustomer" :errors="errorsBag.consultant" ></FormErrors>

        <select v-if="isCustomer" name="customer" v-model="form.customer" class="form-control form-control-sm" :class="{'is-invalid': errorsBag.customer.length}" @change="getProjects">
          <option value="" disabled>Select Customer</option>
          <option v-for="(customer, index) in customers" :key="index" :value="index">{{customer}}</option>
        </select>
        <FormErrors v-if="errorsBag.customer.length && isCustomer" :errors="errorsBag.customer" ></FormErrors>
      </td>
      <th>Project: <small class="text-muted d-none d-sm-inline">(required)</small><span class="text-danger d-inline d-sm-none">*</span></th>
      <td>
        <select name="project" v-model="form.project" class="form-control form-control-sm" :class="{'is-invalid': errorsBag.project.length}" @change="getPeriods">
          <option value="" disabled>Select Project</option>
          <option v-for="project in projectsDropdown" :key="project.id" :value="project.id">{{project.name}}</option>
        </select>
        <FormErrors v-if="errorsBag.project.length" :errors="errorsBag.project" ></FormErrors>
      </td>
    </tr>
    <tr>
      <th>Period (YearMonth):</th>
      <td>
        <select name="period" v-model="form.period" class="form-control form-control-sm" :class="{'is-invalid': errorsBag.period.length}">
          <option value="" disabled>Select Period</option>
          <option v-for="(period, key) in yearMonths" :key="key" :value="key">{{period}}</option>
        </select>
        <FormErrors v-if="errorsBag.period.length" :errors="errorsBag.period" ></FormErrors>
      </td>
      <th>Date Range:</th>
      <td class="row no-gutters">
        <div class="col-md-6">
          <Datepicker
              :disabled="form.period.length > 1"
              v-model="form.date_from"
              name="date_from"
              format="yyyy-MM-dd"
              auto-apply
              :close-on-auto-apply="true"
              :enable-time-picker="false"
              :input-class-name="failedValidations('date_from')"
          />
          <FormErrors v-if="errorsBag.date_from.length" :errors="errorsBag.date_from" ></FormErrors>
        </div>
        <div class="col-md-6">
          <Datepicker
              :disabled="form.period.length > 1"
              v-model="form.date_to"
              name="date_to"
              format="yyyy-MM-dd"
              auto-apply
              :close-on-auto-apply="true"
              :enable-time-picker="false"
              :input-class-name="failedValidations('date_to')"
          />
          <FormErrors v-if="errorsBag.date_to.length" :errors="errorsBag.date_to" ></FormErrors>
        </div>
      </td>
    </tr>
    <tr>
      <th>Invoice Number:</th>
      <td>
        <input type="text" v-model="form.invoice_number" class="form-control form-control-sm" name="invoice_number" :class="{'is-invalid': errorsBag.invoice_number.length}" />
        <FormErrors v-if="errorsBag.invoice_number.length" :errors="errorsBag.invoice_number" ></FormErrors>
      </td>
      <th>Invoice Message:</th>
      <td>
        <input type="text" v-model="form.invoice_message" class="form-control form-control-sm" name="invoice_message" :class="{'is-invalid': errorsBag.invoice_message.length}" />
        <FormErrors v-if="errorsBag.invoice_message.length" :errors="errorsBag.invoice_message" ></FormErrors>
      </td>
    </tr>
    <tr>
      <th>Currency:</th>
      <td>
        <select v-model="form.currency" class="form-control form-control-sm" name="currency" :class="{'is-invalid': errorsBag.currency.length}">
          <option value="0">Local</option>
          <option value="1">Foreign</option>
        </select>
        <FormErrors v-if="errorsBag.currency.length" :errors="errorsBag.currency" ></FormErrors>
      </td>
      <th>Vat Rate:</th>
      <td>
        <select v-model="form.vat_rate_id" class="form-control form-control-sm" name="vat_rate_id" :class="{'is-invalid': errorsBag.currency.length}">
          <option value="" disabled>Select Vat</option>
          <option v-for="(vat, id) in vatDropdown" :key="id" :value="id">{{vat}}</option>
        </select>
        <FormErrors v-if="errorsBag.vat_rate_id.length" :errors="errorsBag.vat_rate_id" ></FormErrors>
      </td>
    </tr>

    </tbody>
  </table>
</template>

<style>
.failed-validation {
  border-color: #dc3545 !important;
}
.control-sm{
  padding-top: .25rem !important;
  padding-bottom: .25rem !important;
  font-size: .875rem !important;
  line-height: 1.5 !important;
  border-radius: .2rem !important;
}
</style>