<script>
import {defineComponent} from 'vue'
import { quillToolbarOptions } from "@/utils/quill";
import {QuillEditor} from "@vueup/vue-quill";

export default defineComponent({
  name: "ProspectComments",
  components: {
    QuillEditor
  },
  props:[/*'users',*/ 'prospectId'],
  mounted() {
    /*this.users.forEach((user, index) => {
      this.autoCompleteUser.text = user.full_name.toLowerCase();
      this.autoCompleteUser.value = '@'+user.full_name;
      this.autoCompleteUsers.push(JSON.parse(JSON.stringify(this.autoCompleteUser)));
    });*/
    this.getComments();
  },
  data(){
    return{
      quillToolbar: quillToolbarOptions(),
      comments: [],
      comment: '',
      autoCompleteUsers: [],
    }
  },
  methods:{
    save(){
      if (!this.comment) {
        alert("Please enter your comment")
        return false;
      }
      fetch(`/api/prospect/${this.prospectId}/discussion`, {
        method: "post",
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          comment: this.comment,
        })
      })
          .then(res => {
            this.comment = ''
            this.getComments();
          });
    },
    getComments(){
      fetch(`/api/prospect/${this.prospectId}/discussion`)
          .then(res => res.json())
          .then(data => this.comments = data)
          .catch(err => console.log("something went wrong"));
    },
    dateFormat(date){
      let comment_date = new Date(date)
      return `${comment_date.getFullYear()}-${comment_date.getMonth() + 1}-${comment_date.getDate()} ${comment_date.getHours()}:${comment_date.getMinutes()}:${comment_date.getSeconds()}`
    }
  }
})
</script>

<template>
  <div class="table-responsive-sm">
    <table class="table table-sm mt-3">
      <tr>
        <td class="w-50">
          <quill-editor
              :toolbar="quillToolbar"
              theme="snow"
              content-type="html"
              v-model:content="comment"
          ></quill-editor>
          <div class="text-right">
            <button :class="!comment.length?'disabled':''" class="btn btn-sm btn-dark mt-2" @click.prevent="save"><i class="fa fa-save"></i> Comment</button>
          </div>
        </td>
        <td class="px-3">
          <h3>Discussions</h3>
          <div>
            <template v-for="comment in comments" :key="comment.id">
              <div class="row ">
                <div class="col-md-1">
                  <img :src="`https://ui-avatars.com/api/?background=random&name=${comment.commenter?.first_name} ${comment.commenter?.last_name}`" class="border rounded-circle mr-2 img-fluid" alt="">
                </div>
                <div class="col-md-8">
                  <div class="border p-2 rounded bg-light my-2" v-html="comment.body"></div>
                </div>
                <div class="col-md-3"><p>{{dateFormat(comment.created_at)}}</p></div>
              </div>
            </template>
          </div>
        </td>
      </tr>
    </table>
  </div>
</template>

<style scoped>

</style>