<template>
    <div>
        <div class="row w-100" style="overflow-x: scroll; flex-wrap: nowrap;">
            <div v-for="board in kanban_boards" :key="board.id" class="col-md-3 task-board">
                <p class="board-heading">{{board.description}} {{kanban_boards.tasks}}</p>
                <ul :id="'ul_list_'+board.id" :board-id="board.id" class="sortable connectedSortable">
                    <li :task-id="task.id" v-for="task in board.tasks" :key="task.id" :class="'card card_'+task.id+' ui-sortable-handle'">
                        <div>



                            <table class="table table-sm table-borderless">
                                <tbody>
                                <tr>
                                    <td style="width: 90%">
                                        <a @click="viewTask(task.id)">
                                            <b>{{task.id}}</b> {{task.description}}
                                        </a>
                                    </td>
                                    <td>
                                        <i v-if="task.emote_id == 1" class="fas fa-frown fa-2x" style="color:red;"></i>
                                        <i v-if="task.emote_id == 2" class="fas fa-exclamation fa-2x" style="color:orange;"></i>
                                        <i v-if="task.emote_id == 3" class="fas fa-smile fa-2x" style="color:green;"></i>
                                        <i v-if="task.emote_id == 4" class="fas fa-user-check fa-2x" style="color:purple;"></i>
                                        <i v-if="task.emote_id == 5" class="fas fa-upload fa-2x" style="color:blue;"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <p v-if="task.bug_task !== null">
                            <span class="badge badge-secondary mr-2">Severity Level: {{task.bug_task.severity_level}}</span>
                            <span class="badge badge-primary">Reference Number: {{task.bug_task.ref_number}}</span>
                        </p>
                        <p class="d-flex">
                            <span class="chat-initials" :title="task.consultant.first_name + ' ' + task.consultant.last_name"><img :src="uiAvatars(task.consultant)" class="chat-initials mr-2"></span>
                          <span>{{task.consultant.first_name != null ? task.consultant.first_name : ''}} {{task.consultant.last_name != null ? task.consultant.last_name : ''}} &nbsp; &nbsp; <i class="fa fa-briefcase" aria-hidden="true"></i>
                           {{task.project.ref != null ? task.project.ref:""}}</span>
                        </p>
                    </li>
                </ul>

                <P class="d-flex justify-content-between">
                    <button class="btn btn-sm btn-outline-success" @click="viewAddTask(board)">Add Task ...</button> <button class="btn btn-sm btn-outline-dark" v-if="board.load_more" @click="loadBoard(board.id, board.page, board.project_id)">Load More</button>
                </P>
            </div>

<!--            <view-task v-if="show_modal" @close="show_modal = false" :task-id="active_task"></view-task>-->

            <button id="modalBtn" data-toggle="modal" data-target="#add_task_modal" style="display: none;" data-backdrop="static" data-keyboard="false">Toggle Modal</button>
            <!-- Modal -->
            <div class="modal fade" id="add_task_modal" tabindex="-1" role="dialog" aria-labelledby="add_task_modal_label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div style="width: 900px" class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add_task_modal_label" style="width: 100%;">
                                Task {{task.id}}<br/>
                                <table class="table table-sm table-borderless" style="margin-bottom: 0px !important;">
                                    <tr>
                                        <td style="width: 20px;">{{task.id}}</td><td><input style="font-size: 17px;" type="text" v-model="task.description" class="form-control form-control-sm col-md-12" /></td>
                                    </tr>
                                </table>
                            </h5>
                            <button id="closeModalBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-sm table-borderless">
                                <tr>
                                    <td style="width: 25%">
                                        <select v-model="task.employee_id" @change="reassign"  class="form-control form-control-sm col-md-12">
                                            <option>Assigned User</option>
                                            <option v-for="(assigned_user, index) in users" :value="assigned_user.id">{{assigned_user.full_name}}</option>
                                        </select>
                                    </td>
                                    <td style="width: 25%">&nbsp;&nbsp; <a v-on:click="commentsFocus" style="cursor: pointer;"><i class="fa fa-comment"></i> {{Object(messages).length != null ? Object(messages).length : 0}} comments</a></td>
                                    <td style="width: 30%">
                                        <button class="btn btn-default" v-on:click="setEmote(1)" style="border-radius: 50%; margin-right:1%;" name="emote_frown" id="emote_frown"><i class="fa fa-frown fa-lg" style="color: red;"></i></button>
                                        <button class="btn btn-default" v-on:click="setEmote(2)" style="border-radius: 50%; margin-right:1%;" name="emote_exclamation" id="emote_exclamation"><i class="fa fa-exclamation fa-lg" style="color: orange;"></i></button>
                                        <button class="btn btn-default" v-on:click="setEmote(3)" style="border-radius: 50%; margin-right:1%;" name="emote_smile" id="emote_smile"><i class="fa fa-smile fa-lg" style="color: green;"></i></button>
                                        <button class="btn btn-default" v-on:click="setEmote(4)" style="border-radius: 50%; margin-right:1%;" name="emote_test" id="emote_test"><i class="fa fa-user-check fa-lg" style="color: purple;"></i></button>
                                        <button class="btn btn-default" v-on:click="setEmote(5)" style="border-radius: 50%; margin-right:1%;" name="emote_deploy" id="emote_deploy"><i class="fa fa-upload fa-lg" style="color: blue;"></i></button>
                                        <button class="btn btn-default" v-on:click="setEmote(0)" style="border-radius: 50%; margin-right:1%;" name="emote_none" id="emote_none"><i class="fa fa-times fa-lg"></i></button>
                                    </td>
                                    <td style="width: 20%" class="text-right">
                                        <button ref="copy-task" v-on:click="copyTask(task.id)" class="btn btn-sm btn-dark mr-2"> <i class="fa fa-copy"></i> Copy Task</button>
                                        <button v-if="isSending" class="btn btn-sm btn-success" disabled><i class="fa fa-spinner"></i> Saving ...</button>
                                        <button v-if="!isSending" v-on:click="updateTask" class="btn btn-sm btn-success">Save & Close</button>
                                    </td>
                                </tr>
                            </table>
                            <div style="background-color: #F8F8F8; padding: 15px; border-radius: 4px;">
                                <table class="table table-sm table-borderless">
                                    <tr>
                                        <th style="width: 10%;">Project</th>
                                        <td style="width: 23%;">
                                            <select v-model="task.project_id" @change="changeProject($event)" class="form-control form-control-sm col-md-12">
                                                <option v-for="(project, index) in projects_drop_down" :value="project.id">{{project.name}}</option>
                                            </select>
                                        </td>
                                        <th style="width: 10%;">Customer</th>
                                        <td style="width: 24%;">
                                            <select v-model="task.customer_id" class="form-control form-control-sm col-md-12" disabled>
                                                <option v-for="(customer, index) in customers_drop_down" :value="customer.id">{{customer.customer_name}}</option>
                                            </select>
                                        </td>
                                        <th style="width: 10%;">Sprint</th>
                                        <td style="width: 23%;" v-if="selected_project != 0 && selected_project != null">
                                            <select v-model="task.sprint_id" class="form-control form-control-sm col-md-12" @change="selectSprint($event)">
                                                <option selected :value="0">-</option>
                                                <option v-for="(sprint, index) in sprints_drop_down"  v-if="sprint.project_id == selected_project" :value="sprint.id" >{{sprint.name}}</option>
                                            </select>
                                        </td>
                                        <td style="width: 23%;" v-else>
                                            <select v-model="task.sprint_id" class="form-control form-control-sm col-md-12" @change="selectSprint($event)">
                                                <option selected :value="0">-</option>
                                                <option v-for="(sprint, index) in sprints_drop_down" :value="sprint.id" >{{sprint.name}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width: 10%;">User Story</th>
                                        <td style="width: 23%;" v-if="selected_sprint != 0 && selected_sprint != null">
                                            <select v-model="task.user_story_id" class="form-control form-control-sm col-md-12">
                                                <option v-for="(user_story, index) in user_story_drop_down" v-if="user_story.sprint_id == selected_sprint" :value="user_story.id">{{user_story.name}}</option>
                                            </select>
                                        </td>
                                        <td style="width: 23%;" v-else>
                                            <select v-model="task.user_story_id" class="form-control form-control-sm col-md-12">
                                                <option v-for="(user_story, index) in user_story_drop_down" :value="user_story.id">{{user_story.name}}</option>
                                            </select>
                                        </td>
                                        <th style="width: 10%;">Dependency</th>
                                        <td style="width: 23%;">
                                            <select v-model="task.dependency" class="form-control form-control-sm col-md-12">
                                                <option v-for="(dependency_task, index) in tasks_drop_down" :value="dependency_task.id">{{dependency_task.description}}</option>
                                            </select>
                                        </td>
                                        <th style="width: 10%;">Status</th>
                                        <td style="width: 23%;">
                                            <select v-model="task.status" class="form-control form-control-sm col-md-12">
                                                <option v-for="(status, index) in statuses_drop_down" :value="status.id">{{status.description}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width: 10%;">Delevery Type</th>
                                        <td style="width: 23%;">
                                            <select v-model="task.task_delivery_type_id" class="form-control form-control-sm col-md-12">
                                                <option v-for="(task_delivery_type, index) in task_delivery_type_drop_down" :value="task_delivery_type.id">{{task_delivery_type.name}}</option>
                                            </select>
                                        </td>
                                        <th style="width: 10%;">Permission</th>
                                        <td style="width: 23%;">
                                            <select v-model="task.task_permission_id" class="form-control form-control-sm col-md-12">
                                                <option v-for="(permission, index) in permissions_drop_down" :value="permission.id">{{permission.name}}</option>
                                            </select>
                                        </td>
                                        <th colspan="2">&nbsp;</th>
                                    </tr>
                                </table>
                            </div>
                            <hr/>

                            <ul class="nav nav-tabs justify-content-end">
                                <li class="nav-item">
                                    <a href="#details" class="nav-link active" data-toggle="tab">Details</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#timesheets" class="nav-link" data-toggle="tab">Timesheets</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="details">
                                    <hr/>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <table class="table table-sm table-borderless">
                                                <thead>
                                                <tr class="planning-btn" v-on:click="noteFlag = !noteFlag">
                                                    <th style="border-bottom: 1px solid grey !important;">
                                                        Description <i v-if="noteFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!noteFlag" class="float-right fa fa-chevron-up"></i>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="noteFlag">
                                                <tr>
                                                    <td>
                                                        <!--<textarea v-model="task.note_1" rows="5" cols="50" class="form-control form-control-sm col-md-12"></textarea>-->
                                                        <div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-sm table-borderless">
                                                <thead>
                                                <tr class="planning-btn" v-on:click="discussionFlag = !discussionFlag">
                                                    <th style="border-bottom: 1px solid grey !important;">
                                                        Discussion<i v-if="discussionFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!discussionFlag" class="float-right fa fa-chevron-up"></i>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="discussionFlag">
                                                <tr>
                                                    <td id="message_td">
                                                        <!--<textarea v-model="message" rows="5" cols="50"  class="form-control form-control-sm col-md-12"></textarea>-->
                                                      
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right">
                                                        <button v-if="!sendingMessage" style="margin-bottom: 5px; margin-top: 5px; color: #ffffff;" v-on:click="addMessage()" class="btn btn-sm btn-warning">Save Note</button>
                                                        <button v-if="sendingMessage" style="margin-bottom: 5px; margin-top: 5px; color: #ffffff;" class="btn btn-sm btn-warning" disabled><i class="fa fa-spinner"></i> Save Note</button>
                                                    </td>
                                                </tr>
                                                <tr v-for="(message, index) in messages">
                                                    <td>
                                                        <table class="table table-sm table-borderless">
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 5%;">
                                                                    <span class="chat-initials" :title="message.user.first_name + ' ' + message.user.last_name"><img :src="uiAvatars(message.user)" class="chat-initials" alt=""></span></td>
                                                                <td style="width: 95%;">
                                                                    <div class="form-control form-control-sm col-md-12" v-html="message.note"></div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <!--<textarea rows="3" cols="50"  class="form-control form-control-sm col-md-12" disabled>{{message.note}}</textarea>-->
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-3">
                                            <table class="table table-sm table-borderless">
                                                <thead>
                                                <tr class="planning-btn" v-on:click="planningFlag = !planningFlag">
                                                    <th style="border-bottom: 1px solid grey !important;">
                                                        Planning <i v-if="planningFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!planningFlag" class="float-right fa fa-chevron-up"></i>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="planningFlag">
                                                <tr><td>Start Date</td></tr>
                                                <tr><td><input type="date" v-model="task.start_date" class="form-control form-control-sm datepicker col-md-12" /></td></tr>
                                                <tr><td>End Date</td></tr>
                                                <tr><td><input type="date" v-model="task.end_date" class="form-control form-control-sm datepicker col-md-12 datepicker" /></td></tr>
                                                <tr><td>Billable</td></tr>
                                                <tr>
                                                    <td>
                                                        <select v-model="task.billable" class="form-control form-control-sm col-md-12">
                                                            <option v-for="(yes_no, index) in yes_no_drop_down" :value="yes_no.id">{{yes_no.name}}</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr><td>Display On Kanban</td></tr>
                                                <tr>
                                                  <td>
                                                    <select v-model="task.on_kanban" class="form-control form-control-sm col-md-12">
                                                      <option v-for="(yes_no, index) in yes_no_drop_down" :value="yes_no.id">{{yes_no.name}}</option>
                                                    </select>
                                                  </td>
                                                </tr>
                                                <tr><td>Hours Planned</td></tr>
                                                <tr><td><input type="text" v-model="task.hours_planned" class="form-control form-control-sm col-md-12" /></td></tr>
                                                <tr><td>Weight</td></tr>
                                                <tr><td><input type="text" v-model="task.weight" class="form-control form-control-sm col-md-12" /></td></tr>
                                                <tr><td>Remaining</td></tr>
                                                <tr><td><input type="text" v-model="task.remaining_time" class="form-control form-control-sm col-md-12" /></td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- Milestone -->
                                        <div class="col-md-4">
                                            <table class="table table-sm table-borderless">
                                                <thead>
                                                <tr class="planning-btn" v-on:click="documentFlag = !documentFlag">
                                                    <th colspan="2" style="border-bottom: 1px solid grey !important;">
                                                        Attachments <i v-if="documentFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!documentFlag" class="float-right fa fa-chevron-up"></i>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="documentFlag">
                                                <tr>
                                                    <td colspan="2">
                                                    </td>
                                                </tr>
                                                <tr v-for="document in documents">
                                                    <td><a :href="'/files/tasks/'+document.file" target="_blank">{{document.name}}</a></td><td class="text-right"><a v-on:click="deleteDocument(document.id)"><i style="color: red;" class="fa fa-trash" title="Delete attachment"></i></a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="timesheets">
                                    <hr/>

                                    <table class="table table-sm table-striped table-hover"  v-if="task.status != 5">
                                        <tbody>
                                        <tr>
                                            <th style="width: 20%;">Select Year Week</th>
                                            <td>
                                                <select v-on:change="weekChange" v-model="selected_year_week" class="form-control form-control-sm col-md-12">
                                                    <option v-for="(year_week, index) in year_week_drop_down"  :value="year_week.id">{{year_week.name.name}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table v-if="isSplitWeek" class="table table-sm table-striped table-hover">
                                        <tbody>
                                        <tr>
                                            <th style="color: red;">Please note that this is split week and a timesheet for the remainder of the week should be created if not already created.</th>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table class="table table-sm table-condensed table-bordered"  v-if="task.status != 5">
                                        <thead>
                                        <tr style="background-color: #F8F8F8;">
                                            <th>Client Allocation</th><th>Mon {{week_days.mon}}</th><th>Tue {{week_days.tue}}</th><th>Wed {{week_days.wed}}</th><th>Thu {{week_days.thu}}</th><th>Fri {{week_days.fri}}</th><th>Sat {{week_days.sat}}</th><th>Sun {{week_days.sun}}</th><th>Travel(Mileage)</th><th>Billable</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Hours</td>
                                            <td>
                                                <select v-model="timesheet.mon_hour" class="form-control form-control-sm col-md-12" :disabled="isMonHour">
                                                    <option v-for="hour in hours_drop_down" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.tue_hour" class="form-control form-control-sm col-md-12" :disabled="isTueHour">
                                                    <option v-for="hour in hours_drop_down" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.wed_hour" class="form-control form-control-sm col-md-12" :disabled="isWedHour">
                                                    <option v-for="hour in hours_drop_down" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.thu_hour" class="form-control form-control-sm col-md-12" :disabled="isThuHour">
                                                    <option v-for="hour in hours_drop_down" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.fri_hour" class="form-control form-control-sm col-md-12" :disabled="isFriHour">
                                                    <option v-for="hour in hours_drop_down" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.sat_hour" class="form-control form-control-sm col-md-12" :disabled="isSatHour">
                                                    <option v-for="hour in hours_drop_down" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td><select v-model="timesheet.sun_hour" class="form-control form-control-sm col-md-12" :disabled="isSunHour">
                                                <option v-for="hour in hours_drop_down" :value="hour">{{hour}}</option>
                                            </select></td>
                                            <td rowspan="2">
                                                <input type="number" v-model="timesheet.mileage" class="form-control form-control-sm col-md-12" />
                                            </td>
                                            <td rowspan="2">
                                                <select v-model="timesheet.billable" class="form-control form-control-sm col-md-12">
                                                    <option v-for="(yes_no, index) in yes_no_drop_down" :value="yes_no.id">{{yes_no.name}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Minutes</td>
                                            <td>
                                                <select v-model="timesheet.mon_minute" class="form-control form-control-sm col-md-12" :disabled="isMonMin">
                                                    <option v-for="hour in minutes_drop_down" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.tue_minute" class="form-control form-control-sm col-md-12" :disabled="isTueMin">
                                                    <option v-for="hour in minutes_drop_down" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.wed_minute" class="form-control form-control-sm col-md-12" :disabled="isWedMin">
                                                    <option v-for="hour in minutes_drop_down" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.thu_minute" class="form-control form-control-sm col-md-12" :disabled="isThuMin">
                                                    <option v-for="hour in minutes_drop_down" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.fri_minute" class="form-control form-control-sm col-md-12" :disabled="isFriMin">
                                                    <option v-for="hour in minutes_drop_down" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.sat_minute" class="form-control form-control-sm col-md-12" :disabled="isSatMin">
                                                    <option v-for="hour in minutes_drop_down" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select v-model="timesheet.sun_minute" class="form-control form-control-sm col-md-12" :disabled="isSunMin">
                                                    <option v-for="hour in minutes_drop_down" :value="hour">{{hour}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-sm table-borderless" v-if="task.status != 5">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <button class="btn btn-sm btn-warning" style="color: #ffffff;" v-on:click="addTimeLine" :disabled="enableSaveTimeline">Save Timeline</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table class="table table-sm table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th colspan="11">Task Timesheet</th>
                                        </tr>
                                        <tr style="background-color: rgb(248, 248, 248);">
                                            <th>Timesheet ID</th><th>Week</th><th>Bill</th><th>Travel</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th><th>Total</th><td>&nbsp;</td>
                                        </tr>
                                        </thead>
                                        <tbody id="timelines">
                                        <tr v-for="timeline in timelines">
                                            <td>{{timeline.timesheet_id}}</td><td>{{timeline.from_to}}</td><td>{{timeline.billable == 1 ? 'Yes' : 'No'}}</td><td>{{timeline.mileage}}</td><td>{{timeline.mon}}</td><td>{{timeline.tue}}</td><td>{{timeline.wed}}</td><td>{{timeline.thu}}</td><td>{{timeline.fri}}</td><td>{{timeline.sat}}</td><td>{{timeline.sun}}</td><td>{{timeline.total}}</td>
                                            <td class="text-right">
                                                <a style="cursor: pointer;" v-on:click="deleteTimeline(timeline.id)" title="Delete timeline"><i class="fa fa-trash" style="color: red;"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th colspan="11">
                                                TOTAL
                                            </th>
                                            <th colspan="2">
                                                {{timelines_total}}
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>





            <button id="modalCreateBtn" data-toggle="modal" data-target="#create_task_modal" style="display: none;" data-backdrop="static" data-keyboard="false">Create Task</button>
            <!-- Modal -->
            <div class="modal fade" id="create_task_modal" tabindex="-1" role="dialog" aria-labelledby="create_task_modal_label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div style="width: 900px" class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="create_task_modal_label" style="width: 100%;">
                                New Task <br/>
                                <table class="table table-sm table-borderless" style="margin-bottom: 0px !important;">
                                    <tr>
                                        <td style="width: 20px;">#</td><td><input style="font-size: 17px;" type="text" v-model="new_task.description" class="form-control form-control-sm col-md-12" /></td>
                                    </tr>
                                </table>
                            </h5>
                            <button id="closeCreateModalBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-sm table-borderless">
                                <tr>
                                    <td style="width: 16%">Consultant</td>
                                    <td style="width: 50%">
                                        <model-select
                                            :options="users_drop_down"
                                            v-model="consultant"
                                            placeholder="select consultant">
                                        </model-select>
                                    </td>
                                    <td style="width: 34%" class="text-right">
                                        <button v-if="isSending" class="btn btn-sm btn-success" disabled><i class="fa fa-spinner"></i> Saving ...</button>
                                        <button v-if="!isSending" v-on:click="saveTask" class="btn btn-sm btn-success">Save & Close</button>
                                    </td>
                                </tr>
                            </table>
                            <div style="background-color: #F8F8F8; padding: 15px; border-radius: 4px;">
                                <table class="table table-sm table-borderless">
                                    <tr>
                                        <th style="width: 10%;">Project</th>
                                        <td style="width: 23%;">
                                            <model-select
                                                :options="projects_select"
                                                v-model="projectValue"
                                                :isDisabled="true"
                                                placeholder="select project">
                                            </model-select>
                                        </td>
                                        <th style="width: 10%;">Customer</th>
                                        <td style="width: 24%;">
                                            <input type="text" v-model="customerValue.text" class="form-control" disabled>
                                        </td>
                                        <th style="width: 10%;">Sprint</th>
                                        <td style="width: 23%;">
                                            <model-select
                                                :options="sprint_select"
                                                v-model="sprintValue"
                                                placeholder="select sprint">
                                            </model-select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width: 10%;">User Story</th>
                                        <td style="width: 23%;">
                                            <model-select
                                                :options="story_select"
                                                v-model="storyValue"
                                                placeholder="select user story">
                                            </model-select>
                                        </td>
                                        <th style="width: 10%;">Dependency</th>
                                        <td style="width: 23%;">
                                            <model-select
                                                :options="dependancy_select"
                                                v-model="dependancyValue"
                                                placeholder="select dependency">
                                            </model-select>
                                        </td>
                                        <th style="width: 10%;">Status</th>
                                        <td style="width: 23%;">
                                            <model-select
                                                :options="status_select"
                                                v-model="statusValue"
                                                placeholder="select dependency">
                                            </model-select>
                                        </td>
                                    </tr>
                                </table>
                                <hr/>


                                <div class="row">
                                    <div class="col-md-5">
                                        <table class="table table-sm table-borderless">
                                            <thead>
                                            <tr class="planning-btn" v-on:click="noteFlag = !noteFlag">
                                                <th style="border-bottom: 1px solid grey !important;">
                                                    Description <i v-if="noteFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!noteFlag" class="float-right fa fa-chevron-up"></i>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody v-if="noteFlag">
                                            <tr>
                                                <td>
                                                    <div>
                                                      <quill-editor
                                                          :toolbar="quillToolbar"
                                                          theme="snow"
                                                          content-type="html"
                                                          v-model:content="new_task.note_2"
                                                      ></quill-editor>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-3">
                                        <table class="table table-sm table-borderless">
                                            <thead>
                                            <tr class="planning-btn" v-on:click="planningFlag = !planningFlag">
                                                <th style="border-bottom: 1px solid grey !important;">
                                                    Planning <i v-if="planningFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!planningFlag" class="float-right fa fa-chevron-up"></i>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody v-if="planningFlag">
                                            <tr><td>Start Date</td></tr>
                                            <tr><td><input type="date" v-model="new_task.start_date" class="form-control form-control-sm col-md-12" /></td></tr>
                                            <tr><td>End Date</td></tr>
                                            <tr><td><input type="date" v-model="new_task.end_date" class="form-control form-control-sm col-md-12" /></td></tr>
                                            <tr><td>Billable</td></tr>
                                            <tr>
                                                <td>
                                                    <select v-model="new_task.billable" class="form-control form-control-sm col-md-12">
                                                        <option v-for="(yes_no, index) in yes_no_drop_down" :value="yes_no.id">{{yes_no.name}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr><td>Display On Kanban</td></tr>
                                            <tr>
                                              <td>
                                                <select v-model="new_task.on_kanban" class="form-control form-control-sm col-md-12">
                                                  <option v-for="(yes_no, index) in yes_no_drop_down" :value="yes_no.id">{{yes_no.name}}</option>
                                                </select>
                                              </td>
                                            </tr>
                                            <tr><td>Hours Planned</td></tr>
                                            <tr><td><input type="number" v-model="new_task.hours_planned" class="form-control form-control-sm col-md-12" /></td></tr>
                                            <tr><td>Weight</td></tr>
                                            <tr><td><input type="number" v-model="new_task.weight" class="form-control form-control-sm col-md-12" /></td></tr>
                                            <tr><td>Remaining</td></tr>
                                            <tr><td><input type="number" v-model="new_task.remaining_time" class="form-control form-control-sm col-md-12" /></td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- Milestone -->
                                    <div class="col-md-4">
                                        <table class="table table-sm table-borderless">
                                            <thead>
                                            <tr class="planning-btn" v-on:click="documentFlag = !documentFlag">
                                                <th colspan="2" style="border-bottom: 1px solid grey !important;">
                                                    Attachments <i v-if="documentFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!documentFlag" class="float-right fa fa-chevron-up"></i>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody v-if="documentFlag">
                                            <tr>
                                                <td colspan="2">
                                                    <input id="new_file" type="file" v-on:change="onFileChangeNew" class="form-control form-control-sm col-md-12" value="Add File"/>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
/*import ViewTask from "./ViewTask.vue"*/
import { ModelSelect } from 'vue-search-select'
import 'vue-search-select/dist/VueSearchSelect.css'
import alert from "bootstrap/js/src/alert";
import { quillToolbarOptions } from "@/utils/quill";
import {QuillEditor} from "@vueup/vue-quill";

let autoCompleteUsers = [];

export default {
    name: "TaskCards",
    props: ["kanban", "userId", "projectId", "filters"],
    components: {
        QuillEditor,
        ModelSelect
    },
    mounted(){
        this.kanban_boards = JSON.parse(this.kanban)
        console.log(this.kanban_boards)
        this.user_id = this.userId
        this.params = Object.keys(JSON.parse(this.filters)).map(k => k + '=' + JSON.parse(this.filters)[k]).join('&')
    },
    data: function () {
        return {
            quillToolbar: quillToolbarOptions(),
            params: "",
            kanban_boards: null,
            /*show_modal: false,
            active_task: null,*/
            consultant: {
                value: '',
                text: ''
            },
            projectValue: {
                value: '',
                text: ''
            },
            customerValue: {
                value: '',
                text: '',
            },
            sprintValue: {
                value: '',
                text: '',
            },
            storyValue: {
                value: '',
                text: '',
            },
            dependancyValue: {
                value: '',
                text: '',
            },
            statusValue: {
                value: '',
                text: '',
            },
            isSending: false,
            task: {},
            messages: [],
            documents: [],
            timelines: [],
            timelines_total: null,
            users: [],
            users_drop_down: [],
            projects_drop_down: [],
            customers_drop_down: [],
            sprints_drop_down: [],
            user_story_drop_down: [],
            statuses_drop_down: [],
            tasks_drop_down: [],
            task_delivery_type_drop_down: [],
            permissions_drop_down: [],
            yes_no_drop_down: [],
            projects_select: [],
            dependancy_select: [],
            story_select: [],
            sprint_select: [],
            status_select: [],
            selected_project: 0,
            selected_sprint: 0,
            noteFlag: true,
            user_id: 0,
            autoCompleteUser: {
                text: '',
                value: ''
            },
            discussionFlag: true,
            message: '',
            sendingMessage: false,
            planningFlag: true,
            documentFlag: true,
            file: null,
            week_days: {
                mon: '',
                tue: '',
                wed: '',
                thu: '',
                fri: '',
                sat: '',
                sun: ''
            },
            isSplitWeek: false,
            isMonHour: false,
            isTueHour: false,
            isWedHour: false,
            isThuHour: false,
            isFriHour: false,
            isSatHour: false,
            isSunHour: false,
            isMonMin: false,
            isTueMin: false,
            isWedMin: false,
            isThuMin: false,
            isFriMin: false,
            isSatMin: false,
            isSunMin: false,
            selected_year_week: null,
            year_week_drop_down: [],
            hours_drop_down: [],
            minutes_drop_down: [],
            timesheet: {
                mileage: 0,
                billable: 0,
                mon_hour: 0,
                mon_minute: 0,
                tue_hour: 0,
                tue_minute: 0,
                wed_hour: 0,
                wed_minute: 0,
                thu_hour: 0,
                thu_minute: 0,
                fri_hour: 0,
                fri_minute: 0,
                sat_hour: 0,
                sat_minute: 0,
                sun_hour: 0,
                sun_minute: 0
            },
            new_task: {
                on_kanban: 1,
                description: '',
                employee_id: 0,
                project_id: 0,
                customer_id: 0,
                sprint_id: 0,
                user_story_id: 0,
                dependency: 0,
                status: 3,
                note_2: '',
                start_date: this.today(),
                end_date: this.today(),
                billable: 1,
                hours_planned: 0,
                weight: 0,
                remaining_time: 0
            },
        }
    },
    methods: {
        loadBoard(status_id, page, project_id){
            axios.get('/kanban/loadmore/'+project_id+'/'+status_id+"?"+this.params, {
                params: {
                    page
                }
            }).then(response => {
                let loaded = response.data.kanban
                this.kanban_boards.map(board => {
                    if(loaded.id === board.id){
                        board.load_more = loaded.load_more;
                        board.page = loaded.page;
                        board.tasks = [...board.tasks, ...loaded.tasks]
                    }
                })
            }).catch(function (err) {
                console.log(err)
            })
        },
        uiAvatars(consultant){
            return 'https://ui-avatars.com/api/?name='+consultant.first_name+'+'+consultant.last_name+'&background=random&format=svg&bold=true';
        },
        viewTask(task_id) {
            this.isSending = false;
            axios.get('/api/task/'+task_id, {})
                .then(response => {
                    this.task = response.data;
                    this.getDocuments(task_id);
                    this.getTimelines(task_id);
                    this.getDropdowns(this.task.project_id)

                    document.getElementById("modalBtn").click();
                });

            this.getMessages(task_id);
        },
        getMessages(task_id){
            axios.get('/api/task/getmessages/'+task_id, {})
                .then(response => {
                    this.messages = response.data;
                });
        },
        getDocuments(task_id){
            axios.get('/api/task/getdocuments/'+task_id, {})
                .then(response => {
                    this.documents = JSON.parse(JSON.stringify(response.data));
                });
        },
        getDropdowns(project_id){
              axios.get('/kanban/dropdowns/'+project_id)
                .then(res => {
                    let dropdowns = res.data
                    this.users = JSON.parse(JSON.stringify(dropdowns.users_drop_down))
                    this.users_drop_down = JSON.parse(JSON.stringify(dropdowns.users_drop_down))
                    this.projects_drop_down = JSON.parse(JSON.stringify(dropdowns.projects_drop_down))
                    this.customers_drop_down = JSON.parse(JSON.stringify(dropdowns.customers_drop_down))
                    this.sprints_drop_down = JSON.parse(JSON.stringify(dropdowns.sprints_drop_down))
                    this.user_story_drop_down = JSON.parse(JSON.stringify(dropdowns.user_story_drop_down))
                    this.tasks_drop_down = JSON.parse(JSON.stringify(dropdowns.tasks_drop_down))
                    this.statuses_drop_down = JSON.parse(JSON.stringify(dropdowns.statuses_drop_down))
                    this.task_delivery_type_drop_down = JSON.parse(JSON.stringify(dropdowns.task_delivery_type_drop_down))
                    this.permissions_drop_down = JSON.parse(JSON.stringify(dropdowns.permissions_drop_down))
                    this.yes_no_drop_down = JSON.parse(JSON.stringify(dropdowns.yes_no_drop_down))
                    this.year_week_drop_down = JSON.parse(JSON.stringify(dropdowns.year_week_drop_down))
                    this.hours_drop_down = JSON.parse(JSON.stringify(dropdowns.hours_drop_down))
                    this.minutes_drop_down = JSON.parse(JSON.stringify(dropdowns.minutes_drop_down))
                    if (this.year_week_drop_down.length > 0){
                      this.selected_year_week = this.year_week_drop_down[0].id;
                    }

                })
                .catch(err => {
                    console.log(err)
            })
        },
        commentsFocus(){
            const element = document.getElementById('message_td');

            if (element) {
                element.scrollIntoView();
            }
        },
        setEmote(emote_id){
            axios.post(window.location.origin+'/task/setemote/'+this.task.id, {
                emote_id: emote_id
            })
                .then(response => {
                    this.getCards();
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        updateTask() {
            this.isSending = true;
            console.log('New task', this.task);
            let request = this.task;
            axios.post('/api/task/updatetask/'+this.task.id, {
                request
            })
                .then(response => {
                    this.getTask(this.task.id);
                    this.getCards();
                    this.isSending = false;
                    document.getElementById("closeModalBtn").click();
                    window.location.reload();
                }).catch(error => {
                console.log(error.response.data)
                window.alert('An error occured, could not save the task.');
                this.isSending = false;
            });
        },
        changeProject(project_id){
            // alert(event.target.value);
            this.selected_project = project_id
            this.getCards();
            axios.post('/api/getprojectresources', {
                project_id: project_id
            })
                .then(response => {
                    console.log(response.data);
                    // this.users = response.data;
                    // this.users = JSON.parse(JSON.stringify(response.data));
                    console.log('this.users', this.users);
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        selectSprint(event){
            this.selected_sprint = event.target.value;
            this.getCards();
            // console.log();
        },
        addMessage(){
            this.sendingMessage = true;
            axios.post('/api/task/message/'+this.task.id, {
                message: this.message,
                user_id: this.user_id
            })
                .then(response => {
                    this.message = '';
                    this.getMessages(this.task.id);
                    this.sendingMessage = false;
                })
                .catch(error => {
                    alert('An error occured, could not save the task.');
                    this.sendingMessage = false;
                });
        },
        clickFile(){
            document.getElementById("file").click();
        },
        onFileChange(e){
            this.file = e.target.files[0];
            e.preventDefault();
            const config = {
                headers: { 'content-type': 'multipart/form-data' }
            }

            let formData = new FormData();
            formData.append('file', this.file);
            formData.append('user_id', this.user_id);

            axios.post('/api/task/uploadfile/'+this.task.id, formData, config)
                .then(response => {
                    this.getDocuments(this.task.id);
                    this.file = null;
                    document.getElementById('file').value= null;
                    alert('File uploaded successfully');
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        deleteDocument(document_id){
            const confirmFlag = confirm('Are you sure you want to delete this attachment?')

            if(!confirmFlag){
                return false;
            }

            axios.post('/api/task/deletedocument/'+document_id, {})
                .then(response => {
                    this.getDocuments(this.task.id);
                    alert('Attachment deleted successfully.')
                });
        },
        weekChange(){
            this.year_week_drop_down.forEach(value => {
                if(value.id == this.selected_year_week){
                    this.week_days.mon = value.name.days[0];
                    this.week_days.tue = value.name.days[1];
                    this.week_days.wed = value.name.days[2];
                    this.week_days.thu = value.name.days[3];
                    this.week_days.fri = value.name.days[4];
                    this.week_days.sat = value.name.days[5];
                    this.week_days.sun = value.name.days[6];

                    this.isSplitWeek = false;

                    this.isMonHour = false;
                    this.isTueHour = false;
                    this.isWedHour = false;
                    this.isThuHour = false;
                    this.isFriHour = false;
                    this.isSatHour = false;
                    this.isSunHour = false;
                    this.isMonMin = false;
                    this.isTueMin = false;
                    this.isWedMin = false;
                    this.isThuMin = false;
                    this.isFriMin = false;
                    this.isSatMin = false;
                    this.isSunMin = false;

                    if(this.week_days.sun < 7){
                        let split_week_number = this.selected_year_week.split("_");
                        this.isSplitWeek = true;

                        if(split_week_number[1] == 1){
                            this.isMonHour = this.week_days.mon < 7;
                            this.isTueHour = this.week_days.tue < 7;
                            this.isWedHour = this.week_days.wed < 7;
                            this.isThuHour = this.week_days.thu < 7;
                            this.isFriHour = this.week_days.fri < 7;
                            this.isSatHour = this.week_days.sat < 7;
                            this.isSunHour = this.week_days.sun < 7;
                            this.isMonMin = this.week_days.mon < 7;
                            this.isTueMin = this.week_days.tue < 7;
                            this.isWedMin = this.week_days.wed < 7;
                            this.isThuMin = this.week_days.thu < 7;
                            this.isFriMin = this.week_days.fri < 7;
                            this.isSatMin = this.week_days.sat < 7;
                            this.isSunMin = this.week_days.sun < 7;
                        }

                        if(split_week_number[1] == 2){
                            this.isMonHour = this.week_days.mon > 7;
                            this.isTueHour = this.week_days.tue > 7;
                            this.isWedHour = this.week_days.wed > 7;
                            this.isThuHour = this.week_days.thu > 7;
                            this.isFriHour = this.week_days.fri > 7;
                            this.isSatHour = this.week_days.sat > 7;
                            this.isSunHour = this.week_days.sun > 7;
                            this.isMonMin = this.week_days.mon > 7;
                            this.isTueMin = this.week_days.tue > 7;
                            this.isWedMin = this.week_days.wed > 7;
                            this.isThuMin = this.week_days.thu > 7;
                            this.isFriMin = this.week_days.fri > 7;
                            this.isSatMin = this.week_days.sat > 7;
                            this.isSunMin = this.week_days.sun > 7;
                        }
                    }
                }
            });
        },
        addTimeLine(){
            if(this.task.customer_id > 0){
                // Continue
            } else {
                alert('Alert please first save customer');
                return 0;
            }

            if(this.task.project_id > 0){
                // Continue
            } else {
                alert('Alert please first save project');
                return 0;
            }

            if(this.task.employee_id > 0){
                // Continue
            } else {
                alert('Alert please first save consultant');
                return 0;
            }

            console.log('selected_year_week', this.selected_year_week);

            let request = {
                task: this.task,
                year_week: this.selected_year_week,
                timesheet: this.timesheet,
                user_id: this.user_id
            };

            axios.post('/api/task/addtimesheettimeline', {
                request
            })
                .then(response => {
                    if (response.data.message){
                        alert(response.data.message)
                    }
                    this.getTimelines();
                    this.timesheet.billable = 0;
                    this.timesheet.mileage = 0;
                    this.timesheet.mon_hour = 0;
                    this.timesheet.mon_minute = 0;
                    this.timesheet.tue_hour = 0;
                    this.timesheet.tue_minute = 0;
                    this.timesheet.wed_hour = 0;
                    this.timesheet.wed_minute = 0;
                    this.timesheet.thu_hour = 0;
                    this.timesheet.thu_minute = 0;
                    this.timesheet.fri_hour = 0;
                    this.timesheet.fri_minute = 0;
                    this.timesheet.sat_hour = 0;
                    this.timesheet.sat_minute = 0;
                    this.timesheet.sun_hour = 0;
                    this.timesheet.sun_minute = 0;
                    alert('Timeline successfully saved');
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        getTimelines(){
            axios.get('/api/task/gettimesheettimelines/'+this.task.id, {})
                .then(response => {
                    this.timelines = JSON.parse(JSON.stringify(response.data.timeline_minutes));
                    this.timelines_total = JSON.parse(JSON.stringify(response.data.total));
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        deleteTimeline(timeline_id){
            const confirmFlag = confirm('Are you sure you want to delete the timeline?')

            if(!confirmFlag){
                return false;
            }

            axios.post('/api/task/deletetimeline/'+timeline_id, {})
                .then(response => {
                    this.getTimelines(this.task.id);
                    alert('Timeline deleted successfully.')
                });
        },
        getTask(task_id){
            axios.get('/api/task/'+task_id, {})
                .then(response => {
                    this.task = response.data;
                });
        },
        getCards(){
            /*let request = this.selected_tasks;
            axios.post('/api/taskcards', {request})
                .then(response => {
                    console.log(response.data)
                    this.kanban_boards = JSON.parse(JSON.stringify(response.data));
                });*/
            axios.get('/kanban/'+this.projectId+"?"+this.params)
                .then(res => {
                    this.kanban_boards = res.data;
                })
                .catch(err => {
                    console.log(err)
                })
        },
        async viewAddTask(status) {
            if(this.projectId == 0){
                alert("Please select the project you want to create a task for");
                return
            }
            this.statusValue = {
                value: status.id,
                text: status.description
            }

            try {
              const response = await fetch('/kanban/dropdowns/'+this.projectId).then(response => response.json());
              this.users_drop_down = this.searchSelectFormat(response.users_drop_down, "full_name");
              this.projects_select = this.searchSelectFormat(response.projects_drop_down, "name");
              this.selectedProject(response.projects_drop_down);
              this.customer_select = this.searchSelectFormat(response.customers_drop_down, "customer_name");
              this.sprint_select = this.searchSelectFormat(response.sprints_drop_down, "name");
              this.story_select = this.searchSelectFormat(response.user_story_drop_down, "name");
              this.dependancy_select = this.searchSelectFormat(response.tasks_drop_down, "description");
              this.status_select = this.searchSelectFormat(response.statuses_drop_down, "description");
              this.yes_no_drop_down = response.yes_no_drop_down;
              this.isSending = false;
              document.getElementById("modalCreateBtn").click();
            }catch (e) {
              console.log(e)
            }
        },
        today(){
            let date = new Date();
            let day, month;
            day = date.getDate() < 10 ? '0'+date.getDate():date.getDate();
            month = (date.getMonth() + 1) < 10 ? '0'+(date.getMonth()+1) : (date.getMonth()+1);

            return date.getFullYear()+'-'+month+'-'+day;
        },
        searchSelectFormat(data, field){
          return data.map(v => {
            return {
              value: v.id,
              text: v[field]
            }
          })
        },
        selectedProject(projects){
          projects.forEach((project, index) => {
            if (project.id == this.projectId){
              this.projectValue = {
                value: project.id,
                text: project.name,
              }
            }
          });
        },
        saveTask() {

            if(this.new_task.description === ""){
                alert("Please fill in the task description");
                return false;
            }

            if(this.new_task.employee_id === 0){
                alert("Please select consultant");
                return false;
            }

            if(this.new_task.project_id === 0){
                alert("Please select project");
                return false;
            }

            if(this.new_task.customer_id === 0){
                alert("Please select customer");
                return false;
            }

            if(this.new_task.user_story_id === 0){
                alert("Please select user story");
                return false;
            }

            if(this.new_task.status === 0){
                alert("Please select user status");
                return false;
            }

            if(this.new_task.start_date === ''){
                alert("Please select start date");
                return false;
            }

            if(this.new_task.end_date === ''){
                alert("Please select end date");
                return false;
            }

            const config = {
                headers: { 'content-type': 'multipart/form-data' }
            }

            let formData = new FormData();
            formData.append('description', this.new_task.description);
            formData.append('employee_id', this.new_task.employee_id);
            formData.append('project_id', this.new_task.project_id);
            formData.append('customer_id', this.new_task.customer_id);
            formData.append('sprint_id', this.new_task.sprint_id);
            formData.append('user_story_id', this.new_task.user_story_id);
            formData.append('dependency', this.new_task.dependency);
            formData.append('status', this.new_task.status);
            formData.append('note_2', this.new_task.note_2);
            formData.append('start_date', this.new_task.start_date);
            formData.append('end_date', this.new_task.end_date);
            formData.append('billable', this.new_task.billable);
            formData.append('hours_planned', this.new_task.hours_planned);
            formData.append('weight', this.new_task.weight);
            formData.append('remaining_time', this.new_task.remaining_time);
            formData.append('new_file', this.new_file);
            formData.append('user_id', this.user_id);
            formData.append('selected_tasks', this.selected_tasks);
            formData.append('on_kanban', this.new_task.on_kanban);

            this.isSending = true;

            axios.post('/api/task/savetask', formData, config)
                .then(response => {
                    this.selected_tasks = JSON.parse(JSON.stringify(response.data.selected_tasks));
                    this.getCards();
                    this.new_file = null;
                    this.new_task.description = '';
                    this.new_task.employee_id = 0;
                    this.new_task.project_id = 0;
                    this.new_task.customer_id = 0;
                    this.new_task.sprint_id = 0;
                    this.new_task.user_story_id = 0;
                    this.new_task.dependency = 0;
                    this.new_task.status = 0;
                    this.new_task.note_2 = '';
                    this.new_task.start_date = '';
                    this.new_task.end_date = '';
                    this.new_task.billable = '';
                    this.new_task.hours_planned = 0;
                    this.new_task.weight = 0;
                    this.new_task.remaining_time = 0;
                    this.new_task.on_kanban = 0;
                    this.isSending = false;
                    //document.getElementById('new_file').value= null;
                    document.getElementById('closeCreateModalBtn').click();
                    alert('Task addedd successfully');
                })
                .catch(error => {
                    alert('An error occured, could not save the task.');
                    this.isSending = false;
                    console.log(error.response);

                    this.new_file = null;
                    this.new_task.description = '';
                    this.new_task.employee_id = 0;
                    this.new_task.project_id = 0;
                    this.new_task.customer_id = 0;
                    this.new_task.sprint_id = 0;
                    this.new_task.user_story_id = {value: '', text:''};
                    this.new_task.dependency = 0;
                    this.new_task.status = 0;
                    this.new_task.note_2 = '';
                    this.new_task.start_date = '';
                    this.new_task.end_date = '';
                    this.new_task.billable = '';
                    this.new_task.hours_planned = 0;
                    this.new_task.weight = 0;
                    this.new_task.remaining_time = 0;
                    this.isSending = false;
                    document.getElementById('new_file').value= null;
                    document.getElementById('closeCreateModalBtn').click();
                });

        },
        onFileChangeNew(e) {
            this.new_file = e.target.files[0];
        },
        getCustomer(project_id){
          axios.get('/project/'+project_id)
              .then(response => {
                this.customerValue = {
                  value: response.data.id,
                  text: response.data.customer_name
                }
                this.new_task.customer_id = response.data.id;
              }).catch(error => {
            alert("We could not retrieve the customer related to your project")
            console.log(error)
          })
        },
        reassign(){
          axios.post(`/api/reassign/task/${this.task.id}`, {
            employee_id: this.task.employee_id
          }).then(res => {
            this.task = res.data.task
            window.alert("Task was reassigned successfully")
          }).catch(err => console.log(err))
        },
        copyTask(task_id){
            let copy_button = this.$refs["copy-task"];
            copy_button.disabled = true;
            copy_button.innerHTML = "Copying...";

            axios.post(`/task/copy/${task_id}`)
                .then(response => {
                    this.task = response.data.task;
                    copy_button.disabled = false;
                    copy_button.innerHTML = `<i class="fa fa-copy"></i> Copy Task`;
                    this.getCards()
                    window.alert('Task copied successfully');
                })
                .catch(error => {
                    console.log(error.response.data);
                })
        }
    },
    computed: {
        enableSaveTimeline: function() {
            let canSave = true;

            if (this.timesheet.mon_hour > 0)
                canSave = false;
            if (this.timesheet.mon_minute > 0)
                canSave = false;
            if (this.timesheet.tue_hour > 0)
                canSave = false;
            if (this.timesheet.tue_minute > 0)
                canSave = false;
            if (this.timesheet.wed_hour > 0)
                canSave = false;
            if (this.timesheet.wed_minute > 0)
                canSave = false;
            if (this.timesheet.thu_hour > 0)
                canSave = false;
            if (this.timesheet.thu_minute > 0)
                canSave = false;
            if (this.timesheet.fri_hour > 0)
                canSave = false;
            if (this.timesheet.fri_minute > 0)
                canSave = false;
            if (this.timesheet.sat_hour > 0)
                canSave = false;
            if (this.timesheet.sat_minute > 0)
                canSave = false;
            if (this.timesheet.sun_hour > 0)
                canSave = false;
            if (this.timesheet.sun_minute > 0)
                canSave = false;

            return canSave;
        }
    },
    watch: {
        consultant(newV, oldV){
            this.new_task.employee_id = newV.value;
        },
        projectValue(newV, oldV){
            this.new_task.project_id = newV.value;
            this.getCustomer(newV.value)
        },
        sprintValue(newV, oldV){
            this.new_task.sprint_id = newV.value;
        },
        storyValue(newV, oldV){
            this.new_task.user_story_id = newV.value;
        },
        dependancyValue(newV, oldV){
            this.new_task.dependency = newV.value;
        },
        statusValue(newV, oldV){
            this.new_task.status = newV.value;
        },
        users(newV, oldV){
          newV.forEach((user, index) => {
            this.autoCompleteUser.text = user.full_name.toLowerCase();
            this.autoCompleteUser.value = '@'+user.full_name;
            autoCompleteUsers.push(JSON.parse(JSON.stringify(this.autoCompleteUser)));
          });
        }
    }
}
</script>

<style>
.fullscreen-position{
    left: -295px!important;
    top: -30px!important;
    padding: 40px 100px!important;
    background-color: rgba(0,0,0, .7)!important;
    height: 100vh!important;
}
.modal{
    z-index: 1150;
}

.chat-initials {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
}

table{
    border-collapse: separate;
    border-spacing: 1px !important; /* Apply cell spacing */
}
table, th, td{
    /*border: 1px solid #666;*/
}
table th, table td{
    padding: 2px !important; /* Apply cell padding */
}

.modal-dialog {
    width: 100%;
    /* height: 100%; */
    /* margin-left: 280px; */
    /*margin: 0;
    padding: 0;*/
}

.modal-content {
    height: auto;
    min-height: 90%;
    /* min-width: 90% !important;
    width: 1200px !important; */
    border-radius: 0;
}

.board-heading {
    font-weight: bold !important;
    margin: 10px;
}

.add-card {
    margin: 10px;
}

.add-card-link{
    cursor: pointer;
}

.task-board {
    background-color: #E2E4E6;;
    margin: 10px;
    max-width: 23%;
    border-radius: 5px;
    height: 100%;
}

.card{
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

.task-type {
    text-align: right;
    color: #0e90d2;
    font-size: 12px;
    font-weight: bold;
}

.sortable {
    margin: 0;
    padding: 2px;
    border-radius: 5px;
}

.sortable li {
    margin: 3px 3px 3px 3px;
    padding: 0.5em;
}

.ui-draggable, .ui-droppable {
    background-position: top;
}

.planning-btn {
    cursor: pointer;
}

.planning-btn:hover {
    cursor: pointer;
    color: #0d88c1;
}

.tox .tox-collection__item-checkmark, .tox .tox-collection__item-icon {
    align-items: center;
    display: flex;
    height: 24px;
    justify-content: left !important;
    width: 260px !important;
}

.tox .tox-collection--grid .tox-collection__group {
    display: block !important;
    flex-wrap: wrap;
    max-height: 208px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}
table>tbody>tr>td>div>p>img{
    width: 100%!important;
    height: auto!important;
}
.ui.selection.dropdown .menu>.item {
    padding: .5rem 1.14285714rem!important;
}
</style>