<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                            <h5 class="col-md-12">
                                <div class="d-flex justify-content-between mb-2">
                                    <div>Task {{task.id}}</div>
                                    <div>
                                        <button type="button" class="close" @click="$emit('close')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>

                                <input style="font-size: 17px;" type="text" v-model="task.description" class="form-control form-control-sm col-md-12" />
                            </h5>
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex col-md-4">
                                    <div class="mr-2">
                                        <select v-model="task.employee_id" class="form-control form-control-sm">
                                            <option>Assigned User</option>
                                            <option v-for="(assigned_user, index) in users" :value="assigned_user.id">{{assigned_user.full_name}}</option>
                                        </select>
                                    </div>
                                    <div>
                                        <a v-on:click="commentsFocus" style="cursor: pointer;"><i class="fa fa-comment"></i> {{Object(messages).length != null ? Object(messages).length : 0}} comments</a>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex justify-content-center">
                                    <!-- <button class="btn btn-default" v-on:click="setEmote(1)" style="border-radius: 50%; margin-right:1%;" name="emote_frown" id="emote_frown"><i class="fa fa-frown fa-lg" style="color: red;"></i></button>
                                    <button class="btn btn-default" v-on:click="setEmote(2)" style="border-radius: 50%; margin-right:1%;" name="emote_exclamation" id="emote_exclamation"><i class="fa fa-exclamation fa-lg" style="color: orange;"></i></button>
                                    <button class="btn btn-default" v-on:click="setEmote(3)" style="border-radius: 50%; margin-right:1%;" name="emote_smile" id="emote_smile"><i class="fa fa-smile fa-lg" style="color: green;"></i></button>
                                    <button class="btn btn-default" v-on:click="setEmote(4)" style="border-radius: 50%; margin-right:1%;" name="emote_test" id="emote_test"><i class="fa fa-user-check fa-lg" style="color: purple;"></i></button>
                                    <button class="btn btn-default" v-on:click="setEmote(5)" style="border-radius: 50%; margin-right:1%;" name="emote_deploy" id="emote_deploy"><i class="fa fa-upload fa-lg" style="color: blue;"></i></button>
                                    <button class="btn btn-default" v-on:click="setEmote(0)" style="border-radius: 50%; margin-right:1%;" name="emote_none" id="emote_none"><i class="fa fa-times fa-lg"></i></button> -->
                                    <div class="dropdown" @mouseover="openDropdown" @mouseleave="closeDropdown">
                                        <button
                                          class="btn btn-secondary dropdown-toggle"
                                          type="button"
                                          id="dropdownMenuButton"
                                          :aria-expanded="isOpen"
                                          aria-haspopup="true"
                                        >
                                          {{ selectedIcon ? selectedIcon.name : 'Select an Icon' }}
                                        </button>
                                        <div
                                          class="dropdown-menu"
                                          :class="{ show: isOpen }"
                                          aria-labelledby="dropdownMenuButton"
                                        >
                                          <a
                                            class="dropdown-item"
                                            v-for="icon in icons"
                                            :key="icon.name"
                                            @click="selectIcon(icon)"
                                          >
                                            <i :class="icon.class"></i> {{ icon.name }}
                                          </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex justify-content-end">
                                    <button v-if="isSending" class="btn btn-sm btn-success" disabled><i class="fa fa-spinner"></i> Saving ...</button>
                                    <button v-if="!isSending" v-on:click="updateTask" class="btn btn-sm btn-success">Save & Close</button>
                                </div>
                            </div>
                            <div class="bg-light mt-4 pt-4 pb-4">
                                <table class="table table-sm table-borderless">
                                    <tr>
                                        <th style="width: 10%;">Project</th>
                                        <td style="width: 23%;">
                                            <select v-model="task.project_id" @change="changeProject($event)" class="form-control form-control-sm col-md-12">
                                                <option v-for="(project, index) in projects_drop_down" :value="project.id">{{project.name}}</option>
                                            </select>
                                        </td>
                                        <th style="width: 10%;">Customer</th>
                                        <td style="width: 24%;">
                                            <select v-model="task.customer_id" class="form-control form-control-sm col-md-12" disabled>
                                                <option v-for="(customer, index) in customers_drop_down" :value="customer.id">{{customer.customer_name}}</option>
                                            </select>
                                        </td>
                                        <th style="width: 10%;">Sprint</th>
                                        <td style="width: 23%;" v-if="selected_project != 0 && selected_project != null">
                                            <select v-model="task.sprint_id" class="form-control form-control-sm col-md-12" @change="selectSprint($event)">
                                                <option selected :value="0">-</option>
                                                <option v-for="(sprint, index) in sprints_drop_down"  v-if="sprint.project_id == selected_project" :value="sprint.id" >{{sprint.name}}</option>
                                            </select>
                                        </td>
                                        <td style="width: 23%;" v-else>
                                            <select v-model="task.sprint_id" class="form-control form-control-sm col-md-12" @change="selectSprint($event)">
                                                <option selected :value="0">-</option>
                                                <option v-for="(sprint, index) in sprints_drop_down" :value="sprint.id" >{{sprint.name}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width: 10%;">User Story</th>
                                        <td style="width: 23%;" v-if="selected_sprint != 0 && selected_sprint != null">
                                            <select v-model="task.user_story_id" class="form-control form-control-sm col-md-12">
                                                <option v-for="(user_story, index) in user_story_drop_down" v-if="user_story.sprint_id == selected_sprint" :value="user_story.id">{{user_story.name}}</option>
                                            </select>
                                        </td>
                                        <td style="width: 23%;" v-else>
                                            <select v-model="task.user_story_id" class="form-control form-control-sm col-md-12">
                                                <option v-for="(user_story, index) in user_story_drop_down" :value="user_story.id">{{user_story.name}}</option>
                                            </select>
                                        </td>
                                        <th style="width: 10%;">Dependency</th>
                                        <td style="width: 23%;">
                                            <select v-model="task.dependency" class="form-control form-control-sm col-md-12">
                                                <option v-for="(dependency_task, index) in tasks_drop_down" :value="dependency_task.id">{{dependency_task.description}}</option>
                                            </select>
                                        </td>
                                        <th style="width: 10%;">Status</th>
                                        <td style="width: 23%;">
                                            <select v-model="task.status" class="form-control form-control-sm col-md-12">
                                                <option v-for="(status, index) in statuses_drop_down" :value="status.id">{{status.description}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width: 10%;">Delevery Type</th>
                                        <td style="width: 23%;">
                                            <select v-model="task.task_delivery_type_id" class="form-control form-control-sm col-md-12">
                                                <option v-for="(task_delivery_type, index) in task_delivery_type_drop_down" :value="task_delivery_type.id">{{task_delivery_type.name}}</option>
                                            </select>
                                        </td>
                                        <th style="width: 10%;">Permission</th>
                                        <td style="width: 23%;">
                                            <select v-model="task.task_permission_id" class="form-control form-control-sm col-md-12">
                                                <option v-for="(permission, index) in permissions_drop_down" :value="permission.id">{{permission.name}}</option>
                                            </select>
                                        </td>
                                        <th colspan="2">&nbsp;</th>
                                    </tr>
                                </table>
                            </div>
                            <ul class="nav nav-tabs justify-content-end">
                                <li class="nav-item">
                                    <a href="#details" class="nav-link active" data-toggle="tab">Details</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#timesheets" class="nav-link" data-toggle="tab">Timesheets</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="details">
                                    <hr/>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <table class="table table-sm table-borderless">
                                                <thead>
                                                <tr class="planning-btn" v-on:click="noteFlag = !noteFlag">
                                                    <th style="border-bottom: 1px solid grey !important;">
                                                        Description <i v-if="noteFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!noteFlag" class="float-right fa fa-chevron-up"></i>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="noteFlag">
                                                <tr>
                                                    <td>
                                                        <!--<textarea v-model="task.note_1" rows="5" cols="50" class="form-control form-control-sm col-md-12"></textarea>-->
                                                        <div>
                                                            <editor
                                                                api-key="j6x43gllx2iftikmf8u4var3s7cdrocmpmkbife0e8a71s5x"
                                                                v-model="task.note_1"
                                                                initialValue=""
                                                                :init="tinymceInit">
                                                            </editor>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-sm table-borderless">
                                                <thead>
                                                <tr class="planning-btn" v-on:click="discussionFlag = !discussionFlag">
                                                    <th style="border-bottom: 1px solid grey !important;">
                                                        Discussion<i v-if="discussionFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!discussionFlag" class="float-right fa fa-chevron-up"></i>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="discussionFlag">
                                                <tr>
                                                    <td id="message_td">
                                                        <!--<textarea v-model="message" rows="5" cols="50"  class="form-control form-control-sm col-md-12"></textarea>-->
                                                        <editor
                                                            api-key="j6x43gllx2iftikmf8u4var3s7cdrocmpmkbife0e8a71s5x"
                                                            v-model="message"
                                                            initialValue=""
                                                            :init="tinymceInit">
                                                        </editor>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right">
                                                        <button v-if="!sendingMessage" style="margin-bottom: 5px; margin-top: 5px; color: #ffffff;" v-on:click="addMessage()" class="btn btn-sm btn-warning">Save Note</button>
                                                        <button v-if="sendingMessage" style="margin-bottom: 5px; margin-top: 5px; color: #ffffff;" class="btn btn-sm btn-warning" disabled><i class="fa fa-spinner"></i> Save Note</button>
                                                    </td>
                                                </tr>
                                                <tr v-for="(message, index) in messages">
                                                    <td>
                                                        <table class="table table-sm table-borderless">
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 5%;">
                                                                    <span class="chat-initials" :title="message.user.first_name + ' ' + message.user.last_name"><img :src="uiAvatars(message.user)" class="chat-initials mr-2"></span></td>
                                                                <td style="width: 95%;">
                                                                    <div class="form-control form-control-sm col-md-4" v-html="message.note"></div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <!--<textarea rows="3" cols="50"  class="form-control form-control-sm col-md-12" disabled>{{message.note}}</textarea>-->
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-3">
                                            <table class="table table-sm table-borderless">
                                                <thead>
                                                <tr class="planning-btn" v-on:click="planningFlag = !planningFlag">
                                                    <th style="border-bottom: 1px solid grey !important;">
                                                        Planning <i v-if="planningFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!planningFlag" class="float-right fa fa-chevron-up"></i>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="planningFlag">
                                                <tr><td>Start Date</td></tr>
                                                <tr><td><input type="date" v-model="task.start_date" class="form-control form-control-sm datepicker col-md-12" /></td></tr>
                                                <tr><td>End Date</td></tr>
                                                <tr><td><input type="date" v-model="task.end_date" class="form-control form-control-sm datepicker col-md-12 datepicker" /></td></tr>
                                                <tr><td>Billable</td></tr>
                                                <tr>
                                                    <td>
                                                        <select v-model="task.billable" class="form-control form-control-sm col-md-12">
                                                            <option v-for="(yes_no, index) in yes_no_drop_down" :value="yes_no.id">{{yes_no.name}}</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr><td>Hours Planned</td></tr>
                                                <tr><td><input type="text" v-model="task.hours_planned" class="form-control form-control-sm col-md-12" /></td></tr>
                                                <tr><td>Weight</td></tr>
                                                <tr><td><input type="text" v-model="task.weight" class="form-control form-control-sm col-md-12" /></td></tr>
                                                <tr><td>Remaining</td></tr>
                                                <tr><td><input type="text" v-model="task.remaining_time" class="form-control form-control-sm col-md-12" /></td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- Milestone -->
                                        <div class="col-md-4">
                                            <table class="table table-sm table-borderless">
                                                <thead>
                                                <tr class="planning-btn" v-on:click="documentFlag = !documentFlag">
                                                    <th colspan="2" style="border-bottom: 1px solid grey !important;">
                                                        Attachments <i v-if="documentFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!documentFlag" class="float-right fa fa-chevron-up"></i>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="documentFlag">
                                                <tr>
                                                    <td colspan="2">
                                                        <div>
                                                            <label><button v-on:click="clickFile" style="color: #ffffff;" class="btn btn-sm btn-warning"><i class="fa fa-plus"></i> Add File</button></label>
                                                            <input style="display: none;" id="file" type="file" v-on:change="onFileChange" class="form-control form-control-sm col-md-12" value="Add File"/>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr v-for="document in documents">
                                                    <td><a :href="'/files/tasks/'+document.file" target="_blank">{{document.name}}</a></td><td class="text-right"><a v-on:click="deleteDocument(document.id)"><i style="color: red;" class="fa fa-trash" title="Delete attachment"></i></a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            default footer
                            <button class="modal-default-button" @click="$emit('close')">
                                OK
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import Editor from '@tinymce/tinymce-vue';
import { ModelSelect } from 'vue-search-select';
import 'vue-search-select/dist/VueSearchSelect.css';
import { tinyMceConfig } from "../tinymceConfig";

export default {
    name: "ViewTask",
    props: ["taskId"],
    components: {
        'editor': Editor, // <- Important part
        ModelSelect
    },
    mounted() {
        this.viewTask(this.taskId)
    },
    data: function () {
        return {
            isSending: false,
            task: null,
            messages: null,
            documents: null,
            timelines: null,
            timelines_total: null,
            users: [],
            projects_drop_down: [],
            customers_drop_down: [],
            sprints_drop_down: [],
            user_story_drop_down: [],
            statuses_drop_down: [],
            tasks_drop_down: [],
            task_delivery_type_drop_down: [],
            permissions_drop_down: [],
            yes_no_drop_down: [],
            selected_project: 0,
            selected_sprint: 0,
            noteFlag: true,
            user_id: 0,
            autoCompleteUser: {
                text: '',
                value: ''
            },
            tinymceInit: {
                height: 200,
                branding: false,
                menubar: true,
                plugins: ['advlist autolink lists link image charmap',
                    'searchreplace visualblocks code fullscreen',
                    'print preview anchor insertdatetime media',
                    'paste code help wordcount table fullscreen'],
                toolbar:'undo redo | formatselect | link image bold italic fullscreen | alignleft aligncenter alignright | bullist numlist outdent indent | help',
                image_title: true,
                automatic_uploads: true,
                file_picker_types: 'image',
                file_picker_callback: function (cb, value, meta) {
                    var input = document.createElement('input');
                    input.setAttribute('type', 'file');
                    input.setAttribute('accept', 'image/*');
                    input.onchange = function () {
                        var file = this.files[0];
                        var reader = new FileReader();
                        reader.onload = function () {
                            var id = 'blobid' + (new Date()).getTime();
                            var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
                            var base64 = reader.result.split(',')[1];
                            var blobInfo = blobCache.create(id, file, base64);
                            blobCache.add(blobInfo);
                            cb(blobInfo.blobUri(), { title: file.name });
                        };
                        reader.readAsDataURL(file);
                    };

                    input.click();
                },
                setup: function(editor) {
                    editor.on('FullscreenStateChanged', function(e) {

                        if (this.plugins.fullscreen.isFullscreen()){
                            this.dom.addClass(this.editorContainer, 'fullscreen-position')
                        }else {
                            this.dom.removeClass(this.editorContainer, 'fullscreen-position')
                        }

                    });


                    /* An autocompleter that allows you to insert special characters */
                    editor.ui.registry.addAutocompleter('specialchars', {
                        ch: '@',
                        minChars: 1,
                        columns: 'auto',
                        fetch: function (pattern) {
                            var matchedChars = autoCompleteUsers.filter(function (char) {
                                return char.text.indexOf(pattern) !== -1;
                            });

                            return new tinymce.util.Promise(function (resolve) {
                                var results = matchedChars.map(function (char) {
                                    return {
                                        value: char.value,
                                        text: char.text,
                                        icon: char.value
                                    }
                                });
                                resolve(results);
                            });
                        },
                        onAction: function (autocompleteApi, rng, value) {
                            editor.selection.setRng(rng);
                            editor.insertContent(value);
                            autocompleteApi.hide();
                        }
                    });

                }
            },
            discussionFlag: true,
            message: '',
            sendingMessage: false,
            planningFlag: true,
            documentFlag: true,
            file: null,
            isOpen: false,
            selectedIcon: null,
            icons: [
                { name: 'Home', class: 'fa fa-home' },
                { name: 'User', class: 'fa fa-user' },
                { name: 'Settings', class: 'fa fa-cog' }
            ]
        }
    },
    methods: {
        viewTask(task_id) {
            this.isSending = false;
            axios.get('/api/task/'+task_id, {})
                .then(response => {
                    this.task = response.data;
                    this.getDocuments(task_id);
                    this.getTimelines(task_id);
                    this.getDropdowns()
                    document.getElementById("modalBtn").click();
                });

            this.messages = this.getMessages(task_id);
        },
        getMessages(task_id){
            axios.get('/api/task/getmessages/'+task_id, {})
                .then(response => {
                    this.messages = response.data;
                });
        },
        getDocuments(task_id){
            axios.get('/api/task/getdocuments/'+task_id, {})
                .then(response => {

                    this.documents = JSON.parse(JSON.stringify(response.data));
                });
        },
        getTimelines(){
            axios.get('/api/task/gettimesheettimelines/'+this.task.id, {})
                .then(response => {
                    this.timelines = JSON.parse(JSON.stringify(response.data.timeline_minutes));
                    this.timelines_total = JSON.parse(JSON.stringify(response.data.total));
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        getDropdowns(){
            axios.get('/kanban/dropdowns/'+this.task.project_id)
                .then(res => {
                    let dropdowns = res.data
                    this.users = JSON.parse(JSON.stringify(dropdowns.users_drop_down))
                    this.projects_drop_down = JSON.parse(JSON.stringify(dropdowns.projects_drop_down))
                    this.customers_drop_down = JSON.parse(JSON.stringify(dropdowns.customers_drop_down))
                    this.sprints_drop_down = JSON.parse(JSON.stringify(dropdowns.sprints_drop_down))
                    this.user_story_drop_down = JSON.parse(JSON.stringify(dropdowns.user_story_drop_down))
                    this.tasks_drop_down = JSON.parse(JSON.stringify(dropdowns.tasks_drop_down))
                    this.statuses_drop_down = JSON.parse(JSON.stringify(dropdowns.statuses_drop_down))
                    this.task_delivery_type_drop_down = JSON.parse(JSON.stringify(dropdowns.task_delivery_type_drop_down))
                    this.permissions_drop_down = JSON.parse(JSON.stringify(dropdowns.permissions_drop_down))
                    this.yes_no_drop_down = JSON.parse(JSON.stringify(dropdowns.yes_no_drop_down))
                }).catch(err => {
                console.log(err)
            })
        },
        commentsFocus(){
            const element = document.getElementById('message_td');

            if (element) {
                element.scrollIntoView();
            }
        },
        setEmote(emote_id){
            axios.post(window.location.origin+'/task/setemote/'+this.task.id, {
                emote_id: emote_id
            })
                .then(response => {
                    alert('Emote set successfully')
                    this.getCards();
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        updateTask() {
            this.isSending = true;
            console.log('New task', this.task);
            let request = this.task;
            axios.post(this.serverURL+'/api/task/updatetask/'+this.task.id, {
                request
            })
                .then(response => {
                    this.getTask(this.task.id);
                    this.getCards();
                    this.isSending = false;
                    this.$emit('close')
                }).catch(error => {
                alert('An error occured, could not save the task.');
                this.isSending = false;
            });
        },
        changeProject(project_id){
            // alert(event.target.value);
            this.selected_project = project_id
            this.getCards();
            axios.post('/api/getprojectresources', {
                project_id: project_id
            })
                .then(response => {
                    console.log(response.data);
                    // this.users = response.data;
                    // this.users = JSON.parse(JSON.stringify(response.data));
                    console.log('this.users', this.users);
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        selectSprint(event){
            this.selected_sprint = event.target.value;
            this.getCards();
            // console.log();
        },
        addMessage(){
            this.sendingMessage = true;
            axios.post('/api/task/message/'+this.task.id, {
                message: this.message,
                user_id: this.user_id
            })
                .then(response => {
                    this.message = '';
                    this.getMessages(this.task.id);
                    this.sendingMessage = false;
                })
                .catch(error => {
                    alert('An error occured, could not save the task.');
                    this.sendingMessage = false;
                });
        },
        uiAvatars(consultant){
            return 'https://ui-avatars.com/api/?name='+consultant.first_name+'+'+consultant.last_name+'&background=random&format=svg&bold=true';
        },
        clickFile(){
            document.getElementById("file").click();
        },
        onFileChange(e){
            this.file = e.target.files[0];

            e.preventDefault();

            const config = {
                headers: { 'content-type': 'multipart/form-data' }
            }

            let formData = new FormData();
            formData.append('file', this.file);
            formData.append('user_id', this.user_id);

            axios.post('/api/task/uploadfile/'+this.task.id, formData, config)
                .then(response => {
                    this.getDocuments(this.task.id);
                    this.file = null;
                    document.getElementById('file').value= null;
                    alert('File uploaded successfully');
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        deleteDocument(document_id){
            const confirmFlag = confirm('Are you sure you want to delete this attachment?')

            if(!confirmFlag){
                return false;
            }

            axios.post('/api/task/deletedocument/'+document_id, {})
                .then(response => {
                    this.getDocuments(this.task.id);
                    alert('Attachment deleted successfully.')
                });
        },
        openDropdown() {
        this.isOpen = true;
        },
        closeDropdown() {
        this.isOpen = false;
        },
        selectIcon(icon) {
        this.selectedIcon = icon;
        this.submitForm();
        },
        submitForm() {
        console.log('Form submitted with icon:', this.selectedIcon);
        },
    }
}
</script>

<style scoped>
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    min-width: 90%;
    min-height: 90%;
    width: 1200px;
    height: 90%;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 0;
}

.modal-default-button {
    float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

</style>