<template>
    <div v-show="modalActive" class="vuemodal2">
        <div style="height: 100%;text-align: center;" v-show="modalActive">
            <table class="table table-borderless text-left w-100">
                <tr>
                    <th class="last pr-4">Vendor Logo:</th>
                    <td>
                        <span v-if="logo" class="pr-3">{{ logo.name }}</span>s
                        <input type="file" class="form-control w-100" id="uploadLogo" :key="fileUpload" @change="handleFileUpload" style="display: none;">
                        <button class="btn btn-sm btn-dark" @click="uploadLogo()"><i class="fas fa-cloud-upload-alt mr-2"></i>Upload Logo</button>
                    </td>
                </tr>
                <tr>
                    <th>Vendor Name: <span class="text-danger">*</span></th>
                    <td>
                        <input type="text" class="form-control w-100" v-model="vendor.vendor_name" id="vendor_name" @input="validateString('vendor_name',vendor)">
                    </td>
                </tr>
                <tr>
                    <th class="last pr-4" nowrap>Registration Number:</th>
                    <td>
                        <input type="text" class="form-control w-100" v-model="vendor.business_reg_no"></td>
                </tr>
                <tr>
                    <th>VAT Number:</th>
                    <td>
                        <input type="text" class="form-control w-100" v-model="vendor.vat_no">
                    </td>
                </tr>
                <tr>
                    <th>Account Manager: <span class="text-danger">*</span></th>
                    <td>
                        <select class="form-control w-100" v-model="vendor.account_manager" id="accman" @change="validateDropdown('accman',vendor)">
                            <option v-for="(user,key,index) in allUsers" :key="index" :value="key">{{user}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Invoice Contact:</th>
                    <td>
                        <select class="form-control w-100" v-model="vendor.invoice_contact_id" :disable="!contacts || contacts.length == 0" id="contact">
                            <option v-for="(contact,index) in contacts" :key="index" :value="contact.id">{{contact.first_name}} {{contact.last_name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Billing Address: <span class="text-danger">*</span></th>
                    <td>
                        <input type="text" class="form-control w-100 mb-1" v-model="vendor.street_address_line1" id="address1" @input="validateString('address1',vendor)">
                        <input type="text" class="form-control w-100 mb-1" v-model="vendor.street_address_line2">
                        <input type="text" class="form-control w-100 mb-1" v-model="vendor.street_address_line3">
                        <input type="text" class="form-control w-100 mb-1" v-model="vendor.street_city_suburb" id="suburb" @input="validateString('suburb',vendor)">
                        <input type="text" class="form-control w-100 mb-1" v-model="vendor.street_zipcode" id="zipcode" @input="validateString('zipcode',vendor)">
                        <input type="text" class="form-control w-100 mb-1" v-model="vendor.state_province" id="province" @input="validateString('province',vendor)">
                        <select class="form-control w-100" v-model="vendor.country_id">
                            <option v-for="(country,index) in countries" :key="index" :value="country.id">{{country.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Payment Terms:</th>
                    <td>
                        <input type="number" class="form-control w-100" v-model="vendor.payment_terms_days" id="payment_terms" @input="validateString('payment_terms',vendor)">
                    </td>
                </tr>
            </table>
            <a @click="closeModal()" class="btn btn-secondary">Cancel</a>
            <a @click="saveVendor()" class="btn btn-dark ml-1">Save</a>
        </div>
    </div>
</template>
<script>
    export default {
        props:['modalVEActive','allUsers','billingCycles','contacts','countries','vendorToEdit'],
        data(){
            return {
                modalActive: this.modalVEActive,
                customers:[],
                // customer:this.customerToEdit,
                vendor:{
                    id:this.vendorToEdit.id,
                    vendor_name:this.vendorToEdit.vendor_name,
                    business_reg_no:this.vendorToEdit.business_reg_no,
                    vat_no:this.vendorToEdit.vat_no,
                    account_manager:this.vendorToEdit.account_manager,
                    invoice_contact_id:this.vendorToEdit.invoice_contact_id,
                    payment_terms_days:this.vendorToEdit.payment_terms_days??30,
                    billing_cycle_id:this.vendorToEdit.billing_cycle_id,
                    street_address_line1:this.vendorToEdit.street_address_line1 == 'null' ? '' : this.vendorToEdit.street_address_line1,
                    street_address_line2:this.vendorToEdit.street_address_line2 == 'null' ? '' : this.vendorToEdit.street_address_line2,
                    street_address_line3:this.vendorToEdit.street_address_line3 == 'null' ? '' : this.vendorToEdit.street_address_line3,
                    street_city_suburb:this.vendorToEdit.street_city_suburb == 'null' ? '' : this.vendorToEdit.street_city_suburb,
                    state_province:this.vendorToEdit.state_province == 'null' ? '' : this.vendorToEdit.state_province,
                    street_zipcode:this.vendorToEdit.street_zipcode == 'null' ? '' : this.vendorToEdit.street_zipcode,
                    country_id:this.vendorToEdit.country_id,
                },
                fileUpload:0,
                logo:null
            }
        },
        methods:{
            validateString(field,vendor){
                if(field == 'vendor_name'){
                    if(vendor.vendor_name){
                        if (vendor.vendor_name.length > 1) {
                            document.getElementById('vendor_name').classList.remove("is-invalid");
                            return true
                        }
                        if ((vendor.vendor_name.length == 0)) {
                            document.getElementById('vendor_name').classList.add("is-invalid");
                            return false
                        }
                    }
                    document.getElementById('vendor_name').classList.add("is-invalid");
                    return false
                }
                if(field == 'address1'){
                    if (vendor.street_address_line1){
                        if (vendor.street_address_line1.length > 1) {
                            document.getElementById('address1').classList.remove("is-invalid");
                            return true
                        }
                        if ((vendor.street_address_line1.length == 0)) {
                            document.getElementById('address1').classList.add("is-invalid");
                            return false
                        }
                    } else {
                        document.getElementById('address1').classList.add("is-invalid");
                        return false
                    }
                }
                if(field == 'suburb'){
                    if (vendor.street_city_suburb){
                        if (vendor.street_city_suburb.length > 1) {
                            document.getElementById('suburb').classList.remove("is-invalid");
                            return true
                        }
                        if ((vendor.street_city_suburb.length == 0)) {
                            document.getElementById('suburb').classList.add("is-invalid");
                            return false
                        }
                    } else {
                        document.getElementById('suburb').classList.add("is-invalid");
                        return false
                    }
                }
                if(field == 'zipcode'){
                    if (vendor.street_zipcode){
                        if (vendor.street_zipcode.length > 1) {
                            document.getElementById('zipcode').classList.remove("is-invalid");
                            return true
                        }
                        if ((vendor.street_zipcode.length == 0)) {
                            document.getElementById('zipcode').classList.add("is-invalid");
                            return false
                        }
                    } else {
                        document.getElementById('zipcode').classList.add("is-invalid");
                        return false
                    }
                }
                if(field == 'province'){
                    if (vendor.state_province){
                        if (vendor.state_province.length > 1) {
                            document.getElementById('province').classList.remove("is-invalid");
                            return true
                        }
                        if ((vendor.state_province.length == 0)) {
                            document.getElementById('province').classList.add("is-invalid");
                            return false
                        }
                    } else {
                        document.getElementById('province').classList.add("is-invalid");
                        return false}
                }
                if(field == 'payment_terms'){
                    if (vendor.payment_terms_days){
                        if (vendor.payment_terms_days > 0) {
                            document.getElementById('payment_terms').classList.remove("is-invalid");
                            return true
                        }
                        if ((vendor.payment_terms_days == '')) {
                            document.getElementById('payment_terms').classList.add("is-invalid");
                            return false
                        }
                    } else {
                        document.getElementById('payment_terms').classList.add("is-invalid");
                        return false}
                }
            },
            validateDropdown(field,vendor){
                if(field == 'accman'){
                    if (vendor.account_manager){
                        if (vendor.account_manager > 0) {
                            document.getElementById('accman').classList.remove("is-invalid");
                            return true
                        } else {
                            document.getElementById('accman').classList.add("is-invalid");
                            return false
                        }
                    } else {
                        document.getElementById('accman').classList.add("is-invalid");
                        return false
                    }
                }
                if(field == 'contact'){
                    if (vendor.invoice_contact_id){
                        if (vendor.invoice_contact_id > 0) {
                            document.getElementById('contact').classList.remove("is-invalid");
                            return true
                        } else {
                            document.getElementById('contact').classList.add("is-invalid");
                            return false
                        }
                    } else {
                        document.getElementById('contact').classList.add("is-invalid");
                        return false
                    }
                }
            },
            closeModal(){
                this.modalActive = false
                
                this.vendor = []

                this.$emit('close-edit-vendor', false)
            },
            handleFileUpload(event){
                this.logo = event.target.files[0];
            },
            saveVendor(){
                let err = 0

                if(!this.validateString('vendor_name',this.vendor)){
                    err++
                }
                if(!this.validateString('address1',this.vendor)){
                    err++
                }
                if(!this.validateString('suburb',this.vendor)){
                    err++
                }
                if(!this.validateString('zipcode',this.vendor)){
                    err++
                }
                if(!this.validateString('province',this.vendor)){
                    err++
                }
                if(!this.validateString('address1',this.vendor)){
                    err++
                }
                if(!this.validateString('payment_terms',this.vendor)){
                    err++
                }
                if(!this.validateDropdown('accman',this.vendor)){
                    err++
                }


                if(err  == 0){
                    let formData = new FormData();
                    for ( var key in this.vendor ) {
                        formData.append(key, this.vendor[key]);
                    }
                    formData.append('logo', this.logo);
                    axios.post('/setup/updatevendor/'+this.vendor.id,
                        formData,
                        {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                    )
                    .then(response => {
                        
                        toastr.success('<strong>Success!</strong> Vendor successfully updated.');

                        toastr.options.timeOut = 1000;
                        
                        this.vendors = response.data.vendors
                        this.fileUpload++
                        this.$emit('get-vendors', this.vendors)
                        this.closeModal()
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            },
            uploadLogo(){
                document.getElementById('uploadLogo').click()
            }
        }
    }
</script>
<style src="@vueform/multiselect/themes/default.css"></style>
<style>

label{
    text-align: left !important;
    width:100%;
}

.jscolor-wrap{
    z-index:99999 !important;
}
.vuemodal2{
    background: #ffffff;
    padding: 15px;
    width:35vw;
    border-radius: 7px;
    position: absolute;
}

.multiselect{
    height:38px;
    min-height:38px;
}
</style>