<template>
    <div v-show="modalActive" class="vuemodal2">
        <div style="height: 100%;text-align: center;" v-show="modalActive">
            <table class="table table-borderless text-left w-100">
                <tr>
                    <th class="last pr-4">Customer Logo:</th>
                    <td>
                        <span v-if="logo" class="pr-3">{{ logo.name }}</span>
                        <input type="file" class="form-control w-100" id="uploadLogo" :key="fileUpload" @change="handleFileUpload" style="display: none;">
                        <button class="btn btn-sm btn-dark" @click="uploadLogo()"><i class="fas fa-cloud-upload-alt mr-2"></i>Upload Logo</button>
                    </td>
                </tr>
                <tr>
                    <th>Customer Name: <span class="text-danger">*</span></th>
                    <td>
                        <input type="text" class="form-control w-100" v-model="customer.customer_name" id="customer_name" @input="validateString('customer_name',customer)">
                    </td>
                </tr>
                <tr>
                    <th class="last pr-4" nowrap>Registration Number:</th>
                    <td>
                        <input type="text" class="form-control w-100" v-model="customer.business_reg_no"></td>
                </tr>
                <tr>
                    <th>VAT Number:</th>
                    <td>
                        <input type="text" class="form-control w-100" v-model="customer.vat_no">
                    </td>
                </tr>
                <tr>
                    <th>Account Manager: <span class="text-danger">*</span></th>
                    <td>
                        <select class="form-control w-100" v-model="customer.account_manager" id="accman" @change="validateDropdown('accman',customer)">
                            <option v-for="(user,key,index) in allUsers" :key="index" :value="key">{{user}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Invoice Contact:</th>
                    <td>
                        <select class="form-control w-100" v-model="customer.invoice_contact_id" :disable="!contacts || contacts.length == 0" id="contact">
                            <option v-for="(contact,index) in contacts" :key="index" :value="contact.id">{{contact.first_name}} {{contact.last_name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Billing Address: <span class="text-danger">*</span></th>
                    <td>
                        <input type="text" class="form-control w-100 mb-1" v-model="customer.street_address_line1" id="address1" @input="validateString('address1',customer)">
                        <input type="text" class="form-control w-100 mb-1" v-model="customer.street_address_line2">
                        <input type="text" class="form-control w-100 mb-1" v-model="customer.street_address_line3">
                        <input type="text" class="form-control w-100 mb-1" v-model="customer.street_city_suburb" id="suburb" @input="validateString('suburb',customer)">
                        <input type="text" class="form-control w-100 mb-1" v-model="customer.street_zipcode" id="zipcode" @input="validateString('zipcode',customer)">
                        <input type="text" class="form-control w-100 mb-1" v-model="customer.state_province" id="province" @input="validateString('province',customer)">
                        <select class="form-control w-100" v-model="customer.country_id">
                            <option v-for="(country,index) in countries" :key="index" :value="country.id">{{country.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Payment Terms:</th>
                    <td>
                        <input type="number" class="form-control w-100" v-model="customer.payment_terms" id="payment_terms"  @input="validateString('payment_terms',customer)">
                    </td>
                </tr>
                <tr>
                    <th>Billing Cycle:</th>
                    <td>
                        <select class="form-control w-100" v-model="customer.billing_cycle_id" id="billing" @change="validateDropdown('billing',customer)">
                            <option v-for="(billing,key,index) in billingCycles" :key="index" :value="key">{{billing}}</option>
                        </select>
                    </td>
                </tr>
            </table>
            <a @click="closeModal()" class="btn btn-secondary">Cancel</a>
            <a @click="saveCustomer()" class="btn btn-dark ml-1">Save</a>
        </div>
    </div>
</template>
<script>
    export default {
        props:['modalCEActive','allUsers','billingCycles','contacts','countries','customerToEdit'],
        data(){
            return {
                modalActive: this.modalCEActive,
                customers:[],
                // customer:this.customerToEdit,
                customer:{
                    id:this.customerToEdit.id,
                    logo:this.customerToEdit.logo,
                    customer_name:this.customerToEdit.customer_name,
                    business_reg_no:this.customerToEdit.business_reg_no,
                    vat_no:this.customerToEdit.vat_no,
                    account_manager:this.customerToEdit.account_manager,
                    invoice_contact_id:this.customerToEdit.invoice_contact_id,
                    payment_terms:this.customerToEdit.payment_terms,
                    billing_cycle_id:this.customerToEdit.billing_cycle_id,
                    street_address_line1:this.customerToEdit.street_address_line1,
                    street_address_line2:this.customerToEdit.street_address_line2,
                    street_address_line3:this.customerToEdit.street_address_line3,
                    street_city_suburb:this.customerToEdit.street_city_suburb,
                    state_province:this.customerToEdit.state_province,
                    street_zipcode:this.customerToEdit.street_zipcode,
                    country_id:this.customerToEdit.country_id,
                },
                fileUpload:0,
                logo:null
            }
        },
        methods:{
            validateString(field,customer){
                if(field == 'customer_name'){
                    if(customer.customer_name){
                        if (customer.customer_name.length > 1) {
                            document.getElementById('customer_name').classList.remove("is-invalid");
                            return true
                        }
                        if ((customer.customer_name.length == 0)) {
                            document.getElementById('customer_name').classList.add("is-invalid");
                            return false
                        }
                    }
                    document.getElementById('customer_name').classList.add("is-invalid");
                    return false
                }
                if(field == 'address1'){
                    if (customer.street_address_line1){
                        if (customer.street_address_line1.length > 1) {
                            document.getElementById('address1').classList.remove("is-invalid");
                            return true
                        }
                        if ((customer.street_address_line1.length == 0)) {
                            document.getElementById('address1').classList.add("is-invalid");
                            return false
                        }
                    } else {
                        document.getElementById('address1').classList.add("is-invalid");
                        return false
                    }
                }
                if(field == 'suburb'){
                    if (customer.street_city_suburb){
                        if (customer.street_city_suburb.length > 1) {
                            document.getElementById('suburb').classList.remove("is-invalid");
                            return true
                        }
                        if ((customer.street_city_suburb.length == 0)) {
                            document.getElementById('suburb').classList.add("is-invalid");
                            return false
                        }
                    } else {
                        document.getElementById('suburb').classList.add("is-invalid");
                        return false
                    }
                }
                if(field == 'zipcode'){
                    if (customer.street_zipcode){
                        if (customer.street_zipcode.length > 1) {
                            document.getElementById('zipcode').classList.remove("is-invalid");
                            return true
                        }
                        if ((customer.street_zipcode.length == 0)) {
                            document.getElementById('zipcode').classList.add("is-invalid");
                            return false
                        }
                    } else {
                        document.getElementById('zipcode').classList.add("is-invalid");
                        return false
                    }
                }
                if(field == 'province'){
                    if (customer.state_province){
                        if (customer.state_province.length > 1) {
                            document.getElementById('province').classList.remove("is-invalid");
                            return true
                        }
                        if ((customer.state_province.length == 0)) {
                            document.getElementById('province').classList.add("is-invalid");
                            return false
                        }
                    } else {
                        document.getElementById('province').classList.add("is-invalid");
                        return false}
                }
                if(field == 'payment_terms'){
                    if (customer.payment_terms){
                        if (customer.payment_terms > 0) {
                            document.getElementById('payment_terms').classList.remove("is-invalid");
                            return true
                        }
                        if ((customer.payment_terms == '')) {
                            document.getElementById('payment_terms').classList.add("is-invalid");
                            return false
                        }
                    } else {
                        document.getElementById('payment_terms').classList.add("is-invalid");
                        return false}
                }
            },
            validateDropdown(field,customer){
                if(field == 'accman'){
                    if (customer.account_manager){
                        if (customer.account_manager > 0) {
                            document.getElementById('accman').classList.remove("is-invalid");
                            return true
                        } else {
                            document.getElementById('accman').classList.add("is-invalid");
                            return false
                        }
                    } else {
                        document.getElementById('accman').classList.add("is-invalid");
                        return false
                    }
                }
                if(field == 'contact'){
                    if (customer.invoice_contact_id){
                        if (customer.invoice_contact_id > 0) {
                            document.getElementById('contact').classList.remove("is-invalid");
                            return true
                        } else {
                            document.getElementById('contact').classList.add("is-invalid");
                            return false
                        }
                    } else {
                        document.getElementById('contact').classList.add("is-invalid");
                        return false
                    }
                }
                if(field == 'billing'){
                    if (customer.billing_cycle_id){
                        if (customer.billing_cycle_id > 0) {
                            document.getElementById('billing').classList.remove("is-invalid");
                            return true
                        } else {
                            document.getElementById('billing').classList.add("is-invalid");
                            return false
                        }
                    } else {
                        document.getElementById('billing').classList.add("is-invalid");
                        return false
                    }
                }
            },
            closeModal(){
                this.modalActive = false
                
                this.customer = []

                this.$emit('close-edit-customer', false)
            },
            handleFileUpload(event){
                this.logo = event.target.files[0];
            },
            saveCustomer(){
                let err = 0

                if(!this.validateString('customer_name',this.customer)){
                    err++
                }
                if(!this.validateString('address1',this.customer)){
                    err++
                }
                if(!this.validateString('suburb',this.customer)){
                    err++
                }
                if(!this.validateString('zipcode',this.customer)){
                    err++
                }
                if(!this.validateString('province',this.customer)){
                    err++
                }
                if(!this.validateString('address1',this.customer)){
                    err++
                }
                if(!this.validateString('payment_terms',this.customer)){
                    err++
                }
                if(!this.validateDropdown('accman',this.customer)){
                    err++
                }
                if(!this.validateDropdown('billing',this.customer)){
                    err++
                }


                if(err  == 0){
                    let formData = new FormData();
                    for ( var key in this.customer ) {
                        formData.append(key, this.customer[key]);
                    }
                    formData.append('logo', this.logo);

                        axios.post('/setup/updatecustomer/'+this.customer.id,
                            formData,
                            {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }
                        )
                        .then(response => {
                            
                            toastr.success('<strong>Success!</strong> Customer successfully updated.');
                            this.fileUpload++
                            toastr.options.timeOut = 1000;
                            this.customers = response.data.customers
                            this.$emit('get-customers', this.customers)
                            this.closeModal()
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    }
            },
            uploadLogo(){
                document.getElementById('uploadLogo').click()
            }
        }
    }
</script>
<style src="@vueform/multiselect/themes/default.css"></style>
<style>

label{
    text-align: left !important;
    width:100%;
}

.jscolor-wrap{
    z-index:99999 !important;
}
.vuemodal2{
    background: #ffffff;
    padding: 15px;
    width:35vw;
    border-radius: 7px;
    position: absolute;
}

.multiselect{
    height:38px;
    min-height:38px;
}
</style>