<template>
    <SetupModal :modalActive="modalActive">
        <div class="modal-content">
            <h1></h1>
        </div>
    </SetupModal>
</template>
<script>
import SetupModal from '../setup/SetupModal.vue'
import {ref} from 'vue'

export default {
  components: { SetupModal },
    name:"Setup",
    components:{
        SetupModal,
    },
    setup(){
        const modalActive = ref(true);
        
        return { modalActive}
    }
}
</script>
<style scoped>

</style>
