<template>
    <div class="vuemodal2">
        <div style="height: 100%;">
            <span v-html="dmessage" class="d-block w-100"></span>
            <div class="text-center d-block w-100">
            <a href="javascript:void(0)" @click="closeHelp()" class="btn btn-dark mt-4" style="margin-left: auto;margin-right: auto;">Close</a>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props:['message','show'],
    data(){
            return {
                dshow: this.show,
                dmessage:this.message,
            }
        },
        methods:{
            closeHelp(){
                this.$emit('close-help', false)
            }
        }
}
</script>
<style src="@vueform/multiselect/themes/default.css"></style>
<style>

label{
    text-align: left !important;
    width:100%;
}

.jscolor-wrap{
    z-index:99999 !important;
}
.vuemodal2{
    background: #ffffff;
    padding: 15px;
    width:35vw;
    border-radius: 7px;
    position: absolute;
}

.multiselect{
    height:38px;
    min-height:38px;
}
</style>