<template>
    <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark">
                    {{ category.name }}
                </div>
                <div class="card-body">
                    <table>
                        <tr v-for="(item,index) in list" :key="index">
                            <td>{{ item.kpi }}<a href="javascript:void(0)" class="ml-1 toolt"><i class="fas fa-info-circle"></i><span class="tooltiptext">{{ item.definition}}</span></a></td>
                            <td class="last text-right">
                                <span class="ml-1 badge" :class="stylingCondition(item,(measures[item.id] ? measures[item.id] : 0))">{{ (measures[item.id] ? measures[item.id] : 0) }}</span>
                                <a href="javascript:void(0)" class="btn btn-sm btn-primary ml-1" v-if="!item.fix && (!measures[item.id])" :class="item.fix && item.fix.length != 0 && (measures[item.id] && measures[item.id] > 0) ? '' : 'disabled'">Fix</a>
                                <a href="javascript:void(0)" class="btn btn-sm btn-primary ml-1" v-else @click="fixKpi(item.id)" :class="(measures[item.id] && measures[item.id] > 0) ? '' : 'disabled'">Fix</a>
                                <a :href="item.list_url" :class="item.list_url == '' ? 'disabled' : ''" class="btn btn-sm btn-dark ml-1">List</a>
                                <a href="javascript:void(0)" class="ml-1 toolt"><i class="fas fa-question-circle"></i><span class="tooltiptext">{{ item.resolution}}</span></a>
                                <a href="javascript:void(0)" class="ml-1 toolt"><i class="fas fa-exclamation"></i><span class="tooltiptext">{{ item.problem}}</span></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
    </div>
</template>

<script setup>
import axios from 'axios';
import role from '../../permissions';

</script>

<script>

export default{
    props:{
        category:{
            type:Object,
            default:{}
        },
        ranges:{
            type:Object,
            default:{}
        }
    },
    data() {
        return {
            list:[],
            measures:[],
        }
    },
    methods: {
        stylingCondition(kpi,measure){
            if(measure >= this.ranges.sh_good_min && measure <= this.ranges.sh_good_max){
                return this.colorClass(kpi.cf_coulour_01)
            }
            if(measure >= this.ranges.sh_fair_min && measure <= this.ranges.sh_fair_max){
                return this.colorClass(kpi.cf_coulour_02)
            }
            if(measure >= this.ranges.sh_bad_min && measure <= this.ranges.sh_bad_max){
                return this.colorClass(kpi.cf_coulour_03)
            }
        },
        colorClass(val){
            switch(val){
                case 'Green':
                    return 'badge-success'    
                    break;
                case 'Amber':
                    return 'badge-warning'
                    break;
                case 'Red':
                    return 'badge-danger'
                    break;
            }
        },
        getCategoryList(val){
            axios.get('/system_health/get-category-list/'+val)
                .then(res => {
                     this.list = res.data.data
                     this.measures = res.data.measures
                })
                .catch(err => {
                    console.log(err)
                })
        },
        fixKpi(val){
            this.confirm("Are you sure you want to fix this kpi?","Confirmation").then(() => {
            axios.get('/system_health/fix-kpi/'+val)
                .then(res => {
                    this.getCategoryList(res.data.data)
                    // this.measures[val] = res.data.data
                })
                .catch(err => {
                    console.log(err)
                })
            })
                .catch(err => {
                    console.log(err)
                })
        }
    },
    created(){
        this.getCategoryList(this.category.id)
    }
}

</script>