<template>
    <div>
        <div id="projconsultants">
            </div>
        <div class="table-responsive">
                        <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th colspan="12" class="btn-dark" style="text-align: center;">Assignments</th>
                        </tr>
                                <tr>
                                    <!-- <th>
                                        <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Add consultants that will work on this project from a list of users. This is only the list of assigned users. Each user will require an assignment record that contains the detail."></i>
                                        Consultant
                                    </th> -->
                                    <th class="col-md-2 p-2" >
                                        Consultant 
                                        <sup><span style="cursor: pointer" class="text-capitalize" data-toggle="tooltip" data-placement="top" title="Add consultants that will work on this project from a list of users. This is only the list of assigned users. Each user will require an assignment record that contains the detail."><i class="far fa-question-circle"></i></span></sup>
                                    </th>
                                    <!-- <th>
                                        <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="The role defines permissions on this project. This is different from user roles and can be defined by the System Administrator under the Admin / Security / View Permissions menu"></i>
                                        Role
                                    </th> -->
                                    <th class="col-md-2 p-2" >
                                        Role 
                                        <sup><span style="cursor: pointer" class="text-capitalize" data-toggle="tooltip" data-placement="top" title="The role defines permissions on this project. This is different from user roles and can be defined by the System Administrator under the Admin / Security / View Permissions menu."><i class="far fa-question-circle"></i></span></sup>
                                    </th>
                                    <th>Function</th>
                                    <th class="text-right">Hours Assigned</th>
                                    <th class="text-right">Actual Bill Hours</th>
                                    <th class="text-right">Actual Non-Bill Hours</th>
                                    <th class="text-right">Hours Outstanding</th>
                                    <th class="text-right">Completion %</th>
                                    <th class="pl-3">Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(assignment,index) in assignments" :key="index">
                                    <td v-if="!assignment.canEdit">{{ assignment.consultant }}</td>
                                    <td v-else>
                                        <select v-model="assignment.emp_id" class="form--control form-control-sm">
                                            <option value="0">Please Select</option>
                                            <option v-for="(user ,index) in users_dropdown" :key="index" :value="user.id">{{ user.full_name }}</option>
                                        </select>
                                    </td>
                                    <td v-if="!assignment.canEdit">{{ assignment.role }}</td>
                                    <td  v-else>
                                        <select v-model="assignment.role_id" class="form--control form-control-sm">
                                            <option value="0">Please Select</option>
                                            <option v-for="(role ,index) in rolesDropdown" :key="index" :value="role.id">{{ role.name }}</option>
                                        </select>
                                    </td>
                                    <td>{{ assignment.functiond }}</td>
                                    <td class="text-right">{{ assignment.hours }}</td>
                                    <td class="text-right">{{ assignment.actual_bill_hours }}</td>
                                    <td class="text-right">{{ assignment.actual_non_bill_hours }}</td>
                                    <td class="text-right">{{ assignment.remaining_hours }}</td>
                                    <td class="text-right">{{ (assignment.hours ? assignment.percentage+'%' : '') }}</td>
                                    <td class="pl-3">{{ assignment.start_date }}</td>
                                    <td>{{ assignment.end_date }}</td>
                                    <td>{{ assignment.status }}</td>
                                    <td npwrap>
                                        <div class="text-right d-flex" v-if="assignment.id">
                                            <a :href="route('assignment.show',assignment.id)" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a> 
                                            <a :href="route('assignment.edit',assignment.id)" v-if="assignment.actual_bill_hours > 0 || assignment.actual_non_bill_hours > 0" class="btn btn-sm btn-success ml-1"><i class="fa fa-pencil-alt"></i></a>
                                            <a href="javascript:void(0)" @click="editAssignment(index)" v-if="!assignment.canEdit && assignment.actual_bill_hours == 0 && assignment.actual_non_bill_hours == 0" class="btn btn-sm btn-success ml-1"><i class="fa fa-pencil-alt"></i></a>
                                            <a class="btn btn-sm btn-primary ml-1" v-if="assignment.canEdit && assignment.actual_bill_hours == 0 && assignment.actual_non_bill_hours == 0" @click="saveConsultant(index)"><i class="fas fa-save"></i></a>
                                            <a href="javascript:void(0)" @click="deleteConsultant(index)" class="btn btn-sm btn-danger ml-1" :disabled="assignment.actual_bill_hours > 0 || assignment.actual_non_bill_hours > 0" :class="assignment.actual_bill_hours > 0 || assignment.actual_non_bill_hours > 0 ? 'disabled' : ''"><i class="fa fa-trash"></i></a>
                                        </div>
                                        <div v-else class="text-right d-flex">
                                            <a :href="'/assignment/'+project.id+'/add/'+assignment.emp_id" v-if="project != 0" :disabled="assignment.canEdit" :class="assignment.canEdit ? 'disabled' : ''" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></a> 
                                            <a href="javascript:void(0)" @click="editAssignment(index)" v-if="!assignment.canEdit" class="btn btn-sm btn-success ml-1"><i class="fa fa-pencil-alt"></i></a>
                                            <a class="btn btn-sm btn-primary ml-1" v-else @click="saveConsultant(index)"><i class="fas fa-save"></i></a>
                                            <a href="javascript:void(0)" @click="deleteConsultant(index)" class="btn btn-sm btn-danger ml-1" :disabled="assignment.canEdit" :class="assignment.canEdit ? 'disabled' : ''"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select v-model="newAssignment.consultant" class="form--control form-control-sm" :disabled="inEdit" :class="inEdit ? 'disabled' : ''">
                                            <option value="0">Please Select</option>
                                            <option v-for="(user ,index) in users_dropdown" :key="index" :value="user.id">{{ user.full_name }}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select v-model="newAssignment.role" class="form--control form-control-sm" :disabled="inEdit" :class="inEdit ? 'disabled' : ''">
                                            <option value="0">Please Select</option>
                                            <option v-for="(role ,index) in rolesDropdown" :key="index" :value="role.id">{{ role.name }}</option>
                                        </select>
                                    </td>
                                    <td colspan="9"></td>
                                    <td class="text-right">
                                        <a class="btn btn-sm btn-primary" :class="newAssignment.consultant == 0 || newAssignment.role == 0 || inEdit ? 'disabled' : ''" @click="addConsultant()"><i class="fas fa-save"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-right font-weight-bold">Total</td>
                                    <td class="text-right font-weight-bold">{{total_hours.toFixed(2)}}</td>
                                    <td class="text-right font-weight-bold">{{ total_bill_hours.toFixed(2)}}</td>
                                    <td class="text-right font-weight-bold">{{ total_non_bill_hours.toFixed(2)}}</td>
                                    <td class="text-right font-weight-bold">{{ total_remaining.toFixed(2)}}</td>
                                    <td colspan="5"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    </div>
</template>


<script setup>
import axios from 'axios';
import route from '../../../js/routes';

</script>
<script>

export default{
    props: {
        project:{
            type:Object,
            defualt:{}
        },
        projectAssignments:{
            type:Object,
            defualt:{}
        },
        unassignedConsultants:{
            type:Object,
            defualt:{}
        },
        usersDropdown:{
            type:Object,
            defualt:{}
        },
        rolesDropdown:{
            type:Object,
            defualt:{}
        }
    },
    data() {
        return {
            inEdit:false,
            assignments:[],
            users_dropdown:[],
            newAssignment:{
                consultant:0,
                role:2
            },
            projectConsultants:[],
            projectConsultantIds:[],
            roles:[],
            total_hours: 0,
            total_bill_hours: 0,
            total_non_bill_hours: 0,
            total_remaining: 0,
        }
    },
    methods:{
        editAssignment(index){
            this.assignments[index].canEdit = true
            this.inEdit = true
        },
        saveConsultant(index){
            let consultants = []
            for(let v in this.assignments){
                consultants.push({emp_id: this.assignments[v].emp_id,role:this.assignments[v].role_id })
            }
            this.assignments[index].canEdit = false
            this.inEdit = false
            axios.post('/project/update-project-consultant', {'project_id':this.project.id,'consultants':consultants})
                    .then(response => {
                        
                        this.populateAssignmentList(response.data.assignments,response.data.nonassignments)
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
        },
        deleteConsultant(index){
            let consultants = []
            for(let v in this.assignments){
                consultants.push(this.assignments[v].emp_id)
            }
            this.confirm("Are you sure you want to delete this record?","Warning").then(() => {
                axios.post('/project/remove-project-consultant', {'project_id':this.project.id,'consultants':consultants,'emp_id':this.assignments[index].emp_id})
                    .then(response => {                        
                        this.populateAssignmentList(response.data.assignments,response.data.nonassignments)
                }).catch(function (err) {
                    console.log(err)
                })
            }).catch(function (err) {
                    console.log(err)
                })
        },
        addConsultantInputs(emp,role){
            document.getElementById("projconsultants").innerHTML += '<input type="hidden" name="consultants[]" value="'+emp+'" />';
            
            document.getElementById("projconsultants").innerHTML += '<input type="hidden" name="consultant_role_'+emp+'" value="'+role+'" />';
        },
        
        addConsultant(){
            this.projectConsultants.push({'emp_id':this.newAssignment.consultant,'role':this.newAssignment.role})
            let consultants = this.projectConsultants

            if(this.project != 0){
                axios.post('/project/add-project-consultant', {'project_id':this.project.id,'consultants':consultants})
                    .then(response => {
                        this.assignments.push({'canEdit':false,'consultant':response.data.consultant,'emp_id':response.data.emp_id,'role':this.getAssignmentRole(response.data.role_id),'role_id':response.data.role_id})
                        this.projectConsultants.push({'emp_id':response.data.emp_id,'role':response.data.role_id})
                        this.addConsultantInputs(this.newAssignment.consultant,this.newAssignment.role)
                        this.newAssignment.consultant = 0
                        this.newAssignment.role = 2
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            } else {
                this.assignments.push({'canEdit':false,'consultant':this.getUserName(this.newAssignment.consultant),'emp_id':this.newAssignment.consultant,'role':this.getAssignmentRole(this.newAssignment.role),'role_id':this.newAssignment.role})
                this.addConsultantInputs(this.newAssignment.consultant,this.newAssignment.role)
                this.newAssignment.consultant = 0
                this.newAssignment.role = 2
            }
        },
        populateAssignmentList(payload,payload2){
            this.assignments = []
            let data = []
            let total_hours = 0
            let total_bill_hours = 0
            let total_non_bill_hours = 0
            let total_remaining = 0
            if(payload.length){
                for(let v in payload){
                    this.assignments.push({
                        'canEdit':false,
                        'id':payload[v].id,
                        'emp_id':payload[v].employee_id,
                        'consultant':payload[v].consultant.first_name+' '+payload[v].consultant.last_name,
                        'role':this.getAssignmentRole(payload[v].roled_id),
                        'role_id':payload[v].roled_id,
                        'functiond':(payload[v].function_desc ? payload[v].function_desc.description : ''),
                        'hours':payload[v].hours.toFixed(2),
                        'actual_bill_hours':parseFloat(payload[v].actual_bill_hours).toFixed(2),
                        'actual_non_bill_hours':parseFloat(payload[v].actual_non_bill_hours).toFixed(2),
                        'remaining_hours':this.project.project_type_id == 1 ? (parseFloat(payload[v].hours) - parseFloat(payload[v].actual_bill_hours)).toFixed(2) : (parseFloat(payload[v].hours) - (parseFloat(payload[v].actual_bill_hours)+parseFloat(payload[v].actual_non_bill_hours))).toFixed(2),
                        'percentage':(((this.project.project_type_id == 1 ? parseFloat(payload[v].actual_bill_hours) : (parseFloat(payload[v].actual_bill_hours) + parseFloat(payload[v].actual_non_bill_hours)) )/parseFloat(payload[v].hours))*100) > 0 ? (((this.project.project_type_id == 1 ? parseFloat(payload[v].actual_bill_hours) : (parseFloat(payload[v].actual_bill_hours) + parseFloat(payload[v].actual_non_bill_hours)) )/parseFloat(payload[v].hours))*100).toFixed(2) : (0).toFixed(2),
                        'start_date':payload[v].start_date,
                        'end_date':payload[v].end_date,
                        'status':payload[v].project_status.description
                    })
                    data.push(payload[v].consultant.first_name+' '+payload[v].consultant.last_name)
                    this.addConsultantInputs(payload[v].employee_id,payload[v].roled_id)
                    this.total_hours += parseInt(payload[v].hours);
                    this.total_bill_hours += parseInt(payload[v].actual_bill_hours);
                    this.total_non_bill_hours += parseInt(payload[v].actual_non_bill_hours);
                    this.total_remaining += this.project.project_type_id == 1 ? (parseInt(payload[v].hours) - parseInt(payload[v].actual_bill_hours)) : (parseInt(payload[v].hours) - (parseInt(payload[v].actual_bill_hours)+parseInt(payload[v].actual_non_bill_hours)));
                    
                }
                
            }

            if(payload2.length){
                for(let v in payload2){
                    this.assignments.push(payload2[v])
                    data.push(payload2[v].consultant)
                    this.projectConsultants.push({'emp_id':payload2[v].emp_id,'role':payload2[v].role_id})
                    this.addConsultantInputs(payload2[v].emp_id,payload2[v].role_id)
                }
            }
            for(let v in this.usersDropdown){
                if(!data.includes(this.usersDropdown[v])){
                    this.users_dropdown.push(this.usersDropdown[v])
                    data.push(this.usersDropdown[v])
                }
            }
                            
        },
        getAssignmentRole(val){
            let data = ''
            for(let v in this.roles){
                if(this.roles[v].id == val && data == ''){
                    data = this.roles[v].name
                    return this.roles[v].name
                }
            }
        },
        getUserName(val){
            for(let v in this.users_dropdown){
                if(this.users_dropdown[v].id == val){
                    return this.users_dropdown[v].full_name
                }
            }
        }
    },
    created(){
        axios.get('/assignment/get-assignment-roles')
                .then(response => {
                    this.roles = response.data.roles
                    this.populateAssignmentList(this.projectAssignments,this.unassignedConsultants)
                })
                .catch(err => console.log(err))
    }
}
</script>