<template>
    <div class="modal fade show" id="create_epic_modal" tabindex="-1" role="dialog" aria-labelledby="create_task_modal_label" aria-hidden="true" :style="modalActive ? 'display:flex;height:100vh;width:100vw;justify-items:center;align-items:center;' : ''">
        <div class="modal-dialog" role="document" style="width:850px;">
            <div style="min-width: 850px;width:850px;" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="create_task_modal_label" style="width: 100%;">
                        Epic <br/>
                    </h5>
                    <button class="close" @click="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <table class="table table-borderless">
                        <tr>
                            <th class="col-md-2" style="vertical-align: top;line-height:2.3rem">Name</th>
                            <td class="col-md-4"><input type="text" class="form-control" v-model="epic.name" :disabled="view" :class="{'is-invalid': errors.name.length > 0}" />
                                <FormErrors v-if="errors.name.length" :errors="errors.name" ></FormErrors></td>
                            <th class="col-md-2" style="vertical-align: top;line-height:2.3rem">Project</th>
                            <td><select class="form-control" v-model="epic.project_id" :disabled="view" :class="{'is-invalid': errors.project_id.length > 0}">
                                <option :value="0">Please Select</option>
                                <option v-for="(value) in project_drop_down" :key="value.id" :value="value.id" >{{value.name}}</option>
                            </select>
                            <FormErrors v-if="errors.project_id.length" :errors="errors.project_id" ></FormErrors></td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;line-height:2.3rem">Start Date</th>
                            <td><Datepicker v-model="epic.start_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" :disabled="view" :class="{'is-invalid': errors.start_date.length > 0}" />
                                <FormErrors v-if="errors.start_date.length" :errors="errors.start_date" ></FormErrors></td>
                            <th style="vertical-align: top;line-height:2.3rem">End Date</th>
                            <td><Datepicker v-model="epic.end_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" :disabled="view" :class="{'is-invalid': errors.end_date.length > 0}" />
                                <FormErrors v-if="errors.end_date.length" :errors="errors.end_date" ></FormErrors></td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;line-height:2.3rem">Hours Planned</th>
                            <td><input type="number" class="form-control" v-model="epic.hours_planned" :disabled="view" :class="{'is-invalid': errors.hours_planned.length > 0}" />
                                <FormErrors v-if="errors.hours_planned.length" :errors="errors.hours_planned" ></FormErrors></td>
                            <th style="vertical-align: top;line-height:2.3rem">Confidence %</th>
                            <td><input type="number" class="form-control" v-model="epic.confidence_percentage" :disabled="view" :class="{'is-invalid': errors.confidence_percentage.length > 0}" />
                                <FormErrors v-if="errors.confidence_percentage.length" :errors="errors.confidence_percentage" ></FormErrors></td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;line-height:2.3rem">Estimated Cost</th>
                            <td><input type="number" class="form-control" v-model="epic.estimate_cost" :disabled="view" :class="{'is-invalid': errors.estimate_cost.length > 0}" />
                                <FormErrors v-if="errors.estimate_cost.length" :errors="errors.estimate_cost" ></FormErrors></td>
                            <th style="vertical-align: top;line-height:2.3rem">Estimated Income</th>
                            <td><input type="number" class="form-control" v-model="epic.estimate_income" :disabled="view" :class="{'is-invalid': errors.estimate_income.length > 0}" />
                                <FormErrors v-if="errors.estimate_income.length" :errors="errors.estimate_income" ></FormErrors></td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;line-height:2.3rem">Billable</th>
                            <td><select class="form-control" v-model="epic.billable" :disabled="view" :class="{'is-invalid': errors.billable.length > 0}">
                                <option v-for="(value) in billable_drop_down" :key="value.value" :value="value.value" >{{value.name}}</option>
                            </select>
                            <FormErrors v-if="errors.billable.length" :errors="errors.billable" ></FormErrors></td>
                            <th style="vertical-align: top;line-height:2.3rem">Sprint</th>
                            <td><select class="form-control" v-model="epic.sprint_id" :disabled="view" :class="{'is-invalid': errors.sprint_id.length > 0}">
                                <option :value="0">Please Select</option>
                                <option v-for="(value) in sprint_drop_down" :key="value.id" :value="value.id" >{{value.name}}</option>
                            </select>
                            <FormErrors v-if="errors.sprint_id.length" :errors="errors.sprint_id" ></FormErrors></td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;line-height:2.3rem">Status</th>
                            <td colspan="3"><select class="form-control" v-model="epic.status_id" :disabled="view" :class="{'is-invalid': errors.status_id.length > 0}">
                                <option :value="0">Please Select</option>
                                <option v-for="(value) in status_drop_down" :key="value.id" :value="value.id" >{{value.description}}</option>
                            </select>
                            <FormErrors v-if="errors.status_id.length" :errors="errors.status_id" ></FormErrors></td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;line-height:2.3rem">Note</th>
                            <td colspan="3" v-if="view">
                                <quill-editor
                                    readOnly
                                    :toolbar="quillToolbar"
                                    content-type="html"
                                    theme="snow"
                                    v-model:content="epic.note"
                                ></quill-editor></td>
                            <td colspan="3" v-else>
                                <quill-editor
                                    :toolbar="quillToolbar"
                                    content-type="html"
                                    theme="snow"
                                    v-model:content="epic.note" :class="{'is-invalid': errors.note.length > 0}"
                                ></quill-editor>
                                <FormErrors v-if="errors.note.length" :errors="errors.note" ></FormErrors></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-center pt-3" v-if="view">
                                <button class="btn btn-default mr-1" @click="closeModal()">Close</button>
                            </td>
                            <td colspan="4" class="text-center pt-3" v-else>
                                <button class="btn btn-default mr-1" @click="closeModal()">Cancel</button>
                                <button class="btn btn-success" v-if="!epic.id" @click="saveEpic()">Save</button>
                                <button class="btn btn-success" v-else @click="updateEpic()">Save</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import Datepicker from '@vuepic/vue-datepicker';
import { quillToolbarOptions } from "@/utils/quill";
import {QuillEditor} from "@vueup/vue-quill";
import FormErrors from "./../Equipment/FormErrors.vue";

export default{
        components: {
            Datepicker,QuillEditor,FormErrors
        },
    props: {
        modalEpic:{
            type: Boolean,
            default:false
        },
        viewEpic:{
            type: Boolean,
            default:false
        },
        selected_project:{
            type: Number,
            default:0
        },
        epicData:{
            type:Object,
            default:{}
        },
        projectData:{
            type:Object,
            default:{}
        },
        search:{
            type: Object,
            default:{}
        }
    },
    data() {
        return {
            loader:true,
            modalActive:this.modalEpic,
            view:this.viewEpic,
            quillToolbar: quillToolbarOptions(),
            epic:{
                name:'',
                project_id:this.selected_project,
                start_date:this.projectData.start_date??this.today(),
                end_date:this.projectData.end_date??this.today(),
                hours_planned:0,
                confidence_percentage:0,
                estimate_cost:0,
                estimate_income:0,
                billable:this.projectData.billable??0,
                sprint_id:0,
                status_id:1,
                note:''
            },
            errors:{
                name:'',
                project_id:'',
                start_date:'',
                end_date:'',
                hours_planned:'',
                confidence_percentage:'',
                estimate_cost:'',
                estimate_income:'',
                billable:'',
                sprint_id:'',
                status_id:'',
                note:''
            },
            billable_drop_down:[
                {'value':1,'name':'Yes'},
                {'value':0,'name':'No'}
            ],
            project_drop_down:[],
            sprint_drop_down:[],
            status_drop_down:[]
            }
        },
        methods: {
            closeModal(){
                this.$emit('close-modal')
            },
            getDropdowns(){
                let params = {
                    project_id:this.selected_project
                }

                axios.post(`/epic/getdropdowns`,params)
                    .then(response => {
                        this.epic.billable = parseInt(response.data.project.billable) ?? 0
                        this.project_drop_down = response.data.projectDropDown??[]                    
                        this.sprint_drop_down = response.data.sprintDropDown??[]                    
                        this.status_drop_down = response.data.statusDropDown??[]                    
                    })
                    .catch(error => {
                    })
            },
            today(){
                let date = new Date();
                let day, month;
                day = date.getDate() < 10 ? '0'+date.getDate():date.getDate();
                month = (date.getMonth() + 1) < 10 ? '0'+(date.getMonth()+1) : (date.getMonth()+1);

                return date.getFullYear()+'-'+month+'-'+day;
            },
            saveEpic(){
                axios.post(`/epic/saveepic`,this.epic)
                    .then(response => {
                        if (response.data.errors) {
                            this.handleValidation(response.data.errors);
                        } else {
                            this.$emit('close-modal',{status:'save',epic:response.data.epic}) 
                        }
                    })
                    .catch(error => {
                        console.error('Error saving epic:', error);
                    })
            },
            updateEpic(){
                axios.post(`/epic/updateepic`,this.epic)
                    .then(response => {
                        if (response.data.errors) {
                            this.handleValidation(response.data.errors);
                        } else {
                            this.$emit('close-modal',{status:'update',epic:response.data.epic})        
                        }
                    })
                    .catch(error => {
                        console.error('Error updating epic:', error);
                    })
            },
            handleValidation: function (errors) {
                for (let [key, value] of Object.entries(this.errors)) {
                    if (errors.hasOwnProperty(key)) {
                    this.errors[key] = errors[key];
                    }
                }
            }
        },
        mounted(){
            this.getDropdowns()
            if(this.epicData.id){
                this.epic.id = this.epicData.id
                this.epic.name = this.epicData.name
                this.epic.project_id = this.epicData.project_id
                this.epic.start_date = this.epicData.start_date
                this.epic.end_date = this.epicData.end_date
                this.epic.hours_planned = this.epicData.hours_planned
                this.epic.confidence_percentage = this.epicData.confidence_percentage
                this.epic.estimate_cost = this.epicData.estimate_cost
                this.epic.estimate_income = this.epicData.estimate_income
                this.epic.billable = this.epicData.billable
                this.epic.sprint_id = this.epicData.sprint_id
                this.epic.status_id = this.epicData.status_id
                this.epic.note = this.epicData.note
            }
        }
    }
    </script>