<template>
    <div class="modal fade show" id="create_epic_modal" tabindex="-1" role="dialog" aria-labelledby="create_task_modal_label" aria-hidden="true" :style="modalActive ? 'display:flex;height:100vh;width:100vw;justify-items:center;align-items:center;' : ''">
        <div class="modal-dialog" role="document" style="width:850px;">
            <div style="min-width: 850px;width:850px;" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="create_task_modal_label" style="width: 100%;">
                        Feature <br/>
                    </h5>
                    <button class="close" @click="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <table class="table table-borderless">
                        <tr>
                            <th class="col-md-2" style="vertical-align: top;line-height:2.3rem">Name</th>
                            <td class="col-md-4"><input type="text" class="form-control" v-model="feature.name" :disabled="view" :class="{'is-invalid': errors.name.length > 0}" />
                                <FormErrors v-if="errors.name.length" :errors="errors.name" ></FormErrors></td>
                            <th class="col-md-2" style="vertical-align: top;line-height:2.3rem">Epic</th>
                            <td><select class="form-control" v-model="feature.epic_id" disabled :class="{'is-invalid': errors.epic_id.length > 0}">
                                <option :value="0">Please Select</option>
                                <option v-for="(value) in epic_drop_down" :key="value.id" :value="value.id" >{{value.name}}</option>
                            </select>
                            <FormErrors v-if="errors.epic_id.length" :errors="errors.epic_id" ></FormErrors></td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;line-height:2.3rem">Start Date</th>
                            <td><Datepicker v-model="feature.start_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" :disabled="view" :class="{'is-invalid': errors.start_date.length > 0}" />
                                <FormErrors v-if="errors.start_date.length" :errors="errors.start_date" ></FormErrors></td>
                            <th style="vertical-align: top;line-height:2.3rem">End Date</th>
                            <td><Datepicker v-model="feature.end_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" :disabled="view" :class="{'is-invalid': errors.end_date.length > 0}" />
                                <FormErrors v-if="errors.end_date.length" :errors="errors.end_date" ></FormErrors></td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;line-height:2.3rem">Hours Planned</th>
                            <td><input type="number" class="form-control" v-model="feature.hours_planned" :disabled="view" :class="{'is-invalid': errors.hours_planned.length > 0}" />
                                <FormErrors v-if="errors.hours_planned.length" :errors="errors.hours_planned" ></FormErrors></td>
                            <th style="vertical-align: top;line-height:2.3rem">Confidence %</th>
                            <td><input type="number" class="form-control" v-model="feature.confidence_percentage" :disabled="view" :class="{'is-invalid': errors.confidence_percentage.length > 0}" />
                                <FormErrors v-if="errors.confidence_percentage.length" :errors="errors.confidence_percentage" ></FormErrors></td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;line-height:2.3rem">Estimated Cost</th>
                            <td><input type="number" class="form-control" v-model="feature.estimate_cost" :disabled="view" :class="{'is-invalid': errors.estimate_cost.length > 0}" />
                                <FormErrors v-if="errors.estimate_cost.length" :errors="errors.estimate_cost" ></FormErrors></td>
                            <th style="vertical-align: top;line-height:2.3rem">Estimated Income</th>
                            <td><input type="number" class="form-control" v-model="feature.estimate_income" :disabled="view" :class="{'is-invalid': errors.estimate_income.length > 0}" />
                                <FormErrors v-if="errors.estimate_income.length" :errors="errors.estimate_income" ></FormErrors></td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;line-height:2.3rem">Billable</th>
                            <td><select class="form-control" v-model="feature.billable" :disabled="view" :class="{'is-invalid': errors.billable.length > 0}">
                                <option v-for="(value) in billable_drop_down" :key="value.value" :value="value.value" >{{value.name}}</option>
                            </select>
                            <FormErrors v-if="errors.billable.length" :errors="errors.billable" ></FormErrors></td>
                            <th style="vertical-align: top;line-height:2.3rem">Sprint</th>
                            <td><select class="form-control" v-model="feature.sprint_id" :disabled="view" :class="{'is-invalid': errors.sprint_id.length > 0}">
                                <option :value="0">Please Select</option>
                                <option v-for="(value) in sprint_drop_down" :key="value.id" :value="value.id" >{{value.name}}</option>
                            </select>
                            <FormErrors v-if="errors.sprint_id.length" :errors="errors.sprint_id" ></FormErrors></td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;line-height:2.3rem">Dependency</th>
                            <td><select class="form-control" v-model="feature.dependency_id" :disabled="view" :class="{'is-invalid': errors.dependency_id.length > 0}">
                                <option :value="0">Please Select</option>
                                <option v-for="(value) in feature_drop_down" :key="value.id" :value="value.id" >{{value.name}}</option>
                            </select>
                            <FormErrors v-if="errors.dependency_id.length" :errors="errors.dependency_id" ></FormErrors></td>
                            <th style="vertical-align: top;line-height:2.3rem">Status</th>
                            <td><select class="form-control" v-model="feature.status_id" :disabled="view" :class="{'is-invalid': errors.status_id.length > 0}">
                                <option :value="0">Please Select</option>
                                <option v-for="(value) in status_drop_down" :key="value.id" :value="value.id" >{{value.description}}</option>
                            </select>
                            <FormErrors v-if="errors.status_id.length" :errors="errors.status_id" ></FormErrors></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-center pt-3" v-if="view">
                                <button class="btn btn-default mr-1" @click="closeModal()">Close</button>
                            </td>
                            <td colspan="4" class="text-center pt-2" v-else>
                                <button class="btn btn-default mr-1" @click="closeModal()">Cancel</button>
                                <button class="btn btn-success" v-if="!feature.id" @click="saveFeature()">Save</button>
                                <button class="btn btn-success" v-else @click="updateFeature()">Save</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import Datepicker from '@vuepic/vue-datepicker';
import FormErrors from "./../Equipment/FormErrors.vue";

export default{
        components: {
            Datepicker, FormErrors
        },
    props: {
        modalFeature:{
            type: Boolean,
            default:false
        },
        viewFeature:{
            type: Boolean,
            default:false
        },
        selected_project:{
            type: Number,
            default:0
        },
        selected_epic:{
            type: Number,
            default:0
        },
        search:{
            type: Object,
            default:{}
        },
        featureData:{
            type: Object,
            default:{}
        },
        epicData:{
            type: Object,
            default:{}
        }
    },
    data() {
        return {
            loader:true,
            modalActive:this.modalFeature,
            view:this.viewFeature,
            feature:{
                name:'',
                epic_id:this.selected_epic,
                start_date:this.epicData.start_date??this.today(),
                end_date:this.epicData.end_date??this.today(),
                hours_planned:0,
                confidence_percentage:0,
                estimate_cost:0,
                estimate_income:0,
                billable:this.epicData.billable??0,
                sprint_id:0,
                status_id:1,
                dependency_id:0
            },
            errors:{
                name:'',
                epic_id:'',
                start_date:'',
                end_date:'',
                hours_planned:'',
                confidence_percentage:'',
                estimate_cost:'',
                estimate_income:'',
                billable:'',
                sprint_id:'',
                status_id:'',
                dependency_id:''
            },
            billable_drop_down:[
                {'value':1,'name':'Yes'},
                {'value':0,'name':'No'}
            ],
            epic_drop_down:[],
            feature_drop_down:[],
            sprint_drop_down:[],
            status_drop_down:[]
            }
        },
        methods: {
            closeModal(){
                this.$emit('close-modal')
            },
            getDropdowns(){
                let params = {
                    epic_id:this.selected_epic,
                    project_id:this.selected_project
                }

                axios.post(`/feature/getdropdowns`,params)
                    .then(response => {
                        if(!this.featureData.id){
                            this.feature.billable = parseInt(response.data.epic.billable) ?? 0
                        }
                        this.epic_drop_down = response.data.epicDropDown??[]                    
                        this.sprint_drop_down = response.data.sprintDropDown??[]                    
                        this.status_drop_down = response.data.statusDropDown??[]                    
                        this.feature_drop_down = response.data.featureDropDown??[]                    
                    })
                    .catch(error => {
                    })
            },
            saveFeature(){
                axios.post(`/feature/savefeature`,this.feature)
                    .then(response => {
                        if (response.data.errors) {
                            this.handleValidation(response.data.errors);
                        } else {
                            this.$emit('close-modal',{status:'save',feature:response.data.feature}) 
                        }
                    })
                    .catch(error => {
                        console.error('Error saving feature:', error);
                    })
            },
            updateFeature(){
                axios.post(`/feature/updatefeature`,this.feature)
                    .then(response => {
                        if (response.data.errors) {
                            this.handleValidation(response.data.errors);
                        } else {
                            this.$emit('close-modal',{status:'update',feature:response.data.feature})        
                        }
                    })
                    .catch(error => {
                        console.error('Error saving feature:', error);
                    })
            },
            handleValidation: function (errors) {
            for (let [key, value] of Object.entries(this.errors)) {
                if (errors.hasOwnProperty(key)) {
                this.errors[key] = errors[key];
                }
            }
            },
            today(){
                let date = new Date();
                let day, month;
                day = date.getDate() < 10 ? '0'+date.getDate():date.getDate();
                month = (date.getMonth() + 1) < 10 ? '0'+(date.getMonth()+1) : (date.getMonth()+1);

                return date.getFullYear()+'-'+month+'-'+day;
            },
        },
        mounted(){
            this.getDropdowns()
            if(this.featureData.id){
                this.feature.id = this.featureData.id
                this.feature.name = this.featureData.name
                this.feature.epic_id = this.featureData.epic_id
                this.feature.start_date = this.featureData.start_date
                this.feature.end_date = this.featureData.end_date
                this.feature.hours_planned = this.featureData.hours_planned
                this.feature.confidence_percentage = this.featureData.confidence_percentage
                this.feature.estimate_cost = this.featureData.estimate_cost
                this.feature.estimate_income = this.featureData.estimate_income
                this.feature.billable = this.featureData.billable
                this.feature.sprint_id =  this.featureData.sprint_id
                this.feature.status_id = this.featureData.status_id
                this.feature.dependency_id = this.featureData.dependency_id
            }
        }
    }
    </script>