<template>
    <div v-if="projectView">
        
    <div class="row pt-3 mt-3 pb-1">
        <div class="col-md-2 col-sm-12">
            <div class="form-group input-group">
                <label class="has-float-label">    
                    <select class="form-control search w-100" v-model="search.project_id"  @change="filterResults()" :disabled="searchloader" :style="searchloader ? 'cursor-events:none' : ''">
                        <option :value="0">All</option>
                        <option v-for="(value) in project_dropdown" :key="value.id" :value="value.id" >{{value.name}}</option>
                    </select>
                  <span>Projects</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="form-group input-group">
                <label class="has-float-label">    
                    <select class="form-control search w-100" v-model="search.resource_id"  @change="filterResults()" :disabled="searchloader" :style="searchloader ? 'cursor-events:none' : ''">
                        <option :value="0">All</option>
                        <option v-for="(value) in resource_dropdown" :key="value.id" :value="value.id" >{{value.full_name}}</option>
                    </select>
                    <span>Resource</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <select class="form-control search w-100" v-model="search.customer_id"  @change="filterResults()" :disabled="searchloader" :style="searchloader ? 'cursor-events:none' : ''">
                        <option :value="0">All</option>
                        <option v-for="(value) in customer_dropdown" :key="value.id" :value="value.id" >{{value.customer_name}}</option>
                    </select>
                    <span>Customer</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <select class="form-control search w-100" v-model="search.team_id"  @change="filterResults()" :disabled="searchloader" :style="searchloader ? 'cursor-events:none' : ''">
                        <option :value="0">All</option>
                        <option v-for="(value) in team_dropdown" :key="value.id" :value="value.id" >{{value.team_name}}</option>
                    </select>
                    <span>Team</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <Datepicker v-model="search.start_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" @update:model-value="filterResults()" :style="searchloader ? 'cursor-events:none' : ''" />
                    <span>Start Date</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <Datepicker v-model="search.end_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" @update:model-value="filterResults()" :style="searchloader ? 'cursor-events:none' : ''" />
                    <span>End Date</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row pt-0 mt-0 pb-1">
        <div class="col-md-2 col-sm-12">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <select class="form-control search w-100" v-model="search.sprint_id"  @change="filterResults()" :disabled="searchloader" :style="searchloader ? 'cursor-events:none' : ''">
                        <option :value="0">All</option>
                        <option v-for="(value) in sprint_dropdown" :key="value.id" :value="value.id" >{{value.name}}</option>
                    </select>
                    <span>Sprint</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="form-group input-group">
                <label class="has-float-label">
                    <select class="form-control search w-100" v-model="search.status_id"  @change="filterResults()" :disabled="searchloader" :style="searchloader ? 'cursor-events:none' : ''">
                        <option :value="0">All</option>
                        <option v-for="(value) in status_dropdown" :key="value.id" :value="value.id" >{{value.description}}</option>
                    </select>
                    <span>Status</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="form-group input-group">
                    <label class="has-float-label">
                        <input v-model="search.q" @keyup.enter="filterResults()" type="text" class="form-control search w-100" :style="searchloader ? 'cursor-events:none' : ''" />
                        <span>ID</span>
                    </label>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <a href="javascript:void(0)" @click="clearFilters()" style="border: none !important; width: 100%;" class="btn btn-info">Clear Filters</a>
        </div>
    </div>
    </div>
    <hr class="mt-0" v-if="projectView">
        
        <div class="row p-0 m-0">
            <div v-if="projectView" class="col-md-12 p-0" style="display: flex;align-items: center; justify-content: space-between; padding-bottom: 0.5rem;">
                <h3 style="font-size: 19px;">Project: {{project.name}}</h3>
                <!-- <x-export route="task.index"></x-export> -->
            </div>
            <!-- /.box-header -->
            <div class="col-md-12 p-0">
                <div v-if="loader" style="min-height:150px;width:100%;height:100%;position: relative;">
                    <div class="clock"></div>
                </div> 
                <div v-else class="table-responsive">
                    <table class="table table-borderless table-sm mt-3 w-100" style="border-spacing:0 3px; border-collapse: separate;">
                        <thead>
                            <tr>
                                <th colspan="12" class="btn-dark text-center">Tasks List View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Description</th>
                                <th>Resource</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Sprint</th>
                                <th>Priority</th>
                                <th>Planned</th>
                                <th>Actual</th>
                                <th>Status</th>
                                <th class="last text-right">Actions</th>
                            </tr>
                            <tr v-for="(task,index) in tasks" :key="index">
                                <td><i v-if="task.bugTask" class="fa fa-bug text-danger" aria-hidden="true"></i>{{ task.description }}</td>
                                <td>{{ task.consultant.first_name }} {{ task.consultant.last_name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.end_date }}</td>
                                <td v-if="task.sprint">
                                    <div v-if="sprint_dropdown.length > 0">
                                    <select v-if="permissions[6]['permission'] == 'Update' || permissions[6]['permission'] == 'Full'" @change="changeSprint(task)" class="form-control form-control-sm search w-100" v-model="task.sprint_id">
                                        <option v-for="(value) in sprint_dropdown" :key="value.id" :value="value.id" >{{value.name}}</option>
                                    </select>
                                    <span v-else>{{ task.sprint ? task.sprint.name : '' }}</span>
                                    </div>
                                </td>
                                <td v-else>
                                    <div v-if="sprint_dropdown.length > 0">
                                    <select v-if="permissions[6]['permission'] == 'Update' || permissions[6]['permission'] == 'Full'" @change="changeSprint(task)" class="form-control form-control-sm search w-100" v-model="task.sprint_id">
                                        <option value="">None</option>
                                        <option v-for="(value) in sprint_dropdown" :key="value.id" :value="value.id" >{{value.name}}</option>
                                    </select>
                                    </div>
                                </td>
                                <td v-if="task.bug_task" nowrap>
                                    <select v-if="permissions[6]['permission'] == 'Update' || permissions[6]['permission'] == 'Full'" @change="changePriority(task)" class="form-control form-control-sm" v-model="task.bug_task.priority_level">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <span v-else>{{ task.bug_task.priority_level }}</span>
                                </td>
                                <td v-else nowrap>{{ task.bugtask ? task.bugTask.priority_level : '' }}</td>
                                <td class="text-right">{{ task.hours_planned }}</td>
                                <td class="text-right">{{ minutesToTime((parseInt(task.timelines_sum_total??0)*60) + parseInt(task.timelines_sum_total_m??0) )}}</td>
                                <td v-if="task.taskstatus" nowrap>
                                    <select v-if="permissions[6]['permission'] == 'Update' || permissions[6]['permission'] == 'Full'" @change="changeStatus(task)" class="form-control form-control-sm search w-100" v-model="task.status">
                                        <option v-for="(value) in status_dropdown" :key="value.id" :value="value.id" >{{value.description}}</option>
                                    </select>
                                    <span v-else>{{ task.taskstatus.description }}</span>
                                </td>
                                <td v-else>
                                    <select v-if="permissions[6]['permission'] == 'Update' || permissions[6]['permission'] == 'Full'" @change="changeStatus(task)" class="form-control form-control-sm search w-100" v-model="task.status">
                                        <option value=''>None</option>
                                        <option v-for="(value) in status_dropdown" :key="value.id" :value="value.id" >{{value.description}}</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <a href="javascript:void(0)" class="btn btn-sm btn-warning" @click="copyTask(task.id)"><i class="fas fa-copy"></i></a>
                                        <a href="javascript:void(0)" class="btn btn-sm btn-info ml-1 toolt" @click="viewTask(task)"><i class="fas fa-eye"></i><span class="tooltiptext">View Task</span></a>
                                        <a href="javascript:void(0)" class="btn btn-sm btn-success ml-1" @click="editTask(task)"><i class="fas fa-pencil-alt"></i></a>
                                        <a href="javascript:void(0)" class="btn btn-sm btn-danger ml-1" @click="deleteTask(task.id)"><i class="fas fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

<div class="setup2" v-if="modalEditTask">
        <EditTask :modalEditTask="modalEditTask" :userId="user_id" :selectedTask="task" :selected_project="selected_project" :statusId="selected_status" :search="search" :bugTask="add_task_as_bug" :viewTaskonly="view_task" @close-modal="closeEditTask">
            <div class="modal-content">
                <h1></h1>
            </div>
        </EditTask>
    </div>
</template>

<script>
import axios from 'axios';
import EditTask from "./../kanban/EditTaskComponent.vue";
import Datepicker from '@vuepic/vue-datepicker';

export default{
        components: {
            EditTask, Datepicker
        },
    props: {
        project:{
            type: Object,
            default:{}
        },
        projectView:{
            type: Number,
            default:0
        }
    },
    data() {
        return {
            view_task:false,
            loader:true,
            modalEditTask:false,
            tasks:{},
            userId:0,
            selectedTask:{},
            selected_project:this.project.id,
            statusId:0,
            project_dropdown:[],
            resource_dropdown:[],
            customer_dropdown:[],
            team_dropdown:[],
            start_date:'',
            end_date:'',
            sprint_dropdown:[],
            status_dropdown:[],
            search:{
                project_id:this.project.id,
                resource_id:0,
                customer_id:0,
                team_id:0,
                sprint_id:0,
                status_id:0,
                start_date:'',
                end_date:'',
                q:''
            },
            task:0,
            add_task_as_bug:false,
            searchloader:false,
            permissions:[]
        }
    },
    methods: {
        viewTask(task){
            this.task = task
            this.selected_project = task.project_id
            this.selected_status = task.status
            this.add_task_as_bug = false
            this.view_task = true
            this.modalEditTask = true
        },
        copyTask(task_id){
            axios.post(`/task/copy/${task_id}`)
                .then(response => {
                    toastr.success('<strong>Success!</strong> Task successfully copied.');

                    toastr.options.timeOut = 1000;
                })
                .catch(error => {
                }).finally(()=>{
                    this.getFilters()
                })
            },
        deleteTask(task_id){
            
            this.confirm("Are you sure you want to delete this record?","Confirmation").then(() => {

            axios.post('/api/task/deletetask/'+task_id, {})
                .then(response => {
                    this.getFilters()
                    toastr.success('<strong>Success!</strong> Timeline successfully deleted.');

                    toastr.options.timeOut = 1000;
                }).catch(function (err) {
                console.log(err)
                })
            }).catch(function (err) {
                console.log(err)
                })
        },
        changeStatus(task){
            axios.post('/task/changestatus',{id:task.id,value:task.status})
                .then(response => {
                    toastr.success('<strong>Success!</strong> Task status successfully updated.');

                    toastr.options.timeOut = 1000;
                }).catch(function (err) {
                console.log(err)
                })
        },
        changeSprint(task){
            axios.post('/task/changesprint',{id:task.id,value:task.sprint_id})
                .then(response => {
                    toastr.success('<strong>Success!</strong> Task sprint successfully updated.');

                    toastr.options.timeOut = 1000;
                }).catch(function (err) {
                console.log(err)
                })
        },
        changePriority(task){
            axios.post('/task/changepriority',{id:task.id,value:task.bug_task.priority_level})
                .then(response => {
                    toastr.success('<strong>Success!</strong> Task priority successfully updated.');

                    toastr.options.timeOut = 1000;
                }).catch(function (err) {
                console.log(err)
                })
        },
        clearFilters(){
            this.search.project_id = this.project.id
            this.search.customer_id = 0
            this.search.status_id = 0
            this.search.resource_id = 0
            this.search.team_id = 0
            this.search.sprint_id = 0
            this.search.q = ''
            this.search.start_date = ''
            this.search.end_date = ''

            this.getFilters()
        },
        closeEditTask(values){
            this.task = 0
            this.selectedTask = {}
            this.selected_project = 0
            this.statusId = 0
            this.search = {}
            this.add_task_as_bug = false
            this.modalEditTask = false
            
            if (values.isSaved) {
                const task_id = values.task.id;
                console.log(task_id);

                for (let v in this.tasks) {
                    if (this.tasks[v].id === task_id) {
                        this.tasks[v] = values.task;
                        break; // Exit the loop after updating the task
                    }
                }
            } else {
                console.log('isSaved is false');
            }
        },
        minutesToTime(minutes){
            var hours = Math.trunc(minutes/60);
            var minutes = minutes % 60;
            var hour_str = hours < 10 ? '0'+hours : hours;
            var minutes_str = minutes < 10 ? '0'+minutes : minutes;
            return hour_str+':'+minutes_str;
        },
        editTask(task){
            this.task = task
            this.selected_project = task.project_id
            this.selected_status = task.status
            this.add_task_as_bug = false
            this.modalEditTask = true
        },
        filterResults(){
            this.getFilters()
        },
        getTasks(){
            this.loader = true
            axios.post('/api/task/gettasks/'+this.project.id, this.search)
                .then(response => {
                    this.permissions = response.data.permissions
                    this.tasks = response.data.tasks;
                    for(let v in this.tasks){
                        if(!this.tasks[v].sprint_id){
                            this.tasks[v].sprint_id = ''
                        }
                        if(!this.tasks[v].status){
                            this.tasks[v].status = ''
                        }
                    }
                })
                .catch(function (error) {
                    console.log(error);
                }).finally(()=>{
                    this.loader = false
                    this.searchloader = false
                })
        },
        getFilters(){
            // this.searchloader = true
            // if(this.projectView == 1){
                axios.post('/api/task/getfilters', this.search)
                .then(response => {
                    this.project_dropdown = JSON.parse(JSON.stringify(response.data.projects_drop_down));
                    this.resource_dropdown = JSON.parse(JSON.stringify(response.data.resource_drop_down));
                    this.customer_dropdown = JSON.parse(JSON.stringify(response.data.customer_drop_down));
                    this.team_dropdown = JSON.parse(JSON.stringify(response.data.team_drop_down));
                    this.sprint_dropdown = JSON.parse(JSON.stringify(response.data.sprints_drop_down));
                    this.status_dropdown = JSON.parse(JSON.stringify(response.data.task_status_drop_down));
                    this.getTasks()
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    },
    mounted(){
        this.getFilters()
    }
}
</script>
<style>

label{
    text-align: left !important;
    width:100%;
}
.vuemodal2{
    background: #ffffff;
    padding: 15px;
    width:35vw;
    border-radius: 7px;
    position: absolute;
}

.multiselect{
    height:38px;
    min-height:38px;
}
.ql-mention-list-container{background-color:#fff;border:1px solid #f0f0f0;border-radius:4px;box-shadow:0 2px 12px 0 rgba(30,30,30,.08);overflow:auto;width:270px;z-index:9001}.ql-mention-loading{font-size:16px;line-height:44px;padding:0 20px;vertical-align:middle}.ql-mention-list{list-style:none;margin:0;overflow:hidden;padding:0}.ql-mention-list-item{cursor:pointer;font-size:16px;line-height:44px;padding:0 20px;vertical-align:middle}.ql-mention-list-item.disabled{cursor:auto}.ql-mention-list-item.selected{background-color:#d3e1eb;text-decoration:none}.mention{background-color:#d3e1eb;border-radius:6px;height:24px;margin-right:2px;padding:3px 0;user-select:all;width:65px}.mention>span{margin:0 3px}
</style>