<template>
            <div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="bg-dark">
                    <th colspan="15" class="text-center">Timesheets<div class="float-right"><a :href="'/timesheet/create?project_id='+project.id" class="btn btn-sm btn-outline-light m-0 p-0 mr-2"><i class="fa fa-plus-square"></i></a></div></th>
                    
                </tr>
                <tr>
                    <th>Resource</th>
                    <th>YearWk</th>
                    <th>Wk Start</th>
                    <th class="text-center">Bill</th>
                    <th class="text-center">No Bill</th>
                    <th class="text-center">Total Hour</th>
                    <th class="text-center">Exp</th>
                    <th class="text-center">CIS</th>
                    <th class="text-center">VIS</th>
                    <th>CIR</th>
                    <th>VIR</th>
                    <th class="last">Claim Amount</th>
                    <th>Detail</th>
                    <th>Status</th>
                    <th class="last">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(timesheet,index) in timesheets" :key="index">
                    <td>{{ timesheet.resource }}</td>
                    <td>{{ timesheet.year_week }}</td>
                    <td>{{ timesheet.first_day_of_week }}</td>
                    <td class="text-center">{{ minutesToTime(timesheet.minutes_bill) }}</td>
                    <td class="text-center">{{ minutesToTime(timesheet.minutes_no_bill) }}</td>
                    <td class="text-center">{{ minutesToTime(timesheet.total_hours * 60 + timesheet.total_minutes) }}</td>
                    <td class="text-center">
                        <span class="badge badge-danger px-2 invoice-status" v-if="timesheet.time_exp.length > 0 && !timesheet.time_exp[0].paid_date && !timesheet.time_exp[0].claim_auth_date"  data-toggle="tooltip" data-placement="top" title="Expense not approved and not paid"><i class="fas fa-times"></i></span>
                            
                        <span class="badge badge-warning px-2 invoice-status" v-if="timesheet.time_exp.length > 0 && !timesheet.time_exp[0].paid_date && timesheet.time_exp[0].claim_auth_date"  data-toggle="tooltip" data-placement="top" title="Expense is approved but not paid"><i class="fas fa-check"></i></span>
                            
                        <span class="badge badge-success px-2 invoice-status" v-if="timesheet.time_exp.length > 0 && timesheet.time_exp[0].paid_date && timesheet.time_exp[0].claim_auth_date" data-toggle="tooltip" data-placement="top" title="Expense is approved and paid"><i class="fas fa-check-double"></i></span>
                            
                    </td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td>{{timesheet.cust_inv_ref}}</td>
                    <td>{{timesheet.vendor_invoice_ref}}</td>
                    <td class="text-right">{{(timesheet.time_exp[0])?timesheet.time_exp[0].amount:'0.00'}}</td>
                    <td class="text-left">
                        {{timesheet.invoice_note}}
                    </td>
                    <td><a href="javascript:void(0)" class="btn btn-xs btn-warning toolt" v-if="timesheet.status == 1"><i class="fas fa-lock"></i><span class="tooltiptext">Timesheet Locked</span></a></td>
                    <td><a :href="'/timesheet/show/'+timesheet.id" class="btn btn-primary mr-1 toolt" v-if="timesheet.status != 1"><i class="fas fa-eye"></i><span class="tooltiptext">View Timesheet</span></a></td>
                </tr>
                <tr v-if="!timesheets.length">
                    <td class="text-center" colspan="17">
                            This Project Has No Timesheets
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <th></th>
                    <th class="text-center">{{ minutesToTime(total.bill) }}</th>
                    <th class="text-center">{{ minutesToTime(total.no_bill) }}</th>
                    <th class="text-center">{{ minutesToTime(total.total) }}</th>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td></td>
                    <td></td>
                    <th class="text-right">{{total.claim.toFixed(2)}}</th>
                    <td class="text-left">
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</template>

<script>
import axios from 'axios';

export default{
    props: {
        project:{
            type: Object,
            default:{}
        }
    },
    data() {
        return {
            timesheets:[],
            total:{
                bill:0,
                no_bill:0,
                total:0,
                claim:0
            }
        }
    },
    methods: {
            getProjectTimesheets(){
                axios.get('/timesheet?project='+this.project.id)
                .then(response => {
                    this.timesheets = response.data.timesheets.data  
                    
                    for(let v in this.timesheets){
                        this.total.bill = this.total.bill + parseFloat(this.timesheets[v].minutes_bill)
                        this.total.no_bill = this.total.no_bill + parseFloat(this.timesheets[v].minutes_no_bill)
                        this.total.total = this.total.total + parseFloat((this.timesheets[v].total_hours * 60 + this.timesheets[v].total_minutes))
                        this.total.claim += (this.timesheets[v].time_exp[0] ? this.timesheets[v].time_exp[0].amount : 0)
                    }this.total.bill
                })
                .catch(err => console.log(err))
            },
        minutesToTime(minutes){
            var hours = Math.trunc(minutes/60);
            var minutes = minutes % 60;
            var hour_str = hours < 10 ? '0'+hours : hours;
            var minutes_str = minutes < 10 ? '0'+minutes : minutes;
            return hour_str+':'+minutes_str;
        },
    },
    mounted(){
    },
    created(){
        this.getProjectTimesheets()
    }
}

</script>
<style scoped>
.table tbody td{
    vertical-align: middle;
}

tr.disabled{
    background: #f6f6f6
}

</style>
