<template>
    <div>
        <div v-if="projectView">
        
            <div class="row pt-3 mt-3 pb-1">
                <div class="col-md-2 col-sm-12">
                    <div class="form-group input-group">
                        <label class="has-float-label">    
                            <select class="form-control search w-100" v-model="search.project_id"  @change="filterResults()" :disabled="searchloader" :style="searchloader ? 'cursor-events:none' : ''">
                                <option :value="0">All</option>
                                <option v-for="(value) in project_dropdown" :key="value.id" :value="value.id" >{{value.name}}</option>
                            </select>
                          <span>Projects</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="form-group input-group">
                        <label class="has-float-label">    
                            <select class="form-control search w-100" v-model="search.resource_id"  @change="filterResults()" :disabled="searchloader" :style="searchloader ? 'cursor-events:none' : ''">
                                <option :value="0">All</option>
                                <option v-for="(value) in resource_dropdown" :key="value.id" :value="value.id" >{{value.full_name}}</option>
                            </select>
                            <span>Resource</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="form-group input-group">
                        <label class="has-float-label">
                            <select class="form-control search w-100" v-model="search.customer_id"  @change="filterResults()" :disabled="searchloader" :style="searchloader ? 'cursor-events:none' : ''">
                                <option :value="0">All</option>
                                <option v-for="(value) in customer_dropdown" :key="value.id" :value="value.id" >{{value.customer_name}}</option>
                            </select>
                            <span>Customer</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="form-group input-group">
                        <label class="has-float-label">
                            <select class="form-control search w-100" v-model="search.team_id"  @change="filterResults()" :disabled="searchloader" :style="searchloader ? 'cursor-events:none' : ''">
                                <option :value="0">All</option>
                                <option v-for="(value) in team_dropdown" :key="value.id" :value="value.id" >{{value.team_name}}</option>
                            </select>
                            <span>Team</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="form-group input-group">
                        <label class="has-float-label">
                            <Datepicker v-model="search.start_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" @update:model-value="filterResults()" :style="searchloader ? 'cursor-events:none' : ''" />
                            <span>Start Date</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="form-group input-group">
                        <label class="has-float-label">
                            <Datepicker v-model="search.end_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" @update:model-value="filterResults()" :style="searchloader ? 'cursor-events:none' : ''" />
                            <span>End Date</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row pt-0 mt-0 pb-1">
                <div class="col-md-2 col-sm-12">
                    <div class="form-group input-group">
                        <label class="has-float-label">
                            <select class="form-control search w-100" v-model="search.sprint_id"  @change="filterResults()" :disabled="searchloader" :style="searchloader ? 'cursor-events:none' : ''">
                                <option :value="0">All</option>
                                <option v-for="(value) in sprint_dropdown" :key="value.id" :value="value.id" >{{value.name}}</option>
                            </select>
                            <span>Sprint</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="form-group input-group">
                        <label class="has-float-label">
                            <select class="form-control search w-100" v-model="search.status_id"  @change="filterResults()" :disabled="searchloader" :style="searchloader ? 'cursor-events:none' : ''">
                                <option :value="0">All</option>
                                <option v-for="(value) in status_dropdown" :key="value.id" :value="value.id" >{{value.description}}</option>
                            </select>
                            <span>Status</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="form-group input-group">
                            <label class="has-float-label">
                                <input v-model="search.q" @keyup.enter="filterResults()" type="text" class="form-control search w-100" :style="searchloader ? 'cursor-events:none' : ''" />
                                <span>ID</span>
                            </label>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <a href="javascript:void(0)" @click="clearFilters()" style="border: none !important; width: 100%;" class="btn btn-info">Clear Filters</a>
                </div>
            </div>
        </div>
        <hr class="mt-0" v-if="projectView">
            
            <div class="row p-0 m-0">
                <div v-if="projectView" class="col-md-12 p-0" style="display: flex;align-items: center; justify-content: space-between; padding-bottom: 0.5rem;">
                    <h3 style="font-size: 19px;">Project: {{project.name}}</h3>
                    <!-- <x-export route="task.index"></x-export> -->
                </div>
                <!-- /.box-header -->
        <div class="col-md-12 p-0">
            <div v-if="loader" style="min-height:150px;width:100%;height:100%;position: relative;">
                <div class="clock"></div>
            </div> 
            <div v-else class="table-responsive">
                <div class="table-header">
                    <div class="row">
                        <div class="col-12 btn-dark text-center">Tasks Tree View</div>
                    </div>
                    <div class="row headers">
                        <div class="col " style="margin-right: 7%;">Description</div>
                        <div class="col " style="margin-right: 5%;">Resource</div>
                        <div class="col ">Start</div>
                        <div class="col ">End</div>
                        <div class="col " style="margin-left: -3%;">Sprint</div>
                        <div class="col ">Priority</div>
                        <div class="col " style="margin-left: -2%;">Planned</div>
                        <div class="col " style="margin-left: -3%;">Actual</div>
                        <div class="col " style="margin-left: -3%;">Status</div>
                        <div class="col last text-right">Actions</div>
                    </div>
                </div>
            <!-- Expand/Collapse All functionality -->
            <div class="row" style="margin-bottom:10px;">
                <div class="col-6">
                    <a href="javascript:void(0)" v-if="!expanded" @click="toggleAll()"><i class="fa fa-plus mr-1"></i>Expand All</a>
                    <a href="javascript:void(0)" v-else @click="toggleAll()"><i class="fa fa-minus mr-1"></i>Collapse All</a>
                </div>
                <div class="col-6 text-right">
                    <a href="javascript:void(0)" class="btn btn-sm btn-dark toolt" @click="addEpic()" v-if="permissions && permissions[8] && (permissions[8]['permission'] == 'Full' || permissions[8]['permission'] == 'Create' || permissions[8]['permission'] == 'Update')"><i class="fa fa-plus"></i><span class="tooltiptext">Add Epic</span></a>
                </div>
            </div>
            

            <!-- Epic Draggable List -->
            <draggable v-model="epics" group="epic" @end="onDragEnd($event, 'epic')" :key="index">
                <template v-slot:item="{ element: epic, index }" >
                    <div class="epic-row mb-3 p-2" style="background:#F4F4F4">
                        <!-- Epic Information -->
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <a href="javascript:void(0)" @click="toggleChildren(`epicChildren_${epic.id}`, `epic_${epic.id}`)">
                                    <i v-if="epic.features && epic.features.length > 0" :id="`epicChildren_${epic.id}`" class="fa fa-plus mr-1"></i><strong>{{ epic.id }}</strong> | {{ epic.name }}
                                </a>
                            </div>
                            <div></div>
                            <div>{{ epic.start_date }}</div>
                            <div>{{ epic.end_date }}</div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div class="text-right d-flex">
                                <a href="javascript:void(0)" class="btn btn-sm btn-dark toolt" @click="addFeature(epic.id,epic,index)" v-if="permissions && permissions[8] && (permissions[8]['permission'] == 'Full' || permissions[8]['permission'] == 'Create' || permissions[8]['permission'] == 'Update')">
                                    <i class="fa fa-plus"></i><span class="tooltiptext">Add Feature</span>
                                </a>
                                <a href="javascript:void(0)" class="btn btn-sm btn-info toolt ml-1" @click="viewEpic(epic)" v-if="permissions && permissions[8] && (permissions[8]['permission'] == 'Full' || permissions[8]['permission'] == 'Create' || permissions[8]['permission'] == 'Update' || permissions[8]['permission'] == 'View')"><i class="fas fa-eye"></i><span class="tooltiptext">View Epic</span></a>
                                <a href="javascript:void(0)" class="btn btn-sm btn-success toolt ml-1" @click="editEpic(epic,index)" v-if="permissions && permissions[8] && (permissions[8]['permission'] == 'Full' || permissions[8]['permission'] == 'Create' || permissions[8]['permission'] == 'Update')">
                                    <i class="fas fa-pencil-alt"></i><span class="tooltiptext">Edit Epic</span>
                                </a>
                                <a href="javascript:void(0)" class="btn btn-sm btn-danger toolt ml-1" :class="epic.features && epic.features.length > 0 ? 'disabled' : ''" @click="deleteEpic(epic)" v-if="permissions && permissions[8] && (permissions[8]['permission'] == 'Full' || permissions[8]['permission'] == 'Create' || permissions[8]['permission'] == 'Update')">
                                    <i class="fas fa-trash"></i><span class="tooltiptext">Delete Epic</span>
                                </a>
                            </div>
                        </div>
            
                        <!-- Feature Rows -->
                        <draggable v-model="epic.features" group="feature" @end="onDragEnd($event, 'feature')" :data-id="epic.id" :key="featureIndex">
                            <template v-slot:item="{ element: feature, featureIndex }">
                                <div :style="{ display: 'none' }" class="feature-row mb-3 pl-4" :class="`epic_${epic.id} task-tree-view epicChildren_${epic.id}`">
                                    <div class="d-flex justify-content-between align-items-center" style="background:#F4F4F4">
                                        <div style="padding-left:10px !important">
                                            <a href="javascript:void(0)" @click="toggleChildren(`featureChildren_${feature.id}`, `feature_${feature.id}`)">
                                                <i v-if="feature.user_stories && feature.user_stories.length > 0" :id="`featureChildren_${feature.id}`" :class="`icon_epic_${epic.id}`" class="fa fa-plus mr-1"></i><strong>{{ feature.id }}</strong> | {{ feature.name }}</a>
                                                </div>
                                        <div></div>
                                        <div>{{ feature.start_date }}</div>
                                        <div>{{ feature.end_date }}</div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div>{{ feature.status?.description }}</div>
                                        <div class="text-right">
                                            <a href="javascript:void(0)" class="btn btn-sm btn-dark toolt" @click="addUserStory(feature.id)" v-if="permissions && permissions[8] && (permissions[8]['permission'] == 'Full' || permissions[8]['permission'] == 'Create' || permissions[8]['permission'] == 'Update')">
                                                <i class="fa fa-plus"></i><span class="tooltiptext">Add User Story</span>
                                            </a>
                                            <a href="javascript:void(0)" class="btn btn-sm btn-info ml-1 toolt" @click="viewFeature(feature)" v-if="permissions && permissions[8] && (permissions[8]['permission'] == 'Full' || permissions[8]['permission'] == 'Create' || permissions[8]['permission'] == 'Update' || permissions[8]['permission'] == 'View')"><i class="fas fa-eye"></i><span class="tooltiptext">View Feature</span></a>
                                            <a href="javascript:void(0)" class="btn btn-sm btn-success toolt ml-1" @click="editFeature(epic.id,feature,index,featureIndex)" v-if="permissions && permissions[8] && (permissions[8]['permission'] == 'Full' || permissions[8]['permission'] == 'Create' || permissions[8]['permission'] == 'Update')">
                                                <i class="fas fa-pencil-alt"></i><span class="tooltiptext">Edit Feature</span>
                                            </a>
                                            <a href="javascript:void(0)" class="btn btn-sm btn-danger toolt ml-1" :class="feature.user_stories && feature.user_stories.length > 0 ? 'disabled' : ''" @click="deleteFeature(feature,index,featureIndex)" v-if="permissions && permissions[8] && (permissions[8]['permission'] == 'Full' || permissions[8]['permission'] == 'Create' || permissions[8]['permission'] == 'Update')">
                                                <i class="fas fa-trash"></i><span class="tooltiptext">Delete Feature</span>
                                            </a>
                                        </div>
                                    </div>
            
                                    <!-- User Story Rows -->
                                    <draggable v-model="feature.user_stories" group="userStory" @end="onDragEnd($event, 'userStory')" :data-id="feature.id" :key="userIndex">
                                        <template v-slot:item="{ element: user_story, userIndex }">
                                            <div :style="{ display: 'none' }" :class="`epic_${epic.id}  feature_${feature.id} task-tree-view featureChildren_${feature.id}`" class="user-story-row mb-3 pl-5">
                                                <div class="d-flex justify-content-between align-items-center" style="background:#F4F4F4;">
                                                    <div style="padding-left:20px !important">
                                                        <a href="javascript:void(0)" @click="toggleChildren(`userChildren_${user_story.id}`, `user_${user_story.id}`)">
                                                            <i v-if="user_story.tasks && user_story.tasks.length > 0" :id="`userChildren_${user_story.id}`"  :class="`icon_epic_${epic.id} icon_feature_${feature.id}`" class="fa fa-plus mr-1"></i><strong>{{ user_story.id }}</strong> | {{ user_story.name }}</a>
                                                    </div>
                                                    <div></div>
                                                    <div>{{ user_story.start_date }}</div>
                                                    <div>{{ user_story.end_date }}</div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div>{{ user_story.status?.description }}</div>
                                                    <div class="text-right d-flex">
                                                        <!-- Add/Edit/Delete Buttons for User Stories -->
                                                        <a href="javascript:void(0)" class="btn btn-sm btn-dark toolt" @click="addTask(epic,user_story,index,featureIndex,userIndex)" v-if="permissions && permissions[8] && (permissions[8]['permission'] == 'Full' || permissions[8]['permission'] == 'Create' || permissions[8]['permission'] == 'Update')">
                                                            <i class="fa fa-plus"></i><span class="tooltiptext">Add Task</span>
                                                        </a>
                                                        <a href="javascript:void(0)" class="btn btn-sm btn-info ml-1 toolt" @click="viewUserStory(feature.id,user_story)" v-if="permissions && permissions[8] && (permissions[8]['permission'] == 'Full' || permissions[8]['permission'] == 'Create' || permissions[8]['permission'] == 'Update' || permissions[8]['permission'] == 'View')"><i class="fas fa-eye"></i><span class="tooltiptext">View User Story</span></a>
                                                        <a href="javascript:void(0)" class="btn btn-sm btn-success toolt ml-1" @click="editUserStory(feature.id,user_story,index,featureIndex,userIndex)" v-if="permissions && permissions[8] && (permissions[8]['permission'] == 'Full' || permissions[8]['permission'] == 'Create' || permissions[8]['permission'] == 'Update') || permissions[8]['permission'] == 'View'">
                                                            <i class="fas fa-pencil-alt"></i><span class="tooltiptext">Edit User Story</span>
                                                        </a>
                                                        <a href="javascript:void(0)" class="btn btn-sm btn-danger toolt ml-1" :class="user_story.tasks && user_story.tasks.length > 0 ? 'disabled' : ''" @click="deleteUserStory(user_story,index,featureIndex,userIndex)" v-if="permissions && permissions[8] && (permissions[8]['permission'] == 'Full' || permissions[8]['permission'] == 'Create' || permissions[8]['permission'] == 'Update')">
                                                            <i class="fas fa-trash"></i><span class="tooltiptext">Delete User Story</span>
                                                        </a>
                                                    </div>
                                                </div>
            
                                                <!-- Task Rows -->
                                                <draggable v-model="user_story.tasks" group="task" @end="onDragEnd($event, 'task')" :data-id="user_story.id" :key="taskIndex">
                                                    <template v-slot:item="{ element: task, taskIndex }">
                                                        <div :style="{ display:'none' }" :class="`epic_${epic.id} feature_${feature.id} user_${user_story.id} task-tree-view userChildren_${user_story.id}`" class="task-row mb-3 pl-5">
                                                            <div class="d-flex justify-content-between align-items-center" style="background:#F4F4F4">
                                                                <div style="padding-left:30px !important; width: 200px; white-space: normal; word-wrap: break-word;"><i class="fas fa-bug text-danger mr-1" v-if="task.bug_task"></i><strong>{{ task.id }}</strong> | {{ task.description }}</div> <!-- Empty cells for ID and Name to align scores -->
                                                                <div style="width: 150px; white-space: normal; word-wrap: break-word;">
                                                                    {{ task.consultant.first_name }} {{ task.consultant.last_name }}
                                                                </div>
                                                                <div style="width: 80px; white-space: normal; word-wrap: break-word;">{{ task.start_date }}</div>
                                                                <div style="width: 80px; white-space: normal; word-wrap: break-word;">{{ task.end_date }}</div>
                                                                <div style="width: 100px; white-space: normal; word-wrap: break-word;">{{ task.sprint ? task.sprint.name : '' }}</div>
                                                                <div style="width: 40px; white-space: normal; word-wrap: break-word;">{{ task.bug_task ? task.bug_task.priority_level : '' }}</div>
                                                                <div class="text-right" style="width: 40px; white-space: normal; word-wrap: break-word;">{{ task.hours_planned }}</div>
                                                                <div class="text-right" style="width: 50px; white-space: normal; word-wrap: break-word;">{{ minutesToTime((parseInt(task.timelines_sum_total??0)*60) + (parseInt(task.timelines_sum_total_m??0)) )}}</div>
                                                                <div style="width: 80px; white-space: normal; word-wrap: break-word;">{{ task.taskstatus ? task.taskstatus.description : '' }}</div>
                                                                <div class="text-right d-flex">
                                                                    <!-- Add/Edit/Delete Buttons for Tasks -->
                                                                    <a href="javascript:void(0)" class="btn btn-sm btn-warning" @click="copyTask(task.id)"><i class="fas fa-copy"></i></a>
                                                                     <a href="javascript:void(0)" class="btn btn-sm btn-info ml-1 toolt" @click="viewTask(task)"><i class="fas fa-eye"></i><span class="tooltiptext">View Task</span></a>
                                                                    <a href="javascript:void(0)" class="btn btn-sm btn-success ml-1 toolt" @click="editTask(task,index,featureIndex,userIndex,taskIndex)" v-if="permissions && permissions[8] && (permissions[8]['permission'] == 'Full' || permissions[8]['permission'] == 'Create' || permissions[8]['permission'] == 'Update')"><i class="fas fa-pencil-alt"></i><span class="tooltiptext">Edit Task</span></a>
                                                                    <a href="javascript:void(0)" class="btn btn-sm btn-danger ml-1 toolt" @click="deleteTask(task.id,index,featureIndex,userIndex,taskIndex)" v-if="permissions && permissions[8] && (permissions[8]['permission'] == 'Full' || permissions[8]['permission'] == 'Create' || permissions[8]['permission'] == 'Update')"><i class="fas fa-trash"></i><span class="tooltiptext">Delete Task</span></a>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </template>
                                                </draggable>
                                            </div>
                                        </template>
                                    </draggable>
                                </div>
                            </template>
                        </draggable>
                    </div>
                </template>
            </draggable>
        </div>
        </div>
    </div>
    </div>

    <div class="setup2" v-if="modalEpic">
        <Epic :modalEpic="modalEpic" :epicData="epic" :projectData="project" :selected_project="selected_project" :search="search" :viewEpic="view_epic" @close-modal="closeEpic">
            <div class="modal-content">
                <h1></h1>
            </div>
        </Epic>
    </div>
    
    <div class="setup2" v-if="modalFeature">
        <Feature :modalFeature="modalFeature" :featureData="feature" :epicData="epic" :selected_project="selected_project" :selected_epic="selected_epic" :viewFeature="view_feature" :search="search" @close-modal="closeFeature">
            <div class="modal-content">
                <h1></h1>
            </div>
        </Feature>
    </div>
    
    <div class="setup2" v-if="modalUserStory">
        <UserStory :modalUserstory="modalUserStory" :userstoryData="user_story" :featureData="feature" :selected_project="selected_project" :selected_epic="selected_epic" :selected_feature="selected_feature" :search="search" :viewUserstory="view_user_story" @close-modal="closeUserStory">
            <div class="modal-content">
                <h1></h1>
            </div>
        </UserStory>
    </div>
    
    <div class="setup2" v-if="modalEditTask">
        <EditTask :modalEditTask="modalEditTask" :userId="user_id" :selectedTask="task" :selected_project="selected_project" :statusId="selected_status" :search="search" :bugTask="add_task_as_bug" :viewTaskonly="view_task" @close-modal="closeEditTask">
            <div class="modal-content">
                <h1></h1>
            </div>
        </EditTask>
    </div>
    
    <div class="setup2" v-if="modalAddTask">
        <AddTask :modalAddTask="modalAddTask" :selected_project="selected_project" :selected_user_story="selected_user_story" :statusId="selected_status" :search="search" :bugTask="add_task_as_bug" @close-modal="closeAddTask">
            <div class="modal-content">
                <h1></h1>
            </div>
        </AddTask>
    </div>
</template>

<script>
import axios from 'axios';
import Datepicker from '@vuepic/vue-datepicker';
import EditTask from "./../kanban/EditTaskComponent.vue";
import AddTask from "./../kanban/AddTaskComponent.vue";
import Epic from "./EpicModalComponent.vue";
import Feature from "./FeatureModalComponent.vue";
import UserStory from "./UserStoryModalComponent.vue";
import draggable from 'vuedraggable';

export default{
        components: {
            EditTask,AddTask,Datepicker,Epic,Feature,UserStory,draggable
        },
        props: {
            project:{
                type: Object,
                default:{}
            },
            projectView:{
                type: Number,
                default:0
            }
        },
        data() {
            return {
                expanded:false,
                epic_expanded: false,
                loader:true,
                searchloader:true,
                modalEditTask:false,
                modalAddTask:false,
                modalEpic:false,
                modalFeature:false,
                modalUserStory:false,
                epics:[
                    {features:[{
                        user_stories:[{
                            tasks:[]
                        }]
                    }]}
                ],
                epic:{},
                epic_index:0,
                feature:{},
                feature_index:0,
                user_story:{},
                user_story_index:0,
                task_index:0,
                selected_project:this.project.id,
                selected_user_story:0,
                selected_epic:0,
                selected_feature:0,
                search:{
                    project_id:this.project.id,
                    resource_id:0,
                    customer_id:0,
                    team_id:0,
                    sprint_id:0,
                    status_id:0,
                    start_date:'',
                    end_date:'',
                    q:''
                },
                task:0,
                add_task_as_bug:false,
                searchloader:false,
                permissions:[],
                project_dropdown:[],
                resource_dropdown:[],
                customer_dropdown:[],
                team_dropdown:[],
                sprint_dropdown:[],
                status_dropdown:[],
                view_epic:false,
                view_feature:false,
                view_user_story:false,
                view_task:false
                }
            },
            methods: {
                onDragEnd(event, level) {
                    console.log("item id:",event.item._underlying_vm_.id);
                    let newParentId = event.to.getAttribute('data-id');
                    let url = '';
                    let data = {};
                    let itemId = event.item._underlying_vm_.id;
                    
                    // Force reactivity in Vue by resetting the array
                    if (level === 'epic') {
                        url = `/api/move-epic/${itemId}`;
                        data = { project_id: newParentId };
                        this.epics = [...this.epics];
                        
                    } else if (level === 'feature') {
                        data = { epic_id: newParentId };
                        url = `/api/move-feature/${itemId}`;
                        this.epics.forEach((epic) => {
                            epic.features = [...epic.features];
                            this.toggleChildren(`epicChildren_${newParentId}`, `epic_${newParentId}`);
                            this.toggleChildren(`epicChildren_${newParentId}`, `epic_${newParentId}`);
                        });
                    } else if (level === 'userStory') {
                        data = { feature_id: newParentId };
                        url = `/api/move-user-story/${itemId}`;
                        this.epics.forEach((epic) => {
                            epic.features.forEach((feature) => {
                                feature.user_stories = [...feature.user_stories];
                                this.toggleChildren(`featureChildren_${newParentId}`, `feature_${newParentId}`);
                                this.toggleChildren(`featureChildren_${newParentId}`, `feature_${newParentId}`);
                            });
                        });
                    } else if (level === 'task') {
                        url = `/api/move-task/${itemId}`;
                        data = { user_story_id: newParentId };
                        this.epics.forEach((epic) => {
                            epic.features.forEach((feature) => {
                                feature.user_stories.forEach((user_story) => {
                                    user_story.tasks = [...user_story.tasks];
                                    this.toggleChildren(`userChildren_${newParentId}`, `user_${newParentId}`);
                                    this.toggleChildren(`userChildren_${newParentId}`, `user_${newParentId}`);
                                });
                            });
                        });
                    }

                    axios.patch(url, data)
                    .then(response => {
                        console.log(response.data.message);
                        // Handle success
                    })
                    .catch(error => {
                        console.error('Error updating:', error);
                    });
                },

                // This method resets the collapse/expand state for all elements
                resetCollapseExpandState() {
                    const allChildren = document.querySelectorAll(`[class*='epicChildren_'], [class*='featureChildren_'], [class*='userChildren_']`);
                    allChildren.forEach((element) => {
                        element.classList.add('d-none'); // Always collapse by default on load
                    });

                    // Set icons to 'plus' as default
                    this.epics.forEach((epic) => {
                        this.updateExpandCollapseIcon(`epic_${epic.id}`, epic.features);
                        epic.features.forEach((feature) => {
                            this.updateExpandCollapseIcon(`feature_${feature.id}`, feature.user_stories);
                            feature.user_stories.forEach((user_story) => {
                                this.updateExpandCollapseIcon(`user_${user_story.id}`, user_story.tasks);
                            });
                        });
                    });
                },
                copyTask(task_id){
                    axios.post(`/task/copy/${task_id}`)
                        .then(response => {
                            toastr.success('<strong>Success!</strong> Task successfully copied.');

                            toastr.options.timeOut = 1000;
                        })
                        .catch(error => {
                        }).finally(()=>{
                            this.getFilters()
                        })
                },
                closeEpic(val){
                    this.modalEpic = false
                    this.epic = {}
                    if(val && val.status && val.status == 'save'){
                        this.epics.unshift(val.epic)
                    }
                    
                    if(val && val.status && val.status == 'update'){
                        this.epics[this.epic_index] = val.epic
                        this.epic_index = 0
                    }
                    this.view_epic = false
                    this.epic = {}
                },
                closeFeature(val){
                    this.modalFeature = false
                    this.selected_epic = 0
                    this.feature = {}
                    if(val && val.status && val.status == 'save'){
                        console.log(val.feature)
                        this.epics[this.epic_index].features.push(val.feature)
                    }
                    
                    if(val && val.status && val.status == 'update'){
                        console.log(val.feature)
                        this.epics[this.epic_index].features[this.feature_index] = val.feature
                    }
                    this.epic_index = 0
                    this.feature_index = 0
                    this.view_feature = false
                    this.feature = {}
                },
                closeUserStory(val){
                    this.modalUserStory = false
                    this.selected_feature = 0
                    this.user_story = {}
                    if(val && val.status && val.status == 'save'){
                        this.epics[this.epic_index].features[this.feature_index].user_stories.push(val.user_story)
                    }
                    
                    if(val && val.status && val.status == 'update'){
                        this.epics[this.epic_index].features[this.feature_index].user_stories[this.user_story_index] = val.user_story
                    }
                    this.epic_index = 0
                    this.feature_index = 0
                    this.user_story_index = 0
                    this.view_user_story = false
                },
                addEpic(){
                    this.modalEpic = true
                    this.selected_project = this.project.id
                },
                editEpic(epic,index){
                    this.modalEpic = true
                    this.selected_project = this.project.id
                    this.epic = epic
                    this.epic_index = index
                },
                viewEpic(epic){
                    this.modalEpic = true
                    this.selected_project = this.project.id
                    this.epic = epic
                    this.view_epic = true
                },
                deleteEpic(epic,index){
                    this.confirm("Are you sure you want to delete this epic?","Confirmation").then(() => {
                        axios.post(`/epic/deleteepic`,{epic_id: epic.id})
                        .then(response => {
                            this.epics.splice(index, 1);
                            toastr.success('<strong>Success!</strong> Epic successfully deleted.');

                            toastr.options.timeOut = 1000;
                        })
                        .catch(error => {
                            console.error('Error deleting epic:', error);
                        })
                    })
                },
                addFeature(epic_id,epic,index){
                    this.modalFeature = true
                    this.selected_epic = epic_id
                    this.epic_index = index
                    this.epic = epic
                },
                editFeature(epic_id,feature,index,featureIndex){
                    this.modalFeature = true
                    this.selected_epic = epic_id
                    this.feature = feature
                    this.epic_index = index
                    this.feature_index = featureIndex
                },
                viewFeature(feature){
                    this.modalFeature = true
                    this.feature = feature
                    this.view_feature = true
                },
                deleteFeature(feature,index,featureIndex){
                    this.confirm("Are you sure you want to delete this feature?","Confirmation").then(() => {
                        axios.post(`/feature/deletefeature`,{feature_id: feature.id})
                        .then(response => {
                            this.epics[index].features.splice(featureIndex, 1);
                            toastr.success('<strong>Success!</strong> Feature successfully deleted.');

                            toastr.options.timeOut = 1000;
                        })
                        .catch(error => {
                            console.error('Error deleting feature:', error);
                        })
                    })
                },
                addUserStory(feature_id,feature){
                    this.modalUserStory = true
                    this.selected_feature = feature_id
                    this.feature = feature
                },
                editUserStory(feature_id,user_story,index,featureIndex,userIndex){
                    this.modalUserStory = true
                    this.selected_feature = feature_id
                    this.user_story = user_story
                    this.epic_index = index
                    this.feature_index = featureIndex
                    this.user_story_index = userIndex
                },
                viewUserStory(feature_id,user_story){
                    this.modalUserStory = true
                    this.selected_feature = feature_id
                    this.user_story = user_story
                    this.view_user_story = true
                },
                deleteUserStory(user_story,index,featureIndex,userIndex){
                    this.confirm("Are you sure you want to delete this user story?","Confirmation").then(() => {
                        axios.post(`/userstory/deleteuserstory`,{user_story_id: user_story.id})
                        .then(response => {
                            this.epics[index].features[featureIndex].user_stories.splice(userIndex, 1);
                            toastr.success('<strong>Success!</strong> User Story successfully deleted.');

                            toastr.options.timeOut = 1000;
                        })
                        .catch(error => {
                            console.error('Error deleting user story:', error);
                        })
                    })
                },
                toggleChildren(childId, parentId) {
                    const childElement = document.getElementById(childId);
                    const parentElements = document.querySelectorAll(`.${childId}`);
                    const childRelatedElements = document.querySelectorAll(`.${parentId}`);
                    const childRelatedElementIcons = document.querySelectorAll(`.icon_${parentId}`);
                    
                    // Ensure childElement and parentElements exist
                    if (!childElement || parentElements.length === 0) return;

                    if (childElement.classList.contains('fa-minus')) {
                        // Switch from minus to plus
                        childElement.classList.add('fa-plus');
                        childElement.classList.remove('fa-minus');
                        

                        childRelatedElementIcons.forEach((element) => {
                            element.classList.add('fa-plus');
                            element.classList.remove('fa-minus');
                        });
                        childRelatedElements.forEach((element) => {
                            element.style.display = 'none';
                        });
                    } else {
                        // Switch from plus to minus
                        childElement.classList.remove('fa-plus');
                        childElement.classList.add('fa-minus');

                        // Show parent elements
                        parentElements.forEach((element) => {
                            element.style.display = '';
                        });
                    }
                },
                toggleAll() {
                    if(!this.expanded){
                        this.expanded = true
                    } else {
                        this.expanded = false
                    }
                    const epicChildren = document.querySelectorAll(`[class*='epicChildren_']`);
                    const featureChildren = document.querySelectorAll(`[class*='featureChildren_']`);
                    const userChildren = document.querySelectorAll(`[class*='userChildren_']`);
                    epicChildren.forEach((element) => {
                        element.style.display = element.style.display === 'none' && this.expanded ? '' : 'none';
                    });
                    featureChildren.forEach((element) => {
                        element.style.display = element.style.display === 'none' && this.expanded ? '' : 'none';
                    });
                    userChildren.forEach((element) => {
                        element.style.display = element.style.display === 'none' && this.expanded ? '' : 'none';
                    });

                    // Toggle the icons for all parent elements
                    const toggleIcons = document.querySelectorAll('[id^="epicChildren_"], [id^="featureChildren_"], [id^="userChildren_"]');
                    toggleIcons.forEach((icon) => {
                        if(!this.expanded){
                            icon.classList.add('fa-plus');
                            icon.classList.remove('fa-minus');
                        } else {
                            icon.classList.remove('fa-plus');
                            icon.classList.add('fa-minus');
                        }
                    });
                },
                // Method to update the expand/collapse icon based on child visibility
                updateExpandCollapseIcon(parentId, children) {
                    const parentElement = document.getElementById(parentId);
                    
                    if (parentElement && children.length > 0) {
                        // Check if at least one child is visible, ensuring each child exists
                        const anyVisible = Array.from(children).some((child) => child && !child.classList.contains('d-none'));

                        // Update the icon based on whether any children are visible
                        if (anyVisible) {
                            parentElement.classList.remove('fa-plus');
                            parentElement.classList.add('fa-minus');
                        } else {
                            parentElement.classList.remove('fa-minus');
                            parentElement.classList.add('fa-plus');
                        }
                    }
                },
                minutesToTime(minutes){
                    var hours = Math.trunc(minutes / 60);
                    minutes = minutes % 60; // Update the minutes variable after computing hours
                    var hour_str = hours < 10 ? '0' + hours : hours;
                    var minutes_str = minutes < 10 ? '0' + minutes : minutes;
                    return hour_str + ':' + minutes_str;
                },
                editTask(task,index,featureIndex,userIndex,taskIndex){
                    this.task = task
                    this.selected_project = task.project_id
                    this.selected_status = task.status
                    this.epic_index = index
                    this.feature_index = featureIndex
                    this.user_story_index = userIndex
                    this.task_index = taskIndex
                    this.add_task_as_bug = false
                    this.modalEditTask = true
                },
                viewTask(task){
                    this.task = task
                    this.selected_project = task.project_id
                    this.selected_status = task.status
                    this.add_task_as_bug = false
                    this.view_task = true
                    this.modalEditTask = true
                },
                addTask(epic,user_story,index,featureIndex,userIndex){
                    this.selected_project = epic.project_id
                    this.selected_user_story = user_story.id
                    this.epic_index = index
                    this.feature_index = featureIndex
                    this.user_story_index = userIndex
                    this.selected_status = 3
                    this.add_task_as_bug = false
                    this.modalAddTask = true
                },
                deleteTask(task_id,index,featureIndex,userIndex,taskIndex){
                    
                    this.confirm("Are you sure you want to delete this task?","Confirmation").then(() => {

                    axios.post('/api/task/deletetask/'+task_id, {})
                        .then(response => {
                            this.epics[index].features[featureIndex].user_stories[userIndex].tasks.splice(taskIndex, 1);
                            toastr.success('<strong>Success!</strong> Task successfully deleted.');

                            toastr.options.timeOut = 1000;
                        }).catch(function (err) {
                        console.log(err)
                        })
                    }).catch(function (err) {
                        console.log(err)
                        })
                },
                closeEditTask(values){
                    this.task = 0
                    this.selectedTask = {}
                    this.selected_project = 0
                    this.statusId = 0
                    this.search = {}
                    this.add_task_as_bug = false
                    this.modalEditTask = false
                    
                    if (values.isSaved) {
                        this.epics[this.epic_index].features[this.feature_index].user_stories[this.user_story_index].tasks[this.task_index] = values.task;
                    }
                    
                    this.epic_index = 0
                    this.feature_index = 0
                    this.user_story_index = 0
                    this.task_index = 0
                },
                closeAddTask(val){
                    this.add_task_as_bug = false
                    this.modalAddTask = false
                        const userStory = this.epics[this.epic_index].features[this.feature_index].user_stories[this.user_story_index];
                    if (val.isSaved) {
                        if (
                        this.epic_index < this.epics.length &&
                        this.feature_index < this.epics[this.epic_index].features.length &&
                        this.user_story_index < this.epics[this.epic_index].features[this.feature_index].user_stories.length
                        ) {
                        if (userStory && Array.isArray(userStory.tasks)) {
                            userStory.tasks.push(val.task);
                        } else {
                            console.error('Tasks array is not properly initialized');
                        }
                        } else {
                        console.error('Invalid index');
                        }
                        setTimeout(() => {
                        const taskconst = document.querySelectorAll(`.userChildren_${userStory.id}`)
                        console.log(`userChildren_${userStory.id}`)
                        taskconst.forEach((element, index) => {
                            
                                element.style.display = '';
                            }); // Delay each element by 100ms more than the previous one
                        }, 1000);
                    }
                    this.epic_index = 0
                    this.feature_index = 0
                    this.user_story_index = 0
                },
                getTree(){
                    this.loader = true
                    axios.post('/api/task/gettreeview/'+this.project.id, this.search)
                        .then(response => {
                            let data = []
                            for(let v in response.data.permissions){
                                data[v] = []
                                data[v]['permission'] = response.data.permissions[v].permission
                            }
                            this.permissions = data
                            this.epics = response.data.epics;
                            
                        })
                        .catch(function (error) {
                            console.log(error);
                        }).finally(()=>{
                            this.loader = false
                            this.searchloader = false
                        })
                },
                clearFilters(){
                    this.search.project_id = this.project.id
                    this.search.customer_id = 0
                    this.search.status_id = 0
                    this.search.resource_id = 0
                    this.search.team_id = 0
                    this.search.sprint_id = 0
                    this.search.q = ''
                    this.search.start_date = ''
                    this.search.end_date = ''

                    this.getFilters()
                },
                filterResults(){
                    this.expanded = false
                    this.getFilters()
                },
                getFilters(){
                        axios.post('/api/task/getfilters', this.search)
                        .then(response => {
                            this.project_dropdown = JSON.parse(JSON.stringify(response.data.projects_drop_down));
                            this.resource_dropdown = JSON.parse(JSON.stringify(response.data.resource_drop_down));
                            this.customer_dropdown = JSON.parse(JSON.stringify(response.data.customer_drop_down));
                            this.team_dropdown = JSON.parse(JSON.stringify(response.data.team_drop_down));
                            this.sprint_dropdown = JSON.parse(JSON.stringify(response.data.sprints_drop_down));
                            this.status_dropdown = JSON.parse(JSON.stringify(response.data.task_status_drop_down));
                        })
                        .catch(function (error) {
                            console.log(error);
                        }).finally(()=>{
                            this.getTree()
                        });
                }
            },
            mounted(){
                this.getFilters();
                this.resetCollapseExpandState();
            }
        }
</script>

<style scoped>
.epic-row, .feature-row, .user-story-row, .task-row {
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 3px;
    border: 1px solid #ccc;
}

.epic-row {
    margin-left: -5px;
}

.feature-row {
    margin-left: -5px;
    margin-right: -3px;
}

.user-story-row {
    margin-left: -20px;
    margin-right: -6px;
}

.task-row {
    margin-left: -40px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: none;
}

.headers {
    margin-left: 80px;
    margin-bottom: 5px;
    font-weight: bold;
}


</style>