<template>
    <div class="modal fade show" id="create_user_story_modal" tabindex="-1" role="dialog" aria-labelledby="create_task_modal_label" aria-hidden="true" :style="modalActive ? 'display:flex;height:100vh;width:100vw;justify-items:center;align-items:center;' : ''">
        <div class="modal-dialog" role="document" style="width:850px;">
            <div style="min-width: 850px;width:850px;" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="create_task_modal_label" style="width: 100%;">
                        User Story <br/>
                    </h5>
                    <button class="close" @click="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <table class="table table-borderless">
                        <tr>
                            <th class="col-md-2" style="vertical-align: top;line-height:2.3rem">Name</th>
                            <td class="col-md-4"><input type="text" class="form-control" v-model="user_story.name" :disabled="view" :class="{'is-invalid': errors.name.length > 0}" />
                                <FormErrors v-if="errors.name.length" :errors="errors.name" ></FormErrors></td>
                            <th class="col-md-2" style="vertical-align: top;line-height:2.3rem">Feature</th>
                            <td><select class="form-control" v-model="user_story.feature_id" disabled :class="{'is-invalid': errors.feature_id.length > 0}">
                                <option :value="0">Please Select</option>
                                <option v-for="(value) in feature_drop_down" :key="value.id" :value="value.id" >{{value.name}}</option>
                            </select>
                            <FormErrors v-if="errors.feature_id.length" :errors="errors.feature_id" ></FormErrors></td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;line-height:2.3rem">Start Date</th>
                            <td><Datepicker v-model="user_story.start_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" :disabled="view" :class="{'is-invalid': errors.start_date.length > 0}" />
                                <FormErrors v-if="errors.start_date.length" :errors="errors.start_date" ></FormErrors></td>
                            <th style="vertical-align: top;line-height:2.3rem">End Date</th>
                            <td><Datepicker v-model="user_story.end_date" format="yyyy-MM-dd" auto-apply :close-on-auto-apply="true" :enable-time-picker="false" input-class-name="dp-custom-input" :disabled="view" :class="{'is-invalid': errors.end_date.length > 0}" />
                                <FormErrors v-if="errors.end_date.length" :errors="errors.end_date" ></FormErrors></td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;line-height:2.3rem">Hours Planned</th>
                            <td><input type="number" class="form-control" v-model="user_story.hours_planned" :disabled="view" :class="{'is-invalid': errors.hours_planned.length > 0}" />
                                <FormErrors v-if="errors.hours_planned.length" :errors="errors.hours_planned" ></FormErrors></td>
                            <th style="vertical-align: top;line-height:2.3rem">Confidence %</th>
                            <td><input type="number" class="form-control" v-model="user_story.confidence_percentage" :disabled="view" :class="{'is-invalid': errors.confidence_percentage.length > 0}" />
                                <FormErrors v-if="errors.confidence_percentage.length" :errors="errors.confidence_percentage" ></FormErrors></td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;line-height:2.3rem">Estimated Cost</th>
                            <td><input type="number" class="form-control" v-model="user_story.estimate_cost" :disabled="view" :class="{'is-invalid': errors.estimate_cost.length > 0}" />
                                <FormErrors v-if="errors.estimate_cost.length" :errors="errors.estimate_cost" ></FormErrors></td>
                            <th style="vertical-align: top;line-height:2.3rem">Estimated Income</th>
                            <td><input type="number" class="form-control" v-model="user_story.estimate_income" :disabled="view" :class="{'is-invalid': errors.estimate_income.length > 0}" />
                                <FormErrors v-if="errors.estimate_income.length" :errors="errors.estimate_income" ></FormErrors></td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;line-height:2.3rem">Billable</th>
                            <td><select class="form-control" v-model="user_story.billable" :disabled="view" :class="{'is-invalid': errors.billable.length > 0}">
                                <option v-for="(value) in billable_drop_down" :key="value.value" :value="value.value" >{{value.name}}</option>
                            </select>
                            <FormErrors v-if="errors.billable.length" :errors="errors.billable" ></FormErrors></td>
                            <th style="vertical-align: top;line-height:2.3rem">Sprint</th>
                            <td><select class="form-control" v-model="user_story.sprint_id" :disabled="view" :class="{'is-invalid': errors.sprint_id.length > 0}">
                                <option :value="0">Please Select</option>
                                <option v-for="(value) in sprint_drop_down" :key="value.id" :value="value.id" >{{value.name}}</option>
                            </select>
                            <FormErrors v-if="errors.sprint_id.length" :errors="errors.sprint_id" ></FormErrors></td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;line-height:2.3rem">Dependency</th>
                            <td><select class="form-control" v-model="user_story.dependency_id" :disabled="view" :class="{'is-invalid': errors.dependency_id.length > 0}">
                                <option :value="0">Please Select</option>
                                <option v-for="(value) in user_story_drop_down" :key="value.id" :value="value.id" >{{value.name}}</option>
                            </select>
                            <FormErrors v-if="errors.dependency_id.length" :errors="errors.dependency_id" ></FormErrors></td>
                            <th style="vertical-align: top;line-height:2.3rem">Status</th>
                            <td><select class="form-control" v-model="user_story.status_id" :disabled="view" :class="{'is-invalid': errors.status_id.length > 0}">
                                <option :value="0">Please Select</option>
                                <option v-for="(value) in status_drop_down" :key="value.id" :value="value.id" >{{value.description}}</option>
                            </select>
                            <FormErrors v-if="errors.status_id.length" :errors="errors.status_id" ></FormErrors></td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;line-height:2.3rem">Details</th>
                            <td colspan="3" v-if="view">
                                <quill-editor
                                    :toolbar="quillToolbar"
                                    content-type="html"
                                    theme="snow"
                                    v-model:content="user_story.details"
                                    readOnly
                                ></quill-editor></td>
                            <td colspan="3" v-else>
                                <quill-editor
                                    :toolbar="quillToolbar"
                                    content-type="html"
                                    theme="snow"
                                    v-model:content="user_story.details" :class="{'is-invalid': errors.details.length > 0}"
                                ></quill-editor>
                                <FormErrors v-if="errors.details.length" :errors="errors.details" ></FormErrors></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-center pt-3" v-if="view">
                                <button class="btn btn-default mr-1" @click="closeModal()">Close</button>
                            </td>
                            <td colspan="4" class="text-center pt-3" v-else>
                                <button class="btn btn-default mr-1" @click="closeModal()">Cancel</button>
                                <button class="btn btn-success" v-if="!user_story.id" @click="saveUserStory()">Save</button>
                                <button class="btn btn-success" v-else @click="updateUserStory()">Save</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import Datepicker from '@vuepic/vue-datepicker';
import { quillToolbarOptions } from "@/utils/quill";
import {QuillEditor} from "@vueup/vue-quill";
import FormErrors from "./../Equipment/FormErrors.vue";

export default{
        components: {
            Datepicker,QuillEditor,FormErrors
        },
    props: {
        modalUserstory:{
            type: Boolean,
            default:false
        },
        viewUserstory:{
            type: Boolean,
            default:false
        },
        selected_project:{
            type: Number,
            default:0
        },
        selected_epic:{
            type: Number,
            default:0
        },
        selected_feature:{
            type: Number,
            default:0
        },
        search:{
            type: Object,
            default:{}
        },
        userstoryData:{
            type: Object,
            default:{}
        },
        featureData:{
            type: Object,
            default:{}
        }
    },
    data() {
        return {
            loader:true,
            modalActive:this.modalUserstory,
            view:this.viewUserstory,
            quillToolbar: quillToolbarOptions(),
            errors:{
                name:'',
                feature_id:'',
                status_id:'',
                start_date:'',
                end_date:'',
                billable:'',
                hours_planned:'',
                estimate_cost:'',
                estimate_income:'',
                confidence_percentage:'',
                dependency_id:'',
                details:'',
                sprint_id:''
            },
            user_story:{
                name:'',
                feature_id:this.selected_feature,
                start_date:this.featureData.start_date??this.today(),
                end_date:this.featureData.end_date??this.today(),
                hours_planned:0,
                confidence_percentage:0,
                estimate_cost:0,
                estimate_income:0,
                billable:this.featureData.billable??0,
                sprint_id:0,
                status_id:1,
                dependency_id:0,
                details:''
            },
            billable_drop_down:[
                {'value':1,'name':'Yes'},
                {'value':0,'name':'No'}
            ],
            feature_drop_down:[],
            user_story_drop_down:[],
            sprint_drop_down:[],
            status_drop_down:[]
            }
        },
        methods: {
            closeModal(){
                this.$emit('close-modal')
            },
            getDropdowns(){
                let params = {}
                if(this.userstoryData.id){
                    params = {
                        feature_id:parseInt(this.userstoryData.feature_id),
                        project_id:this.selected_project
                    }
                } else {
                    params = {
                        feature_id:this.selected_feature,
                        project_id:this.selected_project
                    }
                }

                axios.post(`/userstory/getdropdowns`,params)
                    .then(response => {
                        this.user_story.billable = response.data.feature.billable ?? '0'
                        this.feature_drop_down = response.data.featuresDropDown??[]      
                        this.user_story_drop_down = response.data.userStoryDropDown??[]                    
                        this.sprint_drop_down = response.data.sprintDropDown??[]                    
                        this.status_drop_down = response.data.statusDropDown??[]                 
                    })
                    .catch(error => {
                    })
            },
            today(){
                let date = new Date();
                let day, month;
                day = date.getDate() < 10 ? '0'+date.getDate():date.getDate();
                month = (date.getMonth() + 1) < 10 ? '0'+(date.getMonth()+1) : (date.getMonth()+1);

                return date.getFullYear()+'-'+month+'-'+day;
            },
            saveUserStory(){
                axios.post(`/userstory/saveuserstory`,this.user_story)
                    .then(response => {
                        
                        if (response.data.errors) {
                            this.handleValidation(response.data.errors);
                        } else {
                            this.$emit('close-modal',{status:'save',user_story:response.data.user_story}) 
                        }
                    })
                    .catch(error => {
                        console.error('Error saving feature:', error);
                    })
            },
            updateUserStory(){
                axios.post(`/userstory/updateuserstory`,this.user_story)
                    .then(response => {
                        if (response.data.errors) {
                            this.handleValidation(response.data.errors);
                        } else {
                            this.$emit('close-modal',{status:'update',user_story:response.data.user_story})        
                        }
                    })
                    .catch(error => {
                        console.error('Error updating feature:', error);
                    })
            },
            handleValidation: function (errors) {
            for (let [key, value] of Object.entries(this.errors)) {
                if (errors.hasOwnProperty(key)) {
                this.errors[key] = errors[key];
                }
            }
            }
        },
        mounted(){
            this.getDropdowns()
            if(this.userstoryData.id){
                this.user_story.id = this.userstoryData.id
                this.user_story.name = this.userstoryData.name
                this.user_story.feature_id = parseInt(this.userstoryData.feature_id)
                this.user_story.start_date = this.userstoryData.start_date
                this.user_story.end_date = this.userstoryData.end_date
                this.user_story.hours_planned = this.userstoryData.hours_planned??0
                this.user_story.confidence_percentage = this.userstoryData.confidence_percentage??0
                this.user_story.estimate_cost = this.userstoryData.estimate_cost??0
                this.user_story.estimate_income = this.userstoryData.estimate_income??0
                this.user_story.billable = this.userstoryData.billable??'0'
                this.user_story.sprint_id = this.userstoryData.sprint_id??0
                this.user_story.status_id = this.userstoryData.status_id??0
                this.user_story.dependency_id = this.userstoryData.dependency_id??0
                this.user_story.details = this.userstoryData.details??''
            }
        }
    }
    </script>