<template>
    <div class="py-3" style="width:100%;">
        <table class="table table-bordered">
            <tr>
                <th class="bg-dark" colspan="7">Account Manager</th>
            </tr>
            <tr>
                <th>Name</th>
                <th class="text-center">New</th>
                <th class="text-center">In Process</th>
                <th class="text-center">On Hold</th>
                <th class="text-center">Converted</th>
                <th class="text-right">Conversion %</th>
                <th class="text-right">Value</th>
            </tr>
            <tr v-for="(val,index) in val2" :key="index">
                <td>{{ val.account_manager }}</td>
                <td class="text-center">{{ val.new }}</td>
                <td class="text-center">{{ val.in_progress }}</td>
                <td class="text-center">{{ val.on_hold }}</td>
                <td class="text-center">{{ val.converted }}</td>
                <td class="text-right">{{ parseInt(val.converted_perc) * 1 ?? 0 }} %</td>
                <td class="text-right">{{ format(val.val) }}</td>
            </tr>
        </table>
    </div>
  </template>
  
  <script>
  export default {
    props: {
          value: {
              type: Object,
              default: {}
          }
      },
      data(){
        return {
            val2: []
        }
      },
      watch: { 
        value:{ deep: true,
      handler(newValue, oldValue) { // watch it
          this.val2 = newValue
        }
      }
      },
      methods:{
        format(num){
           return String(num).replace(/(?<!\..*)(\d)(?=(?:\d{3})+(?:\.|$))/g, '$1,')
        }
      }
  }
  </script>