<template>
  
  <div v-if="loader" style="min-height:45px;width:100%;height:100%;position: relative;">
        <div class="clock" style="left:55%;margin-top:-30px;"></div>
        </div> 
        <div v-else class="row w-100 p-0 m-0">
          <div class="row col-md-12">
              <new-deals :value="newDeals"></new-deals>
              <open-deals :value="openDeals"></open-deals>
              <no-actions :value="noActions"></no-actions>
              <actions :value="actionsCnt"></actions>
              <total :value="totalCnt"></total>
          </div>
          <div class="row col-md-12">
              <probability :value="probabilityData"></probability>
              <prospect :value="prospectData"></prospect>
          </div>
          <div class="row col-md-12">
              <decision :value="decisionData"></decision>
              <start :value="startData"></start>
          </div>
          <div class="row col-md-12">
              <account-manager :value="accountData"></account-manager>
          </div>
        </div>
  </template>
  <script>
  import NewDeals from '../regions/NewDeals.vue'
  import OpenDeals from '../regions/OpenDeals.vue'
  import NoActions from '../regions/NoActions.vue'
  import Actions from '../regions/Actions.vue'
  import Total from '../regions/TotalVal.vue'
  import Probability from '../overview/Probability.vue'
  import Prospect from '../overview/Prospect.vue'
  import Decision from '../overview/Decision.vue'
  import Start from '../overview/Start.vue'
  import AccountManager from '../overview/AccountManager.vue'
  
  export default {
    components: { NewDeals, OpenDeals, NoActions, Actions, Total, Probability, Prospect, Decision, Start, AccountManager },
    props: {
          new: {
              type: Number,
              default: 0
          },
          open: {
              type: Number,
              default: 0
          },
          noaction: {
              type: Number,
              default: 0
          },
          action: {
              type: Number,
              default: 0
          },
          totaln: {
              type: Number,
              default: 0
          },
          prob: {
              type: Object,
              default: {}
          },
          pros: {
              type: Object,
              default: {}
          },
          dec: {
              type: Object,
              default: {}
          },
          start: {
              type: Object,
              default: {}
          },
          account: {
              type: Array,
              default: []
          }
      },
      watch: { 
        new(newVal, oldVal) { // watch it
          this.newDeals = newVal
        },
        open(newVal, oldVal) { // watch it
          this.openDeals = newVal
        },
        noaction(newVal, oldVal) { // watch it
          this.noActions = newVal
        },
        action(newVal, oldVal) { // watch it
          this.actionsCnt = newVal
        },
        totaln(newVal, oldVal) { // watch it
          this.totalCnt = newVal
        },
        prob:{ deep: true,
          handler(newValue, oldValue) { // watch it
              this.probabilityData = newValue
            }
          },
        pros:{ deep: true,
        handler(newValue, oldValue) { // watch it
            this.prospectData = newValue
          }
        },
        dec:{ deep: true,
        handler(newValue, oldValue) { // watch it
            this.decisionData = newValue
          }
        },
        start:{ deep: true,
        handler(newValue, oldValue) { // watch it
            this.startData = newValue
          }
        },
        account:{ deep: true,
        handler(newValue, oldValue) { // watch it
            this.accountData = newValue
          }
        }
      },
    data() {
      return {
        loader:false,
        newDeals:0,
        openDeals:0,
        noActions:0,
        actionsCnt:0,
        totalCnt:0,
        probabilityData:[],
        prospectData:[],
        decisionData:[],
        startData:[],
        accountData:[]
      }
    },
    mounted(){
    }
  }

    </script>