<template>
    <div class="pr-3 py-3" style="width:49.5%;margin-right: .5%;">
        <table class="table table-bordered">
            <tr>
                <th class="bg-dark" colspan="4">Probability</th>
            </tr>
            <tr>
                <th>From</th>
                <th>To</th>
                <th class="last px-2">Number of</th>
                <th class="text-right">Value</th>
            </tr>
            <tr v-for="(val,index) in val2" :key="index">
                <td>{{ val.from_range }}</td>
                <td>{{ val.to_range }}</td>
                <td class="text-center">{{ val.cnt }}</td>
                <td class="text-right">{{ format(val.val) }}</td>
            </tr>
        </table>
    </div>
  </template>
  
  <script>
  export default {
      props: {
          value: {
              type: Object,
              default: {}
          }
      },
      data(){
        return {
            val2: []
        }
      },
      watch: { 
        value:{ deep: true,
      handler(newValue, oldValue) { // watch it
          this.val2 = newValue
        }
      }
      },
      methods:{
        format(num){
           return String(num).replace(/(?<!\..*)(\d)(?=(?:\d{3})+(?:\.|$))/g, '$1,')
        }
      }
  }
  </script>