<template>
  <table class="table table-bordered table-sm">
    <thead class="bg-dark">
    <tr>
      <th colspan="3" >Template Header </th>
      <th class="text-right"><button class="btn btn-primary" @click.prevent="preview"><i class="fa fa-search-plus" aria-hidden="true"></i> Preview</button></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Template Name</th>
      <td>
        <input type="text" v-model="form.name" class="form-control form-control-sm" :class="{'is-invalid': errors.name.length}">
        <FormErrors v-if="errors.name.length" :errors="errors.name" />
      </td>
      <th>Template Type</th>
      <td>
        <select v-model="form.template_type_id" class="form-control form-control-sm" :class="{'is-invalid': errors.template_type_id.length}" @change="getVariables(form.template_type_id)">
          <option value="0" disabled>Select Template Type</option>
          <option v-for="type in templateTypes" :key="type.id" :value="type.id">{{type.name}}</option>
        </select>
        <FormErrors v-if="errors.template_type_id.length" :errors="errors.template_type_id" />
      </td>
    </tr>
    <tr class="bg-dark">
      <th colspan="4">Template Body</th>
    </tr>
    <tr>
      <td colspan="4">
        <div ref="editor">
          <template v-html="form.template_body"></template>
        </div>
        <FormErrors v-if="errors.template_body.length" :errors="errors.template_body" />
      </td>
    </tr>
    <tr class="bg-dark">
      <th colspan="4">Template Variables</th>
    </tr>
    <tr>
      <th>Variable</th>
      <th colspan="4">Description</th>
    </tr>
    <tr v-for="variable in variables">
      <td>[{{variable.variable}}]</td>
      <td colspan="3">{{variable.value}}</td>
    </tr>
    </tbody>
  </table>
  <div class="setup2" v-if="modalActive">
    <div v-show="modalActive" class="vuemodal2">
      <div v-if="storing" style="min-height:150px;width:100%;height:95vh;position: relative;">
        <div class="clock"></div>
      </div>
      <div v-show="modalActive && !storing">
        <div v-html="template"></div>
        <div class="d-flex justify-content-between mb-3 mt-4">
          <a class="btn btn-secondary" @click="modalActive = false">Cancel</a>
          <a class="btn btn-dark ml-1" @click="storeTemplate" :class="{'disabled': storing}">{{editing ? 'Update' : 'Save'}}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {defineComponent} from 'vue';
import Quill from "quill";
import {Mention, MentionBlot} from "quill-mention";
import 'quill/dist/quill.snow.css'
import FormErrors from "@/components/Equipment/FormErrors.vue";
import toast from "bootstrap/js/src/toast";

Quill.register({
  "blots/mention": MentionBlot,
  "modules/mention": Mention
});

export default defineComponent({
  name: "CreateTemplate",
  components: {FormErrors},
  props: ['templateData'],
  mounted() {
    this.getTemplateTypes()
    this.initQuill();

    if (this.templateData) {

      this.form.name = this.templateData.name;
      this.form.template_type_id = this.templateData.template_type_id;
      this.form.template_body = this.templateData.template_body;
      if (this.quill) {
        this.quill.root.innerHTML = this.templateData.template_body;
      }

      this.getVariables()

      this.editing = true;
    }



  },
  data(){
    return {
      templateTypes: [],
      mentions: [],
      variables: [],
      quill: null,
      modalActive: false,
      template: "",
      editing: false,
      storing: false,
      form: {
        template_type_id: 0,
        name: '',
        template_body: ""
      },
      errors: {
        template_type_id: 0,
        name: "",
        template_body: ""
      }
    }
  },
  methods: {
    getTemplateTypes: async function () {
      try {
        const response = await fetch('/api/templatetypes');
        const res = await response.json();
        this.templateTypes = res.templates;
      }catch (e) {
        console.error(e)
      }
    },
    getVariables: async function () {
      try {
        const response = await fetch(`/api/variables/${this.form.template_type_id}`);
        const res = await response.json();
        this.variables = res;
        let items = res.map((item) => {
          return {id: item.id, value: item.variable+"]"};
        })

        let mention = this.quill?.getModule('mention');

        // Update the source function
        mention.options.source = function(searchTerm, renderList) {
          const matches = items.filter(item =>
              item.value.toLowerCase().includes(searchTerm.toLowerCase())
          );
          renderList(matches);
        };
      }catch (e){
        console.error(e)
      }
    },
    preview: async  function () {
      this.form.template_body = this.quill.root.innerHTML;
      if (this.form.name.length < 1) {
        this.errors.name = ["The name field is required"];
      }else {
        this.errors.name = []
      }

      if (!this.form.template_type_id) {
        this.errors.template_type_id = ["The template type field is required"];
      }else {
        this.errors.template_type_id = []
      }

      if (this.form.template_body.length < 1) {
        this.errors.template_body = ["The template body field is required"];
      }else {
        this.errors.template_body = []
      }

      if(this.errors.name.length || this.errors.template_type_id.length || this.errors.template_body.length) {
        return false;
      }

      try {
        const response = await fetch('/api/advanced_templates/preview', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(this.form),
        });

        if (!response.ok) {
          throw new Error('Network response was not ok');
        }

        const result = await response.json();

        this.template = result.template;

        this.modalActive = true;

      }catch (e) {
        console.error('Error: ', e)
      }
    },
    storeTemplate: async function () {
      this.storing = true;
      const url = this.editing ? `/api/advanced_templates/${this.templateData.id}` : '/api/advanced_templates'

      try {
        const response = await fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(this.form),
        });

        if (!response.ok) {
          throw new Error('Network response was not ok');
        }

        window.location.href = "/advancedtemplate/index"

      }catch (e) {

      }
    },
    initQuill: function (){
      const atValues = this.mentions;
      const hashValues = [

      ];

      let editor = this.$refs.editor;

      const quill = new Quill(editor, {
        theme: 'snow',
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block'],
            ['link', 'formula'],

            [{ 'header': 1 }, { 'header': 2 }],               // custom button values
            [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
            [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
            [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
            [{ 'direction': 'rtl' }],                         // text direction

            [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'font': [] }],
            [{ 'align': [] }],

            ['clean']                                         // remove formatting button
          ],
          mention: {
            allowedChars: /^[A-Za-z\sÅÄÖåäö]*$/,
            mentionDenotationChars: ["[", "#"],
            source: function(searchTerm, renderList, mentionChar) {
              let values;

              if (mentionChar === "[") {
                values = atValues;
              } else {
                values = hashValues;
              }

              if (searchTerm.length === 0) {
                renderList(values, searchTerm);
              } else {
                const matches = [];
                for (let i = 0; i < values.length; i++)
                  if (
                      ~values[i].value.toLowerCase().indexOf(searchTerm.toLowerCase())
                  )
                    matches.push(values[i]);
                renderList(matches, searchTerm);
              }
            }
          }
        }
      });

      //quill.root.onblur = () => this.form.template_body = quill.root.innerHTML;

      this.quill = quill;
    }
  }
})
</script>

<style>
.vuemodal2{
  background: #ffffff;
  padding: 15px;
  width:55vw;
  max-height: 95vh;
  overflow-y: scroll;
  border-radius: 7px;
  position: absolute;
}
.setup2{
  width: 100vw;
  height:100vh;
  background: rgba(0,0,0,0.7);
  position: fixed;
  top:0;
  left:0;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ql-mention-list-container{background-color:#fff;border:1px solid #f0f0f0;border-radius:4px;box-shadow:0 2px 12px 0 rgba(30,30,30,.08);overflow:auto;width:270px;z-index:9001}.ql-mention-loading{font-size:16px;line-height:44px;padding:0 20px;vertical-align:middle}.ql-mention-list{list-style:none;margin:0;overflow:hidden;padding:0}.ql-mention-list-item{cursor:pointer;font-size:16px;line-height:44px;padding:0 20px;vertical-align:middle}.ql-mention-list-item.disabled{cursor:auto}.ql-mention-list-item.selected{background-color:#d3e1eb;text-decoration:none}.mention{background-color:#d3e1eb;border-radius:6px;height:24px;margin-right:2px;padding:3px 0;user-select:all;width:65px}.mention>span{margin:0 3px}
.ql-align-right{
  text-align: right!important;
}
.ql-align-center{
  text-align: center!important;
}
.ql-container {
  box-sizing: border-box;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px;
  min-height: 220px;
  height: 100%;
  margin: 0;
  position: relative;
}
</style>