<script lang="ts">
import {defineComponent} from 'vue'

export default defineComponent({
  name: "GoalComponent",
  props: {
    sprintId:{
      type:Number,
      defualt:{}
    }
  },
  mounted() {
    this.getGoals();
  },
  data(){
    return {
      goals: [],
      addGoal: false,
      edit: false,
      name: '',
      editFieldId: 0
    }
  },
  methods: {
    async getGoals(){
      const response = await fetch('/api/goal/'+this.sprintId);
      response.json().then(res => this.goals = res.goals);
    },
    toogleEdit(goal){
      this.editFieldId = goal.id;
      this.name = goal.name;
    },
    saveGoal(){
      fetch('/api/goal/'+this.sprintId, {
        method: "post",
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          name: this.name,
        })
      }).then( (response) => {
            this.addGoal = false;
            this.name = '';
            this.getGoals();
      }).catch(err => console.log("something went wrong"))
    },
    updateGoal(goal_id){
      fetch(`/api/goal/${goal_id}/update`, {
        method: "post",
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          name: this.name,
        })
      }).then( (response) => {
        this.editFieldId = 0;
        this.name = '';
        this.getGoals();
      }).catch(err => console.log("something went wrong"))
    },
    async deleteGoal(goal_id){
        const response = await this.confirm("Are you sure you want to delete this record?","Confirmation").then(() => fetch('/api/goal/'+goal_id+'/delete'));
        response.json().then(res => this.getGoals());
    }
  }
})
</script>

<template>
  <div>
    <div class="table-responsive">
      <table class="table table-sm">
        <tr v-for="goal in goals" :key="goal.id">
          <td>
            <template v-if="editFieldId === goal.id">
              <input type="text" class="form-control" v-model="name" >
            </template>
            <template v-else>
              {{goal.name}}
            </template>

          </td>
          <td class="text-right" style="width: 10%">
            <button v-if="editFieldId === goal.id" class="btn btn-sm btn-info mr-2" @click.prevent="updateGoal(goal.id)"><i class="fa fa-save"></i></button>
            <button v-else class="btn btn-sm btn-success mr-2" @click.prevent="toogleEdit(goal)"> <i class="fa fa-pencil-alt"></i></button>

            <button class="btn btn-sm btn-danger" @click.prevent="deleteGoal(goal.id)"> <i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr v-if="!addGoal">
          <td class="text-right" colspan="100%">
            <button class="btn btn-sm btn-dark" @click.prevent="addGoal = !addGoal"><i class="fa fa-plus"></i> Add Goal</button>
          </td>
        </tr>
        <tr v-if="addGoal">
          <td>
            <input type="text" class="form-control" v-model="name" >
          </td>
          <td class="text-right">
            <button class="btn btn-sm btn-dark" @click.prevent="saveGoal"><i class="fa fa-save"></i> Save Goal</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<style scoped>

</style>