<script lang="ts">
import {defineComponent} from 'vue'

export default defineComponent({
  name: "SprintReviewComponent",
  props: {
    sprintId:{
      type:Number,
      defualt:{}
    }
  },
  mounted() {
    this.getReviews()
  },
  data(){
    return{
      reviews: [],
      add_went_well: false,
      add_went_wrong: false,
      add_improvement: false,
      body: '',
      editFieldId: 0,
    }
  },
  methods:{
    async getReviews(){
      const response = await fetch('/api/sprintreview/'+this.sprintId);
      response.json().then(res => {
        this.reviews = res
      });
    },
    saveGoal(type){
      fetch('/api/sprintreview/'+this.sprintId, {
        method: "post",
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          body: this.body,
          review_type: type
        })
      }).then( (response) => {
        this.body = '';
        this.getReviews();
      }).catch(err => console.log("something went wrong"))
    },
    addReview(type){
      if (type === 'well'){
        this.add_went_wrong = false;
        this.add_improvement = false;
        this.add_went_well = true;
      }else if (type === 'wrong'){
        this.add_improvement = false;
        this.add_went_well = false;
        this.add_went_wrong = true;
      }else {
        this.add_went_well = false;
        this.add_went_wrong = false;
        this.add_improvement = true;
      }
    },
    toogleEdit(review){
      this.editFieldId = review.id;
      this.body = review.body;
    },
    updateReview(review_id){
      fetch(`/api/sprintreview/${review_id}/update`, {
        method: "post",
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          body: this.body,
        })
      }).then( (response) => {
        this.body = '';
        this.editFieldId = 0;
        this.getReviews();
      }).catch(err => console.log("something went wrong"))
    },
    async deleteReview(review_id){
      const response = await this.confirm("Are you sure you want to delete this record?","Confirmation").then(() =>fetch(`/api/sprintreview/${review_id}/delete`));
      response.json().then(res => this.getReviews());
    }
  }
})
</script>

<template>
  <div>
    <div class="table-responsive">
      <table class="table table-sm">
        <tr class="btn-dark">
          <th colspan="100%">What went well?</th>
        </tr>
        <tr v-for="(review, index) in reviews['went well']" :key="review.id">
          <td>
            <template v-if="editFieldId === review.id">
                <input type="text" class="form-control" v-model="body" >
            </template>
            <template v-else>
              <span class="pr-1">{{index + 1}}.</span>{{review.body}}
            </template>
          </td>
          <td class="text-right" style="width: 10%">
            <button  v-if="editFieldId === review.id" class="btn btn-sm btn-info mr-2" @click.prevent="updateReview(review.id)"><i class="fa fa-save"></i></button>
            <button v-else class="btn btn-sm btn-success mr-2" @click.prevent="toogleEdit(review)"> <i class="fa fa-pencil-alt"></i></button>
            <button class="btn btn-sm btn-danger" @click.prevent="deleteReview(review.id)"> <i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr v-if="!add_went_well">
          <td class="text-right" colspan="100%">
            <button class="btn btn-sm btn-dark" @click.prevent="addReview('well')"><i class="fa fa-plus"></i> Add Line</button>
          </td>
        </tr>
        <tr v-if="add_went_well">
          <td>
            <input type="text" class="form-control" v-model="body" >
          </td>
          <td class="text-right" style="width: 10%">
            <button class="btn btn-sm btn-dark mr-2" @click.prevent="saveGoal('went well')"><i class="fa fa-save"></i></button>
            <button class="btn btn-sm btn-danger" @click.prevent="add_went_well = !add_went_well"><i class="fa fa-times"></i> </button>
          </td>
        </tr>

        <tr class="btn-dark">
          <th colspan="100%">What went wrong?</th>
        </tr>
        <tr v-for="(review, index) in reviews['went wrong']" :key="review.id">
          <td>
            <template v-if="editFieldId === review.id">
              <span class="pr-1">{{index + 1}}.</span><input type="text" class="form-control" v-model="body" >
            </template>
            <template v-else>
              <span class="pr-1">{{index + 1}}.</span>{{review.body}}
            </template>
          </td>
          <td class="text-right" style="width: 10%">
            <button  v-if="editFieldId === review.id" class="btn btn-sm btn-info mr-2" @click.prevent="updateReview(review.id)"><i class="fa fa-save"></i></button>
            <button v-else class="btn btn-sm btn-success mr-2" @click.prevent="toogleEdit(review)"> <i class="fa fa-pencil-alt"></i></button>
            <button class="btn btn-sm btn-danger" @click.prevent="deleteReview(review.id)"> <i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr v-if="!add_went_wrong">
          <td class="text-right" colspan="100%">
            <button class="btn btn-sm btn-dark" @click.prevent="addReview('wrong')"><i class="fa fa-plus"></i> Add Line</button>
          </td>
        </tr>
        <tr v-if="add_went_wrong">
          <td>
            <input type="text" class="form-control" v-model="body" >
          </td>
          <td class="text-right" style="width: 10%">
            <button class="btn btn-sm btn-dark mr-2" @click="saveGoal('went wrong')"><i class="fa fa-save"></i> </button>
            <button class="btn btn-sm btn-danger" @click="add_went_wrong = !add_went_wrong"><i class="fa fa-times"></i> </button>
          </td>
        </tr>

        <tr class="btn-dark">
          <th colspan="100%">What can we improve?</th>
        </tr>
        <tr v-for="(review, index) in reviews['needs improvement']" :key="review.id">
          <td>
            <template v-if="editFieldId === review.id">
              <span class="pr-1">{{index + 1}}.</span><input type="text" class="form-control" v-model="body" >
            </template>
            <template v-else>
              <span class="pr-1">{{index + 1}}.</span>{{review.body}}
            </template>
          </td>
          <td class="text-right" style="width: 10%">
            <button  v-if="editFieldId === review.id" class="btn btn-sm btn-info mr-2" @click.prevent="updateReview(review.id)"><i class="fa fa-save"></i></button>
            <button v-else class="btn btn-sm btn-success mr-2" @click.prevent="toogleEdit(review)"> <i class="fa fa-pencil-alt"></i></button>
            <button class="btn btn-sm btn-danger" @click.prevent="deleteReview(review.id)"> <i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr v-if="!add_improvement">
          <td class="text-right" colspan="100%">
            <button class="btn btn-sm btn-dark" @click="addReview('improvement')"><i class="fa fa-plus"></i> Add Line</button>
          </td>
        </tr>
        <tr v-if="add_improvement">
          <td>
            <input type="text" class="form-control" v-model="body" >
          </td>
          <td class="text-right" style="width: 10%">
            <button class="btn btn-sm btn-dark mr-2" @click="saveGoal('needs improvement')"><i class="fa fa-save"></i></button>
            <button class="btn btn-sm btn-danger" @click="add_improvement = !add_improvement"><i class="fa fa-times"></i> </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<style scoped>

</style>