<script lang="ts">
import {defineComponent} from 'vue'

export default defineComponent({
  name: "SprintCompleteModal",
  props: ['sprintId'],
  data(){
    return {
      sprintAction: 'open'
    }
  },
  methods: {
    complete() {
      this.$refs.save.disabled = true;
      fetch(`/api/sprint/complete/${this.sprintId}`, {
        method: "POST",
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          sprintAction: this.sprintAction,
        })
      }).then(data => window.location.reload())
          .catch(err => console.error("Error: ", err))
    }
  }
})
</script>

<template>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-dark float-right ml-1" data-toggle="modal" data-target="#exampleModal">
    Complete Sprint
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Complete Sprint</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-check">
            <input class="form-check-input" type="radio" v-model="sprintAction" id="exampleRadios1" value="open" checked>
            <label class="form-check-label" for="exampleRadios1">
              Leave open tasks open
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" v-model="sprintAction" id="exampleRadios2" value="complete">
            <label class="form-check-label" for="exampleRadios2">
              Complete all open tasks
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" v-model="sprintAction" id="exampleRadios3" value="create">
            <label class="form-check-label" for="exampleRadios3">
              Create a new sprint and recreate open tasks
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ref="save" @click="complete">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.modal-dialog{
  width: 40%!important;
}
</style>