<script lang="ts">
import {defineComponent} from 'vue'

export default defineComponent({
  name: "SprintResourcesComponent",
  props:{
    sprintId:{
      type:Number,
      defualt:{}
    },
    projectId:{
      type: Number,
      default: {}
    }
  },
  mounted() {
    this.getResources()
  },
  data(){
    return {
      resources: [],
      editFieldId: 0,
      addResource: false,
      capacity: ''
    }
  },
  methods: {
    async getResources(){
      const response = await fetch('/api/sprintresource/'+this.sprintId);
      response.json().then(res => this.resources = res);
      console.log(this.resources)
    },
    updateResource(resource_id){
      fetch(`/api/sprintresource/${resource_id}/update`, {
        method: "post",
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          capacity: this.capacity,
        })
      }).then( (response) => {
        this.editFieldId = 0;
        this.capacity = '';
        this.getResources();
      }).catch(err => console.log("something went wrong"))
    },
    toogleEdit(resource){
      this.editFieldId = resource.id;
      this.capacity = resource.capacity;
    }
  }
})
</script>

<template>
  <div>
    <div class="table-responsive">
      <table class="table table-sm">
        <thead class="bg-dark">
          <tr>
            <th>Resource</th>
            <th>Function</th>
            <th>Capacity</th>
            <th class="last">Actions</th>
          </tr>
        </thead>
        <tr v-for="resource in resources" :key="resource.id">
          <td>{{resource.resource?.first_name}} {{resource.resource?.last_name}}</td>
          <td>{{resource.function?.description}}</td>
          <td>
            <template v-if="editFieldId === resource.id">
              <input type="text" class="form-control" v-model="capacity" >
            </template>
            <template v-else>
              {{resource.capacity}}
            </template>
          </td>
          <td class="text-right last">
            <button v-if="editFieldId === resource.id" class="btn btn-sm btn-info mr-2" @click.prevent="updateResource(resource.id)"><i class="fa fa-save"></i></button>
            <button v-else class="btn btn-sm btn-success mr-2" @click.prevent="toogleEdit(resource)"> <i class="fa fa-pencil-alt"></i></button>

            <button class="btn btn-sm btn-danger" @click="deleteResource(resource.id)"> <i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr>
          <td class="text-right" colspan="100%">
            <a :href="`/project/${projectId}`" class="btn btn-sm btn-dark" target="_blank">Add Resource</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<style scoped>

</style>