<template>
  <table class="table table-bordered table-sm" style="width: 100%;">
    <thead class="bg-dark">
      <tr>
        <th colspan="8">Additional Actions <span style="cursor: pointer" data-toggle="tooltip" data-placement="right" title="This section manages additional cost associated with the equipment. E.g. Repairs or upgrades."><i class="far fa-question-circle"></i></span></th>
      </tr>
      <tr>
        <th>Date</th>
        <th class="text-right pr-3">Cost</th>
        <th>Warranty</th>
        <th>Insurance</th>
        <th>Support Ref.</th>
        <th class="w-50">Note</th>
        <th>Actions</th>
        <th><button class="btn btn-sm" data-toggle="modal" data-target="#additionalCostModal"><i class="fa fa-plus"></i> Cost</button></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="cost in costs" :key="cost.id">
        <td>{{toDateString(cost.date)}}</td>
        <td class="text-right pr-3">{{cost.cost}}</td>
        <td>{{cost.warranty}}</td>
        <td>{{cost.insurance}}</td>
        <td>{{cost.support_ref}}</td>
        <td>{{cost.notes}}</td>
        <td colspan="2">
          <button class="btn btn-sm btn-success mr-2" data-toggle="modal" data-target="#additionalCostModal" @click="editCost(cost)"><i class="fa fa-pencil"></i> Edit</button>
          <button class="btn btn-sm btn-danger" @click="deleteCost(cost.id)"><i class="fa fa-trash"></i> Delete</button>
        </td>
      </tr>
      <tr v-if="!costs.length">
        <td colspan="8" class="text-center">This equipment does not have any additional actions.</td>
      </tr>
    </tbody>
  </table>

  <!-- TODO: Move the modal to a separate component -->

  <!-- Modal -->
  <div class="modal fade bd-example-modal-sm" id="additionalCostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Additional Cost</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="issued_at">Date Issued</label>
            <input type="date" class="form-control" :class="{'is-invalid': errors.date.length}" id="issued_at" v-model="form.date" >
            <FormErrors v-if="errors.date.length" :errors="errors.date" ></FormErrors>
          </div>
          <div class="form-group">
            <label for="cost">Cost</label>
            <input type="text" class="form-control" :class="{'is-invalid': errors.cost.length}" id="cost" v-model="form.cost" >
            <FormErrors v-if="errors.cost.length" :errors="errors.cost" ></FormErrors>
          </div>
          <div class="form-group">
            <label for="warranty">Warranty</label>
            <input type="text" class="form-control" :class="{'is-invalid': errors.warranty.length}" v-model="form.warranty" id="warranty">
            <FormErrors v-if="errors.warranty.length" :errors="errors.warranty" ></FormErrors>
          </div>
          <div class="form-group">
            <label for="insurance">Insurance</label>
            <input type="text" class="form-control" :class="{'is-invalid': errors.insurance.length}" id="insurance" v-model="form.insurance" >
            <FormErrors v-if="errors.insurance.length" :errors="errors.insurance" ></FormErrors>
          </div>
          <div class="form-group">
            <label for="support_ref">Support Ref</label>
            <input type="text" class="form-control" :class="{'is-invalid': errors.support_ref.length}" v-model="form.support_ref" id="support_ref">
            <FormErrors v-if="errors.support_ref.length" :errors="errors.support_ref" ></FormErrors>
          </div>
          <div class="form-group">
            <label for="note">Note</label>
            <textarea v-model="form.notes" id="note" class="form-control" :class="{'is-invalid': errors.notes.length}" rows="4"></textarea>
            <FormErrors v-if="errors.notes.length" :errors="errors.notes" ></FormErrors>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" ref="close">Close</button>
          <button type="button" class="btn btn-primary" @click="is_editing ? updateCost() : storeCost()" ref="save">{{is_editing ? "Update" : "Save"}}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {defineComponent} from 'vue'
import moment from "moment";
import FormErrors from "@/components/Equipment/FormErrors.vue";
import toast from "bootstrap/js/src/toast";

export default defineComponent({
  name: "AdditionalCosts",
  components: {FormErrors},
  props: {
    assetId: {
      type: Number,
      required: true
    }
  },
  mounted() {
    this.getCostsList();
  },
  data(){
    return {
      form: {
        date: moment(new Date()).format('YYYY-MM-DD'),
        cost: 0.00,
        warranty: "",
        insurance: "",
        support_ref: "",
        notes: "",
      },
      errors: {
        date: [],
        cost: [],
        warranty: [],
        insurance: [],
        support_ref: [],
        notes: [],
      },
      costs: [],
      is_editing: false
    }
  },
  methods: {
    getCostsList: async function () {
      await fetch(`/api/additional-costs/${this.assetId}`)
          .then(response => response.json())
          .then(data => this.costs = data.costs)
          .catch(error => console.log(error));
    },
    toDateString: function(date){
      return moment(date).format('YYYY-MM-DD');
    },
    storeCost: function(){
      this.$refs.save.disabled = true;
      fetch(`/api/additional-cost/${this.assetId}`, {
        headers: {
          'Content-Type': 'application/json',
        },
        method: 'POST',
        body: JSON.stringify(this.form)
      }).then(res => res.json()).then(data => {
        if (data.errors) {
          this.handleValidation(data.errors);
          this.$refs.save.disabled = false;
        }else {
          this.form.date = this.toDateString(new Date());
          this.form.cost = 0;
          this.form.warranty = "";
          this.form.insurance = "";
          this.form.support_ref = "";
          this.form.notes = "";
          this.costs.unshift(data.cost);
          this.$refs.close.click();
          toast.success("<strong>Success!</strong> Cost created successfully.");
        }
      }).catch(err => {
        console.log(err);
        this.$refs.save.disabled = false;
      });
    },
    editCost: function(cost){
      this.is_editing = true;
      this.form = {
        date: this.toDateString(cost.date),
        cost: cost.cost,
        warranty: cost.warranty,
        insurance: cost.insurance,
        support_ref: cost.support_ref,
        notes: cost.notes,
      }
    },
    updateCost: function () {
      fetch(`/api/additional-cost/${this.assetId}`, {
        headers: {
          'Content-Type': 'application/json',
        },
        method: 'PATCH',
        body: JSON.stringify(this.form)
      }).then(res => res.json())
          .then(data => {
            if (data.errors) {
              this.handleValidation(data.errors);
              this.$refs.save.disabled = false;
            }else {
              this.form = {
                cost: 0,
                warranty: "",
                insurance: "",
                support_ref: "",
                notes: "",
              }
              this.updateIssuesList(data.cost)
              this.$refs.close.click();
              this.$refs.save.disabled = false;
              toast.success("<strong>Success!</strong> Cost updated successfully.");
            }
          })
          .catch(err => console.error("Error: ", err));
    },
    updateIssuesList: function (issue) {
      this.costs = this.costs.map((value, index) => {
        if (value.id === issue.id) {
          value = issue
        }
        return value;
      })
    },
    deleteCost: function (costId){
      this.confirm("Are you sure you want to delete this record?", "Confirmation").then(() => {
        fetch(`/api/additional-cost/${costId}`, {
          method: 'DELETE',
        }).then(res => res.json()).then(data => {
          if (data.message)
          {
            const index = this.costs.findIndex(cost => cost.id === costId);
            if (index !== -1) {
              this.costs.splice(index, 1);
            }
            toast.success("<strong>Success!</strong> Cost deleted successfully.");
          }
        }).catch(err => console.log(err));
      });
    },
    handleValidation: function (errors) {
      for (let [key, value] of Object.entries(this.errors)) {
        if (errors.hasOwnProperty(key)) {
          this.errors[key] = errors[key];
        }
      }
    }
  }
})
</script>

<style scoped>
.modal.show .modal-dialog {
  max-width: 45%!important;
}
</style>