<template>
  <table class="table table-bordered table-sm" style="width: 100%;">
    <thead class="bg-dark">
      <tr>
        <th colspan="6">Issued <span style="cursor: pointer" data-toggle="tooltip" data-placement="right" title="This section manages the equipment assignment."><i class="far fa-question-circle"></i></span></th>
      </tr>
      <tr>
        <th>Date Issued</th>
        <th>Issued To</th>
        <th>Include in Letter</th>
        <th>Note</th>
        <th>Actions</th>
        <th>
          <button type="button" class="btn btn-sm btn-primary text-right" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus" aria-hidden="true"></i> Issue</button>
        </th>
      </tr>
    </thead>
    <tbody>
    <tr v-for="issue in issues" :key="issue.id">
      <td>{{toDateString(issue.issued_at)}}</td>
      <td>{{issue.issued_to}}</td>
      <td>{{issue.include_in_letter}}</td>
      <td class="w-50">{{issue.note}}</td>
      <td colspan="2">
        <button class="btn btn-sm btn-success mr-2" data-toggle="modal" data-target="#exampleModal" @click="editingIssue(issue)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
        <button class="btn btn-sm btn-danger" @click="deleteIssue(issue.id)"><i class="fa fa-trash" aria-hidden="true" ></i> Delete</button>
      </td>
    </tr>
    <tr v-if="!issues.length">
      <td colspan="6" class="text-center">This equipment does not have any history yet.</td>
    </tr>
    </tbody>
  </table>

  <!-- TODO: Move the modal to a separate component -->

  <!-- Modal -->
  <div class="modal fade bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Issue</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="issued_at">Date Issued</label>
            <input type="date" class="form-control" :class="{'is-invalid': errors.issued_at.length}" id="issued_at" v-model="issued_at">
            <FormErrors v-if="errors.issued_at.length" :errors="errors.issued_at" ></FormErrors>
          </div>
          <div class="form-group">
            <label for="issued_to">Issued To</label>
            <select name="" id="issued_to" ref="issued_to" class="form-control" :class="{'is-invalid' : errors.issued_to.length}" v-model="issued_to">
              <option value="0" disabled>Select Name</option>
              <option v-for="user in usersDropdown" :key="user.id" :value="user.id">{{user.full_name}}</option>
            </select>
            <FormErrors v-if="errors.issued_to.length" :errors="errors.issued_to" ></FormErrors>
          </div>
          <div class="form-group">
            <label for="">Include in acceptance Letter</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" v-model="in_acceptance_letter" id="no" value="0" checked>
              <label class="form-check-label" for="no">
                No
              </label>
            </div>
            <div class="form-check  form-check-inline">
              <input class="form-check-input" type="radio" v-model="in_acceptance_letter" id="yes" value="1">
              <label class="form-check-label" for="yes">
                Yes
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="note">Note</label>
            <textarea v-model="note" id="note" class="form-control" :class="{'is-invalid': errors.note.length}" rows="4"></textarea>
            <FormErrors v-if="errors.note.length" :errors="errors.note" ></FormErrors>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" ref="close">Close</button>
          <button type="button" class="btn btn-primary" @click="!is_editing ? storeIssue() : updateIssue()" ref="save">{{!is_editing ? "Save" : "Update"}}</button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import {defineComponent} from 'vue';
import moment from "moment";
import FormErrors from "./FormErrors.vue";
import toast from "bootstrap/js/src/toast";

export default defineComponent({
  name: "EquipmentHistory",
  components: { FormErrors },
  props: {
    assetId: {
      type: Number,
      required: true
    }
  },
  mounted() {
    this.getUsersDropdown();
    this.getIssues();
  },
  data(){
    return {
      issued_at: this.toDateString(new Date()),
      issued_to: 0,
      usersDropdown: [],
      note: null,
      in_acceptance_letter: 0,
      issues: [],
      errors: {
        asset_id: [],
        issued_at: [],
        issued_to: [],
        note: [],
        in_acceptance_letter: []
      },
      is_editing: false,
      issueId: 0
    }
  },
  methods: {
    toDateString: function(date){
      return moment(date).format('YYYY-MM-DD');
    },
    getUsersDropdown: async function () {
      const response = await fetch("/api/usersdropdown");
      const users = await response.json();
      this.usersDropdown = users.users;
    },
    getIssues: async function () {
      await fetch(`/api/issue/${this.assetId}`).then(res => {
        try {
          return res.json();
        }catch (e) {
          console.error(e.getMessage())
        }
      })
          .then(data => this.issues = data.data).catch(err => console.log(err));
    },
    storeIssue: function(){
      this.$refs.save.disabled = true;
      fetch('/api/issue', {
        headers: {
          'Content-Type': 'application/json',
        },
        method: 'POST',
        body: JSON.stringify({
          asset_id: this.assetId,
          issued_at: this.toDateString(this.issued_at),
          issued_to: this.issued_to,
          note: this.note,
          in_acceptance_letter: this.in_acceptance_letter
        })
      }).then(res => {
        try {
          return res.json();
        }catch (e) {
          console.error(e.getMessage())
        }
      }).then(data => {
            if (data.errors) {
              this.handleValidation(data.errors);
              this.$refs.save.disabled = false;
            }else {
              this.issued_at = "";
              this.issued_to = "";
              this.note = "";
              this.issues.unshift(data.issue);
              this.$refs.close.click();
              toast.success("<strong>Success!</strong> Issue created successfully.");
            }
          }).catch(err => {
        console.log(err);
        this.$refs.save.disabled = false;
      });
    },
    editingIssue: function (issue) {
      this.is_editing = true;
      this.asset_id = this.assetId;
      this.issued_at = this.toDateString(issue.issued_at);
      this.issued_to = issue.user_id;
      this.note = issue.note;
      this.in_acceptance_letter = issue.is_included_in_letter;
      this.issueId = issue.id;
    },
    updateIssue: function () {
      this.$refs.save.disabled = true;
      fetch(`/api/issue/${this.issueId}`, {
        headers: {
          'Content-Type': 'application/json',
        },
        method: 'PATCH',
        body: JSON.stringify({
          asset_id: this.assetId,
          issued_at: this.toDateString(this.issued_at),
          issued_to: this.issued_to,
          note: this.note,
          in_acceptance_letter: this.in_acceptance_letter
        })
      }).then(res => {
        try {
          return res.json();
        }catch (e) {
          console.error(e.getMessage())
        }
      }).then(data => {
        if (data.errors) {
          this.handleValidation(data.errors);
          this.$refs.save.disabled = false;
        }else {
          this.issued_at = "";
          this.issued_to = "";
          this.note = "";
          this.updateIssuesList(data.issue)
          this.$refs.close.click();
          this.$refs.save.disabled = false;
          toast.success("<strong>Success!</strong> Issue updated successfully.");
        }
      }).catch(err => {
        console.log(err);
        this.$refs.save.disabled = false;
      });
    },
    updateIssuesList: function (issue) {
        this.issues = this.issues.map((value, index) => {
          if (value.id === issue.id) {
            value = issue
          }
          return value;
        })
    },
    deleteIssue: function (issueId){
      this.confirm("Are you sure you want to delete this record?", "Confirmation").then(() => {
        fetch(`/api/issue/${issueId}`, {
          method: 'DELETE',
        }).then(res => {
          try {
            return res.json();
          }catch (e) {
            console.error(e.getMessage())
          }
        }).then(data => {
          const index = this.issues.findIndex(issue => issue.id === issueId);
          if (index !== -1) {
            this.issues.splice(index, 1);
          }
        }).catch(err => console.log(err));
      });
    },
    handleValidation: function (errors) {
      for (let [key, value] of Object.entries(this.errors)) {
        if (errors.hasOwnProperty(key)) {
          this.errors[key] = errors[key];
        }
      }
    }
  }
})
</script>

<style scoped>
.modal.show .modal-dialog {
  max-width: 45%!important;
}
</style>