<script lang="ts">
import {defineComponent} from 'vue'
import FormErrors from "@/components/Equipment/FormErrors.vue";

export default defineComponent({
  name: "Modal",
  props: {
    form: {
      type: Object,
      required: true
    },
    errors: {
      type: Object,
      required: true
    }
  },
  components: {FormErrors},
  data() {
      return {
        form: this.form
      }
  },
})
</script>

<template>

</template>

<style scoped>

</style>