<template>
    <div class="card">
        <div class="card-header bg-dark">
            <h6 class="font-weight-bold p-0 m-0">
                Anniversaries this week
                <a href="/anniversary/create" class="btn btn-xs btn-primary float-right"><i class="fas fa-plus"></i></a>
            </h6>
        </div>
        <div class="card-body">
        <div v-if="loader" style="min-height:45px;width:100%;height:100%;position: relative;">
        <div class="clock" style="left:55%;margin-top:-30px;"></div>
        </div> 
        <div v-else>
            <div class="row col-md-12" v-for="(anniversary,index) in anniversaries" :key="index">
                <div class="col-md-6">
                    {{  anniversary.name }}
                </div>
                <div class="col-md-6 text-right">
                    {{  anniversary.date }}
                </div>
            </div>
            <div class="row col-md-12 alert alert-success" v-if="!anniversaries.length">
                No Anniversaries This Week
            </div>
        </div>
        </div>
    </div>
</template>

<script setup>
import axios from 'axios';
import role from '../../../permissions';

</script>

<script>

export default{
    props:{
        search:{
            type:Object,
            default:{}
        }
    },
    data() {
        return {
            anniversaries:[],
            loader:false
        }
    },
    methods: {
        getAnniversaries(){
            let parameters = this.search
            this.loader = true
            axios.get('/my-work-week/get-anniversaries-overview',{params:parameters}).then(response => {
                this.anniversaries = response.data
            this.loader = false
            }).catch(function (err) {
                console.log(err)
            this.loader = false
            })
        }
    },
    watch: {
        search: {
            immediate: true,
            deep: true,
            handler(newValue, oldValue) {
                    this.getAnniversaries()
            }
        }
        },
    created(){
    }
}

</script>