<template>
    <div class="card">
        <div class="card-header bg-dark">
            <h6 class="font-weight-bold p-0 m-0">
                Assessments
                <a href="/assessment/create" class="btn btn-xs btn-primary float-right"><i class="fas fa-plus"></i></a>
            </h6>
        </div>
        <div class="card-body">
        <div v-if="loader" style="min-height:45px;width:100%;height:100%;position: relative;">
        <div class="clock" style="left:55%;margin-top:-30px;"></div>
        </div> 
        <div v-else>
            <div class="row col-md-12">
                <div class="col-md-9">
                    Next Asessment Due Date:
                </div>
                <div class="col-md-3 text-right">
                    {{ next }}
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-9">
                    Last Assessment Date:
                </div>
                <div class="col-md-3 text-right">
                    {{ last }}
                </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script setup>
import { Field, Form, ErrorMessage } from 'vee-validate';
import axios from 'axios';
import role from '../../../permissions';

</script>

<script>

export default{
  components: {
    Field,
    Form,
    ErrorMessage,
  },
    data() {
        return {
            last:'',
            next:'',
            loader:false
        }
    },
    methods: {
        getAssessmentOverview(){
            this.loader = true
            axios.get('/my-work-week/get-assessment-overview').then(response => {
                this.next = response.data.next
                this.last = response.data.last
            this.loader = false
            }).catch(function (err) {
                console.log(err)
            this.loader = false
            })
        },
    },
    created(){
        this.getAssessmentOverview()
    }
}

</script>