<template>
    <div class="card">
        <div class="card-header bg-dark">
            <h6 class="font-weight-bold p-0 m-0">Assignment</h6>
        </div>
        <div class="card-body">
        <div v-if="loader" style="min-height:45px;width:100%;height:100%;position: relative;">
        <div class="clock" style="left:55%;margin-top:-30px;"></div>
        </div> 
        <div v-else>
            <div class="row col-md-12">
                <strong>Project Type: Income</strong>
            </div>
            <div class="row col-md-12">
                <div class="col-md-9">
                    Number of open assignments:
                </div>
                <div class="col-md-3 text-right">
                    {{ tasks.open_income }}
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-9">
                    Hours available on open assignments:
                </div>
                <div class="col-md-3 text-right" :class="tasks.hours < 0 ? 'bg-danger' : ''">
                    {{ tasks.hours_income }}
                </div>
            </div>
            <div class="row col-md-12 pt-2">
                <strong>Project Type: Cost</strong>
            </div>
            <div class="row col-md-12">
                <div class="col-md-9">
                    Number of open assignments:
                </div>
                <div class="col-md-3 text-right">
                    {{ tasks.open_cost }}
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-9">
                    Hours available on open assignments:
                </div>
                <div class="col-md-3 text-right" :class="tasks.hours < 0 ? 'bg-danger' : ''">
                    {{ tasks.hours_cost }}
                </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import role from '../../../permissions';

export default{
    props:{
        search:{
            type:Object,
            default:{}
        }
    },
    data() {
        return {
            tasks:{
                open_income:0,
                overdue_income:0,
                hours_income:0,
                open_cost:0,
                overdue_cost:0,
                hours_cost:0,
            },
                loader:false

        }
    },
    methods: {
        getTaskOverview(){
            let parameters = this.search
            this.loader = true
            axios.get('/my-work-week/get-assignment-overview',{params:parameters}).then(response => {
                this.tasks.open_income = response.data.open_income
                this.tasks.hours_income = response.data.hours_income
                this.tasks.open_cost = response.data.open_cost
                this.tasks.hours_cost = response.data.hours_cost
            }).catch(function (err) {
                console.log(err)
            }).finally(()=>{
                this.loader = false
            })
        },
        minutesToTime(minutes){
            var hours = Math.trunc(minutes/60);
            var minutes = minutes % 60;
            var hour_str = hours < 10 ? '0'+hours : hours;
            var minutes_str = minutes < 10 ? '0'+minutes : minutes;
            return hour_str+':'+minutes_str;
        }
    },
    watch: {
        search: {
            immediate: true,
            deep: true,
            handler(newValue, oldValue) {
                    this.getTaskOverview()
            }
        }
        },
    created(){
    }
}

</script>