<template>
    <div class="card">
        <div class="card-header bg-dark">
            <h6 class="font-weight-bold p-0 m-0">
                Leave
                <a href="/leave/create" class="btn btn-xs btn-primary float-right"><i class="fas fa-plus"></i></a>
            </h6>
        </div>
        <div class="card-body">
        <div v-if="loader" style="min-height:45px;width:100%;height:100%;position: relative;">
        <div class="clock" style="left:55%;margin-top:-30px;"></div>
        </div> 
        <div v-else>
            <div class="row col-md-12">
                <div class="col-md-9">
                    Current Leave Balance:
                </div>
                <div class="col-md-3 text-right">
                    {{ balance }}
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-9">
                    Leave Days Not Approved:
                </div>
                <div class="col-md-3 text-right" :class="notapproved > 0 ? 'bg-warning' : ''">
                    {{ notapproved }}
                </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script setup>

import axios from 'axios';
import role from '../../../permissions';

</script>

<script>

export default{
    props:{
        search:{
            type:Object,
            default:{}
        }
    },
    data() {
        return {
            notapproved:0,
            balance:0,
            loader:false
        }
    },
    methods: {
        getLeaveOverview(){
            let parameters = this.search
                this.loader = true
            axios.get('/my-work-week/get-leave-overview',{params:parameters}).then(response => {
                this.balance = response.data.leave_balance
                this.notapproved = response.data.leave_not_approved
                this.loader = false
            }).catch(function (err) {
                console.log(err)
                this.loader = false
            })
        },
    },
    watch: {
        search: {
            immediate: true,
            deep: true,
            handler(newValue, oldValue) {
                    this.getLeaveOverview()
            }
        }
        },
    created(){
    }
}

</script>