<template>
    <div class="card">
        <div class="card-header bg-dark">
            <h6 class="font-weight-bold p-0 m-0">Records up to date</h6>
        </div>
        <div class="card-body">
        <div v-if="loader" style="min-height:45px;width:100%;height:100%;position: relative;">
        <div class="clock" style="left:55%;margin-top:-30px;"></div>
        </div> 
        <div v-else>
            <div class="row col-md-12">
                <div class="col-md-9">
                    <a :href="role('admin') ? '/cv' : '/cv/'+cv.id">CV:</a>
                </div>
                <div class="col-md-3 text-right" :class="cv_complete.toFixed(0) > 75 ? 'bg-success' : (cv_complete.toFixed(0) > 50 && cv_complete.toFixed(0) <= 75 ? 'bg-warning' : 'bg-danger')">
                    {{ cv_complete.toFixed(0) }}%
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-9">
                    <a href="/assetreg">Equipment Retire Date:</a>
                </div>
                <div class="col-md-3 text-right">
                    {{ retire }}
                </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script setup>
import axios from 'axios';
import role from '../../../permissions';

</script>

<script>

export default{
    data() {
        return {
            cv_complete:0,
            retire:0,
            cv: [],
            loader: false
        }
    },
    methods: {
        getRecordsOverview(){
            this.loader = true
            axios.get('/my-work-week/get-records-overview').then(response => {
                this.cv_complete = response.data.cv_complete
                this.retire = response.data.retire
                this.cv = response.data.cv
                this.loader = false
            }).catch(function (err) {
                this.loader = false
                console.log(err)
            })
        },
    },
    created(){
        this.getRecordsOverview()
        // console.log(this.userDetails)
    }
}

</script>