<template>
    <div>
    <div class="card">
        <div class="card-header bg-dark">
            <h6 class="font-weight-bold p-0 m-0">
                Tasks
                <a class="btn btn-xs btn-primary float-right" @click="addTask()"><i class="fas fa-plus"></i></a>
            </h6>
        </div>
        <div class="card-body">
        <div v-if="loader" style="min-height:45px;width:100%;height:100%;position: relative;">
        <div class="clock" style="left:55%;margin-top:-30px;"></div>
        </div> 
        <div v-else>
            <div class="row col-md-12">
                <div class="col-md-9">
                    Number of open tasks:
                </div>
                <div class="col-md-3 text-right">
                    {{ tasks.open }}
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-9">
                    Number of overdue tasks:
                </div>
                <div class="col-md-3 text-right" :class="tasks.overdue > 0 ? 'bg-danger' : ''">
                    {{ tasks.overdue }}
                </div>
            </div>
        </div>
        </div>
    </div>

    <button id="modalCreateBtn" data-toggle="modal" data-target="#create_task_modal" style="display: none;" data-backdrop="static" data-keyboard="false">Create Task</button>
            <!-- Modal -->
            <div class="modal fade" id="create_task_modal" tabindex="-1" role="dialog" aria-labelledby="create_task_modal_label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div style="min-width: 1200px;height:93vh" class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="create_task_modal_label" style="width: 100%;">
                                New Task <br/>
                            </h5>
                            <button id="closeCreateModalBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        
                        <div class="modal-body" style="height: calc(100vh - 3.5rem); overflow: auto;">
                            <table class="table table-sm table-borderless">
                                <tr>
                                    <td>
                                        <div class="form-group input-group mb-0">
                                            <label class="has-float-label mb-0">
                                                <input style="font-size: 17px;" type="text" v-model="new_task.description" class="form-control form-control-sm col-md-12 mb-0" :class="(new_task.description == '' && new_task.project_id != '' ? 'is-invalid' : '')" />
                                                <span>Description</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="last">
                                        
                                    </td>
                                    <td class="last pl-4">
                                        <button v-if="isSending" class="btn btn-sm btn-success" disabled><i class="fa fa-spinner"></i> Saving ...</button>
                                        <button v-if="!isSending" @click="saveTask()" class="btn btn-sm btn-success">Save & Close</button>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-sm table-borderless">
                                <tr>
                                    <td style="width: 25%">
                                        <div class="form-group input-group mb-0">
                                            <label class="has-float-label mb-0">
                                                <select v-model="new_task.employee_id" class="form-control" :class="(new_task.employee_id == '' && new_task.project_id != '' ? 'is-invalid' : '')" :disabled="new_task.project_id == ''">
                                                        <option value="">-</option>
                                                    <option  v-for="(value,index) in users_drop_down" :key="index" :value="value.id">{{ value.full_name }}</option>
                                                </select>
                                                <span>Consultant</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td style="width: 25%"></td>
                                    <td style="width: 50%"></td>
                                </tr>
                            </table>
                            <div class="mb-3 pb-0" style="background-color: #F8F8F8; padding: 15px; border-radius: 7px;">
                                <table class="table table-sm table-borderless mb-0">
                                    <tr>
                                        <td class="col-md-4">
                                            <div class="form-group input-group">
                                                <label class="has-float-label">
                                                    <select v-model="new_task.project_id" class="form-control" :class="(new_task.project_id == '' ? 'is-invalid' : '')" @change="getCustomer(new_task.project_id)">
                                                        <option value="">-</option>
                                                        <option  v-for="(value,index) in projects_select" :key="index" :value="value.value">{{ value.text }}</option>
                                                    </select>
                                                    <span>Project</span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="col-md-4">
                                            <div class="form-group input-group">
                                                <label class="has-float-label">
                                                    <input type="text" v-model="customerValue.text" class="form-control" disabled>
                                                    <span>Customer</span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="col-md-4">
                                            <div class="form-group input-group">
                                                <label class="has-float-label">
                                                    <select v-model="new_task.sprint_id" class="form-control" :disabled="new_task.project_id == ''">
                                                        <option value="">-</option>
                                                        <option  v-for="(value,index) in sprints_drop_down" :key="index" :value="value.id">{{ value.name }}</option>
                                                    </select>
                                                    <span>Sprint</span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">
                                            <div class="form-group input-group">
                                                <label class="has-float-label">
                                                    <select v-model="new_task.user_story_id" class="form-control" :disabled="new_task.project_id == ''" :class="(new_task.user_story_id  == '' && new_task.project_id != '' ? 'is-invalid' : '')">
                                                        <option value="">-</option>
                                                        <option  v-for="(value,index) in user_story_drop_down" :key="index" :value="value.id">{{ value.name }}</option>
                                                    </select>
                                                    <span>User Story</span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="col-md-4">
                                            <div class="form-group input-group">
                                                <label class="has-float-label">
                                                    <select v-model="new_task.dependancy_id" class="form-control" :disabled="new_task.project_id == ''">
                                                        <option value="">-</option>
                                                        <option  v-for="(value,index) in dependancy_select" :key="index">{{ value.text }}</option>
                                                    </select>
                                                    <span>Dependancy</span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="col-md-4">
                                            <div class="form-group input-group">
                                                <label class="has-float-label">
                                                    <select v-model="new_task.status_id" class="form-control" :class="(new_task.status_id == '' && new_task.project_id != '' ? 'is-invalid' : '')">
                                                        <option value="">-</option>
                                                        <option  v-for="(value,index) in statuses_drop_down" :key="index" :value="value.id">{{ value.description }}</option>
                                                    </select>
                                                    <span>Status</span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                </div>


                                <div class="row">
                                    <div class="col-md-5">
                                        <table class="table table-sm table-borderless">
                                            <thead>
                                            <tr class="planning-btn" v-on:click="noteFlag = !noteFlag">
                                                <th style="border-bottom: 1px solid grey !important;">
                                                    Description <i v-if="noteFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!noteFlag" class="float-right fa fa-chevron-up"></i>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody v-if="noteFlag">
                                            <tr>
                                                <td>
                                                    <div>
                                                      <quill-editor
                                                          :toolbar="quillToolbar"
                                                          theme="snow"
                                                          content-type="html"
                                                          v-model:content="new_task.note_2"
                                                      ></quill-editor>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-3">
                                        <table class="table table-sm table-borderless">
                                            <thead>
                                            <tr class="planning-btn" v-on:click="planningFlag = !planningFlag">
                                                <th style="border-bottom: 1px solid grey !important;">
                                                    Planning <i v-if="planningFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!planningFlag" class="float-right fa fa-chevron-up"></i>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody v-if="planningFlag">
                                            <tr><td>
                                                <div class="form-group input-group mt-3">
                                                    <label class="has-float-label">
                                                        <input type="date" v-model="new_task.start_date" :class="(new_task.start_date == '' && new_task.project_id != '' ? 'is-invalid' : '')" class="form-control form-control-sm col-md-12" />
                                                    <span>Start Date</span>
                                                    </label>
                                                </div>
                                            </td></tr>
                                            <tr><td>
                                                <div class="form-group input-group">
                                                    <label class="has-float-label">
                                                        <input type="date" v-model="new_task.end_date" :class="(new_task.end_date == '' && new_task.project_id != '' ? 'is-invalid' : '')" class="form-control form-control-sm col-md-12" />
                                                        <span>End Date</span>
                                                    </label>
                                                </div>
                                            </td></tr>
                                            <tr><td>
                                                <div class="form-group input-group">
                                                    <label class="has-float-label">
                                                        <select v-model="new_task.billable" class="form-control col-md-12">
                                                            <option v-for="(yes_no, index) in yes_no_drop_down" :key="index" :value="yes_no.id">{{yes_no.name}}</option>
                                                        </select>
                                                        <span>Billable</span>
                                                    </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr><td>
                                                <div class="form-group input-group">
                                                    <label class="has-float-label">
                                                        <select v-model="new_task.on_kanban" class="form-control col-md-12">
                                                        <option v-for="(yes_no, index) in yes_no_drop_down" :key="index" :value="yes_no.id">{{yes_no.name}}</option>
                                                        </select>
                                                        <span>Display on Kanban</span>
                                                    </label>
                                                </div>
                                              </td>
                                            </tr>
                                            <tr><td>
                                                <div class="form-group input-group">
                                                    <label class="has-float-label">
                                                        <input type="number" v-model="new_task.hours_planned" class="form-control col-md-12" />
                                                        <span>Hours Planned</span>
                                                    </label>
                                                </div>
                                            </td></tr>
                                            <tr><td>
                                                <div class="form-group input-group">
                                                    <label class="has-float-label">
                                                        <input type="number" v-model="new_task.weight" class="form-control col-md-12" />
                                                        <span>Weight</span>
                                                    </label>
                                                </div>
                                            </td></tr>
                                            <tr><td>
                                                <div class="form-group input-group">
                                                    <label class="has-float-label">
                                                        <input type="number" v-model="new_task.remaining_time" class="form-control col-md-12" />
                                                        <span>Remaining</span>
                                                    </label>
                                                </div>
                                            </td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- Milestone -->
                                    <div class="col-md-4">
                                        <table class="table table-sm table-borderless">
                                            <thead>
                                            <tr class="planning-btn" v-on:click="documentFlag = !documentFlag">
                                                <th colspan="2" style="border-bottom: 1px solid grey !important;">
                                                    Attachments <i v-if="documentFlag" class="float-right fa fa-chevron-down"></i> <i v-if="!documentFlag" class="float-right fa fa-chevron-up"></i>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody v-if="documentFlag">
                                            <tr>
                                                <td colspan="2">
                                                    <label><button @click="clickFile2WW()" style="color: #ffffff;" class="btn btn-sm btn-warning" :class="new_file == [] && new_file == null ? 'disabled' : ''"><i class="fa fa-plus"></i> Add File</button></label>
                                                    <input id="new_fileWW" type="file" @change="onFileChangeNewWW"  class="form-control form-control-sm col-md-12 d-none" value=""/>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!-- definition of ready -->
                                        <table class="table table-sm table-borderless">
                                            <thead>
                                            <tr class="planning-btn">
                                                <th colspan="2" style="border-bottom: 1px solid grey !important;">
                                                    Definition of Ready
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td colspan="2">
                                                        <div class="input-group" style="display:flex !important">
                                                            <input type="text" v-model="new_task.readyDefinition" class="form-control">
                                                            <div class="input-group-append">
                                                                <button style="color: #ffffff;" :disabled="new_task.readyDefinition && new_task.readyDefinition.length < 3" class="btn btn-warning toolt" @click="addNewReady()"><i class="fa fa-plus"></i><span class="tooltiptext">Add the definition of ready</span></button>
                                                            </div>
                                                        </div>
                                                        </td>
                                            </tr>
                                            <tr v-for="(ready,index) in new_task.ready" :key="index">
                                                <td v-if="ready.canEdit == 0"><input type="checkbox" :checked="ready.value == 1" @click="checkNewReady($event,index)" />  {{ ready.name }}</td>
                                                    <td v-if="ready.canEdit == 0" class="last">
                                                    <div class="d-flex float-right">
                                                        <a href="javascript:void(0)" class="btn btn-sm"><i class="fas fa-pencil-alt text-success" @click="editNewReady(index)" :disabled="ready.value == 1" :style="ready.value == 1 ? 'disabled' : ''"></i></a>
                                                        <a href="javascript:void(0)" class="btn btn-sm mr-1" @click="removeNewReady(index)"><i class="fas fa-trash text-danger" :disabled="ready.value == 1" :style="ready.value == 1 ? 'disabled' : ''"></i></a>
                                                    </div></td>
                                                    <td colspan="2" v-if="ready.canEdit == 1">
                                                        <div class="input-group" style="display:flex !important">
                                                            <input type="text" class="form-control" v-model="ready.name">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-dark toolt" type="button" id="button-addon" @click="updateNewReady(index)"><i class="fas fa-save"></i><span class="tooltiptext">Save definition of ready</span></button>
                                                            </div>
                                                        </div>
                                                    </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!-- definition of done -->
                                        <table class="table table-sm table-borderless">
                                            <thead>
                                            <tr class="planning-btn">
                                                <th colspan="2" style="border-bottom: 1px solid grey !important;">
                                                    Definition of Done
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td colspan="2">
                                                        <div class="input-group" style="display:flex !important">
                                                            <input type="text" v-model="new_task.doneDefinition" class="form-control">
                                                            <div class="input-group-append">
                                                                <button style="color: #ffffff;" :disabled="new_task.doneDefinition && new_task.doneDefinition.length < 3" class="btn btn-warning toolt" @click="addNewDone()"><i class="fa fa-plus"></i><span class="tooltiptext">Add the definition of done</span></button>
                                                            </div>
                                                        </div>
                                                        </td>
                                            </tr>
                                            <tr v-for="(done,index) in new_task.done" :key="index">
                                                <td v-if="done.canEdit == 0"><input type="checkbox" :checked="done.value == 1" @click="checkNewDone($event,index)" />  {{ done.name }}</td>
                                                    <td v-if="done.canEdit == 0" class="last">
                                                    <div class="d-flex float-right">
                                                        <a href="javascript:void(0)" class="btn btn-sm"><i class="fas fa-pencil-alt text-success" @click="editNewDone(index)" :disabled="done.value == 1" :style="done.value == 1 ? 'disabled' : ''"></i></a>
                                                        <a href="javascript:void(0)" class="btn btn-sm mr-1" @click="removeNewDone(index)"><i class="fas fa-trash text-danger" :disabled="done.value == 1" :style="done.value == 1 ? 'disabled' : ''"></i></a>
                                                    </div></td>
                                                    <td colspan="2" v-if="done.canEdit == 1">
                                                        <div class="input-group" style="display:flex !important">
                                                            <input type="text" class="form-control" v-model="done.name">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-dark toolt" type="button" id="button-addon" @click="updateNewDone(index)"><i class="fas fa-save"></i><span class="tooltiptext">Save definition of done</span></button>
                                                            </div>
                                                        </div>
                                                    </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
import { defineComponent } from "vue";
import axios from 'axios';
import role from '../../../permissions';
import { quillToolbarOptions } from "@/utils/quill";
import {QuillEditor} from "@vueup/vue-quill";

export default{
    components: { QuillEditor },
    props:{
        search:{
            type:Object,
            default:{}
        },
        reloadtasks:{
            type:Boolean,
            default:false
        },
    },
    emits:['update'],
    data() {
        return {
            quillToolbar: quillToolbarOptions(),
            isSending:false,
            loader:false,
            customerValue:{
                value:'',
                text:''
            },
            new_file:'',
            noteFlag: true,
            planningFlag: true,
            documentFlag: true,
            users_drop_down: [],
            projects_drop_down: [],
            company_drop_down: [],
            customers_drop_down: [],
            sprints_drop_down: [],
            user_story_drop_down: [],
            statuses_drop_down: [],
            tasks_drop_down: [],
            task_delivery_type_drop_down: [],
            yes_no_drop_down: [],
            projects_select:[],
            dependancy_select:[],
            tasks:{
                open:0,
                overdue:0
            },
            new_task: {
                on_kanban: 1,
                description: '',
                employee_id: 0,
                project_id: 0,
                customer_id: 0,
                sprint_id: 0,
                user_story_id: 0,
                dependency: 0,
                status_id: 3,
                note_2: '',
                start_date: this.today(),
                end_date: this.today(),
                billable: 1,
                hours_planned: 0,
                weight: 0,
                remaining_time: 0,
                ready:[],
                done:[],
                canEdit:0
            },

        }
    },
    methods: {
        editNewDone(index){
            this.new_task.done[index].canEdit = 1
        },
        editNewReady(index){
            this.new_task.ready[index].canEdit = 1
        },
        updateNewReady(index){
            this.new_task.ready[index].canEdit = 0
        },
        updateNewDone(index){
            this.new_task.done[index].canEdit = 0
        },
        updateTaskDone(index){
            this.task.definition_of_done[index].canEdit = 0

            let request = this.task;
            axios.post('/api/task/updatetask/'+this.task.id, {
                request
            })
                .then(response => {
                    // this.getCards();
                    for(let v in this.kanbanTasks){
                            // console.log(response.data.task[0])
                            for(let i in this.kanbanTasks[v].tasks){
                                if(this.kanbanTasks[v].tasks[i].id == response.data.task[0].id){
                                    if(response.data.task[0].on_kanban == 0 && this.search.on_kanban == 1){
                                        this.kanbanTasks[v].tasks.splice(i, 1);
                                    } else if(response.data.task[0].on_kanban == 1 && this.search.on_kanban == 0){
                                        this.kanbanTasks[v].tasks.splice(i, 1);
                                    } else {
                                        this.kanbanTasks[v].tasks[i] = response.data.task[0]
                                    }
                                }
                            }
                    }
                    this.isSending = false;
                }).catch(error => {
                console.log(error)
                alert('An error occured, could not save the task.');
            });
        },
        removeNewReady(index){
            this.new_task.ready = this.new_task.ready.filter((item, i) => i !== index)
        },
        removeNewDone(index){
            this.new_task.done = this.new_task.done.filter((item, i) => i !== index)
        },
        checkNewReady(event,index){
            this.new_task.ready.map(function(value,key){
                if(key == index){
                    value.value = (event.target.checked ? 1 : 0)
                    // console.log(value)
                }
            })
        },
        checkNewDone(event,index){
            this.new_task.done.map(function(value,key){
                if(key == index){
                    value.value = (event.target.checked ? 1 : 0)
                    // console.log(value)
                }
            })
        },
        searchSelectFormat(data, field){
          return data.map(v => {
            return {
              value: v.id,
              text: v[field]
            }
          })
        },
        getDropdowns(val){
            const project_id = val
            // console.log(project_id)
              axios.get('/kanban/dropdowns/'+project_id)
                .then(res => {
                    let dropdowns = res.data
                    this.users = JSON.parse(JSON.stringify(dropdowns.users_drop_down))
                    this.users_drop_down = JSON.parse(JSON.stringify(dropdowns.users_drop_down))
                    this.projects_drop_down = JSON.parse(JSON.stringify(dropdowns.projects_drop_down))
                    this.customers_drop_down = JSON.parse(JSON.stringify(dropdowns.customers_drop_down))
                    this.sprints_drop_down = JSON.parse(JSON.stringify(dropdowns.sprints_drop_down))
                    this.user_story_drop_down = JSON.parse(JSON.stringify(dropdowns.user_story_drop_down))
                    this.tasks_drop_down = JSON.parse(JSON.stringify(dropdowns.tasks_drop_down))
                    this.statuses_drop_down = JSON.parse(JSON.stringify(dropdowns.statuses_drop_down))
                    this.task_delivery_type_drop_down = JSON.parse(JSON.stringify(dropdowns.task_delivery_type_drop_down))
                    this.permissions_drop_down = JSON.parse(JSON.stringify(dropdowns.permissions_drop_down))
                    this.yes_no_drop_down = JSON.parse(JSON.stringify(dropdowns.yes_no_drop_down))
                    this.year_week_drop_down = JSON.parse(JSON.stringify(dropdowns.year_week_drop_down))
                    this.hours_drop_down = JSON.parse(JSON.stringify(dropdowns.hours_drop_down))
                    this.minutes_drop_down = JSON.parse(JSON.stringify(dropdowns.minutes_drop_down))
                    if (this.year_week_drop_down.length > 0){
                      this.selected_year_week = this.year_week_drop_down[0].id;
                    }

                })
                .catch(err => {
                    console.log(err)
            })
        },
        async addTask(){
            this.new_task.project_id = 0
this.getCustomer()
            try {
              const response = await fetch('/kanban/dropdowns/'+this.new_task.project_id).then(response => response.json());
              this.users_drop_down = this.searchSelectFormat(response.users_drop_down, "full_name");
              this.projects_select = this.searchSelectFormat(response.projects_drop_down, "name");
            //   this.selectedProject(response.projects_drop_down);
              this.customer_select = this.searchSelectFormat(response.customers_drop_down, "customer_name");
              this.sprint_select = this.searchSelectFormat(response.sprints_drop_down, "name");
              this.story_select = this.searchSelectFormat(response.user_story_drop_down, "name");
              this.dependancy_select = this.searchSelectFormat(response.tasks_drop_down, "description");
              this.status_select = this.searchSelectFormat(response.statuses_drop_down, "description");
              this.statuses_drop_down = response.statuses_drop_down;
              this.yes_no_drop_down = response.yes_no_drop_down;
              this.isSending = false;
              document.getElementById("modalCreateBtn").click();
            }catch (e) {
              console.log(e)
            }
            this.statusValue = status.id
            this.new_task.status = status.id
        },
        addNewReady(){
            this.new_task.ready.push({'name': this.new_task.readyDefinition,'value': 0,'canEdit':0})
            this.new_task.readyDefinition = ''
        },
        addNewDone(){
            this.new_task.done.push({'name': this.new_task.doneDefinition,'value': 0,'canEdit':0})
            this.new_task.doneDefinition = ''
        },
        selectedProject(projects){
          projects.forEach((project, index) => {
            if (project.id == this.search.project_id && this.new_task.project_id == ''){
              this.new_task.project_id = project.id
            }
          });
        },
        getCustomer(project_id){
            if(project_id > 0){
                axios.get('/kanban/project/'+project_id)
                    .then(response => {
                        this.customerValue = {
                        value: response.data.id,
                        text: response.data.customer_name
                        }
                        this.new_task.customer_id = response.data.id;
                        this.getDropdowns(project_id)
                    }).catch(error => {
                    // alert("We could not retrieve the customer related to your project")
                    console.log(error)
                })
            } else {
                this.customerValue = {
                    value: '',
                    text: ''
                }
            }
        },
        getTaskOverview(){
            let parameters = this.search
            this.loader = true
            axios.get('/my-work-week/get-task-overview',{params:parameters}).then(response => {
                this.tasks.open = response.data.open
                this.tasks.overdue = response.data.overdue
            this.loader = false
            }).catch(function (err) {
                console.log(err)
            this.loader = false
            })
        },
        onFileChangeNewWW(e){
            this.new_file = e.target.files[0];
            console.log(this.new_file)
            e.preventDefault();
        },
        saveTask() {

            if(this.new_task.description === ""){
                alert("Please fill in the task description");
                return false;
            }

            if(this.new_task.employee_id === 0){
                alert("Please select consultant");
                return false;
            }

            if(this.new_task.project_id === 0){
                alert("Please select project");
                return false;
            }

            if(this.new_task.customer_id === 0){
                alert("Please select customer");
                return false;
            }

            if(this.new_task.user_story_id === 0){
                alert("Please select user story");
                return false;
            }

            if(this.new_task.status === 0){
                alert("Please select user status");
                return false;
            }

            if(this.new_task.start_date === ''){
                alert("Please select start date");
                return false;
            }

            if(this.new_task.end_date === ''){
                alert("Please select end date");
                return false;
            }

            const config = {
                headers: { 'content-type': 'multipart/form-data' }
            }

            let formData = new FormData();
            formData.append('description', this.new_task.description);
            formData.append('employee_id', this.new_task.employee_id);
            formData.append('project_id', this.new_task.project_id);
            formData.append('customer_id', this.new_task.customer_id);
            if(this.new_task.sprint_id){
                formData.append('sprint_id', this.new_task.sprint_id);
            } else {
                formData.append('sprint_id', 0);
            }
            formData.append('user_story_id', this.new_task.user_story_id);
            if(this.new_task.dependency){
            formData.append('dependency', this.new_task.dependency);
            } else {
                formData.append('dependency', 0);
            }
            formData.append('status', this.new_task.status_id);
            formData.append('note_2', this.new_task.note_2);
            formData.append('start_date', this.new_task.start_date);
            formData.append('end_date', this.new_task.end_date);
            formData.append('billable', this.new_task.billable);
            formData.append('hours_planned', this.new_task.hours_planned);
            formData.append('weight', this.new_task.weight);
            formData.append('remaining_time', this.new_task.remaining_time);
            formData.append('new_file', this.new_file);
            formData.append('user_id', null);
            formData.append('selected_tasks', this.selected_tasks);
            formData.append('on_kanban', this.new_task.on_kanban);
            formData.append('ready', JSON.stringify(this.new_task.ready));
            formData.append('done', JSON.stringify(this.new_task.done));

            this.isSending = true;

            axios.post('/api/task/savetask', formData, config)
                .then(response => {
                    this.new_file = null;
                    this.new_task.description = '';
                    this.new_task.employee_id = 0;
                    this.new_task.project_id = 0;
                    this.new_task.customer_id = 0;
                    this.new_task.sprint_id = 0;
                    this.new_task.user_story_id = 0;
                    this.new_task.dependency_id = 0;
                    this.new_task.status_id = 0;
                    this.new_task.note_2 = '';
                    this.new_task.start_date =  this.today();
                    this.new_task.end_date =  this.today();
                    this.new_task.billable = 1;
                    this.new_task.hours_planned = 0;
                    this.new_task.weight = 0;
                    this.new_task.remaining_time = 0;
                    this.new_task.on_kanban = 0;
                    this.new_task.ready = [];
                    this.new_task.readyDefinition = '';
                    this.new_task.done =[];
                    this.new_task.doneDefinition = '';
                    this.isSending = false;
                    document.getElementById('new_fileWW').value= null;
                    document.getElementById('closeCreateModalBtn').click();
                    // alert('Task addedd successfully');
                    this.getTaskOverview()
                    this.$emit('update',true)
                })
                .catch(error => {
                    alert('An error occured, could not save the task.');
                    this.isSending = false;
                    console.log(error.response);

                    this.new_file = null;
                    this.new_task.description = '';
                    this.new_task.employee_id = 0;
                    this.new_task.project_id = 0;
                    this.new_task.customer_id = 0;
                    this.new_task.sprint_id = 0;
                    this.new_task.user_story_id = {value: '', text:''};
                    this.new_task.dependency = 0;
                    this.new_task.status = 0;
                    this.new_task.note_2 = '';
                    this.new_task.start_date =  this.today();
                    this.new_task.end_date =  this.today();
                    this.new_task.billable = 1;
                    this.new_task.hours_planned = 0;
                    this.new_task.weight = 0;
                    this.new_task.remaining_time = 0;
                    this.new_task.ready = [];
                    this.new_task.readyDefinition = '';

                    this.new_task.done =[];
                    this.new_task.doneDefinition = '';
                    this.isSending = false;
                    document.getElementById('new_fileWW').value= null;
                    document.getElementById('closeCreateModalBtn').click();
                    this.getTaskOverview()
                    this.$emit('update',true)
                });

        },
        clickFile2WW(){
            document.getElementById("new_fileWW").click();
        },
        today(){
            let date = new Date();
            let day, month;
            day = date.getDate() < 10 ? '0'+date.getDate():date.getDate();
            month = (date.getMonth() + 1) < 10 ? '0'+(date.getMonth()+1) : (date.getMonth()+1);

            return date.getFullYear()+'-'+month+'-'+day;
        },
    },
    watch: {
        search: {
            immediate: true,
            deep: true,
            handler(newValue, oldValue) {
                    this.getTaskOverview()
            }
        },
        // reloadtasks: {
        //     immediate: true,
        //     deep: true,
        //     handler(newValue, oldValue) {
        //         if()
        //             this.getTaskOverview()
        //     }
        // }
        },
    created(){
    }
}

</script>