<template>
    <div class="card">
        <div class="card-header bg-dark">
            <h6 class="font-weight-bold p-0 m-0">
                Timesheets
                <a href="/timesheet/create" class="btn btn-xs btn-primary float-right"><i class="fas fa-plus"></i></a>
            </h6>
        </div>
        <div class="card-body">
        <div v-if="loader" style="min-height:45px;width:100%;height:100%;position: relative;">
        <div class="clock" style="left:55%;margin-top:-30px;"></div>
        </div> 
        <div v-else>
            <div class="row col-md-12">
                <div class="col-md-9">
                    Missing Timesheets (Last Week):
                </div>
                <div class="col-md-3 text-right" :class="lastweek > 0 ? 'bg-danger' : ''">
                    {{ lastweek }}
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-9">
                    Missing Timesheets (This Week):
                </div>
                <div class="col-md-3 text-right" :class="thisweek > 0 ? 'bg-danger' : ''">
                    {{ thisweek }}
                </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script setup>
import axios from 'axios';
import role from '../../../permissions';

</script>

<script>

export default{
    props:{
        search:{
            type:Object,
            default:{}
        }
    },
    data() {
        return {
            thisweek:0,
            lastweek:0,
            loader:false
        }
    },
    methods: {
        getTimesheets(){
            let parameters = this.search
            this.loader = true
            axios.get('/my-work-week/get-missing-timesheets-overview',{params:parameters}).then(response => {
                this.thisweek = response.data.thisweek
                this.lastweek = response.data.lastweek
            this.loader = false
            }).catch(function (err) {
                console.log(err)
            this.loader = false
            })
        }
    },
    watch: {
        search: {
            immediate: true,
            deep: true,
            handler(newValue, oldValue) {
                    this.getTimesheets()
            }
        }
        },
    created(){
    }
}

</script>