<template>
    <div class="card w-100">
        <div class="card-header bg-dark">
            <h6 class="font-weight-bold p-0 m-0">Utilization</h6>
        </div>
        <div class="card-body w-100">
        <div v-if="loader" style="min-height:100px;width:100%;height:100%;position: relative;">
        <div class="clock" style="left:55%"></div>
        </div> 
        <div v-else>
            <div class="row col-md-12">
                <div class="col-md-6 font-weight-bold">
                    Utilization
                </div>
                <div class="col-md-3 text-right font-weight-bold">
                    Hours
                </div>
                <div class="col-md-3 text-right font-weight-bold">
                    %
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6">
                    Current Week (Total)
                </div>
                <div class="col-md-3 text-right text-nowrap">
                    {{ currentWeekTotal.toFixed(1) }}
                </div>
                <div class="col-md-3 text-right text-nowrap" :class="currentWeekTotalPerc > 75 ? 'bg-success' : (currentWeekTotalPerc > 50 && currentWeekTotalPerc <= 75 ? 'bg-warning' : 'bg-danger')">
                    {{ currentWeekTotalPerc.toFixed(2) }}%
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6">
                    Current Week (Billable)
                </div>
                <div class="col-md-3 text-right text-nowrap">
                    {{ currentWeekBillable.toFixed(1) }}
                </div>
                <div class="col-md-3 text-right text-nowrap" :class="currentWeekBillablePerc > 75 ? 'bg-success' : (currentWeekBillablePerc > 50 && currentWeekBillablePerc <= 75 ? 'bg-warning' : 'bg-danger')">
                    {{ currentWeekBillablePerc.toFixed(2) }}%
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6">
                    Last Week (Total)
                </div>
                <div class="col-md-3 text-right">
                    {{ previousWeekTotal.toFixed(1) }}
                </div>
                <div class="col-md-3 text-right" :class="previousWeekTotalPerc > 75 ? 'bg-success' : (previousWeekTotalPerc > 50 && previousWeekTotalPerc <= 75 ? 'bg-warning' : 'bg-danger')">
                    {{ previousWeekTotalPerc.toFixed(2) }}%
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6">
                    Last Week (Billable)
                </div>
                <div class="col-md-3 text-right">
                    {{ previousWeekBillable.toFixed(1) }}
                </div>
                <div class="col-md-3 text-right" :class="previousWeekBillablePerc > 75 ? 'bg-success' : (previousWeekBillablePerc > 50 && previousWeekBillablePerc <= 75 ? 'bg-warning' : 'bg-danger')">
                    {{ previousWeekBillablePerc.toFixed(2) }}%
                </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script setup>
import axios from 'axios';
import role from '../../../permissions';

</script>

<script>

export default{
    props:{
        search:{
            type:Object,
            default:{}
        }
    },
    data() {
        return {
            currentWeekTotal: 0,
            currentWeekTotalPerc: 0,
            currentWeekBillable: 0,
            currentWeekBillablePerc: 0,
            previousWeekTotal: 0,
            previousWeekTotalPerc: 0,
            previousWeekBillable: 0,
            previousWeekBillablePerc: 0,
            loader:false
        }
    },
    methods: {
        getUtilization(){
            let parameters = this.search
            this.loader = true
            axios.get('/my-work-week/get-utilization-overview',{params:parameters}).then(response => {
                this.currentWeekTotal = response.data.weekNow / 60
                this.previousWeekTotal = response.data.weekPast / 60
                this.currentWeekBillable = response.data.weekNowBill / 60
                this.previousWeekBillable = response.data.weekPastBill / 60
                this.currentWeekTotalPerc = response.data.weekNowPerc
                this.currentWeekBillablePerc = response.data.weekNowBillPerc
                this.previousWeekTotalPerc = response.data.weekPastPerc
                this.previousWeekBillablePerc = response.data.weekPastBillPerc
            this.loader = false
            }).catch(function (err) {
                console.log(err)
            this.loader = false
            })
        }
    },
    watch: {
        search: {
            immediate: true,
            deep: true,
            handler(newValue, oldValue) {
                    this.getUtilization()
            }
        }
        },
    created(){
    }
}

</script>