<template>
    <div class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" :style="modalActive ? 'padding-right: 17px;display: block;' : ''">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:650px;">
        <div class="modal-content" style="width:650px;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Select Emails or Enter An Email</h5>
            <button type="button" class="close" aria-label="Close" @click="closeModal()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div v-if="!sending">
            <div class="form row">
                <label for="subject" class="col-sm-2 col-form-label">Subject:</label>
                <div class="col-sm-10">
                    <input type="text" id="subject" class="form-control" v-model="subject" />
                </div>
            </div>
            <hr />
            <div class="form-check" v-if="customer_email != ''">
                <input type="checkbox" class="form-check-input" v-model="send_customer" /><label class="form-check-label">{{ customer_email }}</label>
            </div>
            <div class="form-check" v-if="company_email != ''">
                <input type="checkbox" class="form-check-input" v-model="send_company" /><label class="form-check-label">{{ company_email }}</label>
            </div>
            <hr />
            <div class="form row">
                <label for="email" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                    <input :class="emails.length > 0 ? 'mb-1' : ''" type="text" v-model="email" class="form-control" @keyup.enter="addMoreEmails">
                    <input type="hidden" v-model="emails" name="emails[]">
                    <span class="badge badge-info w-100 text-left pl-2" :class="emails.length > 1 ? 'mb-1':''" style="line-height: 2rem;" v-for="(email, index) in emails" :key="index">{{email}} 
                        <a href="javascript:void(0)" class="float-right text-white mr-1" @click="removeEmail(index)"><i class="fas fa-times"></i></a></span>
                </div>
            </div>
            <hr />
            <div class="form-group text-center">
                <button type="button" class="btn btn-dark mr-2" @click="sendEmails()">Send</button>
                <button type="button" class="btn btn-default" @click="closeModal()">Close</button>
            </div>
            </div>
            <div id="loader-wrapper" v-else>
                <div class="rounded-circle border-top border-bottom border-dark" id="loader" style="width: 6rem;height: 6rem;margin: 0 auto; border-width: 10px"></div>
            </div>
        </div>
        </div>
    </div>
    </div>
</template>
<script>

    export default {
        props:['modalEActive','customer_email','company_email','site_report'],
        data(){
            return {
                modalActive:this.modalEActive,
                subject:'',
                emails:[],
                send_emails:[],
                email:'',
                send_customer:true,
                send_company:true,
                sending:false
            }
        },
        methods:{
            closeModal(){
                this.subject = ''
                this.emails = []
                this.send_customer = true
                this.send_company = true
                this.email = ''
                this.sending = false
                this.modalActive = false
                this.$emit('close-mail')
            },
            sendEmails(){
                if(this.send_customer){
                    this.send_emails.push(this.customer_email)
                    this.send_emails = [... new Set(this.send_emails)]
                }
                if(this.send_company){
                    this.send_emails.push(this.company_email)
                    this.send_emails = [... new Set(this.send_emails)]
                }
                if(this.emails.length){
                    for(let v in this.emails){
                        this.send_emails.push(this.emails[v])
                        this.send_emails = [... new Set(this.send_emails)]
                    }
                }

                this.site_report.sendEmails = {
                    subject:this.subject,
                    emails:this.send_emails
                }

                if(this.send_emails.length == 0){
                    this.alert("Please enter or select an email address.",'','',{confirmButtonText: 'Ok'});
                } else {
                    this.sending = true
                    axios.post('/api/site_report/sendSiteReport',this.site_report
                    ).then(response => {
                            toastr.success('<strong>Success!</strong> '+response.data.message);

                            toastr.options.timeOut = 1000;
                    }).catch(function (err) {
                        console.log(err)
                        toastr.error('<strong>Error!</strong> '+response.data.message);

                        toastr.options.timeOut = 1000;
                    }).finally(() => {
                        this.subject = ''
                        this.emails = []
                        this.send_customer = true
                        this.send_company = true
                        this.email = ''
                        this.sending = false
                        this.modalActive = false
                        this.$emit('close-mail')
                    });
                }
            },
            addMoreEmails(){
              if(!this.validateEmail(this.email)){
                this.alert("You entered an invalid email address",'','',{confirmButtonText: 'Ok'});
                return;
              }
              this.emails.push(this.email)
              this.emails = [... new Set(this.emails)]
              this.email = "";
            },
            validateEmail(email) {
              return String(email)
                  .toLowerCase()
                  .match(
                      /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                  );
            }
        }
    }
</script>
<style>

label{
    text-align: left !important;
    width:100%;
}
.vuemodal2{
    background: #ffffff;
    padding: 15px;
    width:35vw;
    border-radius: 7px;
    position: absolute;
}

.multiselect{
    height:38px;
    min-height:38px;
}

#loader {
            -webkit-animation-name: spin;
            -webkit-animation-duration: 1500ms;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: ease-in-out;
            -moz-animation-name: spin;
            -moz-animation-duration: 1500ms;
            -moz-animation-iteration-count: infinite;
            -moz-animation-timing-function: ease-in-out;
            -ms-animation-name: spin;
            -ms-animation-duration: 1500ms;
            -ms-animation-iteration-count: infinite;
            -ms-animation-timing-function: ease-in-out;

            animation-name: spin;
            animation-duration: 1500ms;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        @-ms-keyframes spin {
            from { -ms-transform: rotate(0deg); }
            to { -ms-transform: rotate(360deg); }
        }
        @-moz-keyframes spin {
            from { -moz-transform: rotate(0deg); }
            to { -moz-transform: rotate(360deg); }
        }
        @-webkit-keyframes spin {
            from { -webkit-transform: rotate(0deg); }
            to { -webkit-transform: rotate(360deg); }
        }
        @keyframes spin {
            from {
                transform:rotate(0deg);
            }
            to {
                transform:rotate(360deg);
            }
        }
</style>