<script>
import {defineComponent} from 'vue'
export default defineComponent({
  name: "FormErrors",
  props: {
    errors: {
      type: Array,
      required: true
    }
  }
})
</script>
<template>
  <ul class="m-0">
    <li v-for="(error, index) in errors" :key="index" class="text-danger">{{error}}</li>
  </ul>
</template>
<style scoped>
ul{
  padding-left: 0;
}
li {
  list-style-type: none;
}
</style>