<template>
    <div class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" :style="modalActive ? 'padding-right: 17px;display: block;' : ''">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:600px">
        <div class="modal-content" style="width:600px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle" v-if="note != '<p><br /><p>'">Add Note</h5>
                <h5 class="modal-title" id="exampleModalCenterTitle" v-else>Edit Note</h5>
                <button type="button" class="close" aria-label="Close" @click="closeModal()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form row">
                    <label class="col-sm-12 col-form-label">Note:</label>
                    <div class="col-sm-12 pb-4" style="height: fit-content;">
                            <quill-editor
                                    :toolbar="quillToolbar"
                                    content-type="html"
                                    theme="snow"
                                    v-model:content="note"
                                ></quill-editor>
                    </div>
                </div>
                <hr />
                <div class="form-group text-center">
                    <button type="button" class="btn btn-dark mr-2" @click="saveNote()">Save</button>
                    <button type="button" class="btn btn-default" @click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>
<script>
import { quillToolbarOptions } from "@/utils/quill";
import {QuillEditor} from "@vueup/vue-quill";

    export default {
        components: {
            QuillEditor
        },
        props:['modalActive','noteType','noteString'],
        data(){
            return {
                note:this.noteString && this.noteString != '' ? this.noteString : '<p><br /><p>',
                quillToolbar:quillToolbarOptions(),
            }
        },
        methods:{
            closeModal(){
                
                this.note = '<p><br /><p>'

                this.$emit('close-note')
            },
            saveNote(){
                this.$emit('save-note',{ ntype: this.noteType, note: this.note })
                this.note = '<p><br /><p>'

            }
        }
    }
</script>
<style>

label{
    text-align: left !important;
    width:100%;
}
.vuemodal2{
    background: #ffffff;
    padding: 15px;
    width:35vw;
    border-radius: 7px;
    position: absolute;
}

.multiselect{
    height:38px;
    min-height:38px;
}
</style>