<template>
    <div>
    <div class="container-fluid container-title">
        <h3>Add Site Report</h3>
        <div class="btn-toolbar float-right">
            <button onclick="history.back()" class="btn btn-dark float-right"><i class="fa fa-caret-left"></i> Back</button>
            <a href="/site_report"  class="btn btn-info ml-1">Close</a>
            <a href="javascript:void(0)" @click="showTemplate()" class="btn btn-primary ml-1">Save Template</a>
        </div>
    </div>
    <div class="container-fluid">
    <div class="mt-3">
        <ul class="nav nav-tabs" id="myTab">
            <li :class="selectedTab ==  'header' ? 'active' : ''"><a data-toggle="tab" href="#header" @click="changeTab('header')" role="tab" aria-controls="header" aria-selected="false">Report Header</a></li>
            <li :class="selectedTab ==  'options' ? 'active' : ''"><a data-toggle="tab" href="#options" @click="changeTab('options')" role="tab" aria-controls="options" aria-selected="false">Report Options</a></li>
            <li :class="selectedTab ==  'output' ? 'active' : ''"><a data-toggle="tab" href="#output" @click="changeTab('output')" role="tab" aria-controls="output" aria-selected="false">Report Output</a></li>
            <!--<li><a data-toggle="tab" href="#notification">Notification</a></li>-->
        </ul>
        <div class="tab-content">
            <div id="header" class="tab-pane" :class="selectedTab ==  'header' ? 'active' : 'fade'">
                <div class="container-fluid pl-0 pr-0">
                    <div class="row col-md-12 w-100 pt-3">
                        <div class="col col-md-2 text-left">
                            <label>Customer:</label>
                        </div>
                        <div class="col col-md-4 text-left">
                            <select class="form-control form-control-sm" name="customer_id" v-model="site_report.customer_id" @change="getCustomerProjects(); headerChange()">
                                <option :value="0">Please Select</option>
                                <option v-for="(customer,index) in customers" :key="index" :value="customer.id">{{ customer.customer_name }}</option>
                            </select>
                            <FormErrors v-if="errors.customer_id.length && site_report.customer_id == 0" :errors="errors.customer_id" ></FormErrors>
                        </div>
                        <div class="col col-md-3 text-left">
                        </div>
                        <div class="col col-md-3 text-left">
                        </div>
                    </div>
                    <div class="row col-md-12 w-100 pt-3">
                        <div class="col col-md-2 text-left">
                            <label>Project:</label>
                        </div>
                        <div class="col col-md-4 text-left">
                            <select class="form-control form-control-sm" name="project_id" v-model="site_report.project_id" :disabled="projects.length == 0" @change="getProjectConsultants(); headerChange()">
                                <option :value="0">Please Select</option>
                                <option v-for="(project,index) in projects" :key="index" :value="project.id">{{ project.name }}</option>
                            </select>
                            <FormErrors v-if="errors.project_id.length && site_report.project_id == 0" :errors="errors.project_id" ></FormErrors>
                        </div>
                        <div class="col col-md-3 text-left">
                        </div>
                        <div class="col col-md-3 text-left">
                        </div>
                    </div>
                    <div class="row col-md-12 w-100 pt-3">
                        <div class="col col-md-2 text-left">
                            <label>Consultant:</label>
                        </div>
                        <div class="col col-md-4 text-left">
                            <select class="form-control form-control-sm" name="consultants" v-model="site_report.employee_id" :disabled="consultants.length == 0" @change="headerChange()">
                                <option :value="0">Please Select</option>
                                <option v-for="(consultant,index) in consultants" :key="index" :value="consultant.id">{{ consultant.first_name }} {{ consultant.last_name }}</option>
                            </select>
                        </div>
                        <div class="col col-md-6 text-left">
                        </div>
                    </div>
                    <div class="row col-md-12 w-100 pt-3">
                        <div class="col col-md-2 text-left">
                            <label>Reporting from:</label>
                        </div>
                        <div class="col col-md-3 text-left">
                            <select class="form-control form-control-sm" v-model="site_report.review_date_from" @change="headerChange()">
                                <option v-for="(review,index) in reviewweeks" :key="index" :value="review.date">{{ review.date }}</option>
                            </select>
                        </div>
                        <div class="col col-md-3 text-left">
                            <select class="form-control form-control-sm" v-model="site_report.review_date_to" @change="headerChange()">
                                <option v-for="(review,index) in reviewweeksend" :key="index" :value="review.date">{{ review.date }}</option>
                            </select>
                        </div>
                        <div class="col col-md-3 text-left">
                        </div>
                    </div>
                    <div class="row col-md-12 w-100 pt-3">
                        <div class="col col-md-2 text-left">
                            <label>Plan from:</label>
                        </div>
                        <div class="col col-md-3 text-left">
                            <select class="form-control form-control-sm" v-model="site_report.plan_date_from" @change="headerChange()">
                                <option v-for="(plan,index) in planweeks" :key="index" :value="plan.date">{{ plan.date }}</option>
                            </select>
                        </div>
                        <div class="col col-md-3 text-left">
                            <select class="form-control form-control-sm" v-model="site_report.plan_date_to" @change="headerChange()">
                                <option v-for="(plan,index) in planweeksend" :key="index" :value="plan.date">{{ plan.date }}</option>
                            </select>
                        </div>
                        <div class="col col-md-3 text-left">
                        </div>
                    </div>
                </div>
            </div>
            <div id="options" class="tab-pane" :class="selectedTab ==  'options' ? 'active' : 'fade'">
                <div class="container-fluid pl-0 pr-0 pt-2">
                    <div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>The options below will determine how information will be displayed on the report output. </div>
                    <div class="row col-md-12 w-100 pt-3">
                        <div class="col col-md-3 text-left">
                            <label>Include Consultants:</label>
                        </div>
                        <div class="col col-md-3 text-left">
                            <input type="checkbox" v-model="site_report.include_consultants" :checked="site_report.include_consultants == '1'">
                        </div>
                    </div>
                    <div class="row col-md-12 w-100 pt-3">
                        <div class="col col-md-3 text-left">
                            <label>Include Hours Per Task:</label>
                        </div>
                        <div class="col col-md-3 text-left">
                            <input type="checkbox" v-model="site_report.include_task_hours" :checked="site_report.include_task_hours == '1'">
                        </div>
                    </div>
                    <div class="row col-md-12 w-100 pt-3">
                        <div class="col col-md-3 text-left">
                            <label>Include Hours Summary:</label>
                        </div>
                        <div class="col col-md-3 text-left">
                            <input type="checkbox" v-model="site_report.include_hours_summary" :checked="site_report.include_hours_summary == '1'">
                        </div>
                    </div>
                    <div class="row col-md-12 w-100 pt-3">
                        <div class="col col-md-3 text-left">
                            <label>Include Risks:</label>
                        </div>
                        <div class="col col-md-3 text-left">
                            <input type="checkbox" v-model="site_report.include_risks" :checked="site_report.include_risks == '1'">
                        </div>
                    </div>
                    <div class="row col-md-12 w-100 pt-3">
                        <div class="col col-md-3 text-left">
                            <label>Print Consultant Name:</label>
                        </div>
                        <div class="col col-md-3 text-left">
                            <input type="checkbox" v-model="site_report.include_consultant_name" :checked="site_report.include_consultant_name == '1'">
                        </div>
                    </div>
                    <div class="row col-md-12 w-100 pt-3">
                        <div class="col col-md-3 text-left">
                            <label>Print Report To:</label>
                        </div>
                        <div class="col col-md-3 text-left">
                            <input type="checkbox" v-model="site_report.include_report_to" :checked="site_report.include_report_to == '1'">
                        </div>
                    </div>
                    <div class="row col-md-12 w-100 pt-3">
                        <div class="col col-md-3 text-left">
                            <label>Report Title:</label>
                        </div>
                        <div class="col col-md-3 text-left">
                            <input type="text" v-model="site_report.site_report_title" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="row col-md-12 w-100 pt-3">
                        <div class="col col-md-3 text-left">
                            <label>Include Customer Logo:</label>
                        </div>
                        <div class="col col-md-3 text-left">
                            <input type="checkbox" v-model="site_report.include_customer_logo" :checked="site_report.include_customer_logo == '1'">
                        </div>
                    </div>
                    <div class="row col-md-12 w-100 pt-3">
                        <div class="col col-md-3 text-left">
                            <label>Include Company Logo:</label>
                        </div>
                        <div class="col col-md-3 text-left">
                            <input type="checkbox" v-model="site_report.include_company_logo" :checked="site_report.include_company_logo == '1'">
                        </div>
                    </div>
                    <div class="row col-md-12 w-100 pt-3">
                        <div class="col col-md-3 text-left">
                            <label>Report Footer:</label>
                        </div>
                        <div class="col col-md-9 text-left pb-4" style="height: fit-content;">
                            <quill-editor
                                :toolbar="quillToolbar"
                                content-type="html"
                                theme="snow"
                                v-model:content="site_report.site_report_footer"
                            ></quill-editor>
                        </div>
                    </div>
                </div>
            </div>
            <div id="output" class="tab-pane" :class="selectedTab ==  'output' ? 'active' : 'fade'">
                <div class="container-fluid pl-0 pr-0 row">
                    <div class="col-md-12 py-2" v-if="site_report.customer_id != 0 && site_report.project_id != 0">
                        <div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        Below will be the output of the report.<br />
                        Select the “Generate Report” button to create the report.<br />
                        <br />
                        <strong>Note that each time a report is generated, printed, or sent here, a new version of the report will be saved.</strong>
                    </div>
                        <div class="btn-toolbar float-right mb-3">
                            <button @click="generateReport()" class="btn btn-dark float-right">Generate Report</button>
                            <button onclick="javascript:void(0)" @click="printPDF()" class="btn btn-dark ml-1">Print</button>
                            <a href="javascript:void(0)" @click="sendMail()" class="btn btn-dark ml-1">Send</a>
                        </div>
                    </div>
                    <SiteReportOutput 
                        :siteReportHeader="site_report" 
                        :customerlogo="customer_logo" 
                        :companylogo="company_logo" 
                        :isrefreshing="isRefreshing"
                        @refresh-actual="getActivities" 
                        @refresh-planned="getPlannedActivities" 
                        @refresh-summary="getHoursSummary" 
                        @refresh-risks="getRisks" />
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="setup2" v-if="modalEActive">
    <EmailForm :modalEActive="modalEActive" :customer_email="customer_email" :company_email="company_email" :site_report="site_report" @close-mail="closeMail()" />
    </div>
    <div class="setup2" v-if="modalTActive">
    <TemplateModal :modalTActive="modalTActive" @close-template="closeTemplate()" @save-template="saveTemplate" />
    </div>
</div>
</template>
<script>
import { ref } from 'vue';
import { quillToolbarOptions } from "@/utils/quill";
import {QuillEditor} from "@vueup/vue-quill";
import FormErrors from "./FormErrors.vue";
import SiteReportOutput from "./SiteReportOutput.vue";
import TemplateModal from "./TemplateModal.vue";
import EmailForm from "./EmailForm.vue";

export default{
    components: {
        QuillEditor,FormErrors,SiteReportOutput,EmailForm,TemplateModal
    },
    props: {
        siteReportData:{
            type:Object,
            default:{}
        },
        siteReportCustomers:{
            type:Array,
            default:[]
        },
        weeks:{
            type:Object,
            default:{}
        },
        reviewweeks:{
            type:Object,
            default:{}
        },
        planweeks:{
            type:Object,
            default:{}
        },
        reviewweeksend:{
            type:Object,
            default:{}
        },
        planweeksend:{
            type:Object,
            default:{}
        },
        configs:{
            type:Object,
            default:{}
        },
        isTemplate:{
            type:Number,
            default:0
        }
    },
    data() {
        return {
            selectedTab:'header',
            customers:this.siteReportCustomers,
            projects:[],
            task_status:[],
            consultants:[],
            quillToolbar:quillToolbarOptions(),
            site_report:{},
            errors:{
                customer_id:'',
                project_id:''
            },
            company_logo:'',
            customer_logo:'',
            modalEActive:false,
            modalTActive:false,
            customer_email:'',
            company_email:'',
            isRefreshing:{
                actual:false,
                planned:false,
                summary:false,
                risks:false
            }
        }
    },
    methods: {
        closeTemplate(){
            this.modalTActive = false
        },
        showTemplate(){
            let err = 0;
            if(this.site_report.customer_id == 0){
                this.errors.customer_id = ['The selected customer id is invalid.']
                err++
            }
            
            if(this.site_report.project_id == 0){
                this.errors.project_id = ['The selected project id is invalid.']
                err++
            }
            if(err == 0){
                this.modalTActive = true
            }
        },
        closeMail(){
            this.modalEActive = false
        },
        sendMail(){
            this.modalEActive = true
        },
        headerChange(){
            if(this.site_report.customer_id > 0 && this.site_report.project_id > 0){
                this.getActivities()
                this.getPlannedActivities()
                if(this.site_report.include_hours_summary){
                    this.getHoursSummary()
                }
                if(this.site_report.include_risks){
                    this.getRisks()
                }
                this.getTempHeader()
            }
        },
        changeTab(val){
            this.selectedTab = val
            if(val != 'output'){
                document.getElementById('output').classList.remove('show')
                document.getElementById('output').classList.remove('active')
            }
        },
        getCustomerProjects(){
            let customer_id = this.site_report.customer_id??this.siteReportData.customer_id

            if(customer_id > 0){
                axios.get('/api/site_report/getcustomerprojects/'+customer_id).then(response => {
                    this.projects = response.data.projects
                    this.customer_logo = response.data.customer.logo
                    this.company_logo = response.data.company.company_logo
                    // if(response.data.projects.length > 0 ){
                        // this.getTempHeader()
                    // }
                }).catch(function (err) {
                    console.log(err)
                })
            } else {
                this.projects = []
            }
        },
        getProjectConsultants(){
            let project_id = this.site_report.project_id??this.siteReportData.project_id

            if(project_id > 0){
                axios.get('/api/site_report/getprojectconsultants/'+project_id).then(response => {
                    this.consultants = response.data.consultants
                    // if(response.data.consultants.length > 0 && this.site_report.employee_id > 0){
                    //     this.getTempHeader()
                    // }
                }).catch(function (err) {
                    console.log(err)
                })
            } else {
                this.projects = []
            }
        },
        setSiteReportDefaultValues(){
            this.site_report.customer_id = 0
            this.site_report.project_id = 0
            this.site_report.review_date_from = this.weeks.prev_week_start
            this.site_report.review_date_to = this.weeks.prev_week_end
            this.site_report.plan_date_from = this.weeks.this_week_start
            this.site_report.plan_date_to = this.weeks.this_week_end
            this.site_report.include_consultants = this.configs.include_consultants
            this.site_report.include_task_hours = this.configs.include_task_hours
            this.site_report.include_hours_summary = this.configs.include_hours_summary
            this.site_report.include_risks = this.configs.include_risks
            this.site_report.include_consultant_name = this.configs.include_consultant_name
            this.site_report.include_report_to = this.configs.include_report_to
            this.site_report.site_report_title = this.configs.site_report_title
            this.site_report.include_company_logo = this.configs.include_company_logo
            this.site_report.include_customer_logo = this.configs.include_customer_logo
            this.site_report.site_report_footer = this.configs.site_report_footer
        },
        setSiteReportValues(){
            this.site_report.id = this.siteReportData.id
            this.site_report.customer_id = this.siteReportData.customer_id
            this.site_report.project_id = this.siteReportData.project_id
            this.site_report.employee_id = this.siteReportData.employee_id
            this.site_report.include_consultants = this.siteReportData.include_consultant
            this.site_report.include_task_hours = this.siteReportData.include_task_hours
            this.site_report.include_hours_summary = this.siteReportData.include_summary_hours
            this.site_report.include_risks = this.siteReportData.include_risks
            this.site_report.include_consultant_name = this.siteReportData.include_consultant_name
            this.site_report.include_report_to = this.siteReportData.include_report_to
            this.site_report.site_report_title = this.siteReportData.site_report_title
            this.site_report.include_company_logo = this.siteReportData.include_company_logo
            this.site_report.include_customer_logo = this.siteReportData.include_customer_logo
            this.site_report.site_report_footer = this.siteReportData.site_report_footer

            if(this.isTemplate == 0){
               this.site_report.project_name = this.siteReportData.project_name
                this.site_report.review_date_from = this.siteReportData.review_week_from+' ('+this.siteReportData.review_date_from+')'
                this.site_report.review_date_to = this.siteReportData.review_week_to+' ('+this.siteReportData.review_date_to+')'
                this.site_report.plan_date_from = this.siteReportData.plan_week_from+' ('+this.siteReportData.plan_date_from+')'
                this.site_report.plan_date_to = this.siteReportData.plan_week_to+' ('+this.siteReportData.plan_date_to+')'
                this.site_report.report_to = this.siteReportData.report_to
                this.site_report.consultant_name = this.siteReportData.consultant_name
                this.site_report.ref = this.siteReportData.ref
                this.site_report.template_id = this.siteReportData.template_id
                this.site_report.activities = this.siteReportData.actual
                this.site_report.planned_activities = this.siteReportData.planned
                this.site_report.hours_summary = this.siteReportData.hours_summary
                this.site_report.risks = this.siteReportData.risks
            } else {
                this.site_report.template_id = this.siteReportData.id
                this.site_report.review_date_from = this.weeks.prev_week_start
                this.site_report.review_date_to = this.weeks.prev_week_end
                this.site_report.plan_date_from = this.weeks.this_week_start
                this.site_report.plan_date_to = this.weeks.this_week_end
                this.headerChange()
                
            }
        },
        saveTemplate(val) {
            this.site_report.template_name = val.name
            this.site_report.include_consultants = this.site_report.include_consultants || this.site_report.include_consultants == '1' ? 1 : 0
            this.site_report.include_task_hours = this.site_report.include_task_hours || this.site_report.include_task_hours == '1' ? 1 : 0
            this.site_report.include_hours_summary = this.site_report.include_hours_summary || this.site_report.include_hours_summary == '1' ? 1 : 0
            this.site_report.include_risks = this.site_report.include_risks || this.site_report.include_risks == '1' ? 1 : 0
            this.site_report.include_consultant_name = this.site_report.include_consultant_name || this.site_report.include_consultant_name == '1' ? 1 : 0
            this.site_report.include_report_to = this.site_report.include_report_to || this.site_report.include_report_to ==  '1' ? 1 : 0
            this.site_report.include_company_logo = this.site_report.include_company_logo || this.site_report.include_company_logo == '1' ? 1 : 0
            this.site_report.include_customer_logo = this.site_report.include_customer_logo || this.site_report.include_customer_logo == '1' ? 1 : 0

            let posted = this.site_report
            axios.post('/site_report/store',posted).then(response => {
                if (response.data.errors) {
                    this.handleValidation(response.data.errors);
                } else {
                    this.site_report.template_id = response.data.template_id
                    toastr.success('<strong>Success!</strong> Template successfully saved.');

                    toastr.options.timeOut = 1000;
                }
            }).catch(function (err) {
                console.log(err)
                toastr.error('<strong>Error!</strong> An error occurred while trying to save the template.');

                toastr.options.timeOut = 1000;
            }).finally(() => {
                        this.modalTActive = false
                    });
        },
        handleValidation: function (errors) {
            for (let [key, value] of Object.entries(this.errors)) {
                if (errors.hasOwnProperty(key)) {
                    this.errors[key] = errors[key];
                } else {
                    this.errors[key] = '';
                }
            }
            console.log(errors)
        },
        getActivities(){
            this.isRefreshing.actual = true
            this.site_report.activities = []

            let from_date = this.site_report.review_date_from
            let to_date = this.site_report.review_date_to
            let project_id = this.site_report.project_id
            let employee_id = this.site_report.employee_id
            let incl_consultant = this.site_report.include_consultants || this.site_report.include_consultants == 1 ? 'yes' : 'no'

            axios.post('/api/site_report/getActivities',{
                    from: from_date,
                    to: to_date,
                    project_id: project_id,
                    employee_id: employee_id,
                    incl_consultant: incl_consultant
                })
                .then(response => {
                    this.site_report.activities = response.data
                })
                .catch(err => console.log(err))
                .finally(() => {
                        this.isRefreshing.actual = false
                    });
        },
        getPlannedActivities(){
            this.isRefreshing.planned = true

            this.site_report.planned_activities = []

            let from_date = this.site_report.plan_date_from
            let to_date = this.site_report.plan_date_to
            let project_id = this.site_report.project_id
            let employee_id = this.site_report.employee_id
            let incl_consultant = this.site_report.include_consultants || this.site_report.include_consultants == 1 ? 'yes' : 'no'

            axios.post('/api/site_report/getPlannedActivities',{
                from: from_date,
                to: to_date,
                    project_id: project_id,
                    employee_id: employee_id,
                    incl_consultant: incl_consultant
                })
                .then(response => {
                    this.site_report.planned_activities = response.data
                })
                .catch(err => console.log(err))
                .finally(() => {
                        this.isRefreshing.planned = false
                    });
        },
        getHoursSummary(){
            this.isRefreshing.summary = true
            this.site_report.hours_summary = []

            let from_date = this.site_report.review_date_from
            let project_id = this.site_report.project_id
            let employee_id = this.site_report.employee_id

            axios.post('/api/site_report/getHoursSummary',{
                    from: from_date,
                    project_id: project_id,
                    employee_id: employee_id
                })
                .then(response => {
                    this.site_report.hours_summary = response.data
                })
                .catch(err => console.log(err))
                .finally(() => {
                        this.isRefreshing.summary = false
                    });
        },
        getRisks(){
            this.isRefreshing.risks = true

            this.site_report.risks = []
            let project_id = this.site_report.project_id

            axios.get('/api/site_report/getSiteRisks/'+project_id)
                .then(response => {
                    this.site_report.risks = response.data.risks
                })
                .catch(err => console.log(err))
                .finally(() => {
                        this.isRefreshing.risks = false
                    });
        },
        getTempHeader(){
            let project_id = this.site_report.project_id
            let customer_id = this.site_report.customer_id
            let employee_id = this.site_report.employee_id > 0 ? this.site_report.employee_id : 0

            axios.post('/api/site_report/getTempHeader',{
                'project_id' : project_id,
                'employee_id' : employee_id,
                'customer_id':customer_id
                })
                .then(response => {
                        this.site_report.consultant_name = response.data.employee ? response.data.employee.first_name+' '+response.data.employee.last_name :  ''
                        this.site_report.project_name = response.data.project.name
                        this.site_report.report_to = response.data.report_to
                        this.site_report.ref = response.data.ref
                        this.customer_email = response.data.customer_contact.email??''
                        this.company_email = response.data.company_contact.email??''
                        this.site_report.site_report_footer = this.site_report.site_report_footer.replace('[Own Project manager]',this.site_report.report_to)
                        this.site_report.site_report_footer = this.site_report.site_report_footer.replace('[Site report record number]',this.site_report.ref)
                        console.log(this.site_report.site_report_footer)
                })
                .catch(err => console.log(err))
        },
        generateReport(){
            axios.post('/api/site_report/generateSiteReport',this.site_report)
                .then(response => {
                    window.location.href = '/site_report'
                })
                .catch(err => {
                    console.log(err)
                    toastr.error('<strong>Error!</strong> An error occurred while trying to save the report.');

                    toastr.options.timeOut = 1000;
                }
            )
        },
        printPDF(){
            axios.post('/site_report/pdf/'+this.site_report.id,this.site_report)
                .then(response => {
                    let pdfUrl = '/site_report/pdf/'+response.data.site_report.id+'?print=1'
                    window.open(pdfUrl, '_blank');
                })
                .catch(err => {
                    console.log(err)
                    toastr.error('<strong>Error!</strong> An error occurred while trying to generate the report.');

                    toastr.options.timeOut = 1000;
                }
            )
        }
    },
    mounted() {
        if(!this.siteReportData || Object.keys(this.siteReportData).length == 0){
            this.setSiteReportDefaultValues()
        } else {
            this.getCustomerProjects()
            this.getProjectConsultants()
            this.setSiteReportValues()
        }

        
    }
}
</script>