<template>
    <div class="col-md-12 mt-2" style="position: relative;" v-if="(siteReportHeader.project_id == 0 ||  siteReportHeader.project_id == '') && (siteReportHeader.customer_id == 0 ||  siteReportHeader.customer_id == '')">
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>Please go to the <strong>Report Header</strong> tab and select a customer and project to generate a report.</div>
    </div>
    <div class="col-md-12" style="position: relative;" v-else>
        <div class="row col-md-12 p-o pb-2">
        <div class="col-md-6  p-0 pr-1">
            <img :src="'/storage/avatar/company?q='+companylogo" style="max-height: 50px;" alighn="right" v-if="siteReportHeader.include_company_logo">
        </div>
        <div class="col-md-6 p-0 pl-1 text-right">
            <img :src="'/storage/avatar/customer?q='+customerlogo" style="max-height: 50px;" alighn="right" v-if="siteReportHeader.include_customer_logo">
        </div>
        </div>
        <div class="row col-md-12 p-0 m-0">
            <div class="col-md-8 p-0">
                <h2 class="form-inline"><input type="text" id="title" class="header-input" v-model="siteReportHeader.site_report_title" ref="title" /> : 
                    <input type="text" id="project" class="header-input" v-model="siteReportHeader.project_name" ref="project" /></h2>
            </div>
            <div class="col-md-4 p-0 text-right form-horizontal">
                <div class="form-group font-weight-bold d-flex mb-1" style="flex-direction: row-reverse;white-space: nowrap;" v-if="siteReportHeader.include_consultant_name && siteReportHeader.consultant_name && siteReportHeader.consultant_name.length > 0"> <input type="text" id="consultant" ref="consultant" class="form-control form-control-sm" v-model="siteReportHeader.consultant_name" />Consultant: </div>
                <div class="form-group font-weight-bold d-flex mb-1" style="flex-direction: row-reverse;white-space: nowrap;" v-if="siteReportHeader.include_consultant_name && (!siteReportHeader.consultant_name || siteReportHeader.consultant_name.length == 0)"> <input type="text" id="consultant" class="form-control form-control-sm" v-model="siteReportHeader.consultant_name" />Consultant: </div>
                <div class="form-group font-weight-bold d-flex mb-1" style="flex-direction: row-reverse;white-space: nowrap;" v-if="siteReportHeader.include_report_to == 1 && (siteReportHeader.report_to && siteReportHeader.report_to.length > 0)"> <input type="text" id="report" ref="report" class="form-control form-control-sm" v-model="siteReportHeader.report_to" />Report to: </div>
                <div class="form-group font-weight-bold d-flex mb-1" style="flex-direction: row-reverse;white-space: nowrap;" v-if="siteReportHeader.include_report_to == 1 && (siteReportHeader.report_to && siteReportHeader.report_to.length == 0)"> <input type="text" id="report" class="form-control form-control-sm" v-model="siteReportHeader.report_to" />Report to: </div>
                <div class="form-group font-weight-bold d-flex" style="flex-direction: row-reverse;white-space: nowrap;"> <input type="text" id="reference" ref="reference" class="form-control form-control-sm" v-model="siteReportHeader.ref" disabled />Ref: </div>
            </div>
        </div>
        <div class="col-md-12 p-0">
            <div class="form-inline">
                <div class="form-group font-weight-bold">Activities for </div>
                <div class="form-group px-2"><input type="text" class="form-control form-control-sm w-auto" v-model="siteReportHeader.review_date_from" /> </div>
                <div class="form-group font-weight-bold">to</div>
                <div class="form-group px-2"><input type="text" class="form-control form-control-sm w-auto" v-model="siteReportHeader.review_date_to" /></div>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="bg-dark">
                        <th class="last">#</th>
                        <th style="width:35%">Activities</th>
                        <th v-if="siteReportHeader.include_consultants">Consultant</th>
                        <th>Status</th>
                        <th v-if="siteReportHeader.include_task_hours">Hours</th>
                        <th style="width:20%">Notes</th>
                        <th class="last text-center" style="min-width:35px"><a href="javascript:void(0)" @click="refreshActual()"><i class="fas fa-sync text-white"></i></a></th>
                    </tr>
                </thead>
                <tbody v-if="siteReportHeader.activities && siteReportHeader.activities.length > 0">
                    <tr v-for="(activity,index) in siteReportHeader.activities" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td><input type="text" class="form-control form-control-sm" v-model="siteReportHeader.activities[index].task" /></td>
                        <td v-if="siteReportHeader.include_consultants"><input type="text" class="form-control form-control-sm" v-model="siteReportHeader.activities[index].employee_name" /></td>
                        <td><input type="text" class="form-control form-control-sm" v-model="siteReportHeader.activities[index].task_status" /></td>
                        <td v-if="siteReportHeader.include_task_hours"><input type="text" class="form-control form-control-sm" v-model="siteReportHeader.activities[index].hours_billable" /></td>
                        
                        <td v-if="!activity.notes">
                            <a href="javascript:void(0)" class="btn btn-sm btn-dark" @click="addNote('actual',siteReportHeader.activities[index].notes,index)">Add Note</a>
                        </td>
                        <td v-else>
                            <a href="javascript:void(0)" @click="editNote('actual',siteReportHeader.activities[index].notes,index)" v-html="siteReportHeader.activities[index].notes"></a>
                        </td>
                        <td><a href="javascript:void(0)" class="btn btn-sm btn-danger" @click="deleteActual(index)"><i class="fas fa-trash"></i></a></td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr v-if="!this.isrefreshing.actual">
                        <td colspan="8" class="text-center">
                            There are no activities to display for the selected period.
                        </td>
                    </tr>
                    <tr v-else>
                        <td colspan="8" class="text-center" style="position: relative;">
                            <div style="position: relative;display: inline-block;height: fit-content;">
                            <div class="clock" style="top:0;position: unset;margin-top:0;margin-left:0;"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 p-0">
            <div class="form-inline">
                <div class="form-group font-weight-bold">Planned Activities for </div>
                <div class="form-group px-2"><input type="text" class="form-control form-control-sm" v-model="siteReportHeader.plan_date_from" /> </div>
                <div class="form-group font-weight-bold">to</div>
                <div class="form-group px-2"><input type="text" class="form-control form-control-sm" v-model="siteReportHeader.plan_date_to" /></div>
            </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="bg-dark">
                    <th class="last">#</th>
                    <th style="width:35%">Activities</th>
                    <th v-if="siteReportHeader.include_consultants">Consultant</th>
                    <th>Status</th>
                    <th v-if="siteReportHeader.include_task_hours">Hours</th>
                    <th style="width:20%">Notes</th>
                    <th class="last text-center" style="min-width:35px"><a href="javascript:void(0)" @click="refreshPlanned()"><i class="fas fa-sync text-white"></i></a></th>
                </tr>
            </thead>
            <tbody v-if="siteReportHeader.planned_activities && siteReportHeader.planned_activities.length > 0">
                <tr v-for="(plan,index) in siteReportHeader.planned_activities" :key="index">
                    <td>{{ index + 1 }}</td>
                    <td><input type="text" class="form-control form-control-sm" v-model="siteReportHeader.planned_activities[index].task" /></td>
                    <td v-if="siteReportHeader.include_consultants"><input type="text" class="form-control form-control-sm" v-model="siteReportHeader.planned_activities[index].employee_name" /></td>
                    <td><input type="text" class="form-control form-control-sm" v-model="siteReportHeader.planned_activities[index].task_status" /></td>
                    <td v-if="siteReportHeader.include_task_hours"><input type="text" class="form-control form-control-sm" v-model="siteReportHeader.planned_activities[index].actual_hours" /></td>
                    <td v-if="!plan.notes">
                        <a href="javascript:void(0)" class="btn btn-sm btn-dark" @click="addNote('planned',siteReportHeader.planned_activities[index].notes,index)">Add Note</a>
                    </td>
                    <td v-else>
                        <a href="javascript:void(0)" @click="editNote('planned',siteReportHeader.planned_activities[index].notes,index)" v-html="siteReportHeader.planned_activities[index].notes"></a>
                    </td>
                    <td><a href="javascript:void(0)" class="btn btn-sm btn-danger" @click="deletePlanned(index)"><i class="fas fa-trash"></i></a></td>
                </tr>
            </tbody>
                <tbody v-else>
                    <tr v-if="!this.isrefreshing.planned">
                        <td colspan="8" class="text-center">
                            There are no activities to display for the selected period.
                        </td>
                    </tr>
                    <tr v-else>
                        <td colspan="8" class="text-center" style="position: relative;">
                            <div style="position: relative;display: inline-block;height: fit-content;">
                            <div class="clock" style="top:0;position: unset;margin-top:0;margin-left:0;"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
        </table>
        </div>
        <div class="row col-md-12 p-0 m-0">
        <div class="col-md-6 pl-0" v-if="siteReportHeader.include_hours_summary">
            <div class="form-inline" style="min-height:35px;">
                <div class="form-group font-weight-bold">PO Hours tracking as at </div>
                <div class="form-group px-2"><input type="text" class="form-control form-control-sm w-auto" v-model="siteReportHeader.review_date_from" /> </div>
            </div>
            <table class="table table-bordered table-striped">
            <thead>
                <tr class="bg-dark">
                    <th></th>
                    <th style="width:30%">Hours<a href="javascript:void(0)" class="float-right" @click="refreshSummary()"><i class="fas fa-sync text-white"></i></a></th>
                </tr>
            </thead>
            <tbody v-if="siteReportHeader.hours_summary && siteReportHeader.hours_summary.length > 0">
                <tr>
                    <td>PO Hours Budgeted</td>
                    <td><input type="text" class="form-control form-control-sm" v-model="siteReportHeader.hours_summary[0].po_hours_budgeted" /></td>
                </tr>
                <tr>
                    <td>PO Billed Hours</td>
                    <td><input type="text" class="form-control form-control-sm" v-model="siteReportHeader.hours_summary[0].po_billed_hours" /></td>
                </tr>
                <tr>
                    <td>PO Hours Unbilled (Previous Weeks)</td>
                    <td><input type="text" class="form-control form-control-sm" v-model="siteReportHeader.hours_summary[0].po_hours_unbilled_previous" /></td>
                </tr>
                <tr>
                    <td>PO Hours Unbilled (Last Week)</td>
                    <td><input type="text" class="form-control form-control-sm" v-model="siteReportHeader.hours_summary[0].po_hours_unbilled_last" /></td>
                </tr>
                <tr>
                    <td>Total PO Hours Remaining</td>
                    <td><input type="text" class="form-control form-control-sm" v-model="siteReportHeader.hours_summary[0].po_hours_remaining" /></td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr v-if="!this.isrefreshing.summary">
                    <td colspan="2" class="text-center">
                        There are summary of hours to display for this project.
                    </td>
                </tr>
                <tr v-else>
                    <td colspan="2" class="text-center" style="position: relative;">
                        <div style="position: relative;display: inline-block;height: fit-content;">
                        <div class="clock" style="top:0;position: unset;margin-top:0;margin-left:0;"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="col-md-6 pl-0" v-else>

        </div>
        <div class="col-md-6 pr-0" v-if="siteReportHeader.include_risks">
            <div class="form-inline" style="min-height:35px;">
                <div class="form-group font-weight-bold">Risks</div>
            </div>
            <table class="table table-bordered table-striped">
            <thead>
                <tr class="bg-dark">
                    <th>Description</th>
                    <th style="width:30%">Likelihood</th>
                    <th style="width:30%">Impact</th>
                    <th class="last text-center" style="min-width:35px"><a href="javascript:void(0)" @click="refreshRisks()"><i class="fas fa-sync text-white"></i></a></th>
                </tr>
            </thead>
            <tbody v-if="siteReportHeader.risks && siteReportHeader.risks.length > 0">
                <tr v-for="(risk,index) in siteReportHeader.risks" :key="index">
                    <td><input type="text" class="form-control form-control-sm" v-model="siteReportHeader.risks[index].name" /></td>
                    <td><input type="text" class="form-control form-control-sm" v-model="siteReportHeader.risks[index].likelihood" /></td>
                    <td><input type="text" class="form-control form-control-sm" v-model="siteReportHeader.risks[index].impact" /></td>
                    <td><a href="javascript:void(0)" class="btn btn-sm btn-danger" @click="deleteRisk(index)"><i class="fas fa-trash"></i></a></td>
                </tr>
            </tbody>
            <tbody v-else>
                    <tr v-if="!this.isrefreshing.risks">
                        <td colspan="4" class="text-center">
                            There are no risks to display for this project.
                        </td>
                    </tr>
                    <tr v-else>
                        <td colspan="4" class="text-center" style="position: relative;">
                            <div style="position: relative;display: inline-block;height: fit-content;">
                            <div class="clock" style="top:0;position: unset;margin-top:0;margin-left:0;"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 pr-0" v-else>

        </div>
        </div>
        <div class="row col-md-12 p-0">
            <div v-html="siteReportHeader.site_report_footer"></div>
        </div>
        <div class="setup2" v-if="modalActive">
        <note-modal :modalActive="modalActive" :noteType="noteType" :noteString="noteString" @close-note="closeNote" @save-note="saveNote">
            <div class="modal-content">
                <h1></h1>
            </div>
        </note-modal>
        </div>
    </div>
</template>
<script>
import { ref } from 'vue';
import NoteModal from "./NoteModal.vue";

export default{
    components: {
        NoteModal
    },
    props: {
        siteReportHeader:{
            type:Object,
            default:() => ({})
        },
        isrefreshing:{
            type:Object,
            default:() => ({})
        },
        customerlogo:{
            type:String,
            default:''
        },
        companylogo:{
            type:String,
            default:''
        }
    },
    data() {
        return {
            modalActive:false,
            noteType:'',
            noteString:'',
            noteIndex:'',
            actualCount:1,
            plannedCount:1,
            };
        },
        mounted() {
            this.initializeDynamicWidth();
        },
        watch: {
            siteReportHeader: {
            handler(newVal) {
                // this.actualCount = 1
                // this.plannedCount = 1
                // Adjust widths after updating the data properties
                this.$nextTick(() => {
                this.adjustWidths();
                });
            },
            deep: true,
            immediate: true
            }
        },
        methods: {
            deleteActual(index){
                this.siteReportHeader.activities.splice(index, 1)
            },
            deletePlanned(index){
                this.siteReportHeader.planned_activities.splice(index, 1)
            },
            deleteRisk(index){
                this.siteReportHeader.risks.splice(index, 1)
            },
            refreshActual(){
                this.$emit('refresh-actual')
            },
            refreshPlanned(){
                this.$emit('refresh-planned')
            },
            refreshSummary(){
                this.$emit('refresh-summary')
            },
            refreshRisks(){
                this.$emit('refresh-risks')
            },
            closeNote(){
                this.modalActive = false
                this.noteType = ''
                this.noteString = ''
                this.noteIndex = ''
            },
            saveNote(val){
                this.modalActive = false
                if(val.ntype == 'actual'){
                    this.siteReportHeader.activities[this.noteIndex].notes = val.note
                }
                
                if(val.ntype == 'planned'){
                    this.siteReportHeader.planned_activities[this.noteIndex].notes = val.note
                }
                this.noteType = ''
                this.noteString = ''
                this.noteIndex = ''
            },
            addNote(type,note,index){
                this.modalActive = true
                this.noteType = type
                this.noteString = note
                this.noteIndex = index
            },
            editNote(type,note,index){
                this.modalActive = true
                this.noteType = type
                this.noteString = note
                this.noteIndex = index
            },
            createFakeElement(ele) {
            if (!ele) return null;
            const styles = window.getComputedStyle(ele);
            const fakeEle = document.createElement('div');
            fakeEle.style.position = 'absolute';
            fakeEle.style.top = '0';
            fakeEle.style.left = '-9999px';
            fakeEle.style.overflow = 'hidden';
            fakeEle.style.visibility = 'hidden';
            fakeEle.style.whiteSpace = 'nowrap';
            fakeEle.style.height = '0';

            fakeEle.style.fontFamily = styles.fontFamily;
            fakeEle.style.fontSize = styles.fontSize;
            fakeEle.style.fontStyle = styles.fontStyle;
            fakeEle.style.fontWeight = styles.fontWeight;
            fakeEle.style.letterSpacing = styles.letterSpacing;
            fakeEle.style.textTransform = styles.textTransform;

            fakeEle.style.borderLeftWidth = styles.borderLeftWidth;
            fakeEle.style.borderRightWidth = styles.borderRightWidth;
            fakeEle.style.paddingLeft = styles.paddingLeft;
            fakeEle.style.paddingRight = styles.paddingRight;

            document.body.appendChild(fakeEle);
            return fakeEle;
            },
            setWidth(ele, fakeEle) {
            if (!ele || !fakeEle) return;

            const string = ele.value || ele.getAttribute('placeholder') || '';
            fakeEle.innerHTML = string.replace(/\s/g, '&nbsp;');
            ele.style.width = (fakeEle.scrollWidth+10) + 'px';
            },
            initializeDynamicWidth() {
            const elements = ['title', 'project', 'report', 'reference','consultant'].map(id => this.$refs[id]);
            const fakeElements = elements.map(this.createFakeElement);

            elements.forEach((ele, index) => {
                const fakeEle = fakeElements[index];
                this.setWidth(ele, fakeEle);
                if (ele) {
                ele.addEventListener('input', () => this.setWidth(ele, fakeEle));
                ele.addEventListener('change', () => this.setWidth(ele, fakeEle));
                }
            });
            },
            adjustWidths() {
            const elements = ['title', 'project', 'report', 'reference','consultant'].map(id => this.$refs[id]);
            const fakeElements = elements.map(this.createFakeElement);

            elements.forEach((ele, index) => {
                const fakeEle = fakeElements[index];
                this.setWidth(ele, fakeEle);
            });
            }
        }
};
</script>
<style>

.setup2{
    width: 100vw;
    height:100vh;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top:0;
    left:0;
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-input{
    color:#495057;
    border:1px solid #ced4da;
    border-radius: .2rem;
}

.header-input:focus{
    color:#495057 !important;
    border:1px solid #ced4da !important;
    border-radius: .2rem !important;
}

</style>