<template>
    <div class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" :style="modalActive ? 'padding-right: 17px;display: block;' : ''">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:500px;">
        <div class="modal-content" style="width:500px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Save Template</h5>
                <button type="button" class="close" aria-label="Close" @click="closeModal()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form row">
                    <label class="col-sm-4 col-form-label">Template Name:</label>
                    <div class="col-sm-8">
                        <input type="text" v-model="name" class="form-control form-control-sm" />
                    </div>
                </div>
                <hr />
                <div class="form-group text-center">
                    <button type="button" class="btn btn-dark mr-2" @click="saveTemplate()">Save</button>
                    <button type="button" class="btn btn-default" @click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>
<script>

    export default {
        props:['modalTActive'],
        data(){
            return {
                modalActive: this.modalTActive,
                name:''
            }
        },
        methods:{
            closeModal(){
                this.modalActive = false
                this.$emit('close-template')
                this.name = ''
            },
            saveTemplate(){
                this.modalActive = false
                this.$emit('save-template',{name:this.name})
                this.name = ''
            }
        }
    }
</script>